<template>
    <div class="select-payment-method-container container-fluid mega-solution-horizontal-center">
        <div class="payment-methods-container-selection">
            <div class="payment-methods-container-selection-title mega-solution-h4">Change payment method</div>
            <div class="payment-methods-container-selection-subtitle mega-solution-body-heavy">Select a payment method</div>

            <scrollbar :maxHeight="'120px'"  :maxWidth="'100%'" >
                <div class="mega-solution-horizontal-start payment-container" v-for="(item,index) in paymentMethods" :key="index">

                    <input type="radio" :id="'item_'+ index" @click="changePaymentMethod(item.id)"   v-model="picked" :value="item.id">
                    <label :for="'item_'+ index" class="mega-solution-p3-light mega-solution-horizontal-start payment-container-label">
                        <payment-item :payment-method="item" :is-default="checkIsPreferredPayment(item.id)"></payment-item>
                    </label>
                </div>
            </scrollbar>

            <div class="add-payment-method mega-solution-body-light pointer" @click="addPaymentMethod">
                + Add payment method
            </div>

            <div class="creatr-primary-button-regular select-payment-button" @click="confirmSelectedCard">select</div>

            <img :src="cancelIcon" alt="cancel" class="cancel-select pointer" @click="hideSelectView">

        </div>
    </div>
</template>

<script>
import PaymentItem from "../MegaSolutionPaymentItemComponent/MegaSolutionPaymentItemComponent";
export default {
    name: "MegaSolutionSelectPaymentMethodComponent",
    components:{
        PaymentItem
    },
    data(){
        return{
            cancelIcon:"",
            checkedPaymentMethod:null,

            picked:null,
        }
    },
    props:{
        paymentMethods:{
            type:Array,
            default:function () {
                return []
            }
        },
        defaultPaymentMethod:{
            type:Object,
            default:function () {
                return null
            }
        },
        cartItems:{
            type:Array,
            default:function () {
                return []
            }
        },
    },
    mounted() {
        this.cancelIcon = require('../../../icons/20210604/icons/32px/cancel32.png').default
        this.checkedPaymentMethod = this.defaultPaymentMethod
        this.picked = this.defaultPaymentMethod.id

    },
    methods:{
        checkIsPreferredPayment(paymentID){
            if(paymentID === this.defaultPaymentMethod.id){
                return true
            }else{
                return false
            }
        },
        addPaymentMethod(){
            this.$emit("addPaymentMethod")
        },
        hideSelectView(){
            this.$emit("hideSelectView",{status:false})
        },
        changePaymentMethod(e){
            this.picked = e
        },
        confirmSelectedCard(){
            this.$emit("confirmSelectedCard",{'paymentId':this.picked})
        }

    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.select-payment-method-container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black-blur ;
    z-index: 50;
    .payment-methods-container-selection{
        max-width: 650px;
        min-height: 400px;
        background: $neutral-bg2;
        width: 650px;
        height: 450px;
        border-radius: 8px;
        position: relative;
        padding: 48px 110px;
        .payment-methods-container-selection-title{

        }
        .payment-methods-container-selection-subtitle{
            margin-top: 32px;
        }
        .payment-container{
            margin-top: 24px;

            > input[type="radio"] {
                display: none;
            }

            > input[type="radio"] + *::before {
                content: "";
                display: inline-block;
                vertical-align: bottom;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border-style: solid;
                border-width: 2px;
                border-color: gray;
            }

            > input[type="radio"]:checked + *::before {
                background: radial-gradient(
                        #eb1480 0%,
                        #eb1480 40%,
                        transparent 50%,
                        transparent
                );
                border-color: #eb1480;
            }
            > input[type="radio"]:checked + * {
                color: #eb1480;
            }


            .payment-container-label {
                .payment-item-container{
                    margin-top: unset;
                    margin-left: 8px;
                }
            }

        }

        .add-payment-method{
            padding: 14px 16px;
            border-radius: 4px;
            border: 1px dashed $neutral-tagline;
            margin-top: 24px;
        }

        .select-payment-button{
            margin-top: 48px;
            width: 100%;
        }

        .cancel-select{
            position: absolute;
            width: 32px;
            height: 32px;
            padding: 8px;
            border-radius: 16px;
            top: -16px;
            right: -16px;
            background-color: $neutral-body;
        }
    }
}


@media screen and (max-width: 576px){
    .select-payment-method-container{
        .payment-methods-container-selection{
            padding: 32px 16px;
        }
    }
}

</style>
