<template>
    <div class="container-fluid pl-1">
        <button @click="signUp()" class="creatr-primary-button-regular mega-solution-body-heavy mega-solution-horizontal-center">Sign up</button>

        <div v-if="showSignUpView">
            <sign-up-view @hideSignUpView = "hideSignUpView" ></sign-up-view>
        </div>
    </div>
</template>

<script>
import signUpView from "./MegaSolutionSignUpView.vue"
export default {
    data(){
        return{
            showSignUpView:false,
        }
    },
    components:{
        signUpView
    },

    methods:{
        signUp(){
            this.showSignUpView = true
        },
        hideSignUpView(){
            this.showSignUpView = false
        }
    }
}
</script>
<style lang="scss" scoped>
@import "resources/sass/app.scss";

@media screen and (max-width: 576px) {
    .container-fluid.pl-1{
        padding-right: 0 !important;
    }
}

@media screen and (max-width: 280px) {
    .container-fluid .creatr-primary-button-regular{
        width: 90px;
        min-width: unset;
    }
}


//.signup-btn{
//    background: $primary-4;
//    padding: 8px 16px;
//    border: unset;
//    border-radius: 8px;
//    color: $neutral-text;
//}



</style>
