<template>
    <div class="signup-view container-fluid mega-solution-horizontal-center" @click="hideSignUpView()" >

        <div class="col-xl-6 col-lg-8 col-md-10 signup-container mega-solution-vertical-center" @click.stop="">

            <div class="signup-container-content">
                <div class="signup-container-top-section mega-solution-horizontal-center" v-if="mode === 'REGISTER' || mode === 'LOGIN'  ">
                    <img :src="logoImage" class="signup-container-top-section-image" alt="Logo Icon"/>
                </div>
                <template v-if="mode === 'REGISTER'" >
                    <div class="signup-container-register-section">
                        <!--title-->
                        <h3 class="mega-solution-sub-heavy signup-container-register-section-title mega-solution-h3">
                            Sign up to Creatr!
                        </h3>
                        <div class ="signup-container-register-section-content">
                            <div class="signup-container-register-section-error-message" v-if="registerErrorMessage !== ''">{{registerErrorMessage}}</div>
                            <div class="mega-solution-horizontal-start signup-container-register-section-content-row">
                                <label class="mega-solution-body-heavy">my.creatrhq.com/hq/</label>
                                <MegaInput v-model="registerName" placeholder="a_cool_name" :icon="registerNameUnique? namePassedImageName:nameNotPassedImageName" ></MegaInput>
                            </div>
                            <div class="hint mega-solution-cap-light">* You can change your username anytime.</div>
                            <div class="signup-container-register-section-content-row">
                                <MegaInput input-type="email"  v-model="registerEmail" placeholder="Email Address" :maxlength="50"></MegaInput>
                            </div>
                            <div class=" signup-container-register-section-content-row">
                                <MegaInput input-type="password" v-model="registerPassword" placeholder="Your Password" @onEnter = "register" ></MegaInput>
                            </div>
                            <button type="submit" class="signup-button mega-solution-body-heavy creatr-primary-button-regular" :disabled="disableSigingUp||!registerPass" @click="register"> {{disableSigingUp?"Signing up":"Sign up"}}</button>
                            <div class="mega-solution-cap-light terms-and-condition">By signing up, it means you agree to our <a class="mega-solution-cap-heavy" href="https://creatrhq.com/terms-of-service/" target="_blank">Terms of Services</a> and <a class="mega-solution-cap-heavy" href="https://creatrhq.com/privacy-policy/" target="_blank" >Privacy Policy</a>.</div>

                            <!-- sign up with others -->
                            <div class = "mega-solution-cap-light signup-or-section">OR</div>

                            <template v-for="(item, index) in loginMethods" >

                                <a class="social-login-button mega-solution-horizontal-center" :style="{'background-color':item.color}" :href="loginWithSocialMedia(item.id)">
                                    <img :src="item.icon" :alt="item.id" class="social-login-button-image">
                                    <div class="social-login-button-message" :style="{'color':item.textColor}">{{item.text}}</div>
                                </a>
                            </template>
                            <div class="signup-container-bottom-section mega-solution-horizontal-center mega-solution-body-light">
                                <div class="signup-container-bottom-section-left">Already a member?</div>
                                <div class="signup-container-bottom-section-right pointer" @click = "switchtoLogin()">Log in</div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else-if="mode === 'LOGIN'">
                    <div class="signup-container-login-section">
                        <div class="mega-solution-sub-heavy signup-container-login-section-title "> Login to Creatr</div>
                        <template v-for="(item, index) in loginMethods" >
                            <a class="social-login-button mega-solution-horizontal-center" :style="{'background-color':item.color}" :href="loginWithSocialMedia(item.id)">
                                <img :src="item.icon" :alt="item.id" class="social-login-button-image">
                                <div class="social-login-button-message" :style="{'color':item.textColor}">{{item.text}}</div>
                            </a>
                        </template>

                        <div class = "mega-solution-cap-light signup-or-section">Or log in with Creatr account</div>

                        <div class="signup-manual-login section">
                            <div class="signup-manual-login-error-message mega-solution-cap-heavy " v-if="loginErrorMessage !== ''">{{loginErrorMessage}}</div>
                            <div class="signup-container-login-section-content-row">
                                <MegaInput input-type="email" v-model="loginEmail" placeholder="email" :maxlength="50"></MegaInput>
                            </div>
                            <div class="signup-container-login-section-content-row">
                                <MegaInput input-type="current-password" v-model="loginPassword" placeholder="password" @onEnter = "login" ></MegaInput>
                            </div>



                            <button type="submit" class="signup-button mega-solution-body-heavy creatr-primary-button-regular" @click="login" :disabled="disableLogingIn|| !loginPass"> {{disableLogingIn? "Logging in" : "Log In"}} </button>
                            <div class="mega-solution-cap-light forget-password pointer" @click="switchToforgetPassword()">Forgot password?</div>

                        </div>

                        <div class="signup-container-bottom-section mega-solution-horizontal-center mega-solution-body-light">
                            <div class="signup-container-bottom-section-left">New to Creatr?</div>
                            <div class="signup-container-bottom-section-right pointer" @click = "switchtoSignUp()">Sign up</div>
                        </div>
                    </div>
                </template>
                <template v-else-if="mode === 'FORGET_PASSWORD'">
                    <div class="sign-up-forget-password-section">
                        <div class="mega-solution-h3 sign-up-forget-password-section-title" >Forgot password?</div>
                        <div class="mega-solution-cap-light sign-up-forget-password-section-description" >Please enter the email associated with your account. We’ll send you a verfication link with instructions.</div>
                        <MegaInput input-type="email"  v-model="forgetPasswordEmail" placeholder="Email Address" :maxlength="50" :errorMessage="forgetPasswordError"  @onEnter = "sendForgetPasswordEmail"></MegaInput>
                        <button type="submit" class="signup-button mega-solution-body-heavy creatr-primary-button-regular" @click="sendForgetPasswordEmail" :disabled = "verifying"> {{verifyButton}}</button>

                    </div>
                    <img class="sign-up-forget-go-back pointer" :src="gobackimage" alt="Back Image" @click="switchtoLogin">
                </template>

                <template v-else>
                    <div class="sign-up-email-sent-section">
                        <div class="mega-solution-h3 sign-up-email-sent-section-title" >Please check your email.</div>
                        <div class="mega-solution-cap-light sign-up-email-sent-section-description" >We’ve sent an email with reset password instructions to the following address:</div>
                        <div class="mega-solution-body-heavy sign-up-email-sent-section-email">{{forgetPasswordEmail}}</div>
                        <button type="submit" class="dismiss-button mega-solution-horizontal-center mega-solution-body-heavy"  @click="hideSignUpView">OK</button>
                    </div>
                </template>

            </div>
            <img :src="closeImg" alt="close" class="pointer close-image" @click="hideSignUpView">
        </div>

    </div>
</template>
<script>
import MegaInput from "../MegaSolutionInputComponent/MegaSolutionInputComponent";
import checker from "../../checker"
export default {
    components:{
        MegaInput
    },
    watch:{
        registerName(newVal,oldVal){
            this.isNameUnique()
        }
    },
    computed:{
        registerPass(){
            let pass = true;
            if(this.registerNameUnique){

            }else{

                pass = false;
                return pass;
            }

            if(checker.isEmail(this.registerEmail)){

            }else{

                pass = false;
                return pass;
            }


            if(checker.passwordPass(this.registerPassword)){

            }else{

                pass = false;
                return pass;
            }
            return pass
        },
        loginPass(){
            let pass = true;

            if(checker.isEmail(this.loginEmail)){

            }else{
                pass = false;
                return pass;
            }

            if(this.loginPassword.length === ""){
                pass = false;
                return pass;
            }

            return pass

        }
    },
    props:{
        initialMode:{
            type:String,
            default:"REGISTER",
        }
    },
    data(){
      return{
          mode:"REGISTER",
          //register info
          registerName:"",
          registerEmail:"",
          registerPassword:"",
          registerErrorMessage:"",
          registerNameUnique:false,

          //login info
          loginEmail:"",
          loginPassword:"",
          loginErrorMessage:"",

          //forgetPassword
          forgetPasswordEmail:"",
          forgetPasswordError:"",

          namePassed:false,
          logoImage: "",
          nameNotPassedImageName:"",
          namePassedImageName:"",
          gobackimage:"",
          loginMethods:[],

          verifyButton:"Verify",
          verifying:false,
          closeImg:"",

          disableSigingUp:false,
          disableLogingIn:false,
      }
    },
    mounted() {
        this.logoImage = require("../../../icons/sign_up/logo.png").default;
        this.nameNotPassedImageName = require('../../../icons/sign_up/icons/16px/check_circled/default.png').default;
        this.namePassedImageName = require("../../../icons/sign_up/icons/16px/check_circled/active.png").default;
        this.gobackimage = require("../../../icons/sign_up/icons/32px/chevron_left.png").default;
        this.closeImg = require('../../../icons/20210604/icons/16px/cancel_heavy.png').default;
        this.initializeLoginMethods()
        this.mode = this.initialMode
    },
    methods:{
        hideSignUpView(){
            this.$emit("hideSignUpView",{})
        },
        initializeLoginMethods(){
            let loginMethods =[
                {
                    id:"facebook",
                    icon:require('../../../icons/sign_up/facebook.png').default,
                    color:"rgba(59, 89, 152, 1)",
                    text:"Continue with Facebook",
                    textColor:"rgba(255, 255, 255, 1)",
                },
                {
                    id:"google",
                    icon:require('../../../icons/sign_up/google.png').default,
                    color:"#4285F4",
                    text:"Continue with Google",
                    textColor:"rgba(255, 255, 255, 1)",
                },
                // {
                //     id:"tiktok",
                //     icon:require('../../../icons/sign_up/tiktok.png').default,
                //     color:"#FFFFFF",
                //     text:"Continue with Tiktok",
                //     textColor:"rgba(0, 0, 0, 1)",
                // },
                // {
                //     id:"snapchat",
                //     icon:require('../../../icons/sign_up/snapchat.png').default,
                //     color:"#FFFC00",
                //     text:"Continue with Snapchat",
                //     textColor:"rgba(0, 0, 0, 1)",
                // },
            ]
            this.loginMethods = loginMethods;
        },
        switchtoLogin(){
            this.mode = "LOGIN"
        },
        switchtoSignUp(){
            this.mode ="REGISTER"
        },
        switchToforgetPassword(){
          this.mode = "FORGET_PASSWORD"
        },
        switchToEmailSent(){
            this.mode = "EMAIL_SENT"
        },
        sendForgetPasswordEmail(){
            if(checker.isEmail(this.forgetPasswordEmail)){
            //    TODO: send email
                this.verifying = true
                this.verifyButton = "Sending Email"

                axios.post('/password/email',{
                    'email': this.forgetPasswordEmail
                }).then(res=>{
                    this.forgetPasswordError ="";
                    this.verifying = false
                    this.verifyButton = "Verify"
                    this.switchToEmailSent();
                }).catch(err=>{
                    this.verifying = false
                    this.verifyButton = "Verify"
                    this.forgetPasswordError ="Sorry there is some errors, please try again";
                })

            }else{
                this.forgetPasswordError = "Sorry, your email is not valid"
            }

        },
        isNameUnique(){
            this.registerNameUnique = false
            this.registerErrorMessage =``
            if(checker.isAValidName(this.registerName)){
                let data = {
                    'registerName':this.registerName
                }
                axios.get('/api/user/checkNameAvailable',{params:data,
                    headers: { 'Accept':'application/json' }
                }).then(res=>{
                    this.registerNameUnique = res.data.State
                    if(!this.registerNameUnique){
                        if(res.data.Msg != null){
                            this.registerErrorMessage =`${res.data.Msg}`
                        }
                    }else{
                        this.registerErrorMessage = ""
                    }
                }).catch(error=>{
                    console.log(error)
                })
            }else{
                this.registerNameUnique = false
                if(this.registerName.length > 15){
                    this.registerErrorMessage = "Your Name is too Long!"
                }else if(this.registerName.length < 6){
                    this.registerErrorMessage = "Your Name is too short!"
                }else{
                    this.registerErrorMessage = "Numbers and lowercase letters Only!"
                }
            }
        },
        /**
         * Log in
         */
        login(){

            if(this.disableLogingIn){
                return
            }

            let that = this;
            this.disableLogingIn = true
            axios.post('/login',{
                email:this.loginEmail.toLowerCase(),
                password:this.loginPassword,
            }).then( resp=>{
                that.loginErrorMessage = ""
                window.location.reload();
                that.disableLogingIn = false
                }
            ).catch(err=>{
                that.loginEmail = "";
                that.loginPassword = "";


                console.log("error",err.response.data.errors)
                let tempErrorMessage = Object.values(err.response.data.errors)[0][0]
                let errorMessage = ""
                if(typeof(tempErrorMessage) === 'object'){
                    errorMessage = Object.values(err.response.data.errors)[0][0]
                }else if(typeof(tempErrorMessage) === 'string'){
                    errorMessage = tempErrorMessage
                }else{
                    errorMessage = "Provided Data is not valid, please try again!"
                }
                that.loginErrorMessage = errorMessage
                that.disableLogingIn = false
                console.log(err)
            })
        },
        validateRegisterForm(){
            let pass = true;
            if(this.registerNameUnique){

            }else{
                this.registerErrorMessage = "Sorry, your user name is not valid"
                pass = false;
                return pass;
            }

            if(checker.isEmail(this.registerEmail)){

            }else{
                this.registerErrorMessage = "Sorry, your email is not valid"
                pass = false;
                return pass;
            }


            if(checker.passwordPass(this.registerPassword)){

            }else{
                this.registerErrorMessage = "Sorry, your password is not valid"
                pass = false;
                return pass;
            }
            return pass
        },
        register(){
            if(this.validateRegisterForm()){
                Vue.$toast.open({
                    message: 'Processing...',
                    position:"bottom",
                    type: 'info',
                });
                let that = this
                if(that.disableSigingUp){
                    return
                }
                that.disableSigingUp = true
                axios.post('/register',{
                    'name':this.registerName.toLowerCase(),
                    'email':this.registerEmail.toLowerCase(),
                    'password':this.registerPassword,
                    'password_confirmation':this.registerPassword,
                }).then(res=>{

                    this.registerErrorMessage = ""
                    window.location.assign(`/email/verify`)
                    that.disableSigingUp = false

                }).catch(err=>{
                    let tempErrorMessage =Object.values(err.response.data.errors)[0][0]
                    let errorMessage = ""
                    if(typeof(tempErrorMessage) === 'object'){
                        errorMessage = Object.values(err.response.data.errors)[0][0]
                    }else if(typeof(tempErrorMessage) === 'string'){
                        errorMessage = tempErrorMessage
                    }else{
                        errorMessage = "Provided Data is not valid, please try again!"
                    }
                    that.disableSigingUp = false
                    this.registerErrorMessage = errorMessage

                })
            }
        },
        loginWithSocialMedia(socialLoginId){

            //facebook
            // google
            // tiktok
            // snapchat
            let route = `/login/${socialLoginId}`
            switch (socialLoginId) {
                case "google":
                    break;
                case "facebook":
                    // route = "#"
                    break;
                case "tiktok":
                    route = "#"
                    break;
                case "snapchat":
                    // route = "#"
                    break;
                default:
                    route = "#"
                    break;
            }
            return route;

        }
    }
}
</script>

<style lang="scss" scoped>
@import "resources/sass/app.scss";

.container-fluid{
    &.mega-solution-horizontal-center{
        display: flex;
        align-items: center;
        justify-content: center !important;
    }
}

.signup-view{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black-blur ;
    z-index: 50;
    .signup-container{
        background-color: $neutral-bg2;
        min-width: 300px;
        padding: 35px 0px;
        margin-top: 40px;
        margin-bottom: 20px;
        max-height: 98%;
        position: relative;
        .close-image{
            width: 24px;
            height: 24px;
            padding: 4px;
            background-color: $neutral-asset2;
            border-radius: 12px;
            position: absolute;
            right: -8px;
            top: -8px;
        }
        .signup-container-content{
            overflow-y: scroll;
            scrollbar-base-color: transparent;

            .signup-container-register-section-error-message{
                color: $primary-4;
            }
            .signup-container-top-section{
                .signup-container-top-section-image{
                    width: 32px;
                    height: 32px
                }
            }

            .signup-container-register-section{
                min-width: 300px;
                //margin-top: 16px;


                .signup-container-register-section-title{
                    color: white;
                    margin-bottom: 24px;
                    text-align: center;
                }
                .register-input{
                    margin-left: 4px;
                }

                .signup-container-register-section-content{
                    .signup-container-register-section-content-row{
                        margin-top: 8px;
                    }

                    .hint{
                        margin-top: 4px;
                    }
                    .signup-button{
                        width: 100%;
                        margin-top: 8px;
                        background-color: $primary-4;
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                    .terms-and-condition{
                        margin-top: 8px;
                        max-width: 400px;
                        text-align: justify;
                        color: $neutral-tagline;
                    }
                    //background-color: red;
                }
                .signup-or-section{
                    margin-top: 24px;
                    text-align: center;
                    position: relative;
                    &::before{
                        content:' ';
                        border-bottom:1px solid $neutral-input;
                        width: 45%;
                        position: absolute;
                        top: 50%;
                        left: 0;
                    }
                    &::after{
                        content:' ';
                        border-bottom:1px solid $neutral-input;
                        width: 45%;
                        position: absolute;
                        top: 50%;
                        right: 0;
                    }
                }

                .social-login-button{
                    width: 100%;
                    border-radius:4px ;
                    //padding: 0px 0px;
                    margin-top: 8px;
                    .social-login-button-image{
                        width: 44px;
                        height: 44px;
                    }
                    .social-login-button-message{
                        flex: 1;
                        text-align: center;
                        font-family: "Roboto",sans-serif;
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 500;
                    }
                }

                .signup-container-bottom-section{
                    margin-top: 16px;
                    width: 100%;

                    .signup-container-bottom-section-left{

                    }
                    .signup-container-bottom-section-right{
                        color: $primary-4;
                        margin-left: 8px;
                    }
                }



            }

            .signup-container-login-section{

                //TODO: responsive
                width: 400px;

                min-width: 300px;
                //margin-top: 16px;
                .signup-container-login-section-title{

                    margin-bottom: 24px;
                    text-align: center;
                }

                .social-login-button{
                    width: 100%;
                    border-radius:4px ;
                    //padding: 0px 12px;
                    margin-top: 8px;
                    .social-login-button-image{
                        width: 44px;
                        height: 44px;
                    }
                    .social-login-button-message{
                        flex: 1;
                        text-align: center;
                        font-family: "Roboto",sans-serif;
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 500;
                    }
                }

                .signup-or-section{
                    margin-top: 24px;
                    text-align: center;
                    position: relative;
                    &::before{
                        content:' ';
                        border-bottom:1px solid $neutral-input;
                        width: 20%;
                        position: absolute;
                        top: 50%;
                        left: 0;
                    }
                    &::after{
                        content:' ';
                        border-bottom:1px solid $neutral-input;
                        width: 20%;
                        position: absolute;
                        top: 50%;
                        right: 0;
                    }
                }

                .signup-manual-login{
                    padding-top: 16px;
                    .signup-manual-login-error-message{
                        color: $primary-4;
                    }
                    .signup-container-login-section-content-row{
                        margin-top: 8px;
                    }
                    .signup-button{
                        width: 100%;
                        margin-top: 24px;
                        background-color: $primary-4;
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                    .forget-password{
                        color: $neutral-tagline;
                        margin-top: 8px;
                    }
                }

                .signup-container-bottom-section{
                    margin-top: 16px;
                    width: 100%;

                    .signup-container-bottom-section-left{

                    }
                    .signup-container-bottom-section-right{
                        color: $primary-4;
                        margin-left: 8px;
                    }
                }




            }


            .sign-up-forget-password-section{
                max-width: 426px;
                .sign-up-forget-password-section-title{

                }
                .sign-up-forget-password-section-description{
                    color: $neutral-tagline;
                    margin-top: 8px;
                    margin-bottom: 32px;
                }

                .signup-button{
                    width: 100%;
                    margin-top: 8px;
                    background-color: $primary-4;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    &:disabled{
                        background-color: transparent;
                        border: 1px solid $neutral-text;
                        color: $primary-4;
                    }
                }
            }
            .sign-up-forget-go-back{
                position: absolute;
                top: 32px;
                left: 32px;
                width: 32px;
                height: 32px;
            }

            .sign-up-email-sent-section{
                max-width: 426px;
                .sign-up-email-sent-section-title{

                }
                .sign-up-email-sent-section-description{
                    color: $neutral-tagline;
                    margin-top: 8px;
                    margin-bottom: 32px;
                }
                .sign-up-email-sent-section-email{
                    margin-top: 8px;
                }
                .dismiss-button{


                    width: 100%;
                    margin-top: 32px;
                    background-color: transparent;
                    border: 1px solid $neutral-text;
                    color: $neutral-text;
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px){

    .signup-view .signup-container .signup-container-content .signup-container-register-section{
        width: 80%;
        min-width: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }


    .signup-view .signup-container .signup-container-content .signup-container-login-section{
        width: 100%;
        min-width: 250px;

    }

    .signup-view .signup-container .signup-container-content .sign-up-forget-password-section{

        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .signup-view .signup-container .signup-container-content .sign-up-forget-go-back{

        left: 16px;
    }

}
</style>
