<template>
  <div class="reel-eco-cell">
    <!-- <div class="clamp mega-solution-body-heavy reel-eco-cell-title">
      {{ reel.title }}
    </div> -->
    <div class="reel-eco-cell-thumbnail-container">
      <img
        v-lazy="getImage(reel.thumbnail)"
        alt="Reel Thumbnail"
        class="reel-eco-cell-thumbnail"
      />
      <img
        v-lazy="getImage(reel.preview == null ? reel.thumbnail : reel.preview)"
        alt="Reel Thumbnail"
        class="reel-eco-cell-thumbnail-preview"
      />
    </div>

    <a
      :href="'/reels/' + reel.url_handle"
      class="reel-eco-cell-detail-section mega-solution-vertical-start"
    >
      <div class="clamp full-width">
        <h3
          class="reel-eco-cell-detail-section-title mega-solution-body-heavy clamp"
        >
          {{ reel.creator }}
        </h3>
      </div>

      <template
        v-if="reel.licences.length === 1 && reel.licences[0].is_free === true"
      >
        <div
          class="reel-eco-cell-detail-section-bottom-tag mega-solution-tiny-cap is-free-download-tag"
        >
          free download
        </div>
      </template>
      <template v-else-if="isNew">
        <div
          class="reel-eco-cell-detail-section-bottom-tag mega-solution-tiny-cap is-new-tag"
        >
          new
        </div>
      </template>

      <div
        class="reel-eco-cell-detail-section-body-section mega-solution-vertical-start justify-content-start"
      >
        <template v-if="headTags.length !== 0">
          <div
            class="reel-eco-cell-detail-section-body-tags-section mega-solution-footer-light mega-solution-horizontal-start"
          >
            <div
              class="reel-eco-cell-detail-section-body-tags-section-tag clamp"
              v-for="(item, index) in headTags"
              :key="index"
            >
              <a
                class="reel-eco-cell-detail-section-body-tags-section-tag-link mega-solution-footer-light"
                :href="'/tags/' + item.name"
                >#{{ item.name }}</a
              >
            </div>
          </div>
        </template>
        <div
          class="reel-eco-cell-detail-section-body-section-title clamp mega-solution-footer-light"
        >
          {{ reel.title }}
        </div>
      </div>
    </a>

    <template v-if="!reel.is_creator">
      <div class="reel-eco-cell-button-container">
        <template v-if="isInWishlist">
          <div
            class="reel-eco-cell-button"
            @click.stop="removeFromWishlist()"
            :class="{ isDisable: loading }"
          >
            <img
              :src="wishlistedIcon"
              alt="wishlisted"
              class="reel-eco-cell-thumbnail-button-container-icon"
            />
          </div>
        </template>
        <template v-else>
          <div
            class="reel-eco-cell-button"
            @click.stop="addToWishlist()"
            :class="{ isDisable: loading }"
          >
            <img
              :src="wishlistIcon"
              alt="wishlist"
              class="reel-eco-cell-thumbnail-button-container-icon"
            />
          </div>
        </template>

        <div
          class="reel-eco-cell-button"
          @click.stop="displayQuickView()"
          :class="{ isDisable: loading }"
        >
          <img
            v-if="
              reel.licences.length === 1 && reel.licences[0].is_free === true
            "
            :src="downloadIcon"
            alt="download icon"
            class="reel-eco-cell-thumbnail-button-container-icon"
          />
          <img
            v-else
            :src="cartIcon"
            alt="shopping cart"
            class="reel-eco-cell-thumbnail-button-container-icon"
          />
        </div>
      </div>
    </template>
    <template v-if="isQuickView">
      <MegaSolutionQuickViewModalComponent
        :reel="reel"
        @dismiss="dismissClicked"
      ></MegaSolutionQuickViewModalComponent>
    </template>
  </div>
</template>

<script>
import moment from "moment";
import MegaSolutionQuickViewModalComponent from "../MegaSolutionQuickViewModalComponent/MegaSolutionQuickViewModalComponent";

export default {
  name: "MegaSolutionEcoReelCellComponent",
  components: {
    MegaSolutionQuickViewModalComponent
  },
  props: {
    reel: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      loading: false,
      isInWishlist: false,
      wishlistIcon: "",
      wishlistedIcon: "",
      downloadIcon: "",
      cartIcon: "",
      baseUrl: process.env.MIX_PUSHER_APP_URL,
      isQuickView: false
    };
  },
  computed: {
    headTags() {
      if (this.reel.tags != null) {
        switch (this.reel.tags.length) {
          case 0:
            return [];
          case 1:
            return this.reel.tags;
          case 2:
            return this.reel.tags;
          case 3:
            return this.reel.tags;
          default:
            return this.reel.tags.slice(0, 3);
        }
      } else {
        return [];
      }
    },
    isNew() {
      if (!this.reel.created_at) return false;
      const newDurationInDays = 7;
      const now = moment(new Date());
      const createdTime = moment(this.reel.created_at);
      const duration = moment.duration(now.diff(createdTime));
      const days = duration.asDays();
      const isNew = days <= newDurationInDays;

      return isNew;
    }
  },
  mounted() {
    this.wishlistIcon = require("../../../icons/20210604/icons/16px/star_outlined_16px.png").default;
    this.wishlistedIcon = require("../../../icons/20210604/icons/16px/star_filled_16px.png").default;
    this.cartIcon = require("../../../icons/20210604/icons/16px/shoppingcart_16px.png").default;
    this.downloadIcon = require("../../../icons/20210604/icons/16px/download_16px.png").default;
    this.isInWishlist = this.reel.is_in_wishlist;

    //console.log(this.reel);
  },
  methods: {
    getImage(imagePath) {
      return `/storage/${imagePath}`;
    },
    addToWishlist() {
      const that = this;
      that.loading = true;
      const data = {
        content_id: this.reel.id,
        type: "reel"
      };

      axios
        .post("/wishlist/addToWishlist", data)
        .then(res => {
          if (res.status === 200) {
            that.isInWishlist = true;
            Vue.$toast.open({
              message: "Added To Your Wishlist! ",
              position: "bottom",
              type: "success"
            });
          }
        })
        .catch(err => {
          if (err.response.status === 401) {
            Vue.$toast.open({
              message: "Please log in first! ",
              position: "bottom",
              type: "error"
            });
          }

          if (err.response.status === 403) {
            Vue.$toast.open({
              message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
              position: "bottom",
              type: "error"
            });
          }
        })
        .finally(() => {
          that.loading = false;
        });
    },
    removeFromWishlist() {
      const that = this;
      that.loading = true;
      const data = {
        content_id: this.reel.id,
        type: "reel"
      };

      axios
        .post("/wishlist/removeFromWishlist", data)
        .then(res => {
          if (res.status === 200) {
            that.isInWishlist = false;

            Vue.$toast.open({
              message: "Removed From Your Wishlist! ",
              position: "bottom",
              type: "success"
            });
          }
        })
        .catch(err => {
          if (err.response.status === 401) {
            Vue.$toast.open({
              message: "Please log in first! ",
              position: "bottom",
              type: "error"
            });
          }

          if (err.response.status === 403) {
            Vue.$toast.open({
              message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
              position: "bottom",
              type: "error"
            });
          }
        })
        .finally(() => {
          that.loading = false;
        });
    },
    displayQuickView() {
      //console.log("Open quick view");
      this.isQuickView = true;
    },
    dismissClicked() {
      this.isQuickView = false;
    }
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.reel-eco-cell {
  width: 100%;
  padding-top: 100%;
  position: relative;
  &:hover {
    /* Display details when hovers */
    /* .reel-eco-cell-title {
      display: none;
    } */
    .reel-eco-cell-detail-section {
      .reel-eco-cell-detail-section-body-section {
        .reel-eco-cell-detail-section-body-tags-section {
          width: 100%;
          display: flex;
        }
        .reel-eco-cell-detail-section-body-section-title {
          display: flex;
          width: 100%;
        }
      }
      .reel-eco-cell-detail-section-bottom-tag {
        filter: brightness(40%);
        transition: all 0.8s ease-in-out;
      }
    }
    .reel-eco-cell-thumbnail-container {
      .reel-eco-cell-thumbnail {
        //display: none;
        opacity: 0;
        transition: all 0.8s ease-in-out;
      }
      .reel-eco-cell-thumbnail-preview {
        //display: flex;
        opacity: 1;
        transition: all 0.8s ease-in-out;
        filter: brightness(40%);
      }
    }

    .reel-eco-cell-button-container {
      display: flex;
    }
  }
  /* .reel-eco-cell-title {
    width: 100%;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  } */

  .reel-eco-cell-thumbnail-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    .reel-eco-cell-thumbnail {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      transition: all 0.8s ease-in-out;
    }
    .reel-eco-cell-thumbnail-preview {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: all 0.8s ease-in-out;
    }
  }

  .reel-eco-cell-detail-section {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $overlay-solid;
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 18px;

    &:hover {
      text-decoration: none;
    }

    .reel-eco-cell-detail-section-bottom-tag {
      position: absolute;
      bottom: 12px;
      left: 12px;
      padding: 0;
      text-transform: uppercase;
      transition: all 0.8s ease-in-out;
    }

    .is-free-download-tag {
      height: 20px;
      border-radius: 16px;
      padding: 4px 8px;
      background-color: $accent-3;
      color: $neutral-bg2;
    }

    .is-new-tag {
      height: 20px;
      border-radius: 16px;
      padding: 4px 8px;
      background-color: $secondary-5;
      color: $neutral-bg2;
    }

    .reel-eco-cell-detail-section-body-section {
      width: 100%;
      flex: 1;

      .reel-eco-cell-detail-section-body-tags-section {
        gap: 12px;
        flex-wrap: wrap;
        display: none;
        margin-top: 8px;
        width: 100%;
        .reel-eco-cell-detail-section-body-tags-section-tag {
          border: 1px solid $neutral-text;
          border-radius: 4px;
          padding: 2px 4px;
          line-height: 14px;

          .reel-eco-cell-detail-section-body-tags-section-tag-link {
            color: $neutral-text;
          }
        }
      }

      .reel-eco-cell-detail-section-body-section-title {
        display: none;
        margin-top: 4px;
        font-weight: 400;
      }
    }
  }

  .reel-eco-cell-button-container {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 8px;
    bottom: 12px;
    right: 12px;

    .reel-eco-cell-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      width: 32px;
      height: 32px;
      cursor: pointer;

      .reel-eco-cell-thumbnail-button-container-icon {
        width: 14px;
        height: 14px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .isDisable {
      pointer-events: none;
      filter: brightness(0.4);
    }
  }
}

@media screen and (max-width: 1025px) {
  .reel-eco-cell {
    .reel-eco-cell-button-container {
      display: flex;
    }
  }
}
</style>
