<template>
  <div class="container-fluid">
    <div
      class="modal-view container-fluid mega-solution-horizontal-center"
      @click.stop=""
    >
      <div
        id="quick-view-video-container"
        class="modal-view-container"
        @click.stop=""
      >
        <img
          v-if="loadCompleted"
          :src="closeIcon"
          alt="close"
          class="modal-view-container-dismiss-button"
          @click.prevent.stop="dismiss"
        />

        <div class="modal-view-scroll-wrapper">
          <template v-if="!loadCompleted">
            <div class="container-fluid mega-solution-horizontal-center">
              <div class="ring-container ">
                <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
              </div>
            </div>
          </template>

          <template v-if="elementLoaded">
            <MegaSolutionViemoPlayer
              :video_id="reel.video_id"
              @loadVideoCompleted="loadVideoCompleted"
              :width="getContainerWidth()"
            ></MegaSolutionViemoPlayer>
          </template>

          <div class="modal-view-message-container mega-solution-vertical-start">
            <div
              class="mega-solution-footer-light modal-view-container-reel-quality-section"
            >
              <template v-for="(quality, index) in availableQualities">
                <div :key="index" class="modal-view-container-reel-quality-item">
                  {{ quality.toUpperCase() }}
                </div>
              </template>
            </div>
            <div class="modal-view-container-title mega-solution-sub-heavy">
              {{ reel.title }}
            </div>
            <div class="modal-view-container-subtitle mega-solution-cap-light">
              By {{ reel.creator }}
            </div>

            <!-- {{ If licence's is greater than 0 and the first is not free licence, then show licence options }} -->
            <template v-if="reel.licences.length !== 0 && reel.licences[0].is_free !== true">
              <div class="mega-solution-body-heavy">
                  Select a license
                </div>
                <div
                  v-for="(licence, index) in reel.licences"
                  :key="index"
                  class="licence-item full-width"
                >
                  <div class="licence-item-top mega-solution-horizontal-start">
                    <input
                      type="radio"
                      :id="'quickview_radio_' + index"
                      v-model="picked"
                      :value="licence.id"
                    />
                    <label
                      :for="'quickview_radio_' + index"
                      class="licence-label mega-solution-horizontal-center"
                    >
                      <div
                        class=" licence-label-detail mega-solution-horizontal-center"
                      >
                        <div
                          class="licence-label-detail-label mega-solution-body-light mega-solution-horizontal-center"
                          :class="{ unchecked: licence.id !== picked }"
                        >
                          {{ licence.type }}
                          <template v-if="licence.is_popular">
                            <div
                              class="licence-popular-tag mega-solution-tiny-cap mega-solution-horizontal-center"
                            >
                              POPULAR
                            </div>
                          </template>
                          <template v-if="!licence.is_free">
                            <div class="licence-price-content">
                              {{ `$${licence.pivot.price}` }}
                            </div>
                          </template>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
            </template>
          </div>
        </div>

        <!-- {{ If licence does not equal to 0 }} -->
        <template v-if="reel.licences.length !== 0">
          <!-- {{ If there is only one licence and it's free item. Show free download's buttons }} -->
          <template
            v-if="reel.licences.length === 1 && reel.licences[0].is_free"
          >
            <div
              class="modal-view-button-section mega-solution-vertical-center"
            >
              <a
                :href="'/reels/' + reel.url_handle"
                class="creatr-primary-button-regular full-width"
              >
                {{ "View details" }}
              </a>
              <button class="full-width creatr-secondary-button-type-2" @click.prevent.stop="dismiss" :disabled="!loadCompleted">
                Cancel
              </button>
            </div>
          </template>
          <!-- {{ If there are more than one licence. Show add to cart buttons }} -->
          <template v-else>
            <div
              class="modal-view-button-section mega-solution-vertical-center"
            >
              <button
                class="creatr-primary-button-regular full-width"
                @click="addToCartuttonClicked"
              >
                {{
                  `Add to cart ${
                    selectedLicence ? `($${selectedLicence.pivot.price})` : ""
                  }`
                }}
              </button>
              <a
                :href="'/reels/' + reel.url_handle"
                class="creatr-secondary-button-type-2 full-width"
              >
                {{ "View details" }}
              </a>
            </div>
          </template>
        </template>
      </div>

      <template v-if="showSignUpView">
        <sign-up-view @hideSignUpView="hideSignUpView"></sign-up-view>
      </template>
    </div>
  </div>
</template>

<script>
import MegaSolutionViemoPlayer from "../MegaSolutionViemoPlayer/MegaSolutionViemoPlayer";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";
import signUpView from "../MegaSolutionRegisterComponent/MegaSolutionSignUpView.vue";
import { bus } from "../../event-bus";
import axios from "axios";

export default {
  name: "MegaSolutionQuickViewModalComponent",
  components: {
    MegaSolutionViemoPlayer,
    MegaSolutionLoaddingComponent,
    signUpView
  },
  props: {
    reel: {
      type: Object,
      default: () => {}
    }
  },
  mounted() {
    this.closeIcon = require("../../../icons/20210604/icons/16px/cancel_heavy.png").default;
    this.elementLoaded = true;
    if (this.reel.licences && this.reel.licences.length !== 0) {
      this.picked = this.reel.licences[0].id;
    }
  },
  data() {
    return {
      picked: null,
      selectedLicence: null,
      // video loaded
      loadCompleted: false,
      // component mounted
      elementLoaded: false,
      showSignUpView: false,
      closeIcon: ""
    };
  },
  watch: {
    picked: function(newVal) {
      if (newVal === null) return;
      const matchedLicence = this.reel.licences.find(
        licence => licence.id === newVal
      );
      if (matchedLicence) {
        this.selectedLicence = matchedLicence;
      }
    }
  },
  computed: {
    availableQualities() {
      const qualitySet = new Set();
      const typeSet = new Set();
      this.reel.qualities.forEach(item => {
        if (item.quality !== "source") {
          qualitySet.add(item.public_name);
          typeSet.add(item.type);
        }
      });
      const qualityString = Array.from(qualitySet).sort();
      const typeString = Array.from(typeSet).sort();
      return qualityString.concat(typeString);
    }
  },
  methods: {
    dismiss() {
      this.$emit("dismiss", {});
    },
    addToCartuttonClicked() {
      let data = {
        reel_id: this.reel.id,
        licence_id: this.selectedLicence.id
      };
      let that = this;
      axios
        .post("/cart/addItemToCart", data)
        .then(res => {
          if (res.status === 200) {
            Vue.$toast.open({
              message: "Added to Cart Successfully",
              position: "bottom",
              type: "success"
            });

            bus.$emit("addItemToCart");
          }
        })
        .catch(err => {
          if (err.response.status === 401) {
            Vue.$toast.open({
              message: "Please log in first! ",
              position: "bottom",
              type: "error"
            });
            that.signUp();
          }

          if (err.response.status === 403) {
            Vue.$toast.open({
              message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
              position: "bottom",
              type: "error"
            });
          }
        });
    },
    getContainerWidth() {
      const videoContainer = document.getElementById(
        "quick-view-video-container"
      );
      const style = getComputedStyle(videoContainer);
      const paddingLeft = parseInt(style.paddingLeft);
      return videoContainer.clientWidth - 2 * paddingLeft;
    },
    loadVideoCompleted() {
      this.loadCompleted = true;
    },
    signUp() {
      this.showSignUpView = true;
    },
    hideSignUpView() {
      this.showSignUpView = false;
    }
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.container-fluid {
  &.mega-solution-horizontal-center {
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
}

.modal-view {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $search-black-blur;
  z-index: 101;
  .modal-view-container {
    max-width: 469px;
    min-height: 156px;
    width: 60%;
    padding: 24px;
    position: relative;
    background: $neutral-bg2;
    border-radius: 4px;
    
    .modal-view-container-dismiss-button {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      width: 32px;
      height: 32px;
      border-radius: 50px;
      background-color: #565656;
      cursor: pointer;
      padding: 8px;
    }

    .modal-view-scroll-wrapper {
      height: calc(90vh - 164px);
      max-height: 536px;
      overflow-y: scroll;
    
      .ring-container {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 210px;
        height: 210px;
      }

      .modal-view-message-container {
        width: 100%;
        justify-content: space-between;
        padding-bottom: 4px;

        .modal-view-container-reel-quality-section {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          gap: 4px;
          margin: 12px 0 4px;
          .modal-view-container-reel-quality-item {
            padding: 4px 8px;
            border-radius: 24px;
            background-color: #2d2d2d;
            color: $neutral-tagline;
          }
        }
        .modal-view-container-title {
          width: 100%;
        }
        .modal-view-container-subtitle {
          width: 100%;
          color: $neutral-tagline;
          margin-top: 8px;
          margin-bottom: 32px;
        }

        .licence-item {
          margin-top: 26px;

          .licence-item-top {
            > input[type="radio"] {
              display: none;
            }

            > input[type="radio"] + *::before {
              content: "";
              display: inline-block;
              vertical-align: bottom;
              width: 22px;
              height: 20px;
              line-height: 20px;
              border-radius: 50px;
              border-style: solid;
              border-width: 2px;
              border-color: gray;
            }

            > input[type="radio"]:checked + *::before {
              background: radial-gradient(
                #eb1480 0%,
                #eb1480 40%,
                transparent 50%,
                transparent
              );
              border-color: #eb1480;
            }
            > input[type="radio"]:checked + * {
              color: #eb1480;
            }

            .licence-label {
              display: flex;
              width: 100%;
              gap: 10px;
              .licence-label-detail {
                width: 100%;

                .licence-label-detail-label {
                  display: flex;
                  width: 100%;
                  justify-content: flex-start;
                  color: $neutral-text;
                  &.unchecked {
                    color: $neutral-tagline;
                  }
                  .licence-popular-tag {
                    background-color: $secondary-5;
                    color: $neutral-bg2;
                    border-radius: 16px;
                    padding-left: 8px;
                    padding-right: 8px;
                    margin-left: 16px;
                    height: 20px;
                  }
                  .licence-price-content {
                    margin-left: auto;
                  }
                }
              }
            }
          }
        }
      }
    }

    .modal-view-button-section {
      margin-top: 26px;
      width: 100%;
      justify-content: space-between;
      gap: 16px;
      flex-wrap: wrap;

      a {
        flex: 1;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .container-fluid {
    .modal-view-button-section {
      flex-direction: column;

      a {
        min-width: 100%;
      }
    }
  }

  .modal-view {
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgba(0,0,0,0.9);
    .modal-view-container {
      width:100%;
      padding: 24px 16px;
      .ring-container {

        width: 155px;
        height: 155px;
      }
      .modal-view-scroll-wrapper {
        max-height: 600px;
      
        .modal-view-message-container {
          .licence-item {
            .licence-item-top {
              .licence-label {
                .licence-label-detail {

                  .licence-label-detail-label {
                    gap: 4px;
                    .licence-popular-tag {
                      margin-left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
