<template>
    <div class="container vimeo-player mega-solution-horizontal-center">
        <div id = "webdemy-player">

        </div>
    </div>

</template>

<script>
import Player from '@vimeo/player'
export default {
    name: "MegaSolutionViemoPlayer",
    data() {
        return {
            player:null,
            videoStatus:'in_progress',
        }
    },
    props:{
        video_id:{
            type:[Number,String],
            default:0,
        },
        width:{
            type:Number,
            default:540,
        }
    },
    watch:{
        video_id(newVal){
            //console.log(newVal,this.player,'newvalue')
            if(newVal !== 0){
                if(this.player === null){
                    this.loadVideoComponent()
                }else{
                    this.player.loadVideo(newVal);
                }

            }
        }
    },
    mounted(){
        if(this.video_id !== 0){
            this.loadVideoComponent()
        }

    },
    methods:{
        loadVideoComponent(){
            let that = this;
            let data = {
                'videoId':that.video_id
            }
            axios.get('/api/checkVideoUploadedStatus',{params:data,
                headers: { 'Accept':'application/json' }
            }).then(function (res) {
                //console.log(res)
                if(res.data.response.status === "complete"){
                    //console.log('complete')
                    setTimeout(function(){
                        let videoOptions = {
                            id:that.video_id,
                            width:that.width,
                            height:that.width * 9/16,
                            byline:false,
                            title:false
                        };
                        that.player = new Player('webdemy-player',videoOptions);
                        that.$emit("loadVideoCompleted",{
                            "status":"complete",
                        });
                    },2000)

                }else{
                    //console.log('in progress')
                    setTimeout(function () {
                        that.loadVideoComponent()
                    },5000);
                }
            }).catch(function (err) {
                //console.log('err',err)
            })
        }
    }

}
</script>

<style scoped lang="scss">
.vimeo-player{
    padding-left: unset !important;
    padding-right: unset !important;
}
</style>
