<template>
  <div class="reels-slider-container">
    <div
      class="mega-solution-horizontal-center justify-content-between align-items-baseline reels-slider-container-title-section"
    >
      <h4 class="mega-solution-h4">Other Popular Reels</h4>
    </div>

    <swiper class="swiper" :options="swiperOptionThumbs" ref="swiperThumbs">
      <swiper-slide
        class="reel-slide"
        v-for="(reel, index) in reels"
        :key="index"
      >
        <MegaSolutionWishlistPopularReelCellComponent
          :reel="reel"
        ></MegaSolutionWishlistPopularReelCellComponent>
      </swiper-slide>
    </swiper>

    <template v-if="showQuickView">
      <MegaSolutionQuickViewModalComponent
        :reel="quickViewReel"
        @dismiss="dismissClicked"
      ></MegaSolutionQuickViewModalComponent>
    </template>
  </div>
</template>

<script>
import "swiper/swiper.scss";
import { bus } from "../../event-bus.js";
import MegaSolutionWishlistPopularReelCellComponent from "../MegaSolutionWishlistPopularReelCellComponent/MegaSolutionWishlistPopularReelCellComponent";
import MegaSolutionQuickViewModalComponent from "../MegaSolutionQuickViewModalComponent/MegaSolutionQuickViewModalComponent";

export default {
  name: "MegaSolutionWishlistPopularReelsComponent",
  components: {
    MegaSolutionWishlistPopularReelCellComponent,
    MegaSolutionQuickViewModalComponent
  },
  data() {
    return {
      reels: [],
      loading: false,
      loadFinish: false,
      swiperOptionThumbs: {
        slidesPerView: 5,
        spaceBetween: 10,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        breakpoints: {
          1920: {
            slidesPerView: 6,
            spaceBetween: 20
          },
          1440: {
            slidesPerView: 5,
            spaceBetween: 20
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 20
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 20
          },
          640: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          320: {
            slidesPerView: 2,
            spaceBetween: 10
          },
          180: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      },
      baseUrl: process.env.MIX_PUSHER_APP_URL,
      showQuickView: false,
      quickViewReel: null
    };
  },
  mounted() {
    this.getReels();
    this.listenDisplayQuickViewEvent();
  },
  methods: {
    listenDisplayQuickViewEvent() {
      let that = this;
      bus.$on("displayQuickView", function(data) {
        that.quickViewReel = data;
        that.showQuickViewModal();
      });
    },
    showQuickViewModal() {
      this.showQuickView = true;
    },
    dismissClicked() {
      this.showQuickView = false;
      this.quickViewReel = null;
    },
    getReels() {
      let that = this;
      if (this.loadFinish) {
        // Vue.$toast.open({
        //     message: 'All reels have been loaded! ',
        //     position:"bottom",
        //     type: 'info',
        // });
      } else {
        if (!that.loading) {
          that.loading = true;
          axios
            .get("/reels/getMostPopularReelsWithTags", {
              headers: {
                Accept: "application/json"
              }
            })
            .then(function(res) {
              if (res.status === 200) {
                let temp = res.data.response.reels;
                that.reels = that.reels.concat(temp);
                that.loading = false;
                that.loadFinish = true;
              }
              //console.log(res.data.response)
            })
            .catch(function(err) {
              console.log("err", err.response);
            });
        }
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.reels-slider-container {
  margin-bottom: 112px;
  .hr {
    background-color: rgba(255, 255, 0.1);
  }

  .reels-slider-container-title-section {
    margin-top: 48px;
    .mega-solution-body-light {
      color: $neutral-tagline;
    }
  }
}

.swiper {
  margin-top: 24px;
  .reel-slide {
    height: 180px;
  }
}
@media screen and (max-width: 576px) {
  .swiper {
    .reel-slide {
      height: 96px;
    }
  }
}
</style>
