<template>
    <div class="container thankyou-container">
        <div class="thankyou-container-top-section">
            <div class="thankyou-container-top-section-title mega-solution-h3">
                {{ `Thank you for purchasing, ${user.name} !` }}
            </div>
            <div
                class="thankyou-container-top-section-subtitle mega-solution-p2-light"
            >
                Your support means a lot for the creators.
            </div>
        </div>

        <mega-solution-order-list-component
            v-if="order"
            :order-items="order.order_items"
            :is-mobile="isMobile"
        ></mega-solution-order-list-component>

        <div class="thankyou-container-bottom-section">
            <div class="mega-solution-p4-light order-id">
                Order ID: {{ order.order_number }}
            </div>
            <div class="mega-solution-p4-light order-date">
                Order Date: {{ formatDate(order.created_at) }}
            </div>
            <div class="mega-solution-p3-light order-all">
                View all your purchases
                <a href="/order" class="mega-solution-p3-light">here</a>.
            </div>
            <template v-if="isMobile">
                <div class="mega-solution-p3-light order-invoice">
                    For invoice, please login on a desktop browser.
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import moment from "moment";
import MegaSolutionOrderListComponent from "../MegaSolutionOrderListComponent/MegaSolutionOrderListComponent";

export default {
    components: {
        MegaSolutionOrderListComponent
    },
    name: "MegaSolutionOrderThankYouPageComponent.vue",
    props: {
        order: {
            type: Object,
            default: function() {
                return null;
            }
        }
    },
    data() {
        return {
            user: this.order.user,
            isMobile: false
        };
    },
    created() {
        const windowWidth = window.innerWidth;
        if (windowWidth < 576) {
            this.isMobile = true;
        }
    },
    mounted() {
        //console.log("order", this.order);
    },
    methods: {
        formatDate(time) {
            return moment(time).format("MMM D YYYY");
        }
    }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.thankyou-container {
    padding-top: 160px;
    padding-bottom: 64px;
    .thankyou-container-top-section {
        margin-bottom: 40px;
        .thankyou-container-top-section-title {
        }
        .thankyou-container-top-section-subtitle {
            margin-top: 8px;
            color: $neutral-tagline;
        }
    }
    .thankyou-container-bottom-section {
        margin-top: 64px;
        .order-id {
            color: $neutral-tagline;
        }
        .order-date {
            margin-top: 4px;
            color: $neutral-tagline;
        }
        .order-all {
            color: $neutral-tagline;
            margin-top: 24px;
        }
        .order-invoice{
            color: $neutral-tagline;
            margin-top: 24px;
        }
    }
}
@media screen and (max-width: 576px) {
    .thankyou-container {
        padding-top: 76px;
        padding-bottom: 22px;
        .thankyou-container-top-section {
            margin-bottom: 0;
        }
        .thankyou-container-bottom-section {
            margin-top: 32px;
        }
    }
}
</style>
