<template>
    <tr>
        <template v-if="!isMobile">
            <td class="mega-solution-cap-light transaction-item-row-cell">
                {{ formatDate(transactionItem.order.created_at) }}
            </td>
            <td class="transaction-item-row-cell">
                <template v-if="transactionItem.reel.is_banned === 1">
                    <div class="mega-solution-footer-light">
                        This reel is not available due to violating our policy.
                    </div>
                </template>
                <a
                    :href="'/reels/' + transactionItem.reel.url_handle"
                    class="reel-link"
                >
                    <div
                        class="transaction-item-reel-info-container mega-solution-horizontal-start"
                    >
                        <div
                            class="transaction-item-reel-info-container-image-section-container"
                        >
                            <img
                                v-lazy="
                                    getImageByPath(
                                        transactionItem.reel.thumbnail
                                    )
                                "
                                alt="reel image"
                                class="transaction-item-reel-info-container-image-section-image"
                            />
                        </div>
                        <div
                            class="transaction-item-reel-info-container-detail-section"
                        >
                            <div
                                class="mega-solution-body-heavy transaction-item-reel-info-container-detail-section-title clamp-2"
                            >
                                {{ transactionItem.reel.title }}
                            </div>
                            <div
                                class="mega-solution-cap-light transaction-item-reel-info-container-detail-section-description clamp-2"
                            >
                                {{ `Transaction ID: ${transactionItem.id}` }}
                            </div>
                        </div>
                    </div>
                </a>
            </td>
            <td class="mega-solution-cap-light transaction-item-row-cell">
                {{ "@" + transactionItem.order.user.name }}
            </td>
            <td
                @click.stop=""
                class="mega-solution-p3-light transaction-item-row-cell transaction-item-reel-licence"
            >
                {{
                    transactionItem.licence && transactionItem.licence.type
                        ? transactionItem.licence.type
                        : ""
                }}
            </td>
            <td class="transaction-item-row-cell">
                {{
                    transactionItem.payout_amount &&
                        (transactionItem.payout_amount / 100).toLocaleString(
                            "en-US",
                            {
                                style: "currency",
                                currency: "USD"
                            }
                        )
                }}
            </td>

            <td class="transaction-item-row-cell">
                <template v-if="transactionState">
                    Completed
                </template>
                <template v-else>
                    <div
                        class="payout-failed-retry-container mega-solution-p3-light"
                    >
                        <span class="payout-failed-words">Payout failed</span>
                        <a
                            class="payout-failed-retry-button"
                            @click.prevent.stop="retryTransaction"
                        >
                            Retry
                        </a>
                    </div>
                </template>
            </td>
        </template>

        <template v-else>
            <td class="transaction-item-row-cell">
                <template v-if="transactionItem.reel.is_banned === 1">
                    <div class="mega-solution-footer-light">
                        This reel is not available due to violating our policy.
                    </div>
                </template>
                <div
                    class="mega-solution-horizontal-start transaction-item-mobile-container"
                >
                    <a
                        :href="'/reels/' + transactionItem.reel.url_handle"
                        class="reel-link"
                    >
                        <img
                            v-lazy="
                                getImageByPath(transactionItem.reel.thumbnail)
                            "
                            alt="reel image"
                        />
                    </a>
                    <div
                        class="mega-solution-vertical-start transaction-item-mobile-info-container"
                    >
                        <div
                            class="mega-solution-body-heavy clamp-2 transaction-item-mobile-info-title"
                        >
                            {{ transactionItem.reel.title }}
                        </div>
                        <div
                            class="transaction-item-mobile-info-licence mega-solution-p3-light"
                        >
                            {{
                                transactionItem.licence &&
                                transactionItem.licence.type
                                    ? transactionItem.licence.type
                                    : ""
                            }}
                        </div>
                        <div
                            class="mega-solution-footer-light transaction-item-mobile-info-licensee"
                        >
                            {{ "Licensee @" + transactionItem.order.user.name }}
                        </div>
                        <div
                            class="mega-solution-footer-light transaction-item-mobile-info-date"
                        >
                            {{ formatDate(transactionItem.order.created_at) }}
                        </div>
                        <div
                            class="transaction-item-mobile-info-money mega-solution-body-heavy"
                        >
                            {{
                                transactionItem.payout_amount &&
                                    (
                                        transactionItem.payout_amount / 100
                                    ).toLocaleString("en-US", {
                                        style: "currency",
                                        currency: "USD"
                                    })
                            }}
                        </div>
                    </div>
                </div>
            </td>
        </template>
    </tr>
</template>

<script>
import moment from "moment";

export default {
    name: "mega-solution-transaction-list-item-component",
    props: {
        transactionItem: {
            type: Object,
            default: () => {}
        },
        isMobile: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            transactionState: false
        };
    },
    mounted() {
        this.transactionState = this.transactionItem.state;
    },
    methods: {
        getImageByPath(imagePath) {
            return `/storage/${imagePath}`;
        },
        formatDate(time) {
            return moment(time).format("MMM D YYYY");
        },
        retryTransaction() {
            let data = {};
            let that = this;
            data["_method"] = "put";
            axios
                .post(
                    `/transaction/remakeTransaction/${this.transactionItem.id}`,
                    data
                )
                .then(function(res) {
                    if (res.data.response.success) {
                        that.transactionState = true;
                        Vue.$toast.open({
                            message: res.data.response.message,
                            position: "bottom",
                            type: "success"
                        });
                    } else {
                        Vue.$toast.open({
                            message: res.data.response.message,
                            position: "bottom",
                            type: "error"
                        });
                    }
                })
                .catch(function(err) {
                    Vue.$toast.open({
                        message: err.response.data.message,
                        position: "bottom",
                        type: "error"
                    });
                });
        }
    }
};
</script>

<style lang="scss" scoped>
@import "resources/sass/app.scss";

.reel-link:hover {
    text-decoration: unset;
}

.transaction-item-reel-info-container {
    //max-width: 50%;
    gap: 12px;
    text-decoration: unset !important;
    align-items: flex-start;

    &-image-section-container {
        width: 106px;
        height: 60px;
        &-image-section-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-image-section-image-placeholder {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-image-section-image {
        width: 106px;
        height: 60px;
        object-fit: cover;
    }
    &-detail-section {
        flex: 1;
        &-title {
        }
        &-description {
            color: $neutral-tagline;
            margin-top: 8px;
        }
    }
}
tr {
    &:first-child {
        .transaction-item-row-cell {
            padding-top: 48px;
        }
    }

    &:last-child {
        .transaction-item-row-cell {
            padding-bottom: 48px;
        }
    }

    .transaction-item-row-cell {
        vertical-align: middle;
        color: $neutral-text;
        padding-top: 24px;
        padding-bottom: 24px;
        vertical-align: top;

        &.transaction-item-reel-licence {
            text-transform: capitalize;
        }
        .payout-failed-retry-container {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            .payout-failed-words {
                color: #d06679;
            }
            .payout-failed-retry-button {
                color: #fefeff;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.transaction-item-reel-info-container-detail-section {
}

@media screen and (max-width: 576px) {
    tr {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .transaction-item-row-cell {
            padding-left: 0;
            padding-right: 0;
            .transaction-item-reel-download {
                .transaction-item-reel-download-modal {
                    right: unset;
                    left: 0;
                    width: 240px;
                    padding: 4px;
                }
            }
        }

        &:last-child {
            .transaction-item-row-cell {
                padding-bottom: 24px;
            }
        }
    }

    .transaction-item-row-cell {
        .transaction-item-mobile-container {
            gap: 8px;

            img {
                width: 96px;
                height: 122px;
                object-fit: cover;
            }

            .transaction-item-mobile-info-container {
                width: 100%;
                .transaction-item-mobile-info-title {
                    margin-bottom: 4px;
                    color: $neutral-text;
                }
                .transaction-item-mobile-info-licence {
                    margin-bottom: 8px;
                    color: $neutral-tagline;
                }
                .transaction-item-mobile-info-licensee {
                    margin-bottom: 8px;
                    color: $neutral-disabled;
                }
                .transaction-item-mobile-info-date {
                    margin-bottom: 20px;
                    color: $neutral-disabled;
                }
                .transaction-item-mobile-info-money {
                    align-self: end;
                }
            }
        }
    }
}
</style>
