<template>
    <div class="container upload-list-container pt-10">
        <h3 class="mega-solution-h3">Upload list</h3>

        <div class="upload-list-container-menu-section mega-solution-horizontal-start">
            <div class="upload-list-container-menu-item mega-solution-horizontal-start pointer" :class="[selectedIndex===0?'active':'']" @click="selectIndex(0)">
                <div class="mega-solution-sub-heavy upload-list-container-menu-item-title">
                    Reels
                </div>
                <div class="mega-solution-body-light upload-list-container-menu-item-num">
                    {{basicInfo.reelCount}}
                </div>
            </div>
            <div class="upload-list-container-menu-item mega-solution-horizontal-start pointer" :class="[selectedIndex===1?'active':'']"  @click="selectIndex(1)">
                <div class="mega-solution-sub-heavy upload-list-container-menu-item-title">
                    Collections
                </div>
                <div class="mega-solution-body-light upload-list-container-menu-item-num">
                    {{basicInfo.collectionCount}}
                </div>
            </div>
        </div>
        <template v-if="selectedIndex == 0">

            <template v-if="basicInfo.reelCount > 0">
                <table v-if="!isMobile" class="table table-borderless content-table" >
                    <thead>
                    <tr>
                        <th scope="col" class="col-6 mega-solution-body-light content-table-th" >Video</th>
                        <th scope="col"  class="mega-solution-body-light content-table-th">Status</th>
                        <th scope="col" class="mega-solution-body-light content-table-th">Date</th>
                        <th scope="col" class="mega-solution-body-light content-table-th">Edit</th>
<!--                        <th scope="col" class="mega-solution-body-light content-table-th">Delete</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(reel, index) in reels.data" :key="index">

                        <td>
                            <a :href="'/reels/' + reel.url_handle" class="reel-link">
                                <div class="reel-info-container mega-solution-horizontal-start">
                                    <div class="reel-info-container-image-section-container">
                                        <img v-lazy="getImageByPath(reel.thumbnail)" alt="reel image" class="reel-info-container-image-section-image">
                                    </div>
                                    <div class="reel-info-container-detail-section">
                                        <div class="reel-info-container-detail-section-title mega-solution-body-heavy clamp-2">
                                            {{reel.title}}
                                        </div>
                                        <div class="mega-solution-cap-light reel-info-container-detail-section-description clamp-2">
                                            {{reel.description}}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class="mega-solution-cap-light">{{reel.status}}</td>
                        <td class="mega-solution-cap-light">{{formatDate(reel.created_at)}}</td>
                        <td @click.stop="">
                            <a :href="'/reels/edit/' + reel.url_handle">
                                <img :src="editImage" alt="edit" class="content-table-icon">
                            </a>
                        </td>
<!--                        <td>-->
<!--                            <img :src="deleteImage" alt="edit" class="content-table-icon">-->
<!--                        </td>-->
                    </tr>
                    </tbody>
                </table>
                <!-- If view is in mobile view -->
                <table v-else class="table table-borderless content-table">
                    <tbody>
                    <tr v-for="(reel, index) in reels.data" :key="index">
                        <td>
                                <div class="reel-info-container mega-solution-horizontal-start">
                                    <a :href="'/reels/' + reel.url_handle" class="reel-link">
                                        <div>
                                            <img v-lazy="getImageByPath(reel.thumbnail)" alt="reel image" class="reel-info-container-image-section-image">
                                        </div>
                                    </a>
                                    <div class="reel-info-container-detail-section">
                                        <div class="reel-info-container-detail-section-status">
                                            <div class="mega-solution-cap-light">
                                                {{reel.status}}
                                            </div>
                                            <div @click.stop="toggleEdit(index)" class="mega-solution-dots pointer">
                                                <span class="mega-solution-dot"></span>
                                                <span class="mega-solution-dot"></span>
                                                <span class="mega-solution-dot"></span>
                                            </div>

                                        </div>
                                        <transition name="fade">
                                            <div class="mega-solution-toggle-dropdown" v-show="index === activeIndex">
                                                <div @click.stop="">
                                                    <a :href="'/reels/edit/' + reel.url_handle">
                                                        Edit reel
                                                    </a>
                                                </div>

                                            </div>
                                        </transition>
                                        <div class="reel-info-container-detail-section-title mega-solution-body-heavy clamp-2">
                                            {{reel.title}}
                                        </div>
                                        <div class="mega-solution-cap-light reel-info-container-detail-section-description clamp-2">
                                            {{reel.description}}
                                        </div>
                                        <!-- <div @click.stop="">
                                            <a :href="'/reels/edit/' + reel.title">
                                                <img :src="editImage" alt="edit" class="content-table-icon">
                                            </a>
                                        </div>   -->
                                    </div>
                                </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </template>
            <template v-else>
                <content-reel-container-empty-status :show-button="true"/>
            </template>

            <div class="upload-list-container-pagination">
                <pagination :data="reels" :limit = "1" @pagination-change-page="getReels"></pagination>
            </div>
        </template>
        <template v-else>

            <template v-if="basicInfo.collectionCount > 0">
                <table v-if="!isMobile" class="table table-borderless content-table">
                    <thead>
                    <tr>
                        <th scope="col" class="col-6 mega-solution-body-light content-table-th" >Collection</th>
                        <th scope="col"  class="mega-solution-body-light content-table-th">Reel count</th>
                        <th scope="col"  class="mega-solution-body-light content-table-th">Status</th>
                        <th scope="col" class="mega-solution-body-light content-table-th">Date</th>
                        <th scope="col" class="mega-solution-body-light content-table-th">Edit</th>
                        <!--                        <th scope="col" class="mega-solution-body-light content-table-th">Delete</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(collection, index) in collections.data" :key="index">

                        <td>
                            <a :href="'/collections/' + collection.url_handle" class="collection-link">
                                <div class="reel-info-container mega-solution-horizontal-start">
                                    <div class="reel-info-container-image-section-container" v-if="collection.reel != null">
                                        <img v-lazy="getImageByPath(collection.reel.thumbnail)" alt="reel image" class="reel-info-container-image-section-image" >
                                    </div>

                                    <div v-else  class="reel-info-container-image-section-container">
                                        <img :src="collectionPlaceholder" alt="Collection image" class="reel-info-container-image-section-image-placeholder">
                                    </div>
                                    <div class="reel-info-container-detail-section">
                                        <div class="reel-info-container-detail-section-title mega-solution-body-heavy clamp-2">
                                            {{collection.title}}
                                        </div>
                                        <div class="mega-solution-cap-light reel-info-container-detail-section-description clamp-2">
                                            {{collection.description}}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class="mega-solution-cap-light"> {{collection.reelsCount}}</td>
                        <td class="mega-solution-cap-light">{{collection.status}}</td>
                        <td class="mega-solution-cap-light">{{formatDate(collection.created_at)}}</td>
                        <td @click.stop="">
                            <a :href="'/collections/edit/' + collection.url_handle">
                                <img :src="editImage" alt="edit" class="content-table-icon">
                            </a>
                        </td>
                        <!--                        <td>-->
                        <!--                            <img :src="deleteImage" alt="edit" class="content-table-icon">-->
                        <!--                        </td>-->
                    </tr>
                    </tbody>
                </table>
                <!-- If view is in mobile view -->
                <table v-else class="table table-borderless content-table">
                    <tbody>
                    <tr v-for="(collection, index) in collections.data" :key="index">
                        <td>
                                <div class="reel-info-container mega-solution-horizontal-start">
                                    <a :href="'/collections/' + collection.url_handle" class="collection-link">
                                        <div>
                                             <img v-lazy="getImageByPath(collection.reel.thumbnail)" alt="reel image" class="reel-info-container-image-section-image" v-if="collection.reel != null">
                                        </div>
                                    </a>
                                    <div class="reel-info-container-detail-section">
                                        <div class="reel-info-container-detail-section-status">
                                            <div class="mega-solution-cap-light">
                                                {{collection.status}}
                                            </div>
                                            <div @click.stop="toggleEdit(index)" class="mega-solution-dots pointer">
                                                <span class="mega-solution-dot"></span>
                                                <span class="mega-solution-dot"></span>
                                                <span class="mega-solution-dot"></span>
                                            </div>

                                        </div>
                                        <transition name="fade">
                                            <div class="mega-solution-toggle-dropdown" v-show="index === activeIndex">
                                                <div @click.stop="">
                                                    <a :href="'/collections/edit/' + collection.url_handle">
                                                        Edit
                                                    </a>
                                                </div>
<!--                                                <div>Delete</div>-->
                                            </div>
                                        </transition>
                                        <div class="reel-info-container-detail-section-title mega-solution-body-heavy clamp-2">
                                            {{collection.title}}
                                        </div>
                                        <div class="mega-solution-cap-light reel-info-container-detail-section-description clamp-2">
                                            {{collection.reelsCount + " reels"}}
                                        </div>
                                        <!-- <div @click.stop="">
                                            <a :href="'/reels/edit/' + reel.title">
                                                <img :src="editImage" alt="edit" class="content-table-icon">
                                            </a>
                                        </div>   -->
                                    </div>
                                </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </template>
            <template v-else>
                <content-collection-comtainer-empty-status :show-add-button="true"/>
            </template>
            <div class="upload-list-container-pagination">
                <pagination :data="collections" :limit = "1" @pagination-change-page="getCollections"></pagination>
            </div>

        </template>
    </div>
</template>

<script>
import ContentCollectionComtainerEmptyStatus
    from "../MegaSolutionProfileVideosComponent/ContentCollectionComtainerEmptyStatus";
import ContentReelContainerEmptyStatus from "../MegaSolutionProfileVideosComponent/ContentReelContainerEmptyStatus";
import moment from "moment"
export default {
    name: "MegaSolutionUploadListComponent.vue",
    components:{
        ContentCollectionComtainerEmptyStatus,
        ContentReelContainerEmptyStatus,

    },
    created() {

    },
    data(){
        return{
            reels:{},
            collections:{},
            selectedIndex:0,
            editImage:"",
            deleteImage:"",
            baseUrl:process.env.MIX_PUSHER_APP_URL,
            activeIndex: -1,
            isMobile: false,
            collectionPlaceholder:"",
        }
    },
    props:{
        basicInfo:{
            type:Object,
            default:null,
        }
    },
    mounted() {
        const windowWidth = window.innerWidth;
        if (windowWidth <= 576) {
            this.isMobile = true;
        } else {
            this.isMobile = false;
        }

        this.editImage = require("../../../icons/20210604/icons/24px/edit2.png").default
        this.deleteImage = require("../../../icons/20210604/icons/24px/bin.png").default
        this.collectionPlaceholder = require('../../../icons/20210815/icons/icons_collection_placeholder.png').default;
        this.getReels()
        this.getCollections()
    },
    methods:{
        selectIndex(index){
            if(this.selectedIndex !== index){
                this.selectedIndex = index;
                this.activeIndex = -1;
            }
        },
        getReels(reelPage){
            if (typeof reelPage === 'undefined') {
                reelPage = 1;
            }
            this.$http.get('/uploads/getUserUploadReels?page=' + reelPage)
                .then(response => {
                    return response.json();
                }).then(data => {

                this.reels = data;
            });

        },
        getCollections(collectionPage){
            if (typeof collectionPage === 'undefined') {
                collectionPage = 1;
            }
            this.$http.get('/uploads/getUserUploadCollections?page=' + collectionPage)
                .then(response => {
                    return response.json();
                }).then(data => {

                this.collections = data;
            });

        },
        formatDate(time){
            return moment(time).format("MMM DD YYYY");
        },
        getImageByPath(imagePath){
            return `/storage/${imagePath}`
        },
        toggleEdit(index){
            // If activeIndex equals to index, it means the toggle is already open and it should be closed.
            // If activeIndex !== index, activeIndex should be changed to the index.
            this.activeIndex = this.activeIndex === index ? -1 : index;
        },

    }

}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.upload-list-container{
    padding-bottom: 72px;
    .upload-list-container-menu-section{
        gap: 64px;
        margin-top: 48px;
        .upload-list-container-menu-item{
            gap: 8px;
            padding-bottom: 8px;
            border-bottom: 1px solid transparent;
            &.active{
                border-bottom: 1px solid $neutral-text;
                .upload-list-container-menu-item-title{
                    color: $neutral-text;
                }
            }
            .upload-list-container-menu-item-title{
                color: $neutral-tagline;
            }
            .upload-list-container-menu-item-num{
                color: $neutral-tagline;
            }
        }
    }

    .content-table{
        margin-top: 64px;
        .content-table-th{
            color: $neutral-tagline;
        }
        .content-table-icon{
            width:24px;
            height: 24px;
        }
        .reel-link:hover{
            text-decoration: unset;
        }
        .collection-link:hover{
            text-decoration: unset;
        }

        .reel-info-container
        {
            //max-width: 50%;
            gap: 12px;
            text-decoration: unset !important;

            .reel-info-container-image-section-container{
                width: 106px;
                height: 60px;
                .reel-info-container-image-section-image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .reel-info-container-image-section-image-placeholder{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .reel-info-container-image-section-image{
                width: 106px;
                height: 60px;
                object-fit: cover;
            }
            .reel-info-container-detail-section{
                flex: 1;
                .reel-info-container-detail-section-title{

                }
                .reel-info-container-detail-section-description{
                    color : $neutral-tagline;
                    margin-top:8px;
                }
            }

        }
        tr{
            padding-top: 32px;
            padding-bottom: 32px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
        td{
            vertical-align: middle;

        }

        .reel-info-container-detail-section {

        }

    }

    .upload-list-container-pagination{
        display: flex;
        justify-content: flex-end;
        margin-top: 48px;
    }
}

@media only screen and (max-width: 576px) {

  .upload-list-container {
    .mega-solution-h3 {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      letter-spacing: -0.5px;
    }

    &-item-title {
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      letter-spacing: -0.15px;
      text-align: center;
    }

    .upload-list-container-menu-section {
        margin-top: 16px;
    }

    .content-table {
      margin-top: 8px;

      thead {
          display: none;
      }


        /* tr {
            padding-top: 47px;
        padding-bottom: 47px;
        } */

        td {
            padding: 24px 0;
        }

        .reel-info-container {
            display: flex;
            position: relative;
            flex-direction: row;
            gap: 8px;

            .mega-solution-toggle-dropdown {
                position: absolute;
                width: 126px;
                height: 104px;
                top: 32px;
                right: 0px;
                background-color: $neutral-bg3;
                z-index: 9;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                > div {
                    position: relative;
                    width: 100%;
                    padding: 16px 24px;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;
                    letter-spacing: -0.1px;
                    color: #FAFAFAB2;

                    &:first-child::after {
                        content: "";
                        background: rgba(255, 255, 255, 0.1);
                        display: block;
                        top: 52px;
                        height: 1px;
                        left: 50%;
                        position:absolute;
                        transform: translate(-50%,0);
                        width: 78px;
                    }

                    a {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 400;
                        letter-spacing: -0.1px;
                        color: #FAFAFAB2;
                    }
                }
            }

            .reel-info-container-detail-section {
                width: 100%;
                height: 70px;
            }

            .reel-info-container-image-section-container{
                width: 70px;
                height: 70px;
            }

            .reel-info-container-image-section-image {
                width: 70px;
                height: 70px;
            }

            .reel-info-container-detail-section-status {
                height: 14px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 9px;

                 .mega-solution-cap-light {
                    text-transform: capitalize;
                    font-size: 12px;
                    line-height: 14px;
                    align-items: center;
                    letter-spacing: -0.1px;
                    color: $neutral-disabled;

                }

                .mega-solution-dot {
                    height: 4px;
                    width: 4px;
                    background-color: $neutral-disabled;
                    border-radius: 50%;
                    display: inline-block;
                }
            }

            .reel-info-container-detail-section-title {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.15px;
                color: $neutral-text;
                margin-bottom: 4px;
            }

            .reel-info-container-detail-section-description {
                //styleName: Caption/light;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: -0.1px;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
                // TODO: change width.
                width: 250px;
            }
        }

    }

  }
}

</style>
