<template>
    <div class="container-fluid mt-2 p-0">

        <h3 class="category-title mega-solution-h3 pb-3 pt-5">Reels and Collections</h3>

        <div class="home-page-grid" v-for="(items, index) in pages" :key="`items-${index}`">
            <template v-for="(item,index2) in items">
                <template v-if="item.type === 'reel'">
                    <ReelCell :class="[showGrid?'item-'+index2%pageSize:''] " :reel="item"></ReelCell>
                </template>
                <template v-else-if="item.type === 'collection'">
                    <CollectionCell :class="[showGrid?'item-'+index2%pageSize:''] " :collection="item"></CollectionCell>
                </template>
                <template v-else>
                    <CreatorCell :class="[showGrid?'item-'+index2%pageSize:''] " :creator="item"></CreatorCell>
                </template>
            </template>
        </div>
        <!--        <div class="row" v-for="page in pages">-->
        <!--            <div class="col">-->

        <!--                &lt;!&ndash;row 1&ndash;&gt;-->
        <!--                <div class="row">-->
        <!--                    <div class="col-4" :style="{height: `${x1}px`}">-->
        <!--                        &lt;!&ndash;todo creator[0]&ndash;&gt;-->
        <!--                        <p style="color: white">todo creator[0]</p>-->
        <!--                    </div>-->
        <!--                    <div class="col-8" :style="{height: `${x1}px`}">-->
        <!--                        <reel-cell v-if="page.reels[0]" :reel="page.reels[0]"></reel-cell>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                &lt;!&ndash;row 2&ndash;&gt;-->
        <!--                <div class="row">-->
        <!--                    <div class="col-8" :style="{height: `${x2}px`}">-->
        <!--                        <collection-cell :collection="page.collections[0]"></collection-cell>-->
        <!--                    </div>-->
        <!--                    <div class="col-4">-->
        <!--                        <div class="row">-->
        <!--                            <div class="col-12" :style="{height: `${x1}px`}">-->
        <!--                                <reel-cell v-if="page.reels[1]" :reel="page.reels[1]"></reel-cell>-->
        <!--                            </div>-->
        <!--                            <div class="col-12" :style="{height: `${x1}px`}">-->
        <!--                                <reel-cell v-if="page.reels[2]" :reel="page.reels[2]"></reel-cell>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                &lt;!&ndash;row 3&ndash;&gt;-->
        <!--                <div class="row">-->
        <!--                    <div class="col-4" :style="{height: `${x2}px`}">-->
        <!--                        <reel-cell v-if="page.reels[3]" :reel="page.reels[3]"></reel-cell>-->
        <!--                    </div>-->
        <!--                    <div class="col-8">-->
        <!--                        <div class="row">-->
        <!--                            <div class="col-6" :style="{height: `${x1}px`}">-->
        <!--                                <reel-cell v-if="page.reels[4]" :reel="page.reels[4]"></reel-cell>-->
        <!--                            </div>-->
        <!--                            <div class="col-6" :style="{height: `${x1}px`}">-->
        <!--                                <reel-cell v-if="page.reels[5]" :reel="page.reels[5]"></reel-cell>-->
        <!--                            </div>-->
        <!--                            <div class="col-6" :style="{height: `${x1}px`}">-->
        <!--                                <reel-cell v-if="page.reels[6]" :reel="page.reels[6]"></reel-cell>-->
        <!--                            </div>-->
        <!--                            <div class="col-6" :style="{height: `${x1}px`}">-->
        <!--                                <reel-cell v-if="page.reels[7]" :reel="page.reels[7]"></reel-cell>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                &lt;!&ndash;row 4&ndash;&gt;-->
        <!--                <div class="row" v-for="page in pages">-->
        <!--                    <div class="col-8" :style="{height: `${x1}px`}">-->
        <!--                        <reel-cell v-if="page.reels[8]" :reel="page.reels[8]"></reel-cell>-->
        <!--                    </div>-->
        <!--                    <div class="col-4" :style="{height: `${x1}px`}">-->
        <!--                        &lt;!&ndash;todo creator[1]&ndash;&gt;-->
        <!--                        <p style="color: white">todo creator[1]</p>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                &lt;!&ndash;row 5&ndash;&gt;-->
        <!--                <div class="row">-->
        <!--                    <div class="col-4">-->
        <!--                        <div class="row">-->
        <!--                            <div class="col-12" :style="{height: `${x1}px`}">-->
        <!--                                <reel-cell v-if="page.reels[9]" :reel="page.reels[9]"></reel-cell>-->
        <!--                            </div>-->
        <!--                            <div class="col-12" :style="{height: `${x1}px`}">-->
        <!--                                <reel-cell v-if="page.reels[10]" :reel="page.reels[10]"></reel-cell>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="col-8" :style="{height: `${x2}px`}">-->
        <!--                        <collection-cell :collection="page.collections[1]"></collection-cell>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                &lt;!&ndash;row 6&ndash;&gt;-->
        <!--                <div class="row">-->
        <!--                    <div class="col-8">-->
        <!--                        <div class="row">-->
        <!--                            <div class="col-6" :style="{height: `${x1}px`}">-->
        <!--                                <reel-cell v-if="page.reels[11]" :reel="page.reels[11]"></reel-cell>-->
        <!--                            </div>-->
        <!--                            <div class="col-6" :style="{height: `${x1}px`}">-->
        <!--                                <reel-cell v-if="page.reels[12]" :reel="page.reels[12]"></reel-cell>-->
        <!--                            </div>-->
        <!--                            <div class="col-6" :style="{height: `${x1}px`}">-->
        <!--                                <reel-cell v-if="page.reels[13]" :reel="page.reels[13]"></reel-cell>-->
        <!--                            </div>-->
        <!--                            <div class="col-6" :style="{height: `${x1}px`}">-->
        <!--                                <reel-cell v-if="page.reels[14]" :reel="page.reels[14]"></reel-cell>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="col-4" :style="{height: `${x2}px`}">-->
        <!--                        <reel-cell v-if="page.reels[15]" :reel="page.reels[15]"></reel-cell>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--            </div>-->
        <!--        </div>-->

        <div class="container-fluid mega-solution-horizontal-center" v-if="loading">

            <div class="ring-container ">
                <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
            </div>
        </div>

        <template v-if="loaded">
            <MegaSolutionLoadedComponent :show-other-reels="false"></MegaSolutionLoadedComponent>
        </template>

    </div>
</template>

<script>
// import ReelCell from '../MegaSolutionDisplayReelCellComponent/MegaSolutionDisplayReelCellComponent';
import ReelCell from '../MegaSolutionEcoReelCellComponent/MegaSolutionEcoReelCellComponent';
// import CollectionCell from '../MegaSolutionCollectionDisplayCell/MegaSolutionCollectionDisplayCell';
import CollectionCell from '../MegaSolutionEcoCollectionDisplayCell/MegaSolutionEcoCollectionDisplayCell';
import CreatorCell from '../MegaSolutionCreatorsCellComponent/MegaSolutionCreatorsCellComponent'
import MegaSolutionLoadedComponent from "../MegaSolutionLoadedComponent/MegaSolutionLoadedComponent";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";

export default {
    name: 'MegaSolutionHomeItemGrid',
    components: {
        ReelCell,
        CollectionCell,
        CreatorCell,
        MegaSolutionLoadedComponent,
        MegaSolutionLoaddingComponent
    },
    data() {
        return {
            pageIndex: 1,
            pageSeed: "",
            pageSize: 34,
            showGrid: true,
            data: [],
            pages: [],
            loading: false,
            loaded: false
        };
    },
    mounted() {
        this.calculatePageSize()
        this.scroll()
        this.getData();
    },
    methods: {
        calculatePageSize() {
            const windowWidth = window.innerWidth;
            if (windowWidth < 1025) {
                this.pageSize = 20
            }

            if (windowWidth < 576) {
                this.showGrid = false
            }
        },
        getData() {
            let that = this;
            if (that.loaded) {

            } else {
                if (this.loading === false) {
                    this.loading = true
                    axios.get('/home/getItemByPage', {
                        params: {
                            pageIndex: this.pageIndex,
                            pageSeed: this.pageSeed,
                        },
                        headers: {
                            'Accept': 'application/json'
                        }
                    }).then(res => {

                            if (res.status === 200) {
                                let temp = res.data.response.data;

                                if (temp.length <= 0) {
                                    that.loaded = true
                                } else {
                                    that.pageIndex++;
                                }
                                that.data = that.data.concat(temp)
                                that.loading = false
                                that.updatePagesByData()
                            }
                        }
                    ).catch(err => {
                        console.error(err);
                    });
                }

            }
        },
        scroll() {
            window.onscroll = () => {
                let left = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight;
                let right = document.documentElement.offsetHeight - 350;
                let bottomOfWindow = (left >= right);
                let top = document.scrollingElement.scrollTop;
                if (this.oldTop <= top && bottomOfWindow) {
                    // console.log('down')
                    this.getData()
                }
                this.oldTop = JSON.parse(JSON.stringify(top));
            }
        },

        updatePagesByData() {
            var chunks = [], i = 0, n = this.data.length;
            while (i < n) {
                chunks.push(this.data.slice(i, i += this.pageSize));
            }
            this.pages = chunks
        }

    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.home-page-grid {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    //grid-auto-rows: minmax(400px, auto);/**/
    grid-gap: 16px;
}


.ring-container {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 240px;
    height: 240px;
}

@media screen and (max-width: 576px) {
    .home-page-grid {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;

        .item-0 {
            //grid-column: 0/1 !important;
            //grid-row: 0/1;
        }

        .item-1 {
            grid-column: 2/4;
            padding-top: 50%;
        }

        .item-2 {
            grid-column: 1/3;
            grid-row: 2/4;
        }

        .item-3 {
        }

        .item-4 {
        }

        .item-5 {
            //grid-row: 4/6;
        }

        .item-6 {
            grid-column: 1/2;
            grid-row: 4/6;
        }

        .item-7 {
        }

        .item-8 {
        }

        .item-9 {
        }

        .item-10 {
            grid-column: 1/3;
            padding-top: 50%;
        }

        .item-11 {
            //grid-column: 2/4;
            //padding-top: 50%;
        }

        .item-12 {
        }

        .item-13 {
            grid-column: 2/4;
            grid-row: 7/9;
        }

        .item-14 {
        }

        .item-15 {
            //grid-column: 3/5;
            //padding-top: 50%;
        }

        .item-16 {
        }

        .item-17 {
            //grid-column: 1/3;
            //padding-top: 50%;
            //grid-row: 9/11;
            //grid-column: 3/4 ;
        }

        .item-18 {
            grid-column: 3/4;
            grid-row: 9/11;
        }

        .item-19 {
            //grid-column: 4/6;
            //grid-row: 6/8;
        }

        .item-20 {
        }
    }

}

@media screen and (max-width: 1025px) {
    .home-page-grid {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        //grid-auto-rows: minmax(400px, auto);/**/

        .item-0 {
            //grid-column: 0/1 !important;
            //grid-row: 0/1;
        }

        .item-1 {
            grid-column: 2/4;
            padding-top: 50%;
        }

        .item-2 {
            grid-column: 1/3;
            grid-row: 2/4;
        }

        .item-3 {
        }

        .item-4 {
        }

        .item-5 {
            //grid-row: 4/6;
        }

        .item-6 {
            grid-column: 1/2;
            grid-row: 4/6;
        }

        .item-7 {
        }

        .item-8 {
        }

        .item-9 {
        }

        .item-10 {
            grid-column: 1/3;
            padding-top: 50%;
        }

        .item-11 {
            //grid-column: 2/4;
            //padding-top: 50%;
        }

        .item-12 {
        }

        .item-13 {
            grid-column: 2/4;
            grid-row: 7/9;
        }

        .item-14 {
        }

        .item-15 {
            //grid-column: 3/5;
            //padding-top: 50%;
        }

        .item-16 {
        }

        .item-17 {
            //grid-column: 1/3;
            //padding-top: 50%;
            //grid-row: 9/11;
            //grid-column: 3/4 ;
        }

        .item-18 {
            grid-column: 3/4;
            grid-row: 9/11;
        }

        .item-19 {
            //grid-column: 4/6;
            //grid-row: 6/8;
        }

        .item-20 {
        }


    }

}

@media screen and (min-width: 1025px) {
    .home-page-grid {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        //grid-auto-rows: minmax(400px, auto);/**/
        grid-gap: 16px;

        .item-0 {

            grid-column: 1/3;
            grid-row: 1/3;
        }

        .item-1 {
            //grid-column: 2/4;
            //padding-top: 50%;
        }

        .item-2 {
            grid-column: 4/6;
            padding-top: 50%;
            //grid-row: 1/2;
        }

        .item-3 {
        }

        .item-4 {
        }

        .item-5 {
            //grid-row: 4/6;
        }

        .item-6 {
            grid-column: 1/3;
            padding-top: 50%;
        }

        .item-7 {
        }

        .item-8 {
        }

        .item-9 {
        }

        .item-10 {
            grid-row: 4/6;
            //grid-column: 1/3;
            //padding-top: 50%;
        }

        .item-11 {
            grid-column: 2/4;
            padding-top: 50%;
        }

        .item-12 {
        }

        .item-13 {
            //grid-column: 2/4;
            //grid-row: 7/9;
        }

        .item-14 {
        }

        .item-15 {
            grid-column: 3/5;
            padding-top: 50%;
        }

        .item-16 {
        }

        .item-17 {
            grid-column: 1/3;
            padding-top: 50%;
            //grid-row: 9/11;
            //grid-column: 3/4 ;
        }

        .item-18 {
        }

        .item-19 {
            grid-column: 4/6;
            grid-row: 6/8;
        }

        .item-20 {
        }

        .item-21 {
        }

        .item-22 {
        }

        .item-23 {
        }

        .item-24 {
        }

        .item-25 {
        }

        .item-26 {
            grid-column: 4/6;
            padding-top: 50%;
        }

        .item-27 {
        }

        .item-28 {
        }

        .item-29 {
            grid-column: 3/5;
            padding-top: 50%;
        }

        .item-30 {
            grid-column: 5/6;
            grid-row: 9/11;
        }

        .item-31 {
        }

        .item-32 {
            grid-column: 2/4;
            padding-top: 50%;
        }

        .item-33 {
        }
    }
}
</style>
