<template>
    <div>
        <b-carousel
            class="banner-carousel"
            v-model="selectedBannerIndex"
            :interval="10000"
            :controls="false"
            :indicators="true"
            :no-hover-pause="true"
        >
            <b-carousel-slide
                v-for="banner in banners"
                :key="banner.id"
                class="banner-slide"

            >
                <template #img>
                    <img class="d-block img-fluid w-100 opacity"
                         :style="{height: containerHeight
                         , objectFit: 'cover'}"
                         :src="`/storage/${banner.image_path}`"/>
                </template>
                <div class="mega-solution-carousel mega-solution-vertical-start" v-if="!isMobile">
                    <h1 class="mega-solution-d1">{{banner.title}}</h1>
                    <div class="mega-solution-sub-light text-left">{{banner.sub_title}}</div>
                    <button class="explore-btn creatr-primary-button-regular mega-solution-body-heavy" @click="() => explore(banner)">{{banner.button_text}}</button>
                </div>

            </b-carousel-slide>
        </b-carousel>

        <template v-if="banners!= null && banners.length > 0&&isMobile">
            <div class="mega-solution-vertical-center mega-solution-h4 mobile-banner-container">
                <h1 class="mega-solution-d1 text-center">{{banners[selectedBannerIndex].title}}</h1>
                <div class="mega-solution-sub-light text-center">{{banners[selectedBannerIndex].sub_title}}</div>
                <button class="explore-btn creatr-primary-button-regular mega-solution-body-heavy" @click="() => explore(banners[selectedBannerIndex])">Explore</button>

            </div>
        </template>


        <div class="home-section-container">
            <div>
                <div class="mega-solution-horizontal-center justify-content-between">
                    <h3 class="category-title mega-solution-h3">Categories</h3>

                    <div class="category-options">
                        <a href="/categories" class="mega-solution-body-light viewall">View All</a>
                    </div>

                </div>

                <div class="category-container mega-solution-horizontal-start">
                    <div class="category-item " v-for="(category,index) in categories" :key="index">
                            <a :href="'/categories/'+ category.name" class="mega-solution-horizontal-start">
                                <div class="category-image-holder">
                                    <img class="category-image" :src="`/storage/${category.image_path}`"/>
                                </div>

                                <h4 class="category-name mega-solution-body-heavy">{{ category.name }}</h4>
                            </a>
                    </div>

                </div>


            </div>

            <div class="popular-creator-section" v-if="creators.length > 0">
                <div class="mega-solution-horizontal-center justify-content-between">
                    <h3 class="section-title mega-solution-h3">Popular Creators</h3>

                    <div class="section-options">
                        <a href="/creators" class="mega-solution-body-light viewall">View All</a>
                    </div>
                </div>

                <swiper class="category-swiper" :options="categorySwiperOption" id="home-swiper">
                    <swiper-slide
                        v-for="creator in creators"
                        :key="creator.id"
                    >
                        <a :href="'/hq/'+ creator.name">
                            <div class="creator-container mega-solution-vertical-center">
                                <div class="creator-image-container">
                                    <img :src="'/storage/'+creator.avatar" alt="avatar" class="creator-image">
                                </div>
                                <div class="creaor-name mega-solution-body-heavy">{{creator.profile.user_name}}</div>
                                <div class="creaor-handle mega-solution-cap-light">@{{creator.name}}</div>
                            </div>

                        </a>


                    </swiper-slide>

                </swiper>


            </div>

            <home-item-grid class="mt-5"></home-item-grid>
        </div>
    </div>
</template>

<script>
import HomeItemGrid from './MegaSolutionHomeItemGrid';
import { isMobile, isTablet } from 'mobile-device-detect';

export default {
    name: 'MegaSolutionHomeComponent',
    components: {
        HomeItemGrid,
    },
    data() {
        return {
            containerHeight: null,
            banners: null,
            categories: null,
            creators:[],
            categoryButtonLeftImage:"",
            categoryButtonRightImage:"",
            categorySwiperOption: {
                slidesPerView: 5,
                spaceBetween: 20,
                slidesPerGroup: 2,


                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
                breakpoints: {
                    1920:{
                        slidesPerView: 8,
                        spaceBetween: 20
                    },
                    1440:{
                        slidesPerView: 7,
                        spaceBetween: 10
                    },
                    1320:{
                        slidesPerView: 7,
                        spaceBetween: 5,
                    },
                    1024:{
                        slidesPerView: 5,
                        spaceBetween: 20
                    },
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    },
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20
                    },
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    180:{
                        slidesPerView: 1,
                        spaceBetween: 10
                    }
                }
            },
            isMobile:false,
            selectedBannerIndex:0
        };
    },
    created() {
        const windowHeight = window.innerHeight - 100;
        const windowWidth = window.innerWidth;

        if(windowWidth <= 576){
            this.containerHeight = `350px`;
            this.isMobile = true
        }else if(windowWidth <= 768){
            this.containerHeight = `350px`;
        } else if(windowWidth <= 1024){
            this.containerHeight = `600px`;
        }else{
            this.containerHeight = `${windowHeight}px`;
        }

        this.categoryButtonLeftImage = require("../../../icons/20210604/icons/32px/backward_default.png").default;
        this.categoryButtonRightImage = require("../../../icons/20210604/icons/32px/forward_default.png").default;
        this.getData();


    },
    methods: {
        getData() {
            axios.get('/banners').then(response => {
                this.banners = response.data.banners;
            }).catch(function (err) {
                console.error(err);
            });

            axios.get('/categories/getCategories').then(res => {
                this.categories = res.data.response.categories;
            }).catch(function (err) {
                console.error(err);
            });

            axios.get('/home/getPopularCreators').then(res=>{
                this.creators = res.data.response.creators
            }).catch(function(err){
                console.error(err);
            });
        },
        explore(banner) {
            window.location = banner.redirect_path;
        },
        slidePrevious(){
            let swiper = document.getElementById('home-swiper').swiper
            swiper.slidePrev()
        },
        slideNext(){
            let swiper = document.getElementById('home-swiper').swiper
            swiper.slideNext()
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.banner-carousel ::v-deep .carousel-caption {
    top: 25%;
    bottom: auto;
    left: 60px;
    right: auto;
    width: 50%;
    max-height: 768px !important;
    .mega-solution-d1 {
        text-align: left;
    }

    p {
        font-size: 1vw;
    }
}

.explore-btn {
    margin-top: 2vw;
}

.category-title {
    color: $neutral-text;
    font-size: $font-size-h3;
}

.category-swiper .swiper-slide{
    overflow: hidden;

}

.category-swiper ::v-deep .category-image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .2s
}

.category-swiper ::v-deep .category-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $overlay-solid;
}

.category-swiper ::v-deep .category-name {
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: $neutral-text;
    font-size: 24px;
}

.category-swiper ::v-deep .creator-container {
    height: 100%;

    &:hover{
        .creator-image-container{
            .creator-image{
                transform: scale(1.2);
                transition: transform .2s
            }
        }
    }

    .creator-image-container{
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        clip-path: border-box;
        .creator-image{
            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: transform .2s
        }
    }
    .creaor-name{
        margin-top: 12px;
    }
    .creaor-handle{
        margin-top: 4px;
        color: $neutral-tagline;
    }
}

.opacity{
    opacity: 0.8;
}
.category-options{
    .category-options-icon{
        width: 32px;
        height: 32px;
    }
    .viewall{
        color: $neutral-tagline;
        margin-left: 16px;
    }
}

.home-section-container{
    padding: 60px;
    .category-container{
        flex-wrap: wrap;
        gap: 18px;
        margin-top: 24px;
        .category-item{
            background-color: $category-item-background-color;
            border-radius: 8px;
            padding: 4px 24px 4px 4px;

            &:hover{
                .category-image-holder{
                    .category-image{
                        transform: scale(1.2);
                        transition: transform .2s
                    }
                }
            }
            .category-image-holder{
                width: 48px;
                height: 48px;
                overflow: hidden;
                border-radius: 8px;
                clip-path: border-box;
                .category-image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                    clip-path: border-box;
                    transition: transform .2s
                }
            }

            .category-name{
                margin-left: 16px;
                color: $bg_white;
                margin-bottom: unset;
            }
        }

    }

    .popular-creator-section{
        margin-top: 96px;
    }
}


@media screen and (min-width: 1440px) {
    .banner-carousel ::v-deep .carousel-caption{
        top: 20%;
        width: 65%;
    }
}

@media screen and (min-width: 1024px ) {
    .banner-carousel ::v-deep .carousel-caption{
        top: 32%;
        width: 65%;
    }
}

@media screen and (max-width: 576px){
    .banner-carousel ::v-deep .carousel-caption{
        top: 15%;
        left: 6%;
        width: 60%;
    }

    .home-section-container{
        padding: 16px;
    }
    //.category-swiper{
    //    height: 96px !important;
    //}
    .category-options{
        .category-options-icon{
            display: none;
        }

    }
}
.category-swiper{
    height: 250px;
    margin-top: 24px;
}

.mobile-banner-container{
    margin-top: 24px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

</style>
