<template>
    <div class="container-fluid pl-1">
        <button @click="signUp()" class="creatr-secondary-button-regular mega-solution-body-heavy mega-solution-horizontal-center">Log in</button>

        <div v-if="showSignUpView">
            <sign-up-view @hideSignUpView = "hideSignUpView" initial-mode="LOGIN"></sign-up-view>
        </div>
    </div>
</template>

<script>
import signUpView from "../MegaSolutionRegisterComponent/MegaSolutionSignUpView";
export default {
    name: "MegaSolutionLoginComponent.vue",
    data(){
        return{
            showSignUpView:false,
        }
    },
    components:{
        signUpView
    },

    methods:{
        signUp(){
            this.showSignUpView = true
        },
        hideSignUpView(){
            this.showSignUpView = false
        }
    }
}
</script>
<style lang="scss" scoped>
@import "resources/sass/app.scss";
//.signup-btn{
//    background: $primary-4;
//    padding: 8px 16px;
//    border: unset;
//    border-radius: 8px;
//    color: $neutral-text;
//}



</style>
