<template>
    <div class="reel-cell">
        <a :href="'/reels/'+ reel.url_handle">
            <div class="reel-cell-thumbnail-container">
                <img v-lazy="getImage(reel.thumbnail)" alt="thumbnail" class="reel-cell-thumbnail">
                <img v-lazy="getImage(reel.preview === ''?reel.thumbnail:reel.preview)" alt="thumbnail" class="reel-cell-preview">
            </div>
            <div class="reel-cell-detail-section mega-solution-vertical-start">
                <div class="clamp full-width">
                    <h3 class="mega-solution-sub-heavy reel-cell-detail-section-title clamp">
                        {{reel.creator}}
                    </h3>
                </div>

                <div class="reel-cell-detail-section-body-section mega-solution-vertical-start justify-content-end">

                    <div class="reel-cell-detail-section-body-tags-section mega-solution-horizontal-start">
                        <div class="reel-cell-detail-section-body-tags-section-tag clamp" v-for="(item,index) in headTags" :key="index">
                            <a class="mega-solution-cap-light reel-cell-detail-section-body-tags-section-tag-link" :href="'/tags/' + item.name">#{{item.name}}</a>
                        </div>
                    </div>

                    <div class="clamp mega-solution-body-heavy reel-cell-detail-section-body-section-title">{{reel.title}}</div>
                    <div class="reel-cell-detail-section-metrics mega-solution-horizontal-start">

                        <div class="reel-cell-detail-section-metric-container">
                            <img :src="viewIcon" alt="views" class="reel-cell-detail-section-metric-container-icon">
                            <div class = "mega-solution-footer-light">{{formatViews(reel.views)}}</div>
                        </div>

                        <div class="reel-cell-detail-section-metric-container">
                            <img :src="likeIcon" alt="views" class="reel-cell-detail-section-metric-container-icon">
                            <div class = "mega-solution-footer-light">{{formatViews(reel.likes)}}</div>
                        </div>
                        <div class="reel-cell-detail-section-metric-container">
                            <img :src="commentIcon" alt="views" class="reel-cell-detail-section-metric-container-icon">
                            <div class = "mega-solution-footer-light">{{formatViews(reel.comments)}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</template>

<script>
import helper from "../../helper";

export default {
    name: "MegaSolutionDisplayReelCellComponent.vue",
    props:{
        reel:{
            type:Object,
            default:null,
        }
    },
    data(){
        return{
            baseUrl:process.env.MIX_PUSHER_APP_URL,
            viewIcon:"",
            likeIcon:"",
            commentIcon:"",
        }
    },
    computed:{
      headTags(){
          if(this.reel.tags != null){
              switch (this.reel.tags.length){
                  case 0:
                      return []
                  case 1:
                      return this.reel.tags
                  case 2:
                      return this.reel.tags
                  case 3:
                      return this.reel.tags
                  default:
                      return this.reel.tags.slice(0,3)
              }
          }else{
              return []
          }

      }
    },
    mounted() {
        this.viewIcon = require('../../../icons/20210604/icons/16px/view_outlined.png').default
        this.likeIcon = require('../../../icons/20210604/icons/16px/heart_outlined_lighter.png').default
        this.commentIcon = require('../../../icons/20210604/icons/16px/message_outlined.png').default
    },
    methods:{
        getImage(imagePath){
            return `/storage/${imagePath}`
        },
        formatViews(num){
            return helper.formatViews( parseInt(num))
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.reel-cell{
    width:100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
    &:hover{
        .reel-cell-detail-section{
            .reel-cell-detail-section-body-section{
                .reel-cell-detail-section-body-tags-section{
                    width: 100%;
                    display: flex;
                }
                .reel-cell-detail-section-body-section-title{
                    display: flex;
                    width: 100%;
                }
                .reel-cell-detail-section-metrics{
                    display: flex;
                }
            }
        }
        .reel-cell-thumbnail-container{
            .reel-cell-thumbnail{
                opacity: 0;
                transition: all 1s ease-in-out;
            }
            .reel-cell-preview{
                opacity: 1;
                transition: all 1s ease-in-out;
            }
        }
    }

    .reel-cell-thumbnail-container{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        .reel-cell-thumbnail{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: all 1s ease-in-out;
        }
        .reel-cell-preview{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 1s ease-in-out;
        }
    }

    .reel-cell-detail-section{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $overlay-solid;
        padding: 24px 24px 16px 24px;

        .reel-cell-detail-section-body-section{
            width: 100%;
            flex: 1;

            .reel-cell-detail-section-body-tags-section{
                gap: 12px;
                flex-wrap: wrap;
                display: none;
                width: 100%;
                .reel-cell-detail-section-body-tags-section-tag{
                    border: 1px solid $neutral-text;
                    border-radius: 4px;
                    padding: 2px 4px;
                    .reel-cell-detail-section-body-tags-section-tag-link{
                        color: $neutral-text;
                    }
                }

            }

            .reel-cell-detail-section-body-section-title{
                margin-top: 4px;
                display: none;
            }
            .reel-cell-detail-section-metrics{
                margin-top: 8px;
                gap: 9px;
                display: none;
                .reel-cell-detail-section-metric-container{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .reel-cell-detail-section-metric-container-icon{
                        width: 16px;
                        height: 16px;
                    }
                    .mega-solution-footer-light{
                        //color: $neutral-tagline;
                        margin-left: 2px;
                    }
                }
            }
        }

    }
}

</style>
