<template>
  <div class="container-fluid categories-container px-5">
    <div class="top-categories-container">
      <h3 class="mega-solution-h3">Top categories</h3>
      <swiper
        class="swiper top-categories-container-swiper"
        :options="swiperOptionThumbs"
        ref="swiperThumbs"
      >
        <swiper-slide
          class="category-slide"
          v-for="(category, index) in topCategories"
          :key="index"
        >
          <div class="category-detail">
            <div class="category-detail-background">
              <img
                :src="getImage(category.image_path)"
                :alt="category.name"
                class="category-detail-background-image"
              />
            </div>
            <a :href="'/categories/' + category.name">
              <div
                class="category-detail-content mega-solution-horizontal-start align-items-end"
              >
                <h4 class="mega-solution-h4 clamp">{{ category.name }}</h4>
              </div>
            </a>
          </div>
        </swiper-slide>
      </swiper>
    </div>

    <div class="all-categories-container">
      <h3 class="mega-solution-h3">All categories</h3>

      <div class="all-categories-grid-container">
        <template
          class="all-categories-grid-container-cell"
          v-for="(category, index) in categories"
        >
          <MegaSolutionCategoryCellComponent
            :category="category"
            :key="index"
          ></MegaSolutionCategoryCellComponent>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import MegaSolutionCategoryCellComponent from "../MegaSolutionCategoryCellComponent/MegaSolutionCategoryCellComponent";
export default {
  name: "MegaSolutionCategoriesListComponent.vue",
  components: {
    MegaSolutionCategoryCellComponent
  },
  data() {
    return {
      swiperOptionThumbs: {
        slidesPerView: 5,
        spaceBetween: 10,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        breakpoints: {
          1920: {
            slidesPerView: 6,
            spaceBetween: 20
          },
          1440: {
            slidesPerView: 5,
            spaceBetween: 20
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 20
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 20
          },
          640: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          320: {
            slidesPerView: 2,
            spaceBetween: 10
          },
          180: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      },
      baseUrl: process.env.MIX_PUSHER_APP_URL
    };
  },
  props: {
    topCategories: {
      type: Array,
      default: []
    },
    categories: {
      type: Array,
      default: []
    }
  },
  mounted() {
    //console.log(this.topCategories);
  },
  methods: {
    getImage(imagePath) {
      return `/storage/${imagePath}`;
    }
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.top-categories-container {
  margin-top: 48px;
  .top-categories-container-swiper {
    margin-top: 24px;
    .category-detail {
      height: 120px;
      &:hover {
        .category-detail-background {
          .category-detail-background-image {
            transform: scale(1.2);
            transition: transform 0.2s;
          }
        }
      }
      .category-detail-background {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .category-detail-background-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.2s;
        }
      }
      .category-detail-content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $overlay-solid;
        padding: 8px 16px;
      }
    }
  }
}
.all-categories-container {
  margin-top: 96px;
  .all-categories-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 24px;
  }
}

.categories-container {
  padding-top: 48px;
  padding-bottom: 104px;
}

@media screen and (max-width: 576px) {
  .container-fluid.categories-container.px-5 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .category-slide {
    height: 96px;
  }
}
</style>
