<template>
    <div class="creator-empty-view mega-solution-vertical-center">
        <img :src="emptyStatusImage" alt="empty status" class="content-view-empty-status-image">
        <div class="content-view-empty-status-detail mega-solution-horizontal-center mega-solution-p2-light">
            {{message}} <br/> {{message2}}
        </div>
        <div class="container-fluid">
            <MegaSolutionPopularReelsComponent></MegaSolutionPopularReelsComponent>
        </div>
    </div>
</template>

<script>
import MegaSolutionPopularReelsComponent from "../MegaSolutionPopularReelsComponent/MegaSolutionPopularReelsComponent";
export default {
    name: "MegaSolutionEmptyCreatorComponent.vue",
    props: {
        message:{
            type:String,
            default:"No creators found"
        },
        message2:{
            type:String,
            default:"Maybe try using a different keyword?"
        }
    },
    components:{
        MegaSolutionPopularReelsComponent
    },
    data(){
        return{
            emptyStatusImage:""
        }
    },
    mounted() {
        this.emptyStatusImage = require('../../../icons/20210604/icons/illustrations/search_0.png').default
    }

}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.creator-empty-view{
    padding-top: 48px;
    padding-bottom: 48px;
    .content-view-empty-status-image{
        width: 226px;
    }
    .content-view-empty-status-detail{
        margin-top: 24px;
        text-align: center;
        color:$neutral-tagline;
    }
}


</style>
