<template>
  <div class="reel-cell">
    <a :href="'/reels/' + reel.url_handle">
      <div class="reel-cell-thumbnail-container">
        <img
          v-lazy="getImage(reel.thumbnail)"
          alt="thumbnail"
          class="reel-cell-thumbnail"
        />
        <img
          v-lazy="getImage(reel.preview === '' ? reel.thumbnail : reel.preview)"
          alt="thumbnail"
          class="reel-cell-preview"
        />

        <template v-if="!reel.is_creator">
          <div class="reel-cell-thumbnail-button-container">
            <template v-if="isInWishlist">
              <div
                class="reel-cell-thumbnail-button"
                @click.prevent.stop="removeFromWishlist()"
                :class="{ isDisable: isLoading }"
              >
                <img
                  :src="wishlistedIcon"
                  alt="wishlisted"
                  class="reel-cell-thumbnail-button-icon"
                />
              </div>
            </template>
            <template v-else>
              <div
                class="reel-cell-thumbnail-button"
                @click.prevent.stop="addToWishlist()"
                :class="{ isDisable: isLoading }"
              >
                <img
                  :src="wishlistIcon"
                  alt="wishlist"
                  class="reel-cell-thumbnail-button-icon"
                />
              </div>
            </template>

            <div
              class="reel-cell-thumbnail-button"
              @click.prevent.stop="displayQuickView()"
              :class="{ isDisable: isLoading }"
            >
              <img
                v-if="
                  reel.licences.length === 1 &&
                    reel.licences[0].is_free === true
                "
                :src="downloadIcon"
                alt="download icon"
                class="reel-cell-thumbnail-button-icon"
              />
              <img
                v-else
                :src="cartIcon"
                alt="shopping cart"
                class="reel-cell-thumbnail-button-icon"
              />
            </div>
          </div>
        </template>
      </div>
      <div class="reel-cell-detail-section">
        <div
          class="reel-cell-detail-section-title mega-solution-body-heavy clamp-2"
        >
          {{ reel.title }}
        </div>
        <div
          class="reel-cell-detail-section-metrics
                 mega-solution-horizontal-start"
        >
          <div class="reel-cell-detail-section-metric-container">
            <img
              :src="viewIcon"
              alt="views"
              class="reel-cell-detail-section-metric-container-icon"
            />
            <div class="mega-solution-footer-light">
              {{ formatViews(reel.views) }}
            </div>
          </div>

          <div class="reel-cell-detail-section-metric-container">
            <img
              :src="likeIcon"
              alt="views"
              class="reel-cell-detail-section-metric-container-icon"
            />
            <div class="mega-solution-footer-light">
              {{ formatViews(reel.likes) }}
            </div>
          </div>
          <div class="reel-cell-detail-section-metric-container">
            <img
              :src="commentIcon"
              alt="views"
              class="reel-cell-detail-section-metric-container-icon"
            />
            <div class="mega-solution-footer-light">
              {{ formatViews(reel.comments) }}
            </div>
          </div>
        </div>
      </div>
    </a>
    <template v-if="isQuickView">
      <MegaSolutionQuickViewModalComponent
        :reel="reel"
        @dismiss="dismissClicked"
      ></MegaSolutionQuickViewModalComponent>
    </template>
  </div>
</template>

<script>
import helper from "../../helper";
import MegaSolutionQuickViewModalComponent from "../MegaSolutionQuickViewModalComponent/MegaSolutionQuickViewModalComponent";

export default {
  name: "MegaSolutionReelCellComponent.vue",
  components: { MegaSolutionQuickViewModalComponent },
  props: {
    reel: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      baseUrl: process.env.MIX_PUSHER_APP_URL,
      viewIcon: "",
      likeIcon: "",
      commentIcon: "",
      isInWishlist: false,
      wishlistIcon: "",
      wishlistedIcon: "",
      isLoading: false,
      isQuickView: false,
      downloadIcon: "",
      cartIcon: ""
    };
  },
  mounted() {
    this.viewIcon = require("../../../icons/20210604/icons/16px/view_outlined.png").default;
    this.likeIcon = require("../../../icons/20210604/icons/16px/heart_outlined_lighter.png").default;
    this.commentIcon = require("../../../icons/20210604/icons/16px/message_outlined.png").default;
    this.wishlistIcon = require("../../../icons/20210604/icons/16px/star_outlined_16px.png").default;
    this.wishlistedIcon = require("../../../icons/20210604/icons/24px/star_filled.png").default;
    this.cartIcon = require("../../../icons/20210604/icons/16px/shoppingcart_16px.png").default;
    this.downloadIcon = require("../../../icons/20210604/icons/16px/download_16px.png").default;
    this.isInWishlist = this.reel.is_in_wishlist;
  },
  methods: {
    getImage(imagePath) {
      return `/storage/${imagePath}`;
    },
    formatViews(num) {
      return helper.formatViews(parseInt(num));
    },
    addToWishlist() {
      const that = this;
      that.isLoading = true;
      const data = {
        content_id: this.reel.id,
        type: "reel"
      };

      axios
        .post("/wishlist/addToWishlist", data)
        .then(res => {
          if (res.status === 200) {
            that.isInWishlist = true;
            Vue.$toast.open({
              message: "Added To Your Wishlist! ",
              position: "bottom",
              type: "success"
            });
          }
        })
        .catch(err => {
          if (err.response.status === 401) {
            Vue.$toast.open({
              message: "Please log in first! ",
              position: "bottom",
              type: "error"
            });
          }

          if (err.response.status === 403) {
            console.log(err.response.data);
            Vue.$toast.open({
              message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
              position: "bottom",
              type: "error"
            });
          }
        })
        .finally(() => {
          that.isLoading = false;
        });
    },
    removeFromWishlist() {
      const that = this;
      that.isLoading = true;
      const data = {
        content_id: this.reel.id,
        type: "reel"
      };

      axios
        .post("/wishlist/removeFromWishlist", data)
        .then(res => {
          if (res.status === 200) {
            that.isInWishlist = false;

            Vue.$toast.open({
              message: "Removed From Your Wishlist! ",
              position: "bottom",
              type: "success"
            });
          }
        })
        .catch(err => {
          if (err.response.status === 401) {
            Vue.$toast.open({
              message: "Please log in first! ",
              position: "bottom",
              type: "error"
            });
          }

          if (err.response.status === 403) {
            console.log(err.response.data);
            Vue.$toast.open({
              message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
              position: "bottom",
              type: "error"
            });
          }
        })
        .finally(() => {
          that.isLoading = false;
        });
    },
    displayQuickView() {
      this.isQuickView = true;
    },
    dismissClicked() {
      this.isQuickView = false;
    }
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.reel-cell {
  .reel-cell-thumbnail-container {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
    &:hover {
      .reel-cell-thumbnail {
        //display: none;
        opacity: 0;
        transition: all 0.8s ease-in-out;
      }
      .reel-cell-preview {
        //display: block;
        opacity: 1;
        filter: brightness(40%);
        transition: all 0.8s ease-in-out;
      }
      .reel-cell-thumbnail-button-container {
        display: flex;
      }
    }
    .reel-cell-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: all 0.8s ease-in-out;
    }
    .reel-cell-preview {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      //display: none;
      opacity: 0;
      transition: all 0.8s ease-in-out;
    }
    .reel-cell-thumbnail-button-container {
      display: none;
      position: absolute;
      bottom: 16px;
      right: 16px;
      flex-direction: column;
      gap: 8px;

      .reel-cell-thumbnail-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        width: 32px;
        height: 32px;

        .reel-cell-thumbnail-button-icon {
          width: 16px;
          height: 16px;
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      .isDisable {
        pointer-events: none;
        filter: brightness(0.4);
      }
    }
  }

  .reel-cell-detail-section {
    margin-top: 16px;
    .reel-cell-detail-section-metrics {
      margin-top: 8px;
      gap: 9px;
      .reel-cell-detail-section-metric-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        .reel-cell-detail-section-metric-container-icon {
          width: 16px;
          height: 16px;
        }
        .mega-solution-footer-light {
          color: $neutral-tagline;
          margin-left: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .reel-cell {
    .reel-cell-thumbnail {
      .reel-cell-thumbnail-button-container {
        display: flex;
      }
    }
  }
}
</style>
