// Body
$body-bg: #f8fafc;

// Typography
$font-family: "CerebriSansPro",sans-serif;
$font-size-d1: 64px;
$font-size-h1: 48px;
$font-size-h2: 40px;
$font-size-h3: 32px;
$font-size-h4: 24px;
$font-size-sub-heavy: 20px;
$font-size-sub-light: 20px;
$font-size-body-heavy: 16px;
$font-size-body-light: 16px;
$font-size-p1-heavy: 20px;
$font-size-p1-heavy: 20px;
$font-size-p1-light: 20px;
$font-size-p2-heavy: 16px;
$font-size-p2-light: 16px;
$font-size-cap-heavy: 14px;
$font-size-cap-light: 14px;
$font-size-cap: 14px;
$font-size-footer-heavy: 12px;
$font-size-footer-light: 12px;
$font-size-footer-italic: 12px;
$font-size-tiny-cap: 10px;
$font-size-p3-light:14px;
$font-size-p4-light:12px;

// line height

$line-height-d1: 66px;
$line-height-h1: 56px;
$line-height-h2: 48px;
$line-height-h3: 40px;
$line-height-h4: 32px;
$line-height-sub-heavy: 24px;
$line-height-sub-light: 24px;
$line-height-body-heavy: 20px;
$line-height-body-light: 20px;
$line-height-p1-heavy: 32px;
$line-height-p1-light: 32px;
$line-height-p2-heavy: 24px;
$line-height-p2-light: 24px;
$line-height-cap-heavy: 18px;
$line-height-cap-light: 18px;
$line-height-cap: 18px;
$line-height-footer-heavy: 14px;
$line-height-footer-light: 14px;
$line-height-footer-italic: 14px;
$line-height-tiny-cap: 12px;
$line-height-p3-light:20px;
$line-height-p4-light:16px;


// line height

$letter-spacing-d1: -1%;
$letter-spacing-h1: -1%;
$letter-spacing-h2: -0.5%;
$letter-spacing-h3: -0.5%;
$letter-spacing-h4: -0.5%;
$letter-spacing-sub-heavy: -0.5%;
$letter-spacing-sub-light: -0.5%;
$letter-spacing-body-heavy: -0.15%;
$letter-spacing-body-light: -0.1%;
$letter-spacing-p1-heavy: -0.15%;
$letter-spacing-p1-light: -0.15%;
$letter-spacing-p2-heavy: -0.15%;
$letter-spacing-p2-light: -0.1%;
$letter-spacing-cap-heavy: -0.15%;
$letter-spacing-cap-light: -0.1%;
$letter-spacing-cap: +1%;
$letter-spacing-footer-heavy: -0.15%;
$letter-spacing-footer-light: -0.1%;
$letter-spacing-footer-italic: -0.1%;

// Colors
$neutral-text:#FAFAFA;
$neutral-tagline:rgba(#FAFAFA,0.7);
$neutral-disabled:rgba(#FAFAFA,0.48);
$neutral-input:rgba(#FAFAFA,0.1);
$neutral-asset:#DCDCDC;
$neutral-asset2:#999999;
$neutral-bg4:#141414;
$neutral-bg3:#2D2D2D;
$neutral-bg2:#1C1C1C;
$neutral-bg1:#0F0F0F;
$neutral-body:#565656;
$neutral-blur: rgba(#000000,50%);


$primary-1:rgba(#EB1480,30%);
$primary-2:#FF99CC;
$primary-3:#FF4CA6;
$primary-4:#EB1480;
$primary-5:#CC0066;

$secondary-1:#E7FEFB;
$secondary-2:#9FF9F0;
$secondary-3:#6EF7E8;
$secondary-4:#1BE4CF;
$secondary-5:#0BC1AE;

$accent-1:#C9CDF8;
$accent-2:#9CA3F2;
$accent-3:#6F79EC;
$accent-4:#414FE6;
$accent-5:#1622AB;


$error-1:#DF99A6;
$error-2:#D06679;
$error-3:#C0334D;
$error-4:#B00020;
$error-5:#8D001A;

$overlay-solid: rgba(#000000,20%);
$overlay-solid2: rgba(#000000,60%);
$overlay-linear: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%);
$overlay-linear2: linear-gradient(180.14deg, rgba(28, 28, 28, 0) 0.12%, #1C1C1C 99.88%);

$semantic-info3:#0898DD;

$success-1:#1d643b;
$success-3:#47B036;

$bg_white:#FEFEFF;

//blur

$black-blur: rgba(#000000,0.5);
$search-black-blur: rgba(#000000,0.85);
$icon-background:#3b3b3b;

$blue-blur : rgba(#1BE4CF,0.4);
$category-item-background-color:#343434;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
