// Fonts

@import "styles";

//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';

@import "megasolution";

@import "responsive";
@import "responsive2";

.mega-solution-d1{
    font-family: $font-family;
    font-style: normal;
    font-weight: 900;
    font-size: $font-size-d1;
    line-height: $line-height-d1;
    letter-spacing: $letter-spacing-d1;
    color: white;
}

.mega-solution-h1{
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    letter-spacing: $letter-spacing-h1;
    color: white;
}
.mega-solution-h2{
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    letter-spacing: $letter-spacing-h2;
    color: white;
}
.mega-solution-h3{
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-h3;
    line-height: $line-height-h3;
    letter-spacing: $letter-spacing-h3;
    color: white;
}
.mega-solution-h4{
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-h4;
    line-height: $line-height-h4;
    letter-spacing: $letter-spacing-h4;
    color: white;
}
.mega-solution-sub-heavy{
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-sub-heavy;
    line-height: $line-height-sub-heavy;
    letter-spacing: $letter-spacing-sub-heavy;
    color: white;
}
.mega-solution-sub-light{
     font-family: $font-family;
     font-style: normal;
     font-weight: normal;
     font-size: $font-size-sub-light;
     line-height: $line-height-sub-light;
     letter-spacing: $letter-spacing-sub-light;
    color: white;
 }
.mega-solution-body-heavy{
      font-family: $font-family;
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-body-heavy;
      line-height: $line-height-body-heavy;
      letter-spacing: $letter-spacing-body-heavy;
    color: white;
}

.mega-solution-body-light{
       font-family: $font-family;
       font-style: normal;
       font-weight: normal;
       font-size: $font-size-body-light;
       line-height: $line-height-body-light;
       letter-spacing: $letter-spacing-body-light;
    color: white;
}
.mega-solution-p1-heavy{
        font-family: $font-family;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-p1-heavy;
        line-height: $line-height-p1-heavy;
        letter-spacing: $letter-spacing-p1-heavy;
    color: white;
}

.mega-solution-p1-light{
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-p1-light;
    line-height: $line-height-p1-light;
    letter-spacing: $letter-spacing-p1-light;
    color: white;
}
.mega-solution-p2-heavy{
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-p2-heavy;
    line-height: $line-height-p2-heavy;
    letter-spacing: $letter-spacing-p2-heavy;
    color: white;
}

.mega-solution-p2-light{
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-p2-light;
    line-height: $line-height-p2-light;
    letter-spacing: $letter-spacing-p2-light;
    color: white;
}

.mega-solution-p3-heavy{
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-p3-light;
    line-height: $line-height-p3-light;
    letter-spacing: $letter-spacing-p2-light;
    color: white;
}

.mega-solution-p3-light{
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-p3-light;
    line-height: $line-height-p3-light;
    letter-spacing: $letter-spacing-p2-light;
    color: white;
}

.mega-solution-p4-light{
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-p4-light;
    line-height: $line-height-p4-light;
    letter-spacing: $letter-spacing-p2-light;
    color: white;
}

.mega-solution-cap-heavy{
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-cap-heavy;
    line-height: $line-height-cap-heavy;
    letter-spacing: $letter-spacing-cap-heavy;
    color: white;
}
.mega-solution-cap-light{
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-cap-light;
    line-height: $line-height-cap-light;
    letter-spacing: $letter-spacing-cap-light;
    color: white;
}
.mega-solution-cap{
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-cap;
    line-height: $line-height-cap;
    letter-spacing: $letter-spacing-cap;
    color: white;
}

.mega-solution-tiny-cap{
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-tiny-cap;
    line-height: $line-height-tiny-cap;
    letter-spacing: $letter-spacing-cap;
    color: white;
}
.mega-solution-footer-heavy{
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-footer-heavy;
    line-height: $line-height-footer-heavy;
    letter-spacing: $letter-spacing-footer-heavy;
    color: white;
}
.mega-solution-footer-light{
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-footer-light;
    line-height: $line-height-footer-light;
    letter-spacing: $letter-spacing-footer-light;
    color: white;
}
.mega-solution-footer-italic{
    font-family: $font-family;
    font-style: italic;
    font-weight: normal;
    font-size: $font-size-footer-italic;
    line-height: $line-height-footer-italic;
    letter-spacing: $letter-spacing-footer-italic;
    color: white;
}

.mega-solution-vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mega-solution-horizontal-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.mega-solution-vertical-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.mega-solution-horizontal-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

input{
    background-color: $neutral-input ;
    border-radius:4px;
    border-bottom-color: unset;
    border: unset;
    padding: 14px 16px;
    color: $neutral-text;
    font-family: $font-family;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.1px;
}
input:focus{
    border: unset;
    outline: unset;
}

.creatr-input{

}

button{
    border: unset;
    border-radius: 4px;
}

label{
    color: white;
    margin-bottom: unset;
}

.creatr-button{
    width: 100%;
    background-color: $primary-4;
    padding-top: 8px;
    padding-bottom: 8px;
    color:white;
    &:disabled{
        color: $neutral-tagline;
        background-color: $neutral-disabled;

    }
}

.creatr-primary-button-small{
    min-width: 79px;
    min-height: 22px;
    padding: 4px 8px;
    background-color: $primary-4;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-footer-heavy;
    line-height: $line-height-footer-heavy;
    letter-spacing: $letter-spacing-footer-heavy;
    color: white;
    text-align: center;
    &:hover{
        background-color: $primary-3;
    }

    &:active{
        background-color: $primary-5;
    }

    &:disabled{
        background-color: $neutral-disabled;
    }
}

.creatr-primary-button-regular{
    min-width: 116px;
    min-height: 36px;
    padding: 8px 16px;
    background-color: $primary-4;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-body-heavy;
    line-height: $line-height-body-heavy;
    letter-spacing: $letter-spacing-body-heavy;
    color: white;
    text-align: center;
    &:hover{
        background-color: $primary-3;
    }

    &:active{
        background-color: $primary-5;
    }

    &:disabled{
        background-color: $neutral-disabled !important;
        color: $neutral-tagline;
    }
}

.creatr-primary-button-large{
    min-width: 150px;
    min-height: 48px;
    padding: 12px 24px;
    background-color: $primary-4;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-sub-heavy;
    line-height: $line-height-sub-heavy;
    letter-spacing: $letter-spacing-sub-heavy;
    color: white;
    text-align: center;
    &:hover{
        background-color: $primary-3;
    }

    &:active{
        background-color: $primary-5;
    }

    &:disabled{
        background-color: $neutral-disabled;
        color: $neutral-tagline;
    }
}


.creatr-primary-button-xl{
    min-width: 150px;
    min-height: 56px;
    padding: 16px 24px;
    background-color: $primary-4;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-sub-heavy;
    line-height: $line-height-sub-heavy;
    letter-spacing: $letter-spacing-sub-heavy;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 24px;
        height: 24px;
        margin-left: 12px;
    }
    &:hover{
        background-color: $primary-3;
    }

    &:active{
        background-color: $primary-5;
    }

    &:disabled{
        background-color: $neutral-disabled;
        color: $neutral-tagline;
    }
}

.creatr-primary-button-xl-black{
    min-width: 150px;
    min-height: 56px;
    padding: 16px 24px;
    background-color: $neutral-bg2;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-sub-heavy;
    line-height: $line-height-sub-heavy;
    letter-spacing: $letter-spacing-sub-heavy;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 24px;
        height: 24px;
        margin-left: 12px;
    }
    &:hover{
        background-color: $neutral-bg3;
    }

    &:disabled{
        background-color: $neutral-disabled;
        color: $neutral-tagline;
    }
}

.creatr-primary-button-regular-black{
    min-width: 116px;
    min-height: 36px;
    padding: 8px 16px;
    background-color: $neutral-bg2;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-body-heavy;
    line-height: $line-height-body-heavy;
    letter-spacing: $letter-spacing-body-heavy;
    color: white;
    text-align: center;
    &:hover{
        background-color: $neutral-bg3;
    }


    &:disabled{
        background-color: $neutral-disabled;
        color: $neutral-tagline;
    }
}


.creatr-secondary-button-regular{
    min-width: 116px;
    min-height: 36px;
    padding: 8px 16px;
    background-color: transparent;

    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-body-heavy;
    line-height: $line-height-body-heavy;
    letter-spacing: $letter-spacing-body-heavy;
    color: $primary-4;
    border: 1px solid $primary-4;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        color: $primary-3;
        border-color:  $primary-3;
    }
    &:active{
        color: $primary-5;
        border-color:  $primary-5;
    }

    &:disabled{
        color: $neutral-disabled;
        border-color:  $neutral-disabled;
    }
}


.creatr-secondary-button-type-1{
    min-width: 116px;
    min-height: 36px;
    padding: 8px 16px;
    background-color: transparent;

    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-body-heavy;
    line-height: $line-height-body-heavy;
    letter-spacing: $letter-spacing-body-heavy;
    color: $neutral-text;
    border: 1px solid $neutral-text;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        color: $neutral-tagline;
        border-color:  $neutral-tagline;
    }

    &:disabled{
        color: $neutral-disabled;
        border-color:  $neutral-disabled;
    }
}

.creatr-secondary-button-type-2{
    min-width: 116px;
    min-height: 36px;
    padding: 8px 16px;
    background-color: transparent;

    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-body-heavy;
    line-height: $line-height-body-heavy;
    letter-spacing: $letter-spacing-body-heavy;


    color: $neutral-tagline;
    border: 1px solid $neutral-tagline;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        color: $neutral-text;
        border-color:  $neutral-text;
    }

    &:disabled{
        color: $neutral-disabled;
        border-color:  $neutral-disabled;
    }
}

.creatr-secondary-button-xl{
    min-width: 150px;
    min-height: 56px;
    padding: 16px 24px;
    background-color: transparent;

    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-sub-heavy;
    line-height: $line-height-sub-heavy;
    letter-spacing: $letter-spacing-sub-heavy;

    color: $neutral-tagline;
    border: 1px solid $neutral-tagline;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        color: $neutral-text;
        border-color:  $neutral-text;
    }

    &:disabled{
        color: $neutral-disabled;
        border-color:  $neutral-disabled;
    }
}

.creatr-regular-button-type-1{
    min-width: 116px;
    min-height: 36px;
    padding: 8px 16px;
    background-color: transparent;

    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-body-heavy;
    line-height: $line-height-body-heavy;
    letter-spacing: $letter-spacing-body-heavy;

    color: $primary-4;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        color: $primary-3;
    }
    &:active{
        color: $primary-5;
    }

    &:disabled{
        color: $neutral-disabled;
    }
}

.creatr-regular-button-type-2{
    min-width: 116px;
    min-height: 36px;
    padding: 8px 16px;
    background-color: transparent;

    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-body-heavy;
    line-height: $line-height-body-heavy;
    letter-spacing: $letter-spacing-body-heavy;

    color: $neutral-tagline;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        color: $neutral-text;
    }

    &:disabled{
        color: $neutral-disabled;
    }
}

.required{
    &:after{
        content: '*';
        color: $primary-4;
    }
}

.creatr-text-area{
    background-color: $neutral-input;
    padding: 12px 16px;
    color: $neutral-text;
    max-height: 100px;
    min-height: 70px;
    border: 1px solid transparent;
    border-radius: 4px;
    &:focus{
        border: 1px solid $neutral-text;
    }
    &:focus-visible{
        outline: unset;
    }
}

.creatr-select{
    background-color: $neutral-input;
    padding: 14px 12px;
    min-width: 184px;
    border-radius:8px;
    border-color:transparent;
    -webkit-appearance: none;
    position: relative;
    background-image: linear-gradient(
            45deg, transparent 50%, gray 50%), linear-gradient(
            135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 6px), calc(100% - 15px) calc(1em + 6px);
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    transition: all .2s ease;

    &:focus{
        border: 1px solid $neutral-text;
        background-image: linear-gradient(
                135deg, transparent 50%, gray 50%), linear-gradient(
                45deg, gray 50%, transparent 50%);
        transition: all .2s ease;
    }

    &:focus::after{
        transform: rotate(180deg);
        transition: 0.5s;
    }

    &:focus-visible{
        outline: unset;
    }
    &:hover{
        color: $neutral-tagline;
        border-color: $neutral-input;
        background-color: $neutral-bg2;
    }
    &:disabled{
        background-color: $neutral-disabled;
    }

    &:after {
        position: relative;
        right: 0;
        top: 65%;
        color: #999;
        margin-top: 4px;
        border-color: #999 transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0;
        content: "";
    }
}



#player .player .vp-controls-wrapper .vp-title{
    display: none;
}

#player .player .vp-controls-wrapper .vp-sidedock{
    display: none;
}

.clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

hr{
    border-color: $neutral-input;
}

::-webkit-scrollbar {
    display: block;
    width: 0;
    height: 0;
    color: $neutral-input;
    background: transparent;
}

nav .breadcrumb{
    background-color: transparent;
    .breadcrumb-item{


        &.active{
            color: $neutral-disabled;
        }

        a{
            color: $primary-4;
        }
    }

}

.clamp-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    //display: block;
    display: -webkit-box; /*将对象作为弹性伸缩盒子模型显示。*/
    -webkit-box-orient: vertical; /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
    -webkit-line-clamp: 2; /*行数*/
    /*英文字符不会自动换行，需要添加*/
    word-wrap: break-word;
    word-break: break-all;

}

input[type="checkbox"] + label::before {
    content: "\a0";  /*不换行空格*/
    display: inline-block;
    vertical-align: .2em;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    border-radius: .2em;
    border: 1px solid $neutral-tagline;
    background-color: transparent;
    text-indent: .15em;
    line-height: .65;  /*行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高*/
}

input[type="checkbox"]:checked + label::before {
    content: "✔";
    background-color: $primary-4;
}

input[type="checkbox"] {
    position: absolute;

    clip: rect(0, 0, 0, 0);
}

input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 .1em .1em #58a;
}
input[type="checkbox"]:disabled + label::before {
    background-color: gray;
    border: 1px solid $neutral-tagline;
    box-shadow: none;
    color: #555;
}

a:hover{
    color: $neutral-text;
}

.mega-solution-header{
    position: fixed;
    width: 100%;
    z-index: 100;
}

ol.carousel-indicators{
    align-items: center;
}

ol.carousel-indicators li{
    background: $neutral-tagline;
    width: 12px;
    height: 12px;
    margin-left: 6px;
    margin-right: 6px;
    border:unset;
}

ol.carousel-indicators li.active{
    background: $neutral-text;
    //width: 12px;
    //height: 12px;
    border: 2px solid $neutral-text;
}

.carousel-item.banner-slide{
    background-color: $overlay-solid2;
}


.v-toast__item--bottom.v-toast__item{
        min-height: unset !important;
        border-radius: 20px;
        &.v-toast__item--error{
            background-color: $error-3;
        }


        &.v-toast__item--success{
            background-color: $success-3;
        }

        &.v-toast__item--info{
            background-color: $semantic-info3;
        }
        .v-toast__text{
            padding: 10px 16px !important;
            padding-left: unset !important;
            font-family: $font-family;
            font-style: normal;
            font-weight: normal;
            font-size: $font-size-body-light;
            line-height: $line-height-body-light;
            letter-spacing: $letter-spacing-body-light;
            color: white;
        }
        .v-toast__icon{
            width: 20px;
            height: 20px;
        }
    }

.full-width{
    width: 100%;
}

.secondary-black-background{
    background-color: $neutral-bg2 !important;

}

.primary-font-color{
    color: $primary-4;
}

.success-back-ground{
    background-color: $neutral-input;
}

.creatr-footer-section2 .creatr-footer-input-container .mega-input-container .mega-solution-letter-container input{
    background-color: transparent !important;
}

.pointer{
    cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0 !important;
}

.multiselect__tags{
    background-color: $neutral-input !important;
    border-color: transparent !important;
    height: 50px;
    &:focus{
        border: 1px solid $neutral-text;
    }
    .multiselect__tags-wrap{
        height: 50px;
        &:focus{
            border: 1px solid $neutral-text;
        }
        .multiselect__tag{
            background-color: $neutral-input !important;
            .multiselect__tag-icon{
                &::after{
                    color: white !important;
                }
                &:hover{
                    background-color: transparent !important;
                }
            }
        }
    }
    .multiselect__input{
        background-color: transparent !important;
    }
}

.stripe-element-form .StripeElement{
    background-color: #323232;

}

.creatr-card{
    background-color: #323232;
    border-radius: 4px;
    border: 1px solid transparent;
    height: 48px;
    box-shadow: unset;
    padding: 14px 16px;
    color: #FAFAFA;
    &.StripeElement--focus{
        border: 1px solid $neutral-tagline;
    }
}


.vdp-datepicker {
    .vdp-datepicker__clear-button {
        color: white;
    }
}

.mega-solution-order-history-filter-input {
    height: 36px;
    width: 160px;
    padding: 6px 12px;
    border-radius: 8px;

    &.is-invalid {
        border: 1px solid #b22222;
    }

}

.order-history-container-date-filters {
    .mega-solution-order-history-filter-input {
        width: 100%;
    }
}

.mobile-transaction-history-container-date-filters {
    .mega-solution-order-history-filter-input {
        width: 100%;
    }
}

.multiple-select {
    margin-top: 12px;
    border-radius: 8px;

    &.multiselect--active {
        border: 1px solid $neutral-text;
    }

    &:hover {
        background-color: $neutral-bg2;
    }
}

.payout-date-picker{
    width: 100%;
}

.pagination{
    .page-item{
        .page-link{
            background-color: transparent;
            border: unset;
            color: $neutral-tagline;

        }
        &.active{

            .page-link{
                color: $primary-4;
            }
        }
        &.pagination-prev-nav{
            .page-link{
                color: $primary-4;
                border: 1px solid $primary-4;
                border-radius: 8px;
            }
            margin-right: 8px;
        }

        &.pagination-next-nav{
            .page-link{
                color: $primary-4;
                border: 1px solid $primary-4;
                border-radius: 8px;
            }
            margin-left: 8px;
        }


    }
}
