/*setting*/

.background-primary{
    background-color:#0F0F0F ;
}

/*Setting end*/

/*nav bar*/
.nav-bar-logo{
    max-height: 65px;
    width: 155px;
}

.navbar.dark-theme{
    background-color: rgba(#1C1C1C, 95%);

}
.navbar-search{
    width: 50%;
}

.navbar-search .nav-item{
    width: 100%;
}

.creatr-user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
}

.primary-button{

    background: $accent-4;
    padding: 8px 16px;
    border: unset;
    border-radius: 8px;
    color: $neutral-text;
}

.upload-btn{
    height: 40px;
    margin-right: 16px;
    margin-left: 16px;
    &:hover{
        color: $neutral-text;
    }
}

.dropdown-toggle.creatr-toggle{
    &:after{
        content: unset;
    }
}

.creatr-dropdown{
    background-color: $neutral-bg3;
    padding-top: 16px;
    padding-bottom: 16px;

    .dropdown-item{
        color: $neutral-disabled;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 32px;
        width: 240px;
    }

    &:before{
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-bottom: 0.3em solid $neutral-bg3;
        border-right: 0.3em solid transparent;
        border-top: 0;
        border-left: 0.3em solid transparent;
        position: absolute;
        right: 22px;
        top: -4px;
    }
}


/*nav bar end*/
.pt-10{
    padding-top: 100px;
}

.create-reel-video-section{
    .vue-dropzone{

        .dz-preview{
            min-height: unset;
            width: 100%;
            height: 100%;
            display: none;
            //&.dz-error.dz-complete{
            //    display: none;
            //}
            &.dz-file-preview{
                .dz-image{
                    background: unset !important;
                    img{
                        opacity: 0;
                    }
                }
            }
            .dz-details{
                text-align: center;
            }
            .dz-progress{
                background-color: $blue-blur ;
                height: 8px;
                width: 70%;
                margin-left: 15%;
                left:unset;
                margin-top: 0;
                .dz-upload{
                    background-color: $secondary-4;
                }
            }
            .dz-details{
                background-color: unset;
                .dz-size{
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: 600;
                    font-size: $font-size-p2-heavy;
                    line-height: $line-height-p2-heavy;
                    letter-spacing: $letter-spacing-p2-heavy;
                    color: $neutral-tagline;
                }
                .dz-filename{
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: normal;
                    font-size: $font-size-cap-light;
                    line-height: $line-height-cap-light;
                    letter-spacing: $letter-spacing-cap-light;
                    color: $neutral-tagline;
                }
            }
            .dz-remove{
                font-family: $font-family;
                font-style: normal;
                font-weight: 600;
                font-size: $font-size-body-heavy;
                line-height: $line-height-body-heavy;
                color: $neutral-tagline;
                border: 1px solid $neutral-tagline;
                text-transform: unset;
                width: 180px;
                margin-left: calc(50% - 90px);
                border-radius: 4px;
                opacity: 1 !important;
            }
            .dz-error-mark{
                display: none;
            }
            .dz-error-message{
                width: 50%;
                left: 25% ;
                position: absolute;
                top: 50%;
                background: unset;
                color: $error-2;
            }

            &:nth-child(2){
                display: unset;
            }
        }
    }
}
