

@media screen and (max-width: 1100px) {
    nav .px-5{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

@media screen and (max-width: 1200px)  {
    .mega-solution-d1{
        font-size: $font-size-h2 !important;
        line-height: $line-height-h2 !important;
    }
}

@media screen and (max-width: 768px){
//    font
    .mega-solution-d1{
        font-size: $font-size-h4 !important;
        line-height: $line-height-h4 !important;
    }

    .mega-solution-h3{
        font-size: $font-size-sub-heavy !important;
        line-height: $line-height-sub-heavy !important;
    }
    .mega-solution-h4{
        font-size: $font-size-body-heavy !important;
        line-height: $line-height-body-heavy !important;
    }

    .mega-solution-sub-heavy{
        font-size: $font-size-body-heavy !important;
        line-height: $line-height-body-heavy !important;
    }

    .mega-solution-sub-light{
        font-size: $font-size-body-heavy !important;
        line-height: $line-height-body-heavy !important;
    }

    .mega-solution-p2-heavy{
        font-size: $font-size-cap-heavy !important;
        line-height: $line-height-body-heavy !important;
    }
    .mega-solution-p2-light{
        font-size: $font-size-cap-heavy !important;
        line-height: $line-height-body-heavy !important;
    }

}

@media screen and (max-width: 750px) {
    .mobile-nav-bar{
        display: flex !important;
        .navbar-toggler{
            padding: unset;
            border: unset;
        }
        .navbar-brand{
            .nav-bar-logo{
                height: 24px;
                width: 54px;
                margin-left: 8px;
            }
        }

        .upload-btn{
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

        .nav-info-full-screen{
            position: fixed;
            inset: 50px 0px 0px;
            background: rgba(13, 13, 13, 0.95);
            padding-top: 16px;
            .nav-item{
                padding: 12px 16px;
                .nav-link{
                    padding: unset;
                    color: $neutral-tagline !important;
                    font-family: $font-family;
                    font-size: $font-size-body-light;
                }
            }
        }
    }
    .computer-nav-bar{
        display: none !important;
        border: unset;
    }
}

@media screen and (min-width: 750px) {
    .computer-nav-bar{
        display: flex !important;
    }
    .mobile-nav-bar{
        display: none !important;
    }
}

.mobile-toggle-icon{
    background-image: url("/images/icons_24px_menu.png") !important;
    width: 24px;
    height: 24px;
}



@media screen and (max-width: 280px) {
    .navbar.mega-solution-header{
        padding-left: unset;
        padding-right: unset;
    }
}
.breadcrumb-item{
    word-break: break-all;
}
