$font-path: "/fonts/CerebriSansPro";

@font-face{
    font-family: 'CerebriSansPro';
    font-style: normal;
    font-weight: 900;
    src: url("#{$font-path}/CerebriSansPro-Heavy.woff2") format("woff2"),
    url("#{$font-path}/CerebriSansPro-Heavy.woff") format("woff");
}

@font-face{
    font-family: 'CerebriSansPro';
    font-style: normal;
    font-weight: 800;
    src: url("#{$font-path}/CerebriSansPro-ExtraBold.woff2") format("woff2"),
    url("#{$font-path}/CerebriSansPro-ExtraBold.woff") format("woff");
}

@font-face{
    font-family: 'CerebriSansPro';
    font-style: normal;
    font-weight: 700;
    src: url("#{$font-path}/CerebriSansPro-Bold.woff2") format("woff2"),
    url("#{$font-path}/CerebriSansPro-Bold.woff") format("woff");
}

@font-face{
    font-family: 'CerebriSansPro';
    font-style: normal;
    font-weight: 600;
    src: url("#{$font-path}/CerebriSansPro-SemiBold.woff2") format("woff2"),
    url("#{$font-path}/CerebriSansPro-SemiBold.woff") format("woff");
}

@font-face {
    font-family: 'CerebriSansPro';
    font-style: italic;
    font-weight: 400;
    src: url("#{$font-path}/CerebriSansPro-Italic.woff2") format("woff2"),
    url("#{$font-path}/CerebriSansPro-Italic.woff") format("woff");
}



@font-face{
    font-family: 'CerebriSansPro';
    font-style: normal;
    font-weight: 400;
    src: url("#{$font-path}/CerebriSansPro-Regular.woff2") format("woff2"),
    url("#{$font-path}/CerebriSansPro-Regular.woff") format("woff");
}

