<template>
    <div class="profile-payout-container-verify-container mega-solution-vertical-center">
        <img :src="infoImage" alt="alert" class="profile-payout-container-verify-container-icon">
        <div class="verify-container-title mega-solution-sub-heavy">Please upload your Photo ID</div>
        <div class="verify-container-description mega-solution-p3-light">Stripe, who manages our direct deposit payouts,
            needs to verify your identity. Please upload your Photo ID to complete your payout method setup.
        </div>

        <div class="verify-container-hint mega-solution-footer-light">Supported file types: JPEG, PNG</div>
        <div class="verify-container-hint mega-solution-footer-light">Max size: 1MB</div>

        <template v-if="showUpload">
            <form @submit="formSubmit" enctype="multipart/form-data" class="verify-container-form">
                <input type="file" class="choose-file-input" v-on:change="onChange">

                <div class="verify-container-check mt-4">
                    <input type="checkbox" id="agree-on-terms-checkbox" v-model="agreeTerms" @change="">
                    <label for="agree-on-terms-checkbox" class="mega-solution-p3-light">
                        You attest that you are the owner and have full authorization to this Photo ID. And you agree to
                        our <a class="mega-solution-p3-light" href="https://creatrhq.com/terms-of-service/"
                               target="_blank">Terms of Service</a>.
                    </label>

                </div>
                <button type="submit" class="choose-file-upload creatr-primary-button-regular btn-block"
                        :disabled="loading">{{ buttonText }}
                </button>
                <div class="mega-solution-p4-light verify-container-hint">We encrypt all sensitive info using public key
                    encryption (2048-bit RSA).
                </div>
            </form>

        </template>
        <template v-else>
            <button class="creatr-primary-button-regular verify-container-select-file-button"
                    @click="showUpload = true">Select file
            </button>
        </template>
    </div>
</template>

<script>
export default {
    name: "MegaSolutionVerifyProfileComponent.vue",
    data() {
        return {
            infoImage: "",
            showUpload: false,
            file: null,
            agreeTerms: true,
            loading: false,
            buttonText: "Upload",
            path: "payout/uploadVefiedFile",
        }
    },
    mounted() {
        this.infoImage = require("../../../icons/20211121/payoutalert.png").default
    },
    methods: {
        onChange(e) {
            this.file = e.target.files[0];
        },
        validateInput() {
            let pass = true;
            if (!this.agreeTerms) {
                pass = false
                this.showError("Please agree our terms and conditions to continue")
                return pass
            }
            return pass
        },
        showError(message) {
            Vue.$toast.open({
                message: message,
                position: "bottom",
                type: "error"
            });
        },
        formSubmit(e) {

            if (this.validateInput()) {

                e.preventDefault();
                const config = {
                    headers: {
                        'content-type': 'multipart/form-data'
                    }
                }
                let data = new FormData();
                let that = this;
                data.append('file', this.file);
                // console.log(this.file)
                if (this.file != null && this.loading === false) {
                    this.loading = true
                    this.buttonText = "Uploading..."
                    axios.post(`/${that.path}`, data, config)
                        .then(function (res) {
                            if (res.status === 200) {
                                that.file = null
                                that.loading = false
                                that.buttonText = "Upload"
                                if(res.data.response.state === true){

                                    that.$emit('reload',{})
                                }else{
                                    Vue.$toast.open({
                                        message: res.data.response.errors,
                                        position: "bottom",
                                        type: 'error',
                                    });

                                }
                            }

                        })
                        .catch(function (err) {
                            that.loading = false
                            that.buttonText = "Upload"
                            if (err.response.status === 422) {

                                let fileErrorMessage = ""
                                let errors = err.response.data.errors
                                // console.log(errors, err.response)
                                fileErrorMessage = errors.file[0]
                                Vue.$toast.open({
                                    message: fileErrorMessage,
                                    position: "bottom",
                                    type: 'error',
                                });

                            }
                        });
                }
            }

        },
    },
    props: {
        payoutMethod: {
            type: Object,
            default: function () {
                return null
            }
        }
    },

}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.profile-payout-container-verify-container {
    margin-top: 24px;
    padding: 32px 24px 16px 24px;
    background-color: $neutral-bg4;
    width: 100%;

    .profile-payout-container-verify-container-icon {
        width: 32px;
        height: 32px;
    }

    .verify-container-title {
        margin-top: 16px;
    }

    .verify-container-description {
        margin-top: 12px;
        color: $neutral-tagline;
    }

    .verify-container-hint {
        margin-top: 12px;
        width: 100%;
        color: $neutral-tagline;
    }

    .verify-container-select-file-button {
        background-color: $accent-4;
        margin-top: 32px;
    }

    .verify-container-form {
        width: 100%;
        margin-top: 16px;

        .choose-file-input {
            width: 100%;
            background-color: transparent;
        }

        .choose-file-upload {
            margin-top: 16px;
            background-color: $accent-4;
        }
    }
}
</style>
