<template>
    <div class="container-fluid reels-list-view-container">
        <div class="reels-container-banner mega-solution-vertical-center">

            <div class="reels-container-banner-background">
                <template v-if="mostPopularReel != null">
                    <img v-lazy="getImageByPath(mostPopularReel.thumbnail)" alt="category thumbnail" class="reels-container-banner-background-image">
                    <img v-lazy="getImageByPath(mostPopularReel.preview ===''?mostPopularReel.thumbnail:mostPopularReel.preview )" alt="category thumbnail" class="reels-container-banner-background-image-preview">
                </template>
                <template v-else>
                    <img :src="logoImage" alt="Reel"  class="reels-container-banner-background-image-default">
                </template>
            </div>
            <div class="reels-container-banner-content mega-solution-vertical-center" v-if="mostPopularReel != null">
                <h1 class="mega-solution-d1">Reels</h1>

                <div class="mega-solution-sub-light reels-container-banner-subtitle clamp-2">{{reelBasicInfo == null? 0:reelBasicInfo.reel_count}} reels in total and counting...</div>


                <div class="reels-container-banner-background-creator mega-solution-footer-italic" v-if="mostPopularReel != null">by {{mostPopularReel.creatorName}}</div>
            </div>
            <div class="reels-container-banner-content mega-solution-vertical-center" v-else>
                <h1 class="mega-solution-d1">Reels</h1>

                <div class="mega-solution-sub-light reels-container-banner-subtitle clamp-2">No One Set currently, Why don't you upload one!</div>


                <div class="reels-container-banner-background-creator mega-solution-footer-italic" v-if="mostPopularReel != null">by {{mostPopularReel.creatorName}}</div>
            </div>
        </div>
        <div class="container-fluid reels-container">
            <template v-if="reels.length > 0">
                <MegaSolutionReelsGridComponent :reels="reels" type="display"></MegaSolutionReelsGridComponent>
            </template>
            <template v-else>
                <content-reel-container-empty-status message="There is no reel yet! " message2="Come back to check later!"/>
            </template>
        </div>

        <template v-if="reels.length > 0 && reelLoadFinish">
            <MegaSolutionLoadedComponent></MegaSolutionLoadedComponent>
        </template>


    </div>
</template>

<script>
import ContentReelContainerEmptyStatus from "../MegaSolutionProfileVideosComponent/ContentReelContainerEmptyStatus";
import MegaSolutionReelsGridComponent from "../MegaSolutionReelsGridComponent/MegaSolutionReelsGridComponent";
import MegaSolutionLoadedComponent from "../MegaSolutionLoadedComponent/MegaSolutionLoadedComponent";
export default {
    name: "MegaSolutionReelListViewComponent.vue",
    components:{
        ContentReelContainerEmptyStatus,
        MegaSolutionReelsGridComponent,
        MegaSolutionLoadedComponent
    },
    data(){
        return{
            logoImage:"",
            baseUrl:process.env.MIX_PUSHER_APP_URL,

            loading:false,
            reels:[],
            reelPageIndex:1,
            reelPageSeed:"",
            reelPageSize:9,
            reelLoadFinish:false,
        }
    },
    props:{
        mostPopularReel:{
            type:Object,
            default:function () {
                return null
            }
        },
        reelBasicInfo:{
            type:Object,
            default:function () {
                return null
            }
        }
    },
    mounted() {
        this.logoImage = require("../../../icons/20210604/sitelogo.png").default
        this.scroll()
        this.loadReels()
    },
    methods:{
        getImageByPath(imagePath){
            return `/storage/${imagePath}`
        },
        scroll(){

            window.onscroll = () => {
                let left = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight;
                let right = document.documentElement.offsetHeight - 350;
                let bottomOfWindow = (left >= right);

                let top = document.scrollingElement.scrollTop;
                if(this.oldTop <= top && bottomOfWindow){
                    // console.log('down')
                    this.loadMoreData()
                }
                // console.log("scroll scroll scroll",this.oldTop, top,bottomOfWindow)
                this.oldTop = JSON.parse(JSON.stringify(top));

            }
        },
        loadMoreData(){
            //console.log('load more data')
            this.loadReels()
        },
        loadReels(){
            let that = this;

            if(that.reelLoadFinish){

            }else{
                let data = {
                    "reelPageSeed":that.reelPageSeed,
                    "reelPageSize":that.reelPageSize,
                    "reelPageIndex":that.reelPageIndex
                }
                if(!that.loading){
                    that.loading = true
                    axios.get("/reels/getAllReelsByRandomOrder",{
                        params:data,
                        headers: { 'Accept':'application/json' }
                    }).then(function (res) {


                        let temp = res.data.response.reels;
                        if(temp.length < that.reelPageSize){
                            that.reelLoadFinish = true
                        }else{
                            that.reelPageIndex++;
                        }
                        that.reels = that.reels.concat(temp)
                        that.reelPageSeed = res.data.response.pageSeed
                        that.loading = false
                    }).catch(function (err) {
                        //console.log('err',err.response)
                    })
                }
            }

        },
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.reels-container-banner{
    height: 480px;
    position: relative;

    &:hover{
        .reels-container-banner-background {
            .reels-container-banner-background-image {
                display: none;
            }

            .reels-container-banner-background-image-preview {
                display: flex;
            }
        }
    }

    .reels-container-banner-background{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        .reels-container-banner-background-image-default{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .reels-container-banner-background-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .reels-container-banner-background-image-preview{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;
        }
    }
    .reels-container-banner-content{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $overlay-solid;
        .reels-container-banner-subtitle{
            margin-top: 16px;
            text-align: center;
        }
        .reels-container-banner-background-creator{
            position: absolute;
            right: 48px;
            bottom: 32px;
        }
    }
}

@media screen and (max-width: 576px){
    .reels-list-view-container{
        &.container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .reels-container-banner .reels-container-banner-content .reels-container-banner-subtitle{
        width: 80%;
    }
}
</style>
