<template>
    <div class="default-payment-method-container">

        <div class="select-payment-top-section mega-solution-horizontal-center justify-content-between">
            <div class="select-payment-top-section-title mega-solution-body-heavy">Select a payment method</div>
            <button class="creatr-regular-button-type-1" @click="selectPaymentMethod">Change</button>
        </div>

        <template v-if="defaultPaymentMethod != null && selectedPaymentMethod != null">
            <PaymentItem :is-default="selectedPaymentMethod.id === defaultPaymentMethod.id" :payment-method="selectedPaymentMethod"></PaymentItem>
        </template>

        <div class="default-payment-method-container-check">
            <input type="checkbox" id="agree-on-terms-checkbox" v-model = "agreeTerms" @change="">
            <label for="agree-on-terms-checkbox" class="mega-solution-p3-light">
                By purchasing the items, you agree to our <a class="mega-solution-p3-light under-line" href="https://creatrhq.com/terms-of-service/" target="_blank">Terms of Service</a>.
            </label>
        </div>

        <div class="default-payment-method-container-payment-section">
            <button class="creatr-primary-button-regular process-button" @click="processPaymentWithSelectedCard" :disabled="cartItemLength <= 0">{{cartItemLength > 0 ?'Pay'+ "($" + cartItemsTotal + ")": "Processing Order"}}</button>
        </div>

        <div class="stripe-section mega-solution-horizontal-center">
            <a href="https://stripe.com/" target="_blank">
                <img :src="stripeImage" alt="power by stripe" class="stripe-section-image">
            </a>
        </div>

    </div>
</template>

<script>
import PaymentItem from "../MegaSolutionPaymentItemComponent/MegaSolutionPaymentItemComponent";
import axios from "axios";
import moment from "moment";
export default {
    name: "MegaSolutionDefaultPaymentMethod.vue",
    components:{
        PaymentItem
    },

    props:{
        defaultPaymentMethod: {
            type:Object,
            default:function () {
                return null
            }
        },
        selectedPaymentMethod:{
            type:Object,
            default:function () {
                return null
            }
        },
        cartItems:{
            type: Array,
            default:function () {
                return []
            }
        },
    },
    computed:{
        cartItemLength(){
            let sum = 0
            this.cartItems.forEach(item=>{
                sum += item.quantity
            })
            return sum
        },
        cartItemsTotal(){
            let sum = 0
            this.cartItems.forEach(item=>{
                sum += item.quantity * item.price_num
            })
            return sum.toFixed(2)
        },

    },
    data(){
        return {
            agreeTerms:true,
            stripeImage:"",
        }
    },
    mounted() {
        this.stripeImage = require("../../../icons/20211023/icons/24px/stripe-icon.png").default
    },
    methods:{
        selectPaymentMethod(){
            this.$emit('selectPaymentMethod',{status:true})
        },
        validateInput() {
            let pass = true;
            if (!this.agreeTerms) {
                pass = false
                this.showError("Please agree our terms and conditions to continue")
                return pass
            }
            return pass
        },
        showError(message){
            Vue.$toast.open({
                message: message,
                position: "bottom",
                type: "error"
            });
        },
        processPaymentWithSelectedCard(){
            if(this.validateInput()){
                let items = []
                this.cartItems.forEach(cartItem=>{
                    let tempItem = {
                        id:cartItem.id,
                        reel_id:cartItem.reel_id,
                        licence_id:cartItem.licence_id,
                        quantity:cartItem.quantity,
                        price_num:cartItem.price_num,
                    }
                    items.push(tempItem)
                })

                let data = {
                    "items":items
                }
                let that = this;

                that.$emit("changeProcessStatus",{status:true});

                axios.get('/checkout/verifyItems',{params:data,
                    headers: { 'Accept':'application/json' }
                }).then(function (res) {
                    if(res.status === 200){
                        if(res.data.response.validate){
                            // console.log("res.data.response.validate",res.data.response.validate)
                            that.processPayment()
                            // that.$refs.elementRef.submit()
                        }else{
                            Vue.$toast.open({
                                message: "The cart items do not match the server side, please refresh the page to continue",
                                position: "bottom",
                                type: 'error',
                            });
                            that.$emit("changeProcessStatus",{status:false});
                        }
                    }
                }).catch(function (error) {
                    that.$emit("changeProcessStatus",{status:false});
                    Vue.$toast.open({
                        message: error.response.data.message,
                        position: "bottom",
                        type: 'error',
                    });
                })

            }


        },
        processPayment(){
            let param = {
                "payment_method_id":this.selectedPaymentMethod.id,
                "payment_method_name":this.selectedPaymentMethod.billing_details.name,
                "order_placed_date": moment().format('YYYY-MM-DDTHH:mm:ss')
            }
            let that = this
            axios.post('/checkout/checkOutWithStripeToken',param).then(
                function (res) {
                    if(res.status === 200){
                        if(res.data.response.success){
                            // console.log("res.data.response.validate",res.data.response.validate)
                            let order_number = res.data.response.order_number
                            window.location.assign(`/order/thankyou/${order_number}`)
                        }else{

                            let redirect = res.data.response.redirect

                            window.location.assign(redirect)

                            // Vue.$toast.open({
                            //     message: "The cart items do not match the server side, please refresh the page to continue",
                            //     position: "bottom",
                            //     type: 'error',
                            // });
                            that.$emit("changeProcessStatus",{status:false});
                        }
                    }
                }
            ).catch(function (error) {
                that.$emit("changeProcessStatus",{status:false});
                Vue.$toast.open({
                    message: error.response.data.message,
                    position: "bottom",
                    type: 'error',
                });
            })
        }

    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.default-payment-method-container{

    .select-payment-top-section{
        margin-top: 24px;
    }
    .default-payment-method-container-check{
        margin-top: 48px;
    }
    .default-payment-method-container-payment-section{
        margin-top: 16px;
        width: 100%;
        .process-button{
            width: 100%;
        }
    }

    .stripe-section{
        margin-top: 24px;
        .stripe-section-image{
            height: 24px;
            object-fit: contain;
        }
    }
}
</style>
