<template>
    <div class="container profile-section">
        <div class="profile-section-title-section mega-solution-horizontal-start" v-if="userDetail != null">
            <div class="profile-section-title-section-image-container">
                <img :src="getImage(userDetail.avatar)" alt="avatar" class="profile-section-title-section-image-container-image">
            </div>
            <div class="profile-section-title-section-detail">
                <template  v-if="displayPrize">
                    <div class="profile-section-title-section-detail-prize">
                        <img class="profile-section-title-section-detail-prize-icon" :src="getImage(displayPrize.icon_path)" alt="">
                        <h3 class="profile-section-title-section-detail-prize-title">
                            {{displayPrize.title}}
                        </h3>
                    </div>
                </template>
                
                <h3 class="mega-solution-h3 profile-section-title-section-detail-username ">
                    {{profile.user_name}}
                </h3>
                <div class="mega-solution-sub-light profile-section-title-section-detail-slug ">
                    {{userDetail.name}}
                </div>
                <p class="mega-solution-p2-light profile-section-title-section-bio clamp-2">
                    {{profile.bio}}
                </p>
            </div>
        </div>
        <div class="profile-section-social-section mega-solution-horizontal-center">
            <div class="profile-section-social-section-cell mega-solution-vertical-center">
                <div class="profile-section-social-section-cell-number mega-solution-sub-heavy">
                    {{formatNumbers(reelsCount) }}
                </div>
                <div class=" mega-solution-cap-light profile-section-social-section-cell-desc">
                    reels
                </div>
            </div>
            <div class="profile-section-social-section-cell mega-solution-vertical-center">
                <div class="profile-section-social-section-cell-number mega-solution-sub-heavy">
                    {{formatNumbers(followers_count)}}
                </div>
                <div class=" mega-solution-cap-light profile-section-social-section-cell-desc">
                    followers
                </div>
            </div>
            <div class="profile-section-social-section-cell mega-solution-vertical-center">
                <div class="profile-section-social-section-cell-number mega-solution-sub-heavy">
                    {{formatNumbers(following_count)}}
                </div>
                <div class=" mega-solution-cap-light profile-section-social-section-cell-desc">
                    following
                </div>
            </div>
        </div>
        <div class="profile-section-follow mega-solution-horizontal-center" v-if="profile != null">
            <div class="profile-section-follow-button-section">
                <template v-if="isUser">
                    <button type="submit" class = "profile-section-follow-button-section-button creatr-secondary-button-type-1 mega-solution-sub-heavy" @click="editProfile()">Edit profile</button>
                </template>
                <template v-else>
                    <template v-if="isFollowing">
                        <button type="submit" class = "profile-section-follow-button-section-button creatr-primary-button-xl-black " @click="unfollow()">Following</button>
                    </template>
                    <template v-else>
                        <button type="submit" class = "profile-section-follow-button-section-button creatr-primary-button-xl" @click="follow()">+Follow</button>
                    </template>
                </template>
            </div>
            <template v-if="profile.personal_website !== null && profile.personal_website !== ''">
                <div class="profile-section-follow-social-media-cell">
                    <a class="profile-section-follow-social-media-cell-link mega-solution-horizontal-center"  target="_blank" :href="profile.personal_website">
                        <img class="profile-section-follow-social-media-cell-img" :src="personal_website_icon" alt="personal_website">
                    </a>
                </div>
            </template>
            <template v-if="profile.youtube_link !== null && profile.youtube_link !== ''">
                <div class="profile-section-follow-social-media-cell">
                    <a class="profile-section-follow-social-media-cell-link mega-solution-horizontal-center" target="_blank" :href="profile.youtube_link">
                        <img class="profile-section-follow-social-media-cell-img" :src="youtube_icon" alt="youtube_link">
                    </a>
                </div>
            </template>
            <template v-if="profile.tiktok_link !== null && profile.tiktok_link !== ''">
                <div class="profile-section-follow-social-media-cell">
                    <a class="profile-section-follow-social-media-cell-link mega-solution-horizontal-center" target="_blank" :href="profile.personal_website">
                        <img class="profile-section-follow-social-media-cell-img" :src="tiktok_icon" alt="tiktok_link">
                    </a>
                </div>
            </template>
            <template v-if="profile.instagram_link !== null && profile.instagram_link !== ''">
                <div class="profile-section-follow-social-media-cell">
                    <a class="profile-section-follow-social-media-cell-link mega-solution-horizontal-center" target="_blank" :href="profile.instagram_link">
                        <img class="profile-section-follow-social-media-cell-img" :src="instagram_icon" alt="instagram_link">
                    </a>
                </div>
            </template>
            <template v-if="profile.facebook_link !== null && profile.facebook_link !== ''">
                <div class="profile-section-follow-social-media-cell">
                    <a class="profile-section-follow-social-media-cell-link mega-solution-horizontal-center" target="_blank" :href="profile.facebook_link">
                        <img class="profile-section-follow-social-media-cell-img" :src="facebook_icon" alt="facebook_link">
                    </a>
                </div>
            </template>
            <template v-if="profile.snapchat_link !== null && profile.snapchat_link !== ''">
                <div class="profile-section-follow-social-media-cell">
                    <a class="profile-section-follow-social-media-cell-link mega-solution-horizontal-center" target="_blank" :href="profile.snapchat_link">
                        <img class="profile-section-follow-social-media-cell-img" :src="snapchat_icon" alt="snapchat_link">
                    </a>
                </div>
            </template>
            <template v-if="profile.twitter_link !== null && profile.twitter_link !== ''">
                <div class="profile-section-follow-social-media-cell">
                    <a class="profile-section-follow-social-media-cell-link mega-solution-horizontal-center" target="_blank" :href="profile.twitter_link">
                        <img class="profile-section-follow-social-media-cell-img" :src="twitter_icon" alt="twitter_link">
                    </a>
                </div>
            </template>
        </div>

        <MegaSolutionProfileVideosComponent :creator-info="user_info" :reels-count="reelsCount" :collections-count="collectionCount"></MegaSolutionProfileVideosComponent>

        <template v-if="showSignUpView">
            <sign-up-view @hideSignUpView = "hideSignUpView" ></sign-up-view>
        </template>

    </div>
</template>

<script>
import helper from "../../helper";
import MegaSolutionAddCollectionComponent from "../MegaSolutionAddCollectionComponent/MegaSolutionAddCollectionComponent";
import MegaSolutionProfileVideosComponent
    from "../MegaSolutionProfileVideosComponent/MegaSolutionProfileVideosComponent";
import signUpView from "../MegaSolutionRegisterComponent/MegaSolutionSignUpView.vue"

export default {
    name: "MegaSolutionProfileDetailComponent.vue",
    data(){
      return{
          baseUrl:process.env.MIX_PUSHER_APP_URL,
          userDetail:null,
          profile:null,
          prizes: null,
          followers_count:0,
          following_count:0,
          isFollowing:false,
          isUser:false,
          reelsCount:0,
          personal_website_icon:"",
          youtube_icon:"",
          tiktok_icon:"",
          instagram_icon:"",
          facebook_icon:"",
          snapchat_icon:"",
          twitter_icon:"",
          collectionCount:0,
          addCollection:false,
          showSignUpView:false,

      }
    },
    components:{
        MegaSolutionAddCollectionComponent,
        MegaSolutionProfileVideosComponent,
        signUpView
    },
    props:{
        user_info:{
            type:Object,
            default:null,
        }
    },
    mounted(){
        if(this.user_info != null){
            this.userDetail = this.user_info.userDetail;
            this.profile = this.user_info.profile;
            this.prizes = this.user_info.prizes;
            this.followers_count = this.user_info.followers_count;
            this.following_count = this.user_info.following_count;
            this.isFollowing = this.user_info.isFollowing;
            this.isUser = this.user_info.isUser;
            this.reelsCount = this.user_info.reelsCount;
            this.collectionCount = this.user_info.collectionCount;
        }

        this.personal_website_icon = require('../../../icons/20210604/icons/24px/personal_link.png').default
        this.youtube_icon = require('../../../icons/20210604/icons/24px/social_youtube.png').default
        this.tiktok_icon = require('../../../icons/20210604/icons/24px/social_tiktok.png').default
        this.instagram_icon = require('../../../icons/20210604/icons/24px/logo_instagram.png').default
        this.facebook_icon = require('../../../icons/20210604/icons/24px/social_facebook2.png').default
        this.snapchat_icon = require('../../../icons/20210604/icons/24px/snapchat_glyph.png').default
        this.twitter_icon = require('../../../icons/20210604/icons/24px/social_twitter_white.png').default
    },
    computed: {
        displayPrize() {
            if (this.prizes && this.prizes.length !== 0) {
                const firstPrize = this.prizes.reduce(function(prev, current) {
                    return prev.rank > current.rank ? prev : current;
                })
                return firstPrize;
            } else {
                return null;
            }
        }
    },
    methods:{
        getImage(imagePath){
            return `/storage/${imagePath}`
        },
        formatNumbers(num){
            return helper.formatViews(num);
        },
        unfollow(){
            let data ={
                'user_id' :this.userDetail.id,
            }
            let that = this;
            axios.post('/creator/unfollow',data).then(function(res){

                if(res.status === 200){
                    that.isFollowing = false
                    Vue.$toast.open({
                        message: 'Unfollow Success! ',
                        position:"bottom",
                        type: 'success',
                    });
                    that.followers_count -= 1;
                }
            }).catch(function (err) {
                if(err.response.status === 401){
                    // Vue.$toast.open({
                    //     message: 'Please log in first! ',
                    //     position:"bottom",
                    //     type: 'error',
                    // });
                    that.signUp()
                }
            })
        },
        follow(){

            let data ={
                'user_id' :this.userDetail.id,
            }
            let that = this;
            axios.post('/creator/follow',data).then(function(res){

                if(res.status === 200){
                    that.isFollowing = true
                    Vue.$toast.open({
                        message: 'Follow Success! ',
                        position:"bottom",
                        type: 'success',
                    });
                    that.followers_count += 1;
                }

            }).catch(function (err) {
                if(err.response.status === 401){
                    // Vue.$toast.open({
                    //     message: 'Please log in first! ',
                    //     position:"bottom",
                    //     type: 'error',
                    // });
                    that.signUp()
                }
            })
        },
        editProfile(){
            window.location.assign(`/hq/${this.userDetail.name}/edit`)
        },
        dismiss(){
            this.addCollection = false;
        },
        signUp(){
            this.showSignUpView = true
        },
        hideSignUpView(){
            this.showSignUpView = false
        }

    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.profile-section{
    padding-top: 160px;
    padding-bottom: 64px;
    .profile-section-title-section{
        align-items: flex-start;
        .profile-section-title-section-image-container{
            width: 160px;
            height: 160px;
            margin-right: 24px;
            .profile-section-title-section-image-container-image{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .profile-section-title-section-detail{
            width: calc(100% - 200px);

            .profile-section-title-section-detail-prize {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                margin-bottom: 10px;
                .profile-section-title-section-detail-prize-icon {
                    width: 20px;
                    height: 20px;
                }
                .profile-section-title-section-detail-prize-title {
                    color: #1BE4CF;
                    margin: 0;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: uppercase;
                }
            }
            .profile-section-title-section-detail-username{

            }
            .profile-section-title-section-detail-slug{
                margin-top: 4px;
                color: $neutral-tagline;
            }
            .profile-section-title-section-bio{
                margin-top: 24px;
                margin-bottom: unset;
                color: $neutral-tagline;
            }
        }
    }

    .profile-section-social-section{
        margin-top: 32px;
        background: $neutral-bg2;
        border-radius: 4px;
        .profile-section-social-section-cell{
            width: 33.33%;
            padding-top: 25px;
            padding-bottom: 25px;
            position: relative;
            .profile-section-social-section-cell-desc{
                margin-top: 4px;
                color: $neutral-tagline;
            }
            &::after{
                content: " ";
                border-right: 1px solid $neutral-input;
                position: absolute;
                top: 25%;
                height: 50%;
                right:0;
            }
            &:last-child{
                &:after{
                    content: unset;
                }
            }
        }
    }
    .profile-section-follow{
        margin-top: 32px;
        gap: 8px;
        flex-wrap: wrap;
        .profile-section-follow-button-section{
            flex: 1;
            height: 54px;
            .profile-section-follow-button-section-button{
                width: 100%;
                height: 100%;
            }
        }
        .profile-section-follow-social-media-cell{
            width: 56px;
            height: 56px;
            border-radius :4px;
            background: $neutral-bg2;
            .profile-section-follow-social-media-cell-link{
                width: 100%;
                height: 100%;
                .profile-section-follow-social-media-cell-img{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .profile-section{
        .profile-section-follow{
            .profile-section-follow-button-section{
                width: 100%;
                flex: unset;
                margin-bottom: 12px;
            }
        }
    }


}

</style>
