<template>
    <div class="collection-cell">
        <a :href="'/collections/'+ collection.url_handle">
            <div class="collection-cell-thumbnail-container">
                <template v-if="collection.reels.length >0">

                    <div class="collection-cell-multiple-image-container" :class="'items-' + (collection.reels.length >= 4? 4:collection.reels.length)  ">
                        <div class="collection-cell-multiple-image-container-item">
                            <img :src="getImage(collection.reels[0].thumbnail)" alt="thumbnail" class="collection-cell-multiple-image-container-item-thumbnail">
                            <img :src="getImage(collection.reels[0].preview === ''?collection.reels[0].thumbnail:collection.reels[0].preview)" alt="thumbnail" class="collection-cell-multiple-image-container-item-preview">
                        </div>
                        <div class="collection-cell-multiple-image-container-item"  v-if="collection.reels[1] != null">
                            <img :src="getImage(collection.reels[1].thumbnail)" alt="thumbnail" class="collection-cell-multiple-image-container-item-thumbnail">
                            <img :src="getImage(collection.reels[1].preview === ''?collection.reels[1].thumbnail:collection.reels[1].preview)" alt="thumbnail" class="collection-cell-multiple-image-container-item-preview">
                        </div>
                        <div class="collection-cell-multiple-image-container-item" v-if="collection.reels[2] != null">
                            <img :src="getImage(collection.reels[2].thumbnail)" alt="thumbnail" class="collection-cell-multiple-image-container-item-thumbnail">
                            <img :src="getImage(collection.reels[2].preview === ''?collection.reels[2].thumbnail:collection.reels[2].preview)" alt="thumbnail" class="collection-cell-multiple-image-container-item-preview">
                        </div>
                        <div class="collection-cell-multiple-image-container-item" v-if="collection.reels[3] != null">
                            <img :src="getImage(collection.reels[3].thumbnail)" alt="thumbnail" class="collection-cell-multiple-image-container-item-thumbnail">
                            <img :src="getImage(collection.reels[3].preview === ''?collection.reels[3].thumbnail:collection.reels[3].preview)" alt="thumbnail" class="collection-cell-multiple-image-container-item-preview">
                        </div>
                    </div>

                </template>
                <template v-else-if = "collection.reels.length === 1">
                    <img :src="getImage(collection.reels[0].thumbnail)" alt="thumbnail" class="collection-cell-thumbnail">
                    <img :src="getImage(collection.reels[0].preview ==='' ?collection.reels[0].thumbnail:collection.reels[0].preview)" alt="thumbnail" class="collection-cell-preview">
                </template>
                <template v-else>
                        <img :src="logoIcon" alt="thumbnail" class="collection-cell-thumbnail-logo">
                </template>
<!--                <img :src="getImage(collection.thumbnail)" alt="thumbnail" class="reel-cell-thumbnail">-->
<!--                <img :src="getImage(reel.preview == null?reel.thumbnail:reel.preview)" alt="thumbnail" class="reel-cell-preview">-->
                <template v-if="!collection.is_creator">
                    <div class="collection-cell-thumbnail-button-container">
                        <template v-if="isInWishlist">
                            <div
                                class="like-button"
                                @click.prevent.stop="removeFromWishlist()"
                                :class="{ isDisable: isLoading }"
                            >
                                <img
                                :src="wishlistedIcon"
                                alt="wishlisted"
                                class="collection-cell-thumbnail-button-container-icon"
                                />
                            </div>
                        </template>
                        <template v-else>
                            <div
                                class="like-button"
                                @click.prevent.stop="addToWishlist()"
                                :class="{ isDisable: isLoading }"
                            >
                                <img
                                :src="wishlistIcon"
                                alt="wishlist"
                                class="collection-cell-thumbnail-button-container-icon"
                                />
                            </div>
                        </template>
                    </div>
                </template>
            </div>
            <div class="collection-cell-detail-section">
                <div class="collection-cell-detail-section-title mega-solution-body-heavy clamp-2">
                    {{collection.title}}
                </div>
<!--                <div class="mega-solution-body-light collection-cell-detail-section-description clamp-2">-->
<!--                    {{collection.description}}-->
<!--                </div>-->
                <div class="collection-cell-detail-section-metrics
                 mega-solution-horizontal-start">
                    <div class="collection-cell-detail-section-metric-container">
                        <img :src="viewIcon" alt="views" class="collection-cell-detail-section-metric-container-icon">
                        <div class = "mega-solution-footer-light">{{formatViews(collection.views)}}</div>
                    </div>

                    <div class="collection-cell-detail-section-metric-container">
                        <img :src="likeIcon" alt="views" class="collection-cell-detail-section-metric-container-icon">
                        <div class = "mega-solution-footer-light">{{formatViews(collection.likes)}}</div>
                    </div>
                    <div class="collection-cell-detail-section-metric-container">
                        <img :src="commentIcon" alt="views" class="collection-cell-detail-section-metric-container-icon">
                        <div class = "mega-solution-footer-light">{{formatViews(collection.comments)}}</div>
                    </div>
                </div>
            </div>
            <img :src="collectionIcon" alt="collection Icon" class="collection-cell-icon">
        </a>
    </div>
</template>

<script>
import helper from "../../helper";
import axios from 'axios';
export default {
name: "MegaSolutionCollectionCellComponent.vue",
    props:{
        collection:{
            type:Object,
            default:null,
        }
    },
    data(){
        return{
            baseUrl:process.env.MIX_PUSHER_APP_URL,
            viewIcon:"",
            likeIcon:"",
            commentIcon:"",
            logoIcon:"",
            collectionIcon:"",
            wishlistIcon: "",
            wishlistedIcon: "",
            isLoading: false,
            isInWishlist: false
        }
    },
    mounted() {
        this.viewIcon = require('../../../icons/20210604/icons/16px/view_outlined.png').default
        this.likeIcon = require('../../../icons/20210604/icons/16px/heart_outlined_lighter.png').default
        this.commentIcon = require('../../../icons/20210604/icons/16px/message_outlined.png').default
        this.logoIcon = require('../../../icons/20210815/icons/icons_collection_placeholder.png').default
        this.collectionIcon = require('../../../icons/20210604/icons/24px/collection.png').default
        this.wishlistIcon = require("../../../icons/20210604/icons/16px/star_outlined_16px.png").default;
        this.wishlistedIcon = require("../../../icons/20210604/icons/24px/star_filled.png").default;
        this.isInWishlist = this.collection.is_in_wishlist;
    },
    methods:{
        getImage(imagePath){
            return `/storage/${imagePath}`
        },
        formatViews(num){
            return helper.formatViews( parseInt(num))
        },
        addToWishlist() {
        const that = this;
        that.isLoading = true;
        const data = {
            content_id: this.collection.id,
            type: "collection"
        };

        axios
            .post("/wishlist/addToWishlist", data)
            .then(res => {
            if (res.status === 200) {
                that.isInWishlist = true;
                Vue.$toast.open({
                message: "Added To Your Wishlist! ",
                position: "bottom",
                type: "success"
                });
            }
            })
            .catch(err => {
            if (err.response.status === 401) {
                Vue.$toast.open({
                message: "Please log in first! ",
                position: "bottom",
                type: "error"
                });
            }

            if (err.response.status === 403) {
                console.log(err.response.data);
                Vue.$toast.open({
                message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
                position: "bottom",
                type: "error"
                });
            }
            })
            .finally(() => {
            that.isLoading = false;
            });
        },
        removeFromWishlist() {
        const that = this;
        that.isLoading = true;
        const data = {
            content_id: this.collection.id,
            type: "collection"
        };

        axios
            .post("/wishlist/removeFromWishlist", data)
            .then(res => {
            if (res.status === 200) {
                that.isInWishlist = false;

                Vue.$toast.open({
                message: "Removed From Your Wishlist! ",
                position: "bottom",
                type: "success"
                });
            }
            })
            .catch(err => {
            if (err.response.status === 401) {
                Vue.$toast.open({
                message: "Please log in first! ",
                position: "bottom",
                type: "error"
                });
            }

            if (err.response.status === 403) {
                console.log(err.response.data);
                Vue.$toast.open({
                message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
                position: "bottom",
                type: "error"
                });
            }
            })
            .finally(() => {
            that.isLoading = false;
            });
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.collection-cell{
    position: relative;
    .collection-cell-thumbnail-container{
        width:100%;
        padding-top: 100%; /* 1:1 Aspect Ratio */
        position: relative; /* If you want text inside of it */
        &:hover{
            .collection-cell-thumbnail{
                display: none;
            }
            .collection-cell-preview{
                display: block;
            }
            .collection-cell-thumbnail-button-container {
                display: block;
            }

        }
        .collection-cell-multiple-image-container{
            display: grid;
            grid-template-rows: 64% 33%;
            grid-template-columns: repeat(3,1fr);

            position: absolute;
            grid-gap: 8px;

            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;



            &.items-1{
                :first-child{
                    grid-column: 1/4;
                    grid-row: 1/3;
                }
            }
            &.items-2{
                grid-template-rows: 50% 50%;
                :first-child{
                    grid-row: 1/2;
                    grid-column: 1/4;
                }
                :nth-child(2){
                    grid-column: 1/4;
                    grid-row: 2/3;
                }
            }
            &.items-3{
                grid-template-columns: repeat(2,1fr);
                :first-child{
                    grid-row: 1/2;
                    grid-column: 1/3;
                }
                :nth-child(2){
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                :nth-child(3){
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
            }
            &.items-4{
                :first-child{
                    grid-column: 1/4;
                    grid-row: 1/2;
                }
            }

            .collection-cell-multiple-image-container-item{
                position: relative;

                &:hover{
                    .collection-cell-multiple-image-container-item-thumbnail{
                        opacity: 0;
                        transition: all 1s ease-in-out;
                        //display: none;
                    }
                    .collection-cell-multiple-image-container-item-preview{
                        //display: block;
                        transition: all 1s ease-in-out;
                        opacity: 1;
                    }

                }

                .collection-cell-multiple-image-container-item-thumbnail{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    transition: all 1s ease-in-out;
                }
                .collection-cell-multiple-image-container-item-preview{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    //display: none;
                    opacity: 0;
                    transition: all 1s ease-in-out;
                }
            }
        }
        .collection-cell-thumbnail-logo{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .collection-cell-thumbnail{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .collection-cell-preview{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: none;
        }
        .collection-cell-thumbnail-button-container {
            display: none;
            position: absolute;
            bottom: 24px;
            right: 16px;

            .like-button {
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 50%;
                width: 32px;
                height: 32px;

                .collection-cell-thumbnail-button-container-icon {
                width: 16px;
                height: 16px;
                }

                &:hover {
                transform: scale(1.1);
                }
            }

            .isDisable {
                pointer-events: none;
                filter: brightness(0.4);
            }
        }
    }
    .collection-cell-detail-section{
        margin-top: 16px;
        .collection-cell-detail-section-description{
            color: $neutral-tagline;
        }
        .collection-cell-detail-section-metrics{
            margin-top: 8px;
            gap: 9px;
            .collection-cell-detail-section-metric-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                .collection-cell-detail-section-metric-container-icon{
                    width: 16px;
                    height: 16px;
                }
                .mega-solution-footer-light{
                    color: $neutral-tagline;
                    margin-left: 2px;
                }
            }
        }
    }

    .collection-cell-icon{
        position: absolute;
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;

    }
}

@media screen and (max-width: 1025px) {
    .collection-cell {
        .collection-cell-thumbnail-button-container {
            display: block;
        }
    }
}
</style>
