<template>
    <div class="container-fluid">
        <div class="modal-view container-fluid mega-solution-horizontal-center"  @click.stop="dismiss" >
            <div class="modal-view-container "  @click.stop="" @touchmove.prevent.stop @mousewheel.prevent>

                <div class="modal-view-message-container mega-solution-vertical-center">

                    <div class="modal-view-container-title mega-solution-sub-heavy">{{title}}</div>
                    <div class="modal-view-container-subtitle mega-solution-p2-light">{{subtitle}}</div>
                    <div class="modal-view-button-section mega-solution-horizontal-center">
                        <button class="creatr-secondary-button-regular" @click="leftButtonClicked">{{leftMessage}}</button>
                        <button class="creatr-primary-button-regular" @click="rightButtonClicked">{{rightMessage}}</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>

<script>
export default {
name: "MegaSolutionModalMessageComponent.vue",
    props:{
        title:{
            type:String,
            default:"Title"
        },
        subtitle:{
            type:String,
            default:"This Is description"
        },
        leftMessage:{
            type:String,
            default:"left"
        },
        rightMessage:{
            type:String,
            default:"right"
        }

    },
    methods:{
        dismiss(){
            this.$emit("dismiss",{})
        },
        leftButtonClicked(){
            this.$emit("leftClicked",{})
        },
        rightButtonClicked(){
            this.$emit("rightClicked",{})
        }
    }
}
</script>

<style scoped lang="scss">

@import "resources/sass/app.scss";

.container-fluid{
&.mega-solution-horizontal-center{
     display: flex;
     align-items: center;
     justify-content: center !important;
 }
}

.modal-view {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $search-black-blur;
    z-index: 50;
.modal-view-container{
    max-width: 469px;
    min-height: 156px;
    width: 60%;

    //display: flex;
    //flex-direction: row;
    //align-items: flex-end;

    position: relative;

    background: $neutral-bg2;
    border-radius: 4px;

    .modal-view-message-container{
        height:100%;
        width:100%;
        padding: 24px;
        justify-content: space-between;
        .modal-view-container-title{
            width: 100%;
        }
        .modal-view-container-subtitle{
            width: 100%;
            color: $neutral-tagline;
            margin-top: 8px;
        }
        .modal-view-button-section{
            margin-top: 16px;
            width: 100%;
            justify-content: space-between;
            gap: 16px;
            flex-wrap: wrap;
            button{
                flex: 1;
            }
        }
    }

}

}

@media only screen and (max-width: 576px) {
    .container-fluid {
        .modal-view-button-section {
            flex-direction: column;

            button {
                min-width: 100%;
            }
        }

    }
}
</style>
