<template>
  <div class="content-creators-container">
    <template v-for="(creator, index) in creators">
      <MegaSolutionCreatorsCellComponent
        :key="index"
        :creator="creator"
      ></MegaSolutionCreatorsCellComponent>
    </template>
  </div>
</template>

<script>
import MegaSolutionCreatorsCellComponent from "../MegaSolutionCreatorsCellComponent/MegaSolutionCreatorsCellComponent";
export default {
  components: {
    MegaSolutionCreatorsCellComponent
  },
  name: "MegaSolutionCreatorsGridComponent.vue",
  props: {
    //isCreatorList: { type: Boolean, default: false },
    creators: {
      type: Array,
      default: []
    }
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.content-creators-container {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

/* .content-creators-list-container {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 24px 16px;
} */

@media only screen and (max-width: 576px) {
  .content-creators-container {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
</style>
