<template>
    <div class="upload-container">
        <vue-dropzone
            ref="myVueDropzone"
            id="dropzone"
            :options="dropzoneOptions"
            :useCustomSlot="true"
            v-on:vdropzone-success="uploadSuccess"
            v-on:vdropzone-error="uploadError"
            v-on:vdropzone-removed-file="fileRemoved"
        >
            <div class="dropzone-custom-content" id="lalala">
                <img :src="upload_image" alt="upload image" class = "creatr-drop-content-empty-image" >
                <div class = "mega-solution-h4 creatr-drop-text" >Drag and drop a video file to upload</div>
                <div class="mega-solution-cap creatr-drop-or">OR</div>
                <button type="submit" class="creatr-primary-button-regular creatr-drop-content-empty-button">select file</button>
                <div class="create-reel-video-content-thumbnail-section-hints">
                    <div class="mega-solution-footer-light create-reel-video-content-thumbnail-section-hint">Supported file types: JPEG, mp4, 3gp, mov, wmv,avi</div>
                    <div class="mega-solution-footer-light create-reel-video-content-thumbnail-section-hint">Max size: 500MB</div>
                </div>
            </div>
        </vue-dropzone>
    </div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
    name: "MegaSolutionDropZone.vue",
    components:{
        vueDropzone:vue2Dropzone
    },
    data() {
        return {
            dropzoneOptions: {
                url: "/uploadVideo",
                addRemoveLinks: true,
                maxFiles: 1,
                maxFilesize: 524288000,
                acceptedFiles: "video/*",
                timeout: 3600000,
                headers: {
                    "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content
                }
            },
            fileName: '',
            upload_image:"",
        };
    },
    mounted() {
        this.upload_image = require('../../../icons/20210604/icons/illustrations/upload.png').default;
    },
    methods:{
        uploadSuccess(file, response) {
            // console.log('File Successfully Uploaded with file name: ' + response.response);
            let videoPath = response.response
            let videoPathArray = videoPath.split("/");
            let videoId = videoPathArray[videoPathArray.length - 1]
            // console.log('videoId',videoId)
            this.getThumbnailfromFile(file,videoId)

        },
        uploadError(file, message) {
            console.log('An Error Occurred');
        },
        fileRemoved() {},
        getThumbnailfromFile(file,videoId){

            var fileReader = new FileReader()
            let that = this;
            fileReader.onload = function() {

                var blob = new Blob([fileReader.result], {type: file.type});
                var url = URL.createObjectURL(blob);
                var video = document.createElement('video');
                var timeupdate = function() {
                    if (snapImage()) {
                        video.removeEventListener('timeupdate', timeupdate);
                        video.pause();
                    }
                };
                video.addEventListener('loadeddata', function() {
                    if (snapImage()) {
                        video.removeEventListener('timeupdate', timeupdate);
                    }
                });
                var snapImage = function() {

                    var canvas = document.createElement('canvas');
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                    var image = canvas.toDataURL();
                    var success = image.length > 100000;
                    if (success) {
                        const config = {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        }
                        let data = new FormData();
                        data.append('base64', image);
                        axios.post('/api/uploadThumbnailByBase64',data,config).then(function (res) {
                            if(res.status === 200){
                                // console.log("upload success",res.data.response.path)

                                that.$emit('thumbnailGenerated',{
                                    "path":res.data.response.path
                                })
                                that.$emit('uploadSuccess',{
                                    videoId
                                })
                            }
                        }).catch(function (err) {
                            console.log('err',err.response)
                        })

                        URL.revokeObjectURL(url);
                    }
                    return success;
                };
                video.addEventListener('timeupdate', timeupdate);
                video.preload = 'metadata';
                video.src = url;
                // Load video in Safari / IE11
                video.muted = true;
                video.playsInline = true;
                video.play();
            };
            fileReader.readAsArrayBuffer(file);
            // console.log("file",file)

        }
    }

}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.vue-dropzone.dropzone.dz-clickable {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $neutral-bg2;
    border-radius: 8px;
    min-height: 366px;
    border-color: transparent;
}

.dropzone{
    .dz-preview{
        height: 300px;
        width: calc(100% - 40px);
        background: red;
    }

    .dz-image{
        background: $neutral-bg3;
        img{
            width: auto;
            border: unset;
        }
    }
    .dz-details{
        background: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dz-progress{
        width: 200px;
        height: 20px;
        margin-left: 100px;
        margin-top: 40px;
        margin-bottom:40px ;
    }
    .dz-remove{
        display: none;
    }
}

.dropzone-custom-content{

    background-color: $neutral-bg2;
    border-radius: 8px;
    min-height: 366px;
    .creatr-drop-content-empty-image{
        width: 120px;
        height: 120px;
    }
    .creatr-drop-text{
        margin-top: 16px;
    }
    .creatr-drop-or{
        margin-top: 16px;
        color: $neutral-tagline;
    }
    .creatr-drop-content-empty-button{
        margin-top: 16px;
    }
}

.create-reel-video-content-thumbnail-section-hints{
    margin-top: 16px;
    .create-reel-video-content-thumbnail-section-hint{
        color: $neutral-disabled;
        margin-top: 8px;
    }
}

@media screen  and (max-width: 576px){
    .upload-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .dropzone-custom-content{
            min-height: unset;
            .creatr-drop-content-empty-image{
                width: 64px;
                height: 64px;
            }
        }
        .create-reel-video-content-thumbnail-section-hints{
            display: none;
        }
    }
}

</style>
