<template>
    <div class="reset-password-container mega-solution-horizontal-center pt-10">
        <div class="reset-password-container-content">
            <div class="reset-password-container-title mega-solution-h3">Reset Password</div>
            <div class="reset-password-container-email-section">
                <div class="reset-password-container-email-section-subtitle mega-solution-cap-light">
                    Please set a new password for your account:
                </div>
                <div class="reset-password-container-email-section-email mega-solution-body-heavy">
                    {{email}}
                </div>
            </div>
            <div class="reset-password-container-input-section">
                <MegaInput label="NEW PASSWORD" v-model="newPassword" input-type="password" :maxlength="20" placeholder="Your New Password"></MegaInput>
            </div>

            <button type="submit" class="reset-password-button creatr-button" :disabled="!passwordPassed" @click="resetPassword">
                Set new password
            </button>


        </div>

    </div>

</template>
<script>
import MegaInput from "../MegaSolutionInputComponent/MegaSolutionInputComponent";
import checker from "../../checker"
export default {
    components:{
        MegaInput
    },
    watch:{
      newPassword(newVal){
         this.passwordPassed =  checker.passwordPass(newVal)
        }
    },

    data(){
        return{
            newPassword:"",
            passwordPassed:false
        }
    },
    props:{
        email:{
            type:String,
            default:"",
        },
        token:{
            type:String,
            default:""
        }
    },
    methods:{
        resetPassword(){
            if(this.passwordPassed){
                axios.post('/password/reset',{
                    email:this.email,
                    token:this.token,
                    password:this.newPassword,
                    password_confirmation:this.newPassword
                }).then(res=>{
                    //console.log(res)
                    window.location.href = '/'
                }).catch(err=>{
                    this.$bvToast.toast
                    //console.log(err)
                })
            }
        }
    }
}

</script>

<style lang="scss" scoped>
@import "resources/sass/app.scss";

.reset-password-container{
    width: 100%;
    max-width: 650px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $neutral-bg2;
    border-radius: 8px;
    .reset-password-container-content{
        width: 400px;
    }
    .reset-password-container-email-section{
        margin-top: 24px;

        .reset-password-container-email-section-subtitle{
            color: $neutral-tagline;
        }
        .reset-password-container-email-section-email{
            margin-top: 8px;
        }
    }
    .reset-password-container-input-section{
        margin-top: 32px;
    }
    .reset-password-button{
        margin-top: 32px ;
    }



}
@media screen and (max-width: 576px){
    .reset-password-container .reset-password-container-content{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

</style>
