<template>
    <div class="text-area-section">
        <textarea class="text-area-section-textarea creatr-text-area" :placeholder="placeholder" :class="[errorMessage===''?'':'error',type===''?'':'long']" name="textArea" @input="onInput" @blur="onBlur" @focus="onFocus" :max-rows="maxRow" :maxlength="tempMaxLength" v-model="inputValue" ></textarea>
        <div class="row">
            <template v-if="buttonText !==''">
                <div class="col-12 mega-solution-horizontal-center justify-content-between text-area-section-textarea-message">
                    <div class="justify-content-start"  >
                        <template v-if="errorMessage !==''">
                            <div class="mega-solution-cap-light text-area-section-hints " :class="[errorMessage === ''?'':'error']">{{valueCount}}/{{maxLength}}</div>
                            <div class="error-message-section mega-solution-horizontal-start">
                                <img :src="errorImage" alt="error image" class="error-image"/>
                                <div class="mega-solution-cap-light text-area-section-error error-message">{{errorMessage}}</div>
                            </div>
                        </template>
                        <template v-else>
                            <div class="mega-solution-cap-light text-area-section-hints " :class="[errorMessage === ''?'':'error']">{{valueCount}}/{{maxLength}}</div>
                        </template>
                    </div>
                    <div class="justify-content-end">
                        <button type="submit" class="creatr-secondary-button-regular" @click="buttonClicked">{{buttonText}}</button>
                    </div>
                </div>

            </template>
            <template v-else>
                <div class="col-12 text-area-section-textarea-message mega-solution-horizontal-center justify-content-between">
                    <template v-if="errorMessage !==''">
                        <div class="error-message-section mega-solution-horizontal-start">
                            <img :src="errorImage" alt="error image" class="error-image"/>
                            <div class="mega-solution-cap-light text-area-section-error error-message">{{errorMessage}}</div>
                        </div>
                    </template>

                    <div class="mega-solution-cap-light text-area-section-hints text-right ml-auto" :class="[errorMessage === ''?'':'error']">{{valueCount}}/{{maxLength}}</div>

                </div>
            </template>

        </div>


    </div>
</template>

<script>
export default {
    name: "MegaSolutionTextAreaComponent.vue",
    computed:{
      valueCount(){
          return this.value.length
      }
    },
    data(){
      return{
          inputValue: this.value,
          isFocused:false,
          errorImage:"",
          tempMaxLength:null,
      }
    },
    watch:{
      value(v){
          this.inputValue = v;
      }
    },
    mounted() {
        this.inputValue = this.value;
        this.errorImage = require('../../../icons/sign_up/icons/16px/alert.png').default;
    },
    props:{
        maxRow:{
            type:String,
            default:"1"
        },
        maxLength:{
            type:Number,
            default:100,
        },
        value: {
            type: String,
            default: ''
        },
        errorMessage:{
            type: String,
            default: ""
        },
        buttonText:{
            type: String,
            default: ""
        },
        type:{
            type:String,
            default:"",
        },
        placeholder:{
            type:String,
            default:"",
        }
    },
    methods:{
        onInput(e) {
            // console.log("e", e,e.target.value.length)
            if(e.target.value.length < this.maxLength){
                this.tempMaxLength = null
            }else{
                this.tempMaxLength = this.value.length
                this.onOverMaxLength()
            }
            this.$emit('input', e.target.value)
        },
        onFocus(){
            this.isFocused = true
        },
        onBlur(){
            this.isFocused = false
        },
        buttonClicked(){
            this.$emit('buttonClicked',{})
        },
        onOverMaxLength(){
            this.$emit("onOverMaxLength",{})
        }

    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.text-area-section{
    width: 100%;
    margin-top: 12px;
    .text-area-section-textarea{
        width: 100%;
        &.error{
            border-color: $error-2;
        }
        &.long{
            height: 200px;
        }
    }
    .text-area-section-hints{

        color: $neutral-tagline;
        &.error{
            color: $error-2;
        }
    }
    .text-area-section-textarea-message{
        margin-top: 8px;
    }
    .error-message-section{
        width: 100%;
        margin-top: 8px;
        .error-image{
            width: 16px;
            height: 16px;
            margin-right: 4px;

        }
        .error-message{
            color: $error-2;
        }

    }
}
</style>
