<template>
  <div class="container-fluid">
    <div class="container-fluid creators-container">
      <h3 class="mega-solution-h3">All creators</h3>

      <template v-if="creators.length > 0">
        <MegaSolutionCreatorsGridComponent
          :creators="creators"
        ></MegaSolutionCreatorsGridComponent>
      </template>
      <template v-else>
        <MegaSolutionEmptyCreatorComponent></MegaSolutionEmptyCreatorComponent>
      </template>
    </div>

    <div class="container-fluid mega-solution-horizontal-center" v-if="loading">
      <div class="ring-container ">
        <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
      </div>
    </div>

    <template v-if="creatorLoadFinish && creators.length > 0">
      <MegaSolutionLoadedComponent></MegaSolutionLoadedComponent>
    </template>
  </div>
</template>

<script>
import MegaSolutionEmptyCreatorComponent from "../MegaSolutionEmptyCreatorComponent/MegaSolutionEmptyCreatorComponent";
import MegaSolutionCreatorsGridComponent from "../MegaSolutionCreatorsGridComponent/MegaSolutionCreatorsGridComponent";
import MegaSolutionLoadedComponent from "../MegaSolutionLoadedComponent/MegaSolutionLoadedComponent";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";

export default {
  name: "MegaSolutionCreatorsListViewComponent",
  components: {
    MegaSolutionEmptyCreatorComponent,
    MegaSolutionCreatorsGridComponent,
    MegaSolutionLoadedComponent,
    MegaSolutionLoaddingComponent
  },
  data() {
    return {
      loading: false,

      creatorPageIndex: 1,
      creatorPageSize: 20,
      creatorLoadFinish: false,
      creators: [],
      creatorPageSeed: ""
    };
  },
  mounted() {
    this.scroll();
    this.loadMoreCreators();
  },
  methods: {
    scroll() {
      window.onscroll = () => {
        let left =
          Math.max(
            window.pageYOffset,
            document.documentElement.scrollTop,
            document.body.scrollTop
          ) + window.innerHeight;
        let right = document.documentElement.offsetHeight - 350;
        let bottomOfWindow = left >= right;

        let top = document.scrollingElement.scrollTop;
        if (this.oldTop <= top && bottomOfWindow) {
          // console.log('down')
          this.loadMoreData();
        }
        // console.log("scroll scroll scroll",this.oldTop, top,bottomOfWindow)
        this.oldTop = JSON.parse(JSON.stringify(top));
      };
    },
    loadMoreData() {
      this.loadMoreCreators();
    },
    loadMoreCreators() {
      const that = this;

      if (!that.creatorLoadFinish && that.loading === false) {
        that.loading = true;
        let data = {
          creatorPageIndex: that.creatorPageIndex,
          creatorPageSeed: that.creatorPageSeed,
          creatorPageSize: that.creatorPageSize,
          keyword: ""
        };

        axios
          .get("/creators/getCreators", {
            params: data,
            headers: {
              Accept: "application/json"
            }
          })
          .then(res => {
            if (res.status === 200) {
              let temp = res.data.response.creators;
              temp.length < that.creatorPageSize
                ? (that.creatorLoadFinish = true)
                : that.creatorPageIndex++;
              that.creators = that.creators.concat(temp);
              that.creatorPageSeed = res.data.response.pageSeed;
            }
          })
          .catch(error => {
            //TODO: Display Error Message
            console.error(error);
          })
          .then(() => {
            that.loading = false;
          });
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
</style>
