<template>
    <footer class="text-center text-lg-start creatr-footer text-muted">


        <section class="">

            <div class="container-fluid text-center text-md-start footer-section px-5">
                <div class="footer-logo-section mega-solution-horizontal-center">
                    <img :src="siteLogo" alt="Site Logo" class="creatr-footer-logo">
                </div>

                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="grid-1 col-xl-4 col-lg-4 col-sm-6 col-12 mega-solution-vertical-start mb-auto">
                        <!-- Content -->
                        <p class="creatr-footer-description mega-solution-p2-light">
                            {{siteDescription}}
                        </p>
                        <div class="footer-social-media mega-solution-horizontal-start">
                            <template v-if="tiktokLink !=='' ">
                                <a :href="tiktokLink" target="_blank"  class="footer-social-media-logo"> <img :src="tiktokLogo" alt="Tik Tok Logo"></a>
                            </template>
                            <template v-if="instagramLink !=='' ">
                                <a :href="instagramLink" target="_blank"  class="footer-social-media-logo"> <img :src="instagramLogo" alt="Tik Tok Logo"></a>
                            </template>
                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="grid-2 col-xl-2 col-lg-2 col-sm-3 col-6  creatr-footer-section2">
                        <!-- Links -->
                        <h6 class="mega-solution-body-heavy creatr-footer-title">
                            For Creatives
                        </h6>

                        <template v-for="item in footerMenu1">
                            <p>
                                <a :href="item.link" target="_blank" class=" text-reset creatr-footer-section-item mega-solution-body-light">{{item.content}}</a>
                            </p>
                        </template>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="grid-3  col-xl-2 col-lg-2 col-sm-3 col-6 creatr-footer-section2">
                        <!-- Links -->
                        <h6 class="mega-solution-body-heavy creatr-footer-title ">
                            Company
                        </h6>
                        <template v-for="item in footerMenu2">
                            <p>
                                <a :href="item.link" target="_blank" class="text-reset creatr-footer-section-item mega-solution-body-light">{{item.content}}</a>
                            </p>
                        </template>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="grid-4  col-xl-4 col-lg-4 col-sm-12 col-12 creatr-footer-section2">
                        <!-- Links -->
                        <div class="mega-solution-h4">
                            Join our newsletter
                        </div>
                        <div class="mega-solution-body-light creatr-footer-subtitle">
                            Get the latest updates from us!
                        </div>

                        <div class="creatr-footer-subscribe-success border-light" v-if="successMessage !== ''">
                            {{successMessage}}
                        </div>

                        <div class="creatr-footer-input-container">
                            <MegaInput input-type="newsletter"  v-model="subscribeEmail" placeholder="Email Address" :maxlength="50" :errorMessage="emailErrorMessage"></MegaInput>
                            <button type="submit" class="mega-solution-body-heavy  creatr-footer-subscribe-button" :disabled="!validateEmail"  @click="subscribeToNewsLetter()">Join</button>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>

        <!-- Copyright -->
        <div class="container-fluid footer-section text-left p-4 px-5 mega-solution-cap-light creatr-footer-copyright">
            ©Creatr {{currentYear}}. All Rights Reserved.
        </div>
    </footer>
</template>

<script>

import MegaInput from "../MegaSolutionInputComponent/MegaSolutionInputComponent";
import checker from "../../checker"
import { isMobile, isTablet } from 'mobile-device-detect';

export default {
name: "MegaSolutionFooterComponent.vue",
    components:{
        MegaInput
    },
    computed:{
        currentYear(){
           return new Date().getFullYear()
        },
        validateEmail(){
            return checker.isEmail(this.subscribeEmail)
        }
    },
    data(){
        return{
            tiktokLogo:"",
            instagramLogo:"",
            subscribeEmail:"",
            emailErrorMessage:"",
            successMessage:"",
            footerMenu1:[
                {
                    content:"Explore",
                    link:"/categories"
                },
                {
                    content:"Blog",
                    link:"https://blog.creatrhq.com/"
                },
                // {
                //     content:"Studio",
                //     link:"https://studio.creatrhq.com/"
                // },
            ],
            footerMenu2:[
                {
                    content:"About us",
                    link:"/#"
                },
                {
                    content:"Terms of Services",
                    link:"https://creatrhq.com/terms-of-service/"
                },
                {
                    content:"Privacy Policy",
                    link:"https://creatrhq.com/privacy-policy/"
                },
                {
                    content:"Copyright Dmca",
                    link:"https://creatrhq.com/copyright-dmca/"
                },
                {
                    content:"Licensing",
                    link:"https://creatrhq.com/licensing/"
                },
                {
                    content:"Support",
                    link:"https://support.creatrhq.com/hc/en-us/requests/new"
                },
                {
                    content:"Help Center",
                    link:"https://support.creatrhq.com/hc/en-us"
                }
            ],
        }
    },
    props:{
        siteLogo:{
            type:String,
            default:"",
        },
        siteDescription:{
            type:String,
            default:"",
        },

        tiktokLink:{
            type:String,
            default:"",
        },
        instagramLink:{
            type:String,
            default:"",
        },
    },
    mounted() {
        this.tiktokLogo  = require('../../../icons/20210604/icons/24px/social_tiktok.png').default;
        this.instagramLogo  = require('../../../icons/20210604/icons/24px/logo_instagram.png').default;
    },
    methods:{
        subscribeToNewsLetter(){
            let that = this;
            this.emailErrorMessage = "";
            this.successMessage = "";

            if (checker.isEmail(this.subscribeEmail)){

                axios.post('/api/addSubscriber',{
                    'email': this.subscribeEmail
                }).then(res=>{
                    if(res.data.State){
                        that.successMessage = "Congrats! You have subscribed to us!"
                    }else{
                        that.emailErrorMessage = 'Oops! Somethings Goes wrong, please try later'
                    }
                    //console.log(res)
                }).catch(err=>{
                    that.emailErrorMessage = 'Oops! Somethings Goes wrong, please try later'
                })
            }else{
                that.emailErrorMessage = 'Oops! Somethings Goes wrong, please try later'
            }
        },
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.creatr-footer{
    background-color: $accent-5;
    padding-top: 48px;

    .footer-section{
        max-width: 1440px;
    }
    .footer-logo-section{
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 8px;
        .creatr-footer-logo{
            width: 48px;
            height: 48px;
        }
    }

    .creatr-footer-description{
        text-align: left;
        color: $neutral-text;
    }
    .footer-social-media{
        margin-top: 16px;

        .footer-social-media-logo{

            margin-left: 16px;
            img{
                width: 24px;
                height: 24px;
            }
            &:first-child{
                margin-left: unset !important;
            }
        }
    }

    .creatr-footer-section2{
        text-align: left;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        .creatr-footer-input-container{
            width: 100%;
            margin-top: 32px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;


        }
    }

    .creatr-footer-title{
        color: $neutral-text;
        margin-bottom: 24px;
    }
    .creatr-footer-subtitle{
        margin-top: 4px;
    }

    .creatr-footer-subscribe-success{
        color: $success-1;
        margin-top: 20px;
    }
    .creatr-footer-section-item{
        color: $neutral-tagline !important;
        margin-bottom: 16px;
    }
    .creatr-footer-subscribe-button{
        color: $primary-4;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
        height: 50px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: $neutral-text;
        //&:disabled{
        //    color: $primary-1;
        //}
    }

    .creatr-footer-copyright{
        color: $neutral-tagline ;
    }

    .grid-1{
        order: 1;

    }
    .grid-2{
        order: 2;
    }
    .grid-3{
        order: 3;
    }
    .grid-4{
        order: 4;
    }
}

@media screen and (max-width: 900px){
    .creatr-footer{
        .grid-1{
            order: 2;
        }
        .grid-2{
            order: 3;
        }
        .grid-3{
            order: 4;
        }
        .grid-4{
            order: 1;
            margin-bottom: 40px;
        }
    }

}

@media screen and (max-width: 576px){
    section .footer-section.px-5{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    .creatr-footer{
        .grid-1{
            order: 2;
            margin-bottom: 32px !important;
        }
        .grid-2{
            order: 3;
        }
        .grid-3{
            order: 4;
        }
        .grid-4{
            order: 1;
            margin-bottom: 40px;
        }
    }
}

</style>
