<template>
    <div class="profile-payment-method-component">
        <template v-if="loadingPayment">

            <div class="payment-loadding-container">
                <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
            </div>

        </template>
        <template v-else>
            <template v-if="paymentMethods.length > 0">
                <div class="mega-solution-horizontal-center payment-container justify-content-between" v-for="(item,index) in paymentMethods" :key="index">
                    <payment-item :payment-method="item" :is-default="checkIsPreferredPayment(item.id)"></payment-item>
                    <div class="pointer payment-container-more-option" @click="showEditView(index)">...</div>
                    <div class="payment-container-more-option-modal" v-if="index === showIndex" @click="showIndex = -1"></div>
                    <transition name="fade">
                        <div class="mega-solution-toggle-dropdown" v-if="index === showIndex">
                            <div class="pointer mega-solution-body-light mega-solution-toggle-dropdown-item" @click="showDeleteMode" >Delete it</div>
                            <div class="pointer mega-solution-body-light mega-solution-toggle-dropdown-item" @click="setItemAsDefault(index)">Set as default</div>
                        </div>
                    </transition>
                </div>
            </template>
            <template v-else>
                <div class="mega-solution-cap-light empty-message">You haven't set up any payment method yet! </div>
            </template>

            <template v-if="paymentMethods.length > 0">
                <div class="add-payment-method mega-solution-body-light pointer" @click="addPaymentMethods">
                    + Add another payment method
                </div>
            </template>
            <template v-else>
                <button class="creatr-primary-button-regular empty-button" @click="addPaymentMethods">Add payment method</button>
            </template>

        </template>

        <template v-if="addCardMode">

            <div class="pay-with-other-container container-fluid mega-solution-horizontal-center" :class="[processingPayment?'noaction':'']">
                <div class="add-card-section">
                    <div class="add-card-section-inner">

                        <add-payment-method :user-email="email"
                                            :client-secret="client_secret"
                                            type="add"
                                            @changeProcessStatus="changeProcessStatus"
                                            @saveSuccess="getUserPaymentInfo"
                        />
                    </div>
                    <img :src="cancelIcon" alt="cancel" class="cancel-select pointer" @click="hideAddCardView">
                </div>
            </div>
        </template>

        <template v-if="processingPayment">
            <FullScreenLoadding title="Adding Method..."></FullScreenLoadding>
        </template>

        <template v-if="deletePaymentMode">
                <MegaSolutionModalMessageComponent
                    left-message="Delete"
                    right-message="Cancel"
                    title="Delete?"
                    @dismiss="dismissModal"
                    @leftClicked="deleteItem(showIndex)"
                    @rightClicked="dismissModal"
                    subtitle="Are you sure you want to delete this payment method?">
                </MegaSolutionModalMessageComponent>

        </template>
    </div>
</template>

<script>
import PaymentItem from "../MegaSolutionPaymentItemComponent/MegaSolutionPaymentItemComponent";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";

import AddPaymentMethod from "../MegaSolutionCheckOutViewComponent/AddPaymentMethod";
import FullScreenLoadding
    from "../MegaSolutionFullScreenLoadingComponent/MegaSolutionFullScreenLoadingComponent";
import MegaSolutionModalMessageComponent from "../MegaSolutionModalMessageComponent/MegaSolutionModalMessageComponent";
export default {
    name: "MegaSolutionProfilePaymentMethodsComponent.vue",
    components:{
        PaymentItem,
        MegaSolutionLoaddingComponent,
        AddPaymentMethod,
        FullScreenLoadding,
        MegaSolutionModalMessageComponent
    },
    data(){
        return{
            paymentMethods:[],
            defaultPaymentMethod:null,
            client_secret:null,
            loadingPayment:false,
            showIndex: -1,
            addCardMode:false,

            processingPayment:false,
            cancelIcon:"",

            deletePaymentMode:false
        }
    },
    props:{
      email:{
          type:String,
          default:""
      },
    },
    mounted() {
        this.cancelIcon = require('../../../icons/20210604/icons/32px/cancel32.png').default
        this.getUserPaymentInfo()
    },
    methods:{
        checkIsPreferredPayment(paymentID){
            if(this.defaultPaymentMethod != null){
                if(paymentID === this.defaultPaymentMethod.id){
                    return true
                }else{
                    return false
                }
            }else{
                return false
            }
        },
        showEditView(index){
            this.showIndex = this.showIndex === index? -1 : index
        },
        changeProcessStatus(e) {
            this.processingPayment = e.status;
        },
        hideAddCardView(){
            if(this.addCardMode){
                this.addCardMode = false
            }
        },
        getUserPaymentInfo(){
            let that = this;
            that.loadingPayment = true
            that.addCardMode = false
            axios.get('/paymentmethods/getUserPaymentMethods',{
                headers: { 'Accept':'application/json' }
            }).then(res=>{
                if(res.status === 200){
                    //console.log("res",res.data.response)
                    that.defaultPaymentMethod = res.data.response.defaultMethod
                    that.paymentMethods = res.data.response.paymentMethods == null? [] : res.data.response.paymentMethods
                    that.client_secret = res.data.response.paymentIntent.client_secret

                    //console.log(this.defaultPaymentMethod,this.paymentMethods,this.client_secret)
                }else{
                    //console.log("res nothing")
                }
                that.loadingPayment = false
            }).catch(err=>{
                Vue.$toast.open({
                    message: err.response.data.response.errormsg,
                    position: "bottom",
                    type: 'error',
                });
                that.loadingPayment = false
            })
        },
        addPaymentMethods(){
            this.addCardMode = true
        },
        deleteItem(index) {
            let paymentMethod = this.paymentMethods[index]

            //console.log("payment method",paymentMethod)
            let param = {
                "payment_method_id": paymentMethod.id,
                _method: "delete"
            }

            let that = this;
            that.dismissModal()
            axios.post("/paymentmethods/deletePaymentMethod", param).then(function (res) {
                if(res.status === 200){
                    that.getUserPaymentInfo();
                    that.showIndex = -1
                }
            }).catch(function (error) {
                Vue.$toast.open({
                    message: error.response.data.message,
                    position: "bottom",
                    type: 'error',
                });
            })


        },
        setItemAsDefault(index){
            let paymentMethod = this.paymentMethods[index]

            let param = {
                "payment_method_id":paymentMethod.id,
                _method: "put"
            }
            let that = this;
            axios.post("/paymentmethods/setDefaultCard",param).then(function (res) {
                if(res.status === 200){
                    that.getUserPaymentInfo()
                    that.showIndex = -1
                }
            }).catch(function (error) {
                Vue.$toast.open({
                    message: error.response.data.message,
                    position: "bottom",
                    type: 'error',
                });
            })
        },
        dismissModal(){
            this.deletePaymentMode = false
        },
        showDeleteMode(){
            this.deletePaymentMode = true
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.profile-payment-method-component{
    margin-top: 50px;
    margin-bottom: 116px;
    .payment-loadding-container{
        width: 240px;
        height: 240px;
    }
    .add-payment-method{
        padding: 14px 16px;
        border-radius: 4px;
        border: 1px dashed $neutral-tagline;
        margin-top: 24px;
    }
    .empty-message{
        color: $neutral-tagline;
    }
    .empty-button{
      margin-top: 16px;

        width: 204px;
    }
    .payment-container {
        position: relative;

        .payment-container-more-option{
            color: $neutral-tagline;
            width: 24px;
        }

        .payment-container-more-option-modal {
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .mega-solution-toggle-dropdown {
            position: absolute;
            width: 154px;
            //height: 104px;
            top: 32px;
            right: 0px;
            background-color: $neutral-bg3;
            z-index: 9;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            > div {
                position: relative;
                width: 100%;
                padding: 16px 24px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                letter-spacing: -0.1px;
                color: #FAFAFAB2;

                &:hover {
                    color: white;
                }

                &:first-child::after {
                    content: "";
                    background: rgba(255, 255, 255, 0.1);
                    display: block;
                    top: 52px;
                    height: 1px;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, 0);
                    width: 80%;
                }
            }
        }
    }
}

.pay-with-other-container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black-blur ;
    z-index: 50;
    .add-card-section{
        max-width: 650px;
        min-height: 400px;
        background: $neutral-bg2;
        width: 650px;
        //height: 620px;
        border-radius: 8px;
        position: relative;
        padding: 32px;

        .add-card-section-inner{
            max-width: 424px;
            margin-left: auto;
            margin-right: auto;
            .add-card-section-top-section{

                .add-card-section-top-section-img{
                    width: 24px;
                    height: 24px;
                    margin-right: 4px;
                }
                .add-card-section-top-section-title{

                }
            }
        }
        .cancel-select{
            position: absolute;
            width: 32px;
            height: 32px;
            padding: 8px;
            border-radius: 16px;
            top: -16px;
            right: -16px;
            background-color: $neutral-body;
        }
    }
}

.noaction{
    pointer-events: none !important;
}

@media screen and (max-width: 576px){
    .pay-with-other-container .add-card-section{
        padding: 32px 16px;
    }
}

</style>
