<template>
    <div class="tags-section">
<!--        tags section-->
<!--        input -->
        <div class="tag-section-holder">
            <div v-for="(tag,index) in selectedTags" :key="index" class="tag-container">
                <div class="mega-solution-cap-heavy clamp tag-content">#{{tag}}</div>
                <div class="tag-cancel-container mega-solution-horizontal-center pointer" @click="deleteTag(index)">
                    <img :src="cancelImage" alt="cancel" class="tag-cancel">
                </div>
            </div>
        </div>


        <input type="text" list="tags" @input="onInput"  v-model="inputValue" class="tags-section-input" maxlength="50" :disabled="selectedTags.length >= maximumTags">
        <datalist id="tags">
            <template v-if="inputValue !== '' ">
                <template v-for="tag in tagsArray">
                    <option :value="tag.name" class="creatr-select-option mega-solution-body-light">{{tag.name}}</option>
                </template>
            </template>

        </datalist>
        <div class="mega-solution-cap-light tags-section-hints">{{selectedTags.length}}/{{maximumTags}}</div>
    </div>
</template>

<script>
export default {
name: "MegaSolutionTagsInput.vue",
    data(){
        return{
            inputValue:"",
            cancelImage:"",
        }
    },
    mounted() {
     this.cancelImage = require('../../../icons/20210604/icons/24px/cancel.png').default;

    },
    props:{
        selectedTags:{
            type:Array,
            default:[],
        },
        tagsArray:{
            type:Array,
            default:[],
        },
        maximumTags: {
            type:Number,
            default:20,
        }
    },
    methods:{

        onSelect(e){
        },
        onInput(e){
            if(e.inputType == null){
                this.createTagFromInput()
                return
            }

            if(e.inputType === 'insertFromPaste'){
                this.createTagFromClipboard()
                return
            }
            if(e.data === " "){
                this.createTagFromInput()
                return
            }


        },
        createTagFromInput(){
            let tag = this.removeSpecialCharactersInString(this.inputValue)
            if(tag !== ""){
                this.$emit('addTag',{
                    tag,
                })
            }
            this.inputValue = ""
        },
        deleteTag(index){
            this.$emit('deleteTag',{
                index,
            })
        },
        createTagFromClipboard(){
            let rawTags = this.inputValue.split(" ")
            let temptags = rawTags.map(this.removeSpecialCharactersInString)
            let tags = temptags.filter(item=>{
                return (item !== "")
            });
            if(tags.length > 0){
                this.$emit('addTags',{
                    tags
                })
                this.inputValue = ""
            }
        },
        removeSpecialCharactersInString(str){
           let tag = str.replace(/[^a-zA-Z0-9_]/g, "");
           return tag.toLowerCase();
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.tags-section{
    margin-top: 12px;
    width: 100%;

    .tag-section-holder{
        display: flex;
        flex-direction: row;
        gap: 12px;
        flex-wrap: wrap;
    }

    .tag-container{
        background-color: $neutral-input;
        padding: 4px 12px;
        border-radius: 4px;
        width: fit-content;
        position: relative;

        .tag-content{
            max-width: 200px;
        }
        .tag-cancel-container{
            height: 16px;
            width: 16px;
            right: -6px;
            top:-6px;
            position: absolute;
            border-radius: 50%;
            background-color: $neutral-disabled;
            padding: 1px;


            .tag-cancel{
                width: calc(100% - 2px);
                height: calc(100% - 2px);
            }
        }

    }
    .tags-section-input{
        width:100%;
        margin-top: 12px;
        appearance: none;
        &:focus{
            border: 1px solid $neutral-text;
        }
    }
    .tags-section-hints{
        width: 100%;
        color: $neutral-tagline;
        text-align: right;
    }
}

</style>
