<template>
    <div class="container-fluid search-page-container px-5">
        <div class="search-page-bar-container mega-solution-horizontal-center">
            <div class="search-page-bar-view mega-solution-horizontal-start" :class="[isEditing?'active':'']">
                <div class="search-page-bar-view-icon-container">
                    <img :src="searchIcon" alt="search" class="search-page-bar-view-icon-container-icon">
                </div>
                <input  @keyup.enter = "searchText" type="text" class="search-page-bar-view-input mega-solution-h3" placeholder="Search Creatr" v-model="keyword" @submit="searchText" @focus="searBarFocused" @focusout="searchBarFocusedOut">
                <button class="creatr-regular-button-type-1 mega-solution-body-heavy search-page-bar-view-container-search" @click="searchText" :class="[(keyword.trim()!=='')?'active':'']">search</button>
            </div>
        </div>

        <div class="search-options-section mega-solution-horizontal-center">
            <div class="mega-solution-sub-heavy search-options-section-item pointer" :class="[selectedIndex===0?'active':'']" @click="changeIndex(0)">Reels</div>
            <div class="mega-solution-sub-heavy search-options-section-item pointer" :class="[selectedIndex===1?'active':'']" @click="changeIndex(1)">Collections</div>
            <div class="mega-solution-sub-heavy search-options-section-item pointer" :class="[selectedIndex===2?'active':'']" @click="changeIndex(2)">Creators</div>
        </div>

        <div class="search-filter-section mega-solution-vertical-start">

            <div class="section-filter-section-title mega-solution-horizontal-start" >
                <template v-if="selectedIndex === 0">
                    <div class="mega-solution-sub-light">
                        {{reelsCount}} reels found
                    </div>
                    <div class="section-filter-button mega-solution-horizontal-center pointer " :class="isReelFilterOn?'active':''" @click="isReelFilterOn = !isReelFilterOn">
                        <img :src="filterIcon" alt="filter" class=" section-filter-button-icon">
                        <div class="mega-solution-body-light">
                            Filters
                        </div>
                    </div>

                </template>
                <template v-else-if="selectedIndex === 1">
                    <div class="mega-solution-sub-light">
                        {{collectionsCount}} collections found
                    </div>
                    <div class="section-filter-button mega-solution-horizontal-center pointer" :class="isCollectionFilterOn?'active':''" @click="isCollectionFilterOn = !isCollectionFilterOn">
                        <img :src="filterIcon" alt="filter" class=" section-filter-button-icon">
                        <div class="mega-solution-body-light">
                            Filters
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="mega-solution-sub-light">
                        {{creatorsCount}} creators found
                    </div>
                </template>
            </div>

            <template v-if="selectedIndex === 0">
                <template v-if="isReelFilterOn">
                    <div class="mega-solution-horizontal-center justify-content-between section-filter-section-content row align-items-end">
                        <div class="creatr-reel-detail-section-container col-xl-2 col-lg-2 item1">
                            <div  class = "creatr-reel-detail-section-title mega-solution-sub-heavy">Tags</div>
                            <select name="tags" id="reelTags" class="creatr-select mega-solution-body-light creatr-reel-detail-section-container-select"  v-model="reelSelectedTag">
                                <option :value="-1" class="creatr-select-option mega-solution-body-light">Select</option>
                                <template v-for="tag in tags">
                                    <option :value="tag.id" :key="tag.id" class="creatr-select-option mega-solution-body-light">{{tag.name}}</option>
                                </template>

                            </select>
                        </div>
                        <div class="creatr-reel-detail-section-container col-xl-2 col-lg-2 item2">
                            <div  class = "creatr-reel-detail-section-title mega-solution-sub-heavy">Category</div>
                            <select name="categories" id="reelCategories" class="creatr-select mega-solution-body-light creatr-reel-detail-section-container-select" v-model="reelSelectedCategory">
                                <option :value="-1" class="creatr-select-option mega-solution-body-light">Select</option>
                                <template v-for="category in categories">
                                    <option :value="category.id" :key="category.id" class="creatr-select-option mega-solution-body-light">{{category.name}}</option>
                                </template>

                            </select>
                        </div>
                        <div class="creatr-reel-detail-section-container col-xl-2 col-lg-2 item3">
                            <div  class = "creatr-reel-detail-section-title mega-solution-sub-heavy">Rating</div>
                            <select name="ratings" id="reelRatings" class="creatr-select mega-solution-body-light creatr-reel-detail-section-container-select" v-model="reelSelectedRate">
                                <option :value="-1" class="creatr-select-option mega-solution-body-light">Select</option>
                                <template v-for="rate in rates">
                                    <option :value="rate.id" :key="rate.id" class="creatr-select-option mega-solution-body-light">{{rate.type}}</option>
                                </template>

                            </select>
                        </div>
                        <div class="creatr-reel-detail-section-container col-xl-2 col-lg-2 item4">
                            <div  class = "creatr-reel-detail-section-title mega-solution-sub-heavy">Platform</div>
                            <select name="platforms" id="reelPlatforms" class="creatr-select mega-solution-body-light creatr-reel-detail-section-container-select" v-model="reelSelectedPlatform">
                                <option :value="-1" class="creatr-select-option mega-solution-body-light">Select</option>
                                <template v-for="platform in platforms">
                                    <option :value="platform.id" :key="platform.id" class="creatr-select-option mega-solution-body-light">{{platform.title}}</option>
                                </template>

                            </select>
                        </div>
                        <div class="col-xl-2 col-lg-2 mega-solution-horizontal-center apply-filter-button">
                            <button type="submit" class="creatr-primary-button-large " @click="reloadReels()">Apply</button>
                        </div>
                    </div>
                </template>

            </template>
            <template v-else-if="selectedIndex === 1">
                <template v-if="isCollectionFilterOn">
                    <div class="mega-solution-horizontal-center justify-content-between section-filter-section-content row align-items-end">
                            <div class="creatr-reel-detail-section-container col-xl-2 col-lg-2 item1">
                                <div  class = "creatr-reel-detail-section-title mega-solution-sub-heavy">Tags</div>
                                <select name="tags" id="collectionTags" class="creatr-select mega-solution-body-light creatr-reel-detail-section-container-select"  v-model="collectionSelectedTag">
                                    <option :value="-1" class="creatr-select-option mega-solution-body-light">Select</option>
                                    <template v-for="tag in tags">
                                        <option :value="tag.id" :key="tag.id" class="creatr-select-option mega-solution-body-light">{{tag.name}}</option>
                                    </template>

                                </select>
                            </div>
                            <div class="creatr-reel-detail-section-container col-xl-2 col-lg-2 item2">
                                <div  class = "creatr-reel-detail-section-title mega-solution-sub-heavy">Category</div>
                                <select name="categories" id="collectioncategories" class="creatr-select mega-solution-body-light creatr-reel-detail-section-container-select" v-model="collectionSelectedCategory">
                                    <option :value="-1" class="creatr-select-option mega-solution-body-light">Select</option>
                                    <template v-for="category in categories">
                                        <option :value="category.id" :key="category.id" class="creatr-select-option mega-solution-body-light">{{category.name}}</option>
                                    </template>
                                </select>
                            </div>
                            <div class="creatr-reel-detail-section-container col-xl-2 col-lg-2 item3">
                                <div  class = "creatr-reel-detail-section-title mega-solution-sub-heavy">Rating</div>
                                <select name="ratings" id="collectionRatings" class="creatr-select mega-solution-body-light creatr-reel-detail-section-container-select" v-model="collectionSelectedRate">
                                    <option :value="-1" class="creatr-select-option mega-solution-body-light">Select</option>
                                    <template v-for="rate in rates">
                                        <option :value="rate.id" :key="rate.id" class="creatr-select-option mega-solution-body-light">{{rate.type}}</option>
                                    </template>
                                </select>
                            </div>
                            <div class="creatr-reel-detail-section-container col-xl-2 col-lg-2 item4">
                                <div  class = "creatr-reel-detail-section-title mega-solution-sub-heavy">Platform</div>
                                <select name="platforms" id="collectionPlatforms" class="creatr-select mega-solution-body-light creatr-reel-detail-section-container-select" v-model="collectionSelectedPlatform">
                                    <option :value="-1" class="creatr-select-option mega-solution-body-light">Select</option>
                                    <template v-for="platform in platforms">
                                        <option :value="platform.id" :key="platform.id" class="creatr-select-option mega-solution-body-light">{{platform.title}}</option>
                                    </template>
                                </select>
                            </div>
                            <div class="col-xl-2 col-lg-2 mega-solution-horizontal-center apply-filter-button">
                                <button type="submit" class="creatr-primary-button-large" @click="reloadCollections">Apply</button>
                            </div>
                        </div>
                </template>
            </template>
            <template v-else>

            </template>

        </div>

        <template v-if="selectedIndex === 0">
            <template v-if="reels.length > 0">
                <MegaSolutionReelsGridComponent :reels="reels" type="display"></MegaSolutionReelsGridComponent>
            </template>
            <template v-else>
                <content-reel-container-empty-status v-if="reelLoadFinish" message="There is no reel yet!" message2="Come back to check later!" />
            </template>
        </template>
        <template v-else-if="selectedIndex === 1">
            <template v-if="collections.length > 0">
                <MegaSolutionCollectionsGridComponent :collections="collections"></MegaSolutionCollectionsGridComponent>
            </template>
            <template v-else>
                <content-collection-comtainer-empty-status v-if="collectionLoadFinish" message="There is no collection yet!" message2="Come and check Later!" />
            </template>
        </template>
        <template v-else>

            <template v-if="creators.length > 0">
                <MegaSolutionCreatorsGridComponent :creators="creators"></MegaSolutionCreatorsGridComponent>
            </template>
            <template v-else>
                <MegaSolutionEmptyCreatorComponent v-if="creatorLoadFinish"></MegaSolutionEmptyCreatorComponent>
            </template>
        </template>

        <div class="container-fluid mega-solution-horizontal-center" v-if="loading">
            <div class="ring-container ">
                <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
            </div>
        </div>

        <template v-if="selectedIndex === 0">
            <template v-if="reelLoadFinish && reels.length > 0">
                <MegaSolutionLoadedComponent></MegaSolutionLoadedComponent>
            </template>
        </template>
        <template v-else-if ="selectedIndex === 1">
            <template v-if="collectionLoadFinish && collections.length >0 ">
                <MegaSolutionLoadedComponent></MegaSolutionLoadedComponent>
            </template>

        </template>
        <template v-else>

            <template v-if=" creatorLoadFinish && creators.length >0 ">
                <MegaSolutionLoadedComponent></MegaSolutionLoadedComponent>
            </template>

        </template>

    </div>
</template>

<script>

import MegaSolutionReelsGridComponent from "../MegaSolutionReelsGridComponent/MegaSolutionReelsGridComponent";
import MegaSolutionCollectionsGridComponent
    from "../MegaSolutionCollectionsGridComponent/MegaSolutionCollectionsGridComponent";
import ContentCollectionComtainerEmptyStatus
    from "../MegaSolutionProfileVideosComponent/ContentCollectionComtainerEmptyStatus";
import ContentReelContainerEmptyStatus from "../MegaSolutionProfileVideosComponent/ContentReelContainerEmptyStatus";
import MegaSolutionEmptyCreatorComponent from "../MegaSolutionEmptyCreatorComponent/MegaSolutionEmptyCreatorComponent";
import MegaSolutionCreatorsGridComponent from "../MegaSolutionCreatorsGridComponent/MegaSolutionCreatorsGridComponent";
import MegaSolutionLoadedComponent from "../MegaSolutionLoadedComponent/MegaSolutionLoadedComponent";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";
export default {
    name: "MegaSolutionSearchPageComponent.vue",
    components:{
        MegaSolutionReelsGridComponent,
        MegaSolutionCollectionsGridComponent,
        ContentCollectionComtainerEmptyStatus,
        ContentReelContainerEmptyStatus,
        MegaSolutionEmptyCreatorComponent,
        MegaSolutionCreatorsGridComponent,
        MegaSolutionLoadedComponent,
        MegaSolutionLoaddingComponent
    },
    props:{
        searchBasics:{
            type:Object,
            default:null,
        },
        tags:{
            type:Array,
            default: []
        },
        categories:{
            type:Array,
            default: []
        },
        rates: {
            type: Array,
            default: () => []
        },
        platforms: {
            type: Array,
            default: () => []
        }
    },
    data(){
        return{
            searchIcon:"",
            filterIcon:"",
            keyword:"",
            isEditing:"",
            selectedIndex:0,
            reelsCount : 0,
            collectionsCount : 0,
            creatorsCount : 0,

            loading:false,

            //reel filter
            isReelFilterOn:false,
            reelSelectedTag:-1,
            reelSelectedCategory:-1,
            reelSelectedPlatform:-1,
            reelSelectedRate:-1,

            reelPageIndex:1,
            reelPageSize:9,
            reelLoadFinish:false,
            reels:[],
            reelPageSeed:"",


            //collection filter
            isCollectionFilterOn:false,
            collectionSelectedTag:-1,
            collectionSelectedCategory:-1,
            collectionSelectedPlatform:-1,
            collectionSelectedRate:-1,

            collectionPageIndex:1,
            collectionPageSize:9,
            collectionLoadFinish:false,
            collections:[],
            collectionPageSeed:"",

            //creator filter
            creatorPageIndex:1,
            creatorPageSize:9,
            creatorLoadFinish:false,
            creators:[],
            creatorPageSeed:"",

        }
    },
    mounted() {
        this.searchIcon = require('../../../icons/20210604/icons/40px/search40.png').default
        this.filterIcon = require('../../../icons/20210604/icons/16px/filter2.png').default
        this.keyword = this.searchBasics.keyword
        this.reelsCount = this.searchBasics.reelsCount
        this.collectionsCount = this.searchBasics.collectionsCount
        this.creatorsCount = this.searchBasics.creatorsCount
        this.scroll()
        this.loadMoreReels(this.loadMoreCollections,this.loadMoreCreators)

    },
    methods:{
        searchText(){
            if(this.keyword.trim() === ""){
                window.location.replace(`/search`)
            }else{
                window.location.replace(`/search?keyword=${this.keyword.trim()}`)
            }
        },
        scroll(){
            window.onscroll = () => {
                let left = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight;
                let right = document.documentElement.offsetHeight - 350;
                let bottomOfWindow = (left >= right);
                let top = document.scrollingElement.scrollTop;
                if(this.oldTop <= top && bottomOfWindow){
                    this.loadMoreData()
                }
                this.oldTop = JSON.parse(JSON.stringify(top));
            }
        },
        reloadReels(){
            this.reelPageSeed = ""
            this.reelPageIndex = 1
            this.reelLoadFinish = false
            this.reels = []
            this.loadMoreReels()
        },
        reloadCollections(){
            this.collectionPageSeed = ""
            this.collectionPageIndex = 1
            this.collectionLoadFinish = false
            this.collections = []
            this.loadMoreCollections()
        },
        loadMoreData(){
            if(this.selectedIndex === 0){
                this.loadMoreReels()
            }
            if(this.selectedIndex === 1){
                this.loadMoreCollections()
            }
            if(this.selectedIndex === 2){
                this.loadMoreCreators()
            }
        },
        searBarFocused(){
            this.isEditing = true
        },
        searchBarFocusedOut(){
            this.isEditing = false
        },
        changeIndex(index){
            if (this.selectedIndex !== index){
                this.selectedIndex = index
            }
        },
        loadMoreCreators(){
            let that = this;
            if(that.creatorLoadFinish){

            }else{
                if(this.loading === false){
                    this.loading = true
                    let data = {
                        "creatorPageIndex":this.creatorPageIndex,
                        "creatorPageSeed":this.creatorPageSeed,
                        "creatorPageSize":this.creatorPageSize,
                        "keyword":that.keyword.trim()
                    }

                    axios.get("/search/getCreators",{
                        params: data,
                        headers: {
                            'Accept': 'application/json'
                        }
                    }).then(function (res) {
                        if(res.status === 200){
                            let temp = res.data.response.creators;
                            if(temp.length < that.creatorPageSize){
                                that.creatorLoadFinish = true
                            }else{
                                that.creatorPageIndex++;
                            }
                            that.creators = that.creators.concat(temp)
                            that.creatorPageSeed = res.data.response.pageSeed
                            that.loading = false
                        }
                    })
                }
            }
        },
        loadMoreReels(loadFinish,loadFinish2){
            let that = this;
            if(that.reelLoadFinish){

            }else{
                if(this.loading === false){
                    this.loading = true
                    let data = {
                        "reelPageIndex":this.reelPageIndex,
                        "reelPageSeed":this.reelPageSeed,
                        "reelPageSize":this.reelPageSize,
                        "reelSelectedCategory":that.reelSelectedCategory,
                        "reelSelectedTag":that.reelSelectedTag,
                        "reelSelectedPlatform":that.reelSelectedPlatform,
                        "reelSelectedRate":that.reelSelectedRate,
                        "keyword":that.keyword.trim()
                    }

                    axios.get("/search/getReels",{
                        params: data,
                        headers: {
                            'Accept': 'application/json'
                        }
                    }).then(function (res) {
                        if(res.status === 200){
                            let temp = res.data.response.reels;
                            if(temp.length < that.reelPageSize){
                                that.reelLoadFinish = true
                            }else{
                                that.reelPageIndex++;
                            }
                            that.reels = that.reels.concat(temp)
                            that.reelPageSeed = res.data.response.pageSeed
                            that.loading = false
                            if (loadFinish){
                                if(loadFinish2){
                                    loadFinish(loadFinish2)
                                }else{
                                    loadFinish()
                                }

                            }
                        }
                    })
                }
            }
        },
        loadMoreCollections(loadFinish){
            let that = this;
            if(that.collectionLoadFinish){

            }else{
                if(this.loading === false){
                    this.loading = true
                    let data = {

                        "collectionPageIndex":this.collectionPageIndex,
                        "collectionPageSeed":this.collectionPageSeed,
                        "collectionPageSize":this.collectionPageSize,
                        "collectionSelectedCategory":this.collectionSelectedCategory,
                        "collectionSelectedTag":this.collectionSelectedTag,
                        "collectionSelectedPlatform":this.collectionSelectedPlatform,
                        "collectionSelectedRate":this.collectionSelectedRate,
                        "keyword":that.keyword.trim(),

                    }
                    axios.get("/search/getCollections",{
                        params: data,
                        headers: {
                            'Accept': 'application/json'
                        }
                    }).then(function (res) {
                        if(res.status === 200){

                            let temp = res.data.response.collections;
                            if(temp.length < that.collectionPageSize){
                                that.collectionLoadFinish = true
                            }else{
                                that.collectionPageIndex++;
                            }
                            that.collections = that.collections.concat(temp)
                            that.collectionPageSeed = res.data.response.pageSeed
                            that.loading = false
                            if(loadFinish){
                                loadFinish()
                            }
                        }

                    })
                }
            }
        }


    }

}
</script>

<style scoped lang="scss">

@import "resources/sass/app.scss";
.search-page-container{
    padding-top: 180px;
    padding-bottom: 104px;
    .search-page-bar-container{
        .search-page-bar-view{
            width: 50%;
            min-width: 350px;
            height: 60px;
            border-bottom: 1px solid white;
            padding-bottom: 12px;
            align-items: flex-end;
            &.active{
                border-bottom-color: $primary-4;
            }

            .search-page-bar-view-icon-container{
                width: 40px;
                height: 40px;
                .search-page-bar-view-icon-container-icon{
                    width: 100%;
                    height: 100%;
                }
            }
            .search-page-bar-view-input{
                flex: 1;
                background: unset;
                padding-bottom: unset;
            }
            .search-page-bar-view-container-search{
                text-transform: uppercase;
                color: $primary-4;
                display: none;
                &.active{
                    display: flex;
                }
            }

        }
    }

    .search-options-section{
        gap: 64px;
        margin-top: 72px;
        .search-options-section-item{
            color: $neutral-tagline;
            padding-bottom: 8px;
            border-bottom: 1px solid transparent;
            &.active{
                color: $neutral-text;
                border-bottom-color: $neutral-text;
            }
        }
    }
    .search-filter-section{
        margin-top: 34px;

        .section-filter-section-title{

            .section-filter-button{
                background: $neutral-input;
                padding: 4px 12px;
                margin-left: 16px;
                border-radius: 4px;
                border: 1px solid transparent;
                &.active{
                    border-color:$neutral-text ;
                }

                .section-filter-button-icon{
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                }
            }

        }

        .section-filter-section-content{
            width: 100%;
            margin-top: 48px;
            margin-left: auto;
            margin-right: auto;
            .creatr-reel-detail-section-container{
                padding: unset ;

                &.item1{
                    padding-right: 30px;
                }
                &.item2{
                    padding-right: 30px;
                }
                &.item3{
                    padding-right: 30px;
                }
                &.item4{
                    padding-right: 30px;
                }
                .creatr-reel-detail-section-sub-title{
                    color: $neutral-tagline;
                    margin-top: 4px;
                }
                .creatr-reel-detail-section-container-select{
                    width: 100%;
                    margin-top: 12px;
                }
                .collection-select-button{
                    margin-top:12px;
                    border-radius: 8px;
                    background-color: $neutral-input;
                    padding: 14px 12px;
                }
            }
            .apply-filter-button{
                padding: unset ;
                justify-content: flex-end;
            }

        }

   }

    .ring-container{
        margin-top: 40px;
        margin-bottom: 40px;
        width: 240px;
        height: 240px;
    }
    .content-reels-container{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

}

@media screen and (max-width: 1440px) {
    .search-page-container .search-page-bar-container .search-page-bar-view .search-page-bar-view-input{
        width: 80%;
    }
}


@media screen and (max-width: 990px){
    .search-page-container .search-filter-section .section-filter-section-content {

        .creatr-reel-detail-section-container{
            margin-bottom: 20px;
            &.item1{
                padding-right: unset;
            }
            &.item2{
                padding-right: unset;
            }
            &.item3{
                padding-right: unset;
            }
            &.item4{
                padding-right: unset;
            }
        }
        .apply-filter-button{
            justify-content: center;
        }

    }

}

@media screen and (max-width: 900px){
    .search-page-container{
        padding-top: 120px;
    }


    .search-page-container .search-page-bar-container .search-page-bar-view{
        width: 80%;
    }
}

@media screen and (max-width: 576px){
    .search-page-container{
        padding-top: 76px;
        .content-reels-container{
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        }
    }

    .search-page-container .search-options-section{
        margin-top: 48px;
        gap: 48px;
    }
    .search-page-container .search-page-bar-container .search-page-bar-view{
        min-width: unset;
        width: 100%;
        .search-page-bar-view-icon-container{
            width: 36px;
            height: 36px;
        }
        .creatr-regular-button-type-1{
            padding-bottom: unset !important;
        }
    }
    .container-fluid.search-page-container.px-5{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

}



</style>
