<template>
    <div class="container">
        <form @submit="formSubmit" enctype="multipart/form-data">
            <input type="file" class="choose-file-input" v-on:change="onChange">
            <button type="submit" class="choose-file-upload creatr-primary-button-regular btn-block">Upload</button>
        </form>
    </div>

</template>

<script>
export default {
    name: "MegaSolutionUploadVideoComponent.vue",
    data(){
      return{
          file:null,
      }
    },
    methods:{
        onChange(e) {
            this.file = e.target.files[0];
        },
        formSubmit(e) {
            e.preventDefault();
            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }
            let data = new FormData();

            let that = this;
            data.append('file', this.file);
            //console.log(this.file)
            if(this.file != null ){
                axios.post('/uploadVideo', data, config)
                    .then(function (res) {
                        if(res.status === 200){
                            that.file = null
                        }
                    })
                    .catch(function (err) {
                        //console.log('err',err.response)
                    });
            }

        },
    }
}
</script>

<style scoped>

</style>
