<template>
  <div class="collection-eco-cell">
    <a :href="'/collections/' + collection.url_handle">
      <div class="collection-eco-cell-thumbnail-container">
        <template v-if="collection.reels.length > 0">
          <div
            class="collection-eco-cell-multiple-image-container"
            :class="
              'items-' +
                (collection.reels.length > 4 ? 4 : collection.reels.length)
            "
          >
            <div class="collection-eco-cell-multiple-image-container-item">
              <img
                :src="getImage(collection.reels[0].thumbnail)"
                alt="thumbnail"
                class="collection-eco-cell-multiple-image-container-item-thumbnail"
              />
            </div>
            <div
              class="collection-eco-cell-multiple-image-container-item"
              v-if="collection.reels[1] != null"
            >
              <img
                :src="getImage(collection.reels[1].thumbnail)"
                alt="thumbnail"
                class="collection-eco-cell-multiple-image-container-item-thumbnail"
              />
            </div>
            <div
              class="collection-eco-cell-multiple-image-container-item"
              v-if="collection.reels[2] != null"
            >
              <img
                :src="getImage(collection.reels[2].thumbnail)"
                alt="thumbnail"
                class="collection-eco-cell-multiple-image-container-item-thumbnail"
              />
            </div>
            <div
              class="collection-eco-cell-multiple-image-container-item"
              v-if="collection.reels[3] != null"
            >
              <img
                :src="getImage(collection.reels[3].thumbnail)"
                alt="thumbnail"
                class="collection-eco-cell-multiple-image-container-item-thumbnail"
              />
            </div>
          </div>
        </template>
        <template v-else-if="collection.reels.length === 1">
          <img
            :src="getImage(collection.reels[0].thumbnail)"
            alt="thumbnail"
            class="collection-eco-cell-thumbnail"
          />
        </template>
        <template v-else>
          <img
            :src="logoIcon"
            alt="thumbnail"
            class="collection-eco-cell-thumbnail"
          />
        </template>
      </div>
      <div class="collection-eco-cell-thumbnail-container-default">
        <template v-if="collection.reel != null">
          <img
            :src="getImage(collection.reel.thumbnail)"
            alt="thumbnail"
            class="collection-eco-cell-thumbnail"
          />
        </template>
        <template v-else>
          <img
            :src="logoIcon"
            alt="thumbnail"
            class="collection-eco-cell-thumbnail"
          />
        </template>
      </div>
      <div
        class="collection-eco-cell-detail-section mega-solution-vertical-start"
      >
        <div class="clamp full-width">
          <h3
            class="mega-solution-body-heavy collection-eco-cell-detail-section-username  clamp"
          >
            {{ collection.user.name }}
          </h3>
        </div>

        <div
          class="collection-eco-cell-detail-section-body-section mega-solution-vertical-start justify-content-start"
        >
          <template v-if="headTags.length !== 0">
            <div
              class="collection-eco-cell-detail-section-body-tags-section mega-solution-footer-light mega-solution-horizontal-start"
            >
              <div
                class="collection-eco-cell-detail-section-body-tags-section-tag clamp"
                v-for="(item, index) in headTags"
                :key="index"
              >
                <a
                  class="collection-eco-cell-detail-section-body-tags-section-tag-link mega-solution-footer-light"
                  :href="'/tags/' + item.name"
                  >#{{ item.name }}</a
                >
              </div>
            </div>
          </template>
          <div
            class="collection-eco-cell-detail-section-title mega-solution-footer-light clamp-2"
          >
            {{ collection.title }}
          </div>
        </div>
      </div>

      <div class="collection-eco-cell-reels-count mega-solution-footer-light">
        {{
          collection.reels
            ? collection.reels.length === 1
              ? `${collection.reels.length} reel`
              : `${collection.reels.length} reels`
            : ""
        }}
      </div>
      <img
        :src="collectionIcon"
        alt="collection Icon"
        class="collection-eco-cell-icon"
      />
    </a>

    <template v-if="!collection.is_creator">
      <template v-if="isInWishlist">
        <div
          class="collection-eco-cell-button"
          @click.stop="removeFromWishlist()"
          :class="{ isDisable: loading }"
        >
          <img
            :src="wishlistedIcon"
            alt="wishlisted"
            class="collection-eco-cell-thumbnail-button-container-icon"
          />
        </div>
      </template>
      <template v-else>
        <div
          class="collection-eco-cell-button"
          @click.stop="addToWishlist()"
          :class="{ isDisable: loading }"
        >
          <img
            :src="wishlistIcon"
            alt="wishlist"
            class="collection-eco-cell-thumbnail-button-container-icon"
          />
        </div>
      </template>
    </template>
  </div>
</template>

<script>
import helper from "../../helper";

export default {
  name: "MegaSolutionEcoCollectionDisplayCell",
  props: {
    collection: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      baseUrl: process.env.MIX_PUSHER_APP_URL,
      loading: false,
      isInWishlist: false,
      wishlistIcon: "",
      wishlistedIcon: "",
      logoIcon: "",
      collectionIcon: ""
    };
  },
  computed: {
    headTags() {
      if (this.collection.tags != null) {
        switch (this.collection.tags.length) {
          case 0:
            return [];
          case 1:
            return this.collection.tags;
          case 2:
            return this.collection.tags;
          case 3:
            return this.collection.tags;
          default:
            return this.collection.tags.slice(0, 3);
        }
      } else {
        return [];
      }
    }
  },
  mounted() {
    this.wishlistIcon = require("../../../icons/20210604/icons/16px/star_outlined_16px.png").default;
    this.wishlistedIcon = require("../../../icons/20210604/icons/16px/star_filled_16px.png").default;
    this.logoIcon = require("../../../icons/20210604/sitelogo.png").default;
    this.collectionIcon = require("../../../icons/20210604/icons/24px/collection.png").default;
    this.isInWishlist = this.collection.is_in_wishlist;

    //console.log("collection", this.collection);
  },
  methods: {
    getImage(imagePath) {
      return `/storage/${imagePath}`;
    },
    addToWishlist() {
      const that = this;
      that.loading = true;
      const data = {
        content_id: this.collection.id,
        type: "collection"
      };

      axios
        .post("/wishlist/addToWishlist", data)
        .then(res => {
          if (res.status === 200) {
            that.isInWishlist = true;
            Vue.$toast.open({
              message: "Added To Your Wishlist! ",
              position: "bottom",
              type: "success"
            });
          }
        })
        .catch(err => {
          if (err.response.status === 401) {
            Vue.$toast.open({
              message: "Please log in first! ",
              position: "bottom",
              type: "error"
            });
          }

          if (err.response.status === 403) {
            //console.log(err.response.data);
            Vue.$toast.open({
              message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
              position: "bottom",
              type: "error"
            });
          }
        })
        .finally(() => {
          that.loading = false;
        });
    },
    removeFromWishlist() {
      const that = this;
      that.loading = true;
      const data = {
        content_id: this.collection.id,
        type: "collection"
      };

      axios
        .post("/wishlist/removeFromWishlist", data)
        .then(res => {
          if (res.status === 200) {
            that.isInWishlist = false;

            Vue.$toast.open({
              message: "Removed From Your Wishlist! ",
              position: "bottom",
              type: "success"
            });
          }
        })
        .catch(err => {
          if (err.response.status === 401) {
            Vue.$toast.open({
              message: "Please log in first! ",
              position: "bottom",
              type: "error"
            });
          }

          if (err.response.status === 403) {
            //console.log(err.response.data);
            Vue.$toast.open({
              message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
              position: "bottom",
              type: "error"
            });
          }
        })
        .finally(() => {
          that.loading = false;
        });
    }
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.collection-eco-cell {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background: #1c1c1c;

  &:hover {
    .collection-eco-cell-reels-count {
      display: block;
    }
    .collection-eco-cell-thumbnail-container {
      opacity: 1;
      transition: all 1s ease-in-out;
      filter: brightness(40%);
    }
    .collection-eco-cell-thumbnail-container-default {
      //display: none;
      opacity: 0;
      transition: all 1s ease-in-out;
    }
    .collection-eco-cell-detail-section {
      .collection-eco-cell-detail-section-body-section {
        .collection-eco-cell-detail-section-title {
          display: flex;
        }
        .collection-eco-cell-detail-section-body-tags-section {
          display: flex;
        }
      }
    }
    .collection-eco-cell-button {
      display: flex;
    }
  }
  .collection-eco-cell-thumbnail-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 1s ease-in-out;
    /*display: none;*/
    .collection-eco-cell-multiple-image-container {
      display: grid;
      grid-template-rows: 64% 33%;
      grid-template-columns: repeat(3, 1fr);

      position: absolute;
      grid-gap: 8px;

      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;

      &.items-1 {
        :first-child {
          grid-column: 1/4;
          grid-row: 1/3;
        }
      }
      &.items-2 {
        grid-template-rows: 1fr 1fr;
        :first-child {
          grid-row: 1/2;
          grid-column: 1/4;
        }
        :nth-child(2) {
          grid-column: 1/4;
          grid-row: 2/3;
        }
      }
      &.items-3 {
        grid-template-columns: repeat(2, 1fr);
        :first-child {
          grid-row: 1/2;
          grid-column: 1/3;
        }
        :nth-child(2) {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        :nth-child(3) {
          grid-column: 2/3;
          grid-row: 2/3;
        }
      }
      &.items-4 {
        :first-child {
          grid-column: 1/4;
          grid-row: 1/2;
        }
      }

      .collection-eco-cell-multiple-image-container-item {
        position: relative;

        .collection-eco-cell-multiple-image-container-item-thumbnail {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        .collection-eco-cell-multiple-image-container-item-preview {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          object-fit: cover;
          width: 100%;
          height: 100%;
          display: none;
        }
      }
    }
    .collection-eco-cell-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .collection-eco-cell-preview {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: none;
    }
  }

  .collection-eco-cell-thumbnail-container-default {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    transition: all 1s ease-in-out;
    .collection-eco-cell-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .collection-eco-cell-detail-section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $overlay-solid;
    padding: 16px;

    .collection-eco-cell-detail-section-username {
      margin-right: 24px;
      margin-bottom: 0;
      line-height: 24px;
    }
    .collection-eco-cell-detail-section-body-section {
      width: 100%;
      flex: 1;
      .collection-eco-cell-detail-section-title {
        display: none;
        margin-top: 4px;
      }
      .collection-eco-cell-detail-section-body-tags-section {
        display: none;
        gap: 8px;
        flex-wrap: wrap;
        margin-top: 10px;
        width: 100%;
        .collection-eco-cell-detail-section-body-tags-section-tag {
          border: 1px solid $neutral-text;
          border-radius: 4px;
          padding: 2px 4px;
          line-height: 14px;

          .collection-eco-cell-detail-section-body-tags-section-tag-link {
            color: $neutral-text;
          }
        }
      }
    }
  }

  .collection-eco-cell-reels-count {
    position: absolute;
    display: none;
    bottom: 16px;
    left: 16px;
  }
  .collection-eco-cell-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
  }

  .collection-eco-cell-button {
    position: absolute;
    display: none;
    bottom: 16px;
    right: 16px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;

    .collection-eco-cell-thumbnail-button-container-icon {
      width: 14px;
      height: 14px;
    }

    &:hover {
      transform: scale(1.1);
    }
    &.isDisable {
      pointer-events: none;
      filter: brightness(0.4);
    }
  }
}

@media screen and (max-width: 1025px) {
  .collection-eco-cell {
    .collection-eco-cell-button {
      display: flex;
    }
  }
}
</style>
