<template>
    <div class="container-fluid">
        <div
            class="modal-view container-fluid mega-solution-horizontal-center"
            @click.stop=""
        >
            <div
                class="modal-view-container "
                @click.stop=""
                @touchmove.prevent.stop
                @mousewheel.prevent
            >
                <div class="modal-view-title mega-solution-body-heavy">
                    {{
                        isSuccessfulReported
                            ? "Thank you for Reporting"
                            : "Report Item"
                    }}
                </div>
                <template v-if="!loadCompleted">
                    <div
                        class="container-fluid mega-solution-horizontal-center"
                    >
                        <div class="ring-container ">
                            <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="reporting-container">
                        <div
                            class="reporting-section-title mega-solution-cap-heavy"
                        >
                            {{
                                isSuccessfulReported
                                    ? "We appreciate your feedback."
                                    : "Why do you wish to report this reel?"
                            }}
                        </div>
                        <div
                            class="reporting-section-subtitle mega-solution-footer-light"
                        >
                            {{
                                isSuccessfulReported
                                    ? "You will be kept anonymous. Our team will review your report shortly."
                                    : "You will be kept anonymous."
                            }}
                        </div>

                        <template v-if="isSuccessfulReported === false">
                            <div class="reporting-options-container">
                                <div
                                    v-for="(reason, index) in reportingReasons"
                                    :key="index"
                                    class="reporting-option"
                                >
                                    <div
                                        class="reporting-option-top mega-solution-horizontal-center"
                                    >
                                        <input
                                            type="radio"
                                            :id="'reporting_radio_' + index"
                                            v-model="picked"
                                            :value="reason.id"
                                        />
                                        <label
                                            :for="'reporting_radio_' + index"
                                            class="reporting-label mega-solution-horizontal-start"
                                        >
                                            <div
                                                class=" reporting-label-detail mega-solution-horizontal-center"
                                            >
                                                <div
                                                    class="reporting-label-detail-label mega-solution-footer-light mega-solution-horizontal-center"
                                                    :class="{
                                                        unchecked:
                                                            reason.id !== picked
                                                    }"
                                                >
                                                    {{ reason.type }}
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="reporting-description-section">
                                <div
                                    class="reporting-description-section-title mega-solution-cap-heavy"
                                >
                                    {{ "Description(optional)" }}
                                </div>
                                <div
                                    class="reporting-description-section-subtitle mega-solution-footer-light"
                                >
                                    Could you tell us in details why you’re
                                    reporting this item?
                                </div>
                                <textarea
                                    v-model="reportingDetail"
                                    class="reporting-description-section-textarea mega-solution-p2-light"
                                ></textarea>
                            </div>
                            <div class="modal-view-button-container">
                                <button
                                    class="creatr-secondary-button-regular"
                                    @click.prevent.stop="dismiss"
                                    :disabled="isLoading"
                                >
                                    Cancel
                                </button>
                                <button
                                    class="creatr-primary-button-regular"
                                    @click.prevent.stop="reportButtonClicked"
                                    :disabled="picked === null || isLoading"
                                >
                                    Report
                                </button>
                            </div>
                        </template>
                        <template v-else>
                            <div class="modal-view-button-container">
                                <button
                                    class="creatr-primary-button-regular"
                                    @click.prevent.stop="dismiss"
                                    :disabled="isLoading"
                                >
                                    Close
                                </button>
                            </div>
                        </template>
                    </div>
                </template>
            </div>

            <template v-if="showSignUpView">
                <sign-up-view @hideSignUpView="hideSignUpView"></sign-up-view>
            </template>
        </div>
    </div>
</template>

<script>
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";
import signUpView from "../MegaSolutionRegisterComponent/MegaSolutionSignUpView.vue";
import axios from "axios";

export default {
    name: "MegaSolutionReportingViewModalComponent",
    components: {
        MegaSolutionLoaddingComponent,
        signUpView
    },
    props: {
        itemId: {
            type: Number,
            default: null
        },
        itemType: {
            type: String,
            default: null
        }
    },
    created() {
        this.getAvaliableReportingReasons();
    },
    data() {
        return {
            picked: null,
            selectedReason: null,
            // video loaded
            loadCompleted: false,
            showSignUpView: false,
            reportingDetail: "",
            reportingReasons: [],
            isSuccessfulReported: false,
            isLoading: false
        };
    },
    watch: {
        picked: function(newVal) {
            if (newVal === null) return;
            const matchedReason = this.reportingReasons.find(
                reason => reason.id === newVal
            );
            if (matchedReason) {
                this.selectedReason = matchedReason;
            }
        }
    },
    computed: {},
    methods: {
        dismiss() {
            this.$emit("hide-reporting-modal", {});
        },
        getAvaliableReportingReasons() {
            const that = this;
            axios
                .get("/reporting/getAllReportingTypes")
                .then(res => {
                    that.reportingReasons = res.data.response.reporting_types;
                    that.loadCompleted = true;
                })
                .catch(err => {
                    console.log(err);
                    that.loadCompleted = true;
                });
        },
        reportButtonClicked() {
            const that = this;
            const type = that.itemType === "reel" ? "reel_id" : "collection_id";
            const data = {
                [type]: that.itemId,
                reporting_id: that.selectedReason && that.selectedReason.id,
                description: that.reportingDetail.trim()
            };

            that.isLoading = true;
            axios
                .post(
                    `/reporting/${
                        that.itemType === "reel"
                            ? "reportReel"
                            : "reportCollection"
                    }`,
                    data
                )
                .then(res => {
                    that.isLoading = false;

                    if (res.status === 200) {
                        // display successful reported message
                        that.isSuccessfulReported = true;

                        Vue.$toast.open({
                            message: "Report Successfully!",
                            position: "bottom",
                            type: "success"
                        });
                    }
                })
                .catch(err => {
                    that.isLoading = false;

                    if (err.response.status === 400) {
                        Vue.$toast.open({
                            message: err.response.data.response.msg,
                            position: "bottom",
                            type: "warning"
                        });
                    } else if (err.response.status === 401) {
                        Vue.$toast.open({
                            message: "Please log in first! ",
                            position: "bottom",
                            type: "error"
                        });
                        that.signUp();
                    } else if (err.response.status === 403) {
                        console.log(err.response.data);
                        Vue.$toast.open({
                            message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
                            position: "bottom",
                            type: "error"
                        });
                    } else {
                        Vue.$toast.open({
                            message: "An error occurs. Please try again later.",
                            position: "bottom",
                            type: "error"
                        });
                    }
                });
        },
        signUp() {
            this.showSignUpView = true;
        },
        hideSignUpView() {
            this.showSignUpView = false;
        }
    }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.container-fluid {
    &.mega-solution-horizontal-center {
        display: flex;
        align-items: center;
        justify-content: center !important;
    }
}

.modal-view {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $search-black-blur;
    z-index: 50;

    &-title {
        color: $neutral-text;
        padding: 16px 24px;
        background-color: #262626;
    }

    .modal-view-container {
        max-width: 469px;
        min-height: 156px;
        width: 60%;
        position: relative;
        background: $neutral-bg3;
        border-radius: 4px;

        .ring-container {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 320px;
            height: 320px;
        }

        .modal-view-button-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;
            height: 100%;
            width: 100%;
            margin-top: 24px;
        }

        .reporting-container {
            padding: 16px 24px;
            .reporting-section-title {
                color: $neutral-text;
            }
            .reporting-section-subtitle {
                margin-top: 8px;
                color: $neutral-tagline;
            }
            .reporting-options-container {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 17px;
                .reporting-option {
                    .reporting-option-top {
                        > input[type="radio"] {
                            display: none;
                        }

                        > input[type="radio"] + *::before {
                            content: "";
                            display: inline-block;
                            vertical-align: bottom;
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            border-style: solid;
                            border-width: 2px;
                            border-color: gray;
                        }

                        > input[type="radio"]:checked + *::before {
                            background: radial-gradient(
                                #eb1480 0%,
                                #eb1480 40%,
                                transparent 50%,
                                transparent
                            );
                            border-color: #eb1480;
                        }
                        > input[type="radio"]:checked + * {
                            color: #eb1480;
                        }

                        .reporting-label {
                            display: flex;
                            width: 100%;
                            gap: 10px;
                            .reporting-label-detail {
                                .reporting-label-detail-label {
                                    display: flex;
                                    width: 100%;
                                    justify-content: flex-start;
                                    color: $neutral-text;
                                    &.unchecked {
                                        color: $neutral-tagline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .reporting-description-section {
                margin-top: 25px;
                &-title {
                    color: $neutral-text;
                    margin-bottom: 8px;
                }
                &-subtitle {
                    margin-bottom: 16px;
                    color: $neutral-tagline;
                }
                &-textarea {
                    width: 100%;
                    background-color: $neutral-input;
                    border: unset;
                    border-radius: 4px;
                    color: $neutral-tagline;
                    padding: 12px 16px;
                    resize:horizontal;
                    resize: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .container-fluid {
    }
    .modal-view {
        .modal-view-container {
            width: 100%;
        }
    }
}
</style>
