<template>
  <div class="reel-detail">
    <img
      :src="getImage(reel.thumbnail)"
      alt="Reel Thumbnail"
      class="reel-slide-thumbnail"
    />
    <img
      :src="getImage(reel.preview == null ? reel.thumbnail : reel.preview)"
      alt="Reel Thumbnail"
      class="reel-slide-thumbnail-preview"
    />

    <template
      v-if="reel.licences.length === 1 && reel.licences[0].is_free === true"
    >
      <div
        class="reel-detail-bottom-tag mega-solution-tiny-cap is-free-download-tag"
      >
        free download
      </div>
    </template>
    <template v-else-if="isNew">
      <div class="reel-detail-bottom-tag mega-solution-tiny-cap is-new-tag">
        new
      </div>
    </template>

    <a :href="'/reels/' + reel.url_handle">
      <div class="reel-detail-content">
        <div
          class="reel-cell-detail-section-body-section mega-solution-vertical-start justify-content-start"
        >
          <div
            class="reel-cell-detail-section-body-tags-section mega-solution-footer-light mega-solution-horizontal-start"
          >
            <div
              class="reel-cell-detail-section-body-tags-section-tag clamp"
              v-for="(item, index) in headTags"
              :key="index"
            >
              <a
                class="mega-solution-footer-light reel-cell-detail-section-body-tags-section-tag-link"
                :href="'/tags/' + item.name"
                >#{{ item.name }}</a
              >
            </div>
          </div>

          <div
            class="clamp mega-solution-footer-light reel-cell-detail-section-body-section-title"
          >
            {{ reel.title }}
          </div>
        </div>
      </div>
    </a>
    <template v-if="!reel.is_creator">
      <div class="reel-detail-button-container">
        <template v-if="isInWishlist">
          <div
            class="reel-cell-thumbnail-button"
            @click.stop="removeFromWishlist()"
            :class="{ isDisable: loading }"
          >
            <img
              :src="wishlistedIcon"
              alt="wishlisted"
              class="reel-cell-thumbnail-button-icon"
            />
          </div>
        </template>
        <template v-else>
          <div
            class="reel-cell-thumbnail-button"
            @click.stop="addToWishlist()"
            :class="{ isDisable: loading }"
          >
            <img
              :src="wishlistIcon"
              alt="wishlist"
              class="reel-cell-thumbnail-button-icon"
            />
          </div>
        </template>

        <div
          class="reel-cell-thumbnail-button"
          @click.stop="displayQuickView()"
          :class="{ isDisable: loading }"
        >
          <img
            v-if="
              reel.licences.length === 1 && reel.licences[0].is_free === true
            "
            :src="downloadIcon"
            alt="download icon"
            class="reel-cell-thumbnail-button-icon"
          />
          <img
            v-else
            :src="cartIcon"
            alt="shopping cart"
            class="reel-cell-thumbnail-button-icon"
          />
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import "swiper/swiper.scss";
import moment from "moment";
import { bus } from "../../event-bus";

export default {
  name: "MegaSolutionWishlistPopularReelCellComponent",
  components: {},
  props: {
    reel: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      loading: false,
      isInWishlist: false,
      wishlistIcon: "",
      wishlistedIcon: "",
      downloadIcon: "",
      cartIcon: "",
      swiperOptionThumbs: {
        slidesPerView: 5,
        spaceBetween: 10,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        breakpoints: {
          1920: {
            slidesPerView: 6,
            spaceBetween: 20
          },
          1440: {
            slidesPerView: 5,
            spaceBetween: 20
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 20
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 20
          },
          640: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          320: {
            slidesPerView: 2,
            spaceBetween: 10
          },
          180: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      },
      baseUrl: process.env.MIX_PUSHER_APP_URL
    };
  },
  mounted() {
    this.wishlistIcon = require("../../../icons/20210604/icons/16px/star_outlined_16px.png").default;
    this.wishlistedIcon = require("../../../icons/20210604/icons/24px/star_filled.png").default;
    this.cartIcon = require("../../../icons/20210604/icons/16px/shoppingcart_16px.png").default;
    this.downloadIcon = require("../../../icons/20210604/icons/16px/download_16px.png").default;
    this.isInWishlist = this.reel.is_in_wishlist;

  },
  computed: {
    headTags() {
      if (this.reel.tags != null) {
        switch (this.reel.tags.length) {
          case 0:
            return [];
          case 1:
            return this.reel.tags;
          case 2:
            return this.reel.tags;
          case 3:
            return this.reel.tags;
          default:
            return this.reel.tags.slice(0, 3);
        }
      } else {
        return [];
      }
    },
    isNew() {
      if (!this.reel.created_at) return false;
      const newDurationInDays = 7;
      const now = moment(new Date());
      const createdTime = moment(this.reel.created_at);
      const duration = moment.duration(now.diff(createdTime));
      const days = duration.asDays();
      const isNew = days <= newDurationInDays;

      return isNew;
    }
  },
  methods: {
    getImage(imagePath) {
      return `/storage/${imagePath}`;
    },
    addToWishlist() {
      const that = this;
      that.loading = true;
      const data = {
        content_id: this.reel.id,
        type: "reel"
      };

      axios
        .post("/wishlist/addToWishlist", data)
        .then(res => {
          if (res.status === 200) {
            that.isInWishlist = true;
            Vue.$toast.open({
              message: "Added To Your Wishlist! ",
              position: "bottom",
              type: "success"
            });
          }
        })
        .catch(err => {
          if (err.response.status === 401) {
            Vue.$toast.open({
              message: "Please log in first! ",
              position: "bottom",
              type: "error"
            });
          }

          if (err.response.status === 403) {
            Vue.$toast.open({
              message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
              position: "bottom",
              type: "error"
            });
          }
        })
        .finally(() => {
          that.loading = false;
        });
    },
    removeFromWishlist() {
      const that = this;
      that.loading = true;
      const data = {
        content_id: this.reel.id,
        type: "reel"
      };

      axios
        .post("/wishlist/removeFromWishlist", data)
        .then(res => {
          if (res.status === 200) {
            that.isInWishlist = false;

            Vue.$toast.open({
              message: "Removed From Your Wishlist! ",
              position: "bottom",
              type: "success"
            });
          }
        })
        .catch(err => {
          if (err.response.status === 401) {
            Vue.$toast.open({
              message: "Please log in first! ",
              position: "bottom",
              type: "error"
            });
          }

          if (err.response.status === 403) {
            Vue.$toast.open({
              message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
              position: "bottom",
              type: "error"
            });
          }
        })
        .finally(() => {
          that.loading = false;
        });
    },
    displayQuickView() {
      const that = this;
      bus.$emit("displayQuickView", that.reel);
    },
    dismissClicked() {}
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.reel-detail {
  width: 100%;
  height: 100%;
  position: relative;
  .reel-slide-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: all 0.8s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
  }
  .reel-slide-thumbnail-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
  }
  &:hover {
    .reel-detail-bottom-tag {
      filter: brightness(40%);
      transition: all 0.8s ease-in-out;
    }

    .reel-detail-content {
      display: flex;
      .reel-cell-detail-section-body-section {
        .reel-cell-detail-section-body-tags-section {
          width: 100%;
          display: flex;
        }
        .reel-cell-detail-section-body-section-title {
          display: flex;
          width: 100%;
        }
        .reel-cell-detail-section-metrics {
          display: flex;
        }
      }
    }
    .reel-slide-thumbnail {
      //display: none;
      opacity: 0;
      transition: all 0.8s ease-in-out;
    }
    .reel-slide-thumbnail-preview {
      //display: flex;
      opacity: 1;
      transition: all 0.8s ease-in-out;
      filter: brightness(40%);
    }

    .reel-detail-button-container {
      display: flex;
    }
  }

  .reel-detail-bottom-tag {
    position: absolute;
    bottom: 16px;
    left: 16px;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.8s ease-in-out;
  }

  .is-free-download-tag {
    height: 20px;
    border-radius: 16px;
    padding: 4px 8px;
    background-color: $accent-3;
    color: $neutral-bg2;
  }

  .is-new-tag {
    height: 20px;
    border-radius: 16px;
    padding: 4px 8px;
    background-color: $secondary-5;
    color: $neutral-bg2;
  }

  .reel-detail-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $overlay-solid;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 12px 12px 18px;

    .reel-cell-detail-section-body-section {
      width: 100%;
      flex: 1;

      .reel-cell-detail-section-body-tags-section {
        gap: 12px;
        flex-wrap: wrap;
        display: none;
        width: 100%;
        .reel-cell-detail-section-body-tags-section-tag {
          border: 1px solid $neutral-text;
          border-radius: 4px;
          padding: 2px 4px;
          line-height: 14px;

          .reel-cell-detail-section-body-tags-section-tag-link {
            color: $neutral-text;
          }
        }
      }

      .reel-cell-detail-section-body-section-title {
        margin-top: 4px;
        display: none;
      }
    }
  }

  .reel-detail-button-container {
    display: none;
    position: absolute;
    bottom: 12px;
    right: 12px;
    flex-direction: column;
    gap: 8px;

    .reel-cell-thumbnail-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      width: 32px;
      height: 32px;

      .reel-cell-thumbnail-button-icon {
        width: 14px;
        height: 14px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .isDisable {
      pointer-events: none;
      filter: brightness(0.4);
    }
  }
}

@media screen and (max-width: 1025px) {
  .reel-detail {
    .reel-detail-button-container {
      display: flex;
    }
  }
}
</style>
