<template>
    <div class="add-payment-method-container">
        <div class="checkout-section-info-section-item">
            <div class="checkout-section-info-item-title mega-solution-body-heavy">Email</div>
            <MegaInput input-type="email" v-model="email" placeholder="Email Address" :errorMessage="emailError"
                       :maxlength="50"></MegaInput>
        </div>
        <div class="checkout-section-info-section-item">
            <div class="checkout-section-info-item-title mega-solution-body-heavy">Card information</div>
            <div id="card-element">

            </div>
        </div>
        <div class="checkout-section-info-section-item">
            <div class="checkout-section-info-item-title mega-solution-body-heavy">Name on card</div>
            <MegaInput input-type="text" v-model="name" placeholder="Name on card" :errorMessage="nameError"
                       :maxlength="50"></MegaInput>
        </div>

        <template v-if="type === 'default'">
            <div class="checkout-section-info-section-check mt-5">
                <input type="checkbox" id="save-for-future-checkbox" v-model="saveForFutureUse" @change="">
                <label for="save-for-future-checkbox" class="mega-solution-p3-light">
                    Save card for future purchases
                </label>
            </div>

            <!-- <div class="checkout-section-info-section-check mt-2">
                <input type="checkbox" id="agree-on-terms-checkbox" v-model = "agreeTerms" @change="">
                <label for="agree-on-terms-checkbox" class="mega-solution-p3-light">
                    By purchasing the items, you agree to our <a class="mega-solution-p3-light" href="https://creatrhq.com/terms-of-service/" target="_blank">Terms of Service</a>.
                </label>
            </div> -->
        </template>
        <template v-else-if="type === 'add'">
            <div class="checkout-section-info-section-check mt-5">
                <input type="checkbox" id="save-card-checkbox" v-model="savedAsDefault" @change="">
                <label for="save-card-checkbox" class="mega-solution-p3-light">
                    Set as Preferred Payment Method
                </label>
            </div>

            <!-- <div class="checkout-section-info-section-check mt-2">
                <input type="checkbox" id="agree-on-add-terms-checkbox" v-model = "agreeTerms" @change="">
                <label for="agree-on-add-terms-checkbox" class="mega-solution-p3-light">
                    By purchasing the items, you agree to our <a class="mega-solution-p3-light" href="https://creatrhq.com/terms-of-service/" target="_blank">Terms of Service</a>.
                </label>
            </div> -->
        </template>


        <div class="checkout-section-process-payment-section" v-if="type==='default'">
            <button class="creatr-primary-button-regular process-button" @click="processPayment" :disabled="cartItemLength <= 0">{{cartItemLength > 0 ?'Pay'+ "($" + cartItemsTotal + ")": "Processing Order"}}</button>
        </div>

        <div class="checkout-section-process-payment-section" v-else-if="type==='add'" >
            <button class="creatr-primary-button-regular process-button" @click="profileAddPaymentMethod">Save</button>
        </div>

        <div class="stripe-section mega-solution-horizontal-center">
            <a href="https://stripe.com/" target="_blank">
                <img :src="stripeImage" alt="power by stripe" class="stripe-section-image">
            </a>
        </div>

    </div>

</template>
<script>
import MegaInput from "../MegaSolutionInputComponent/MegaSolutionInputComponent"
import {loadStripe} from "@stripe/stripe-js";
import checker from "../../checker";
import axios from "axios";
import moment from "moment";

export default {

  name: 'add-payment-method',
  components: {MegaInput},
    computed:{
        cartItemLength(){
            let sum = 0
            this.cartItems.forEach(item=>{
                sum += item.quantity
            })
            return sum
        },
        cartItemsTotal(){
            let sum = 0
            this.cartItems.forEach(item=>{
                sum += item.quantity * item.price_num
            })
            return sum.toFixed(2)
        }
    },
    data(){
      return{
          saveForFutureUse:false,

          savedAsDefault:false,

        //   agreeTerms:true,

          stripe:{},
          cardElement:{},
          stripeImage:"",
          stripeClasses:{
              base: "creatr-card"
          },
          stripeKey:process.env.MIX_STRIPE_KEY,
          stripeStyle:{
              base: {
                  color: '#fAfAfA',
                  iconColor: '#FAFAFA',
                  fontWeight: '500',
                  fontSize: '16px',
                  lineHeight:'20px',
                  backgroundColor:'#323232',
                  border:'unset',
                  fontSmoothing: 'antialiased',
                  padding:'unset',
                  ':-webkit-autofill': {
                      color: '#fff',
                  },
                  '::placeholder': {
                      color: '#b1b1b1',
                  },
                  ':focused':{
                      color: '#FAFAFA',
                  }
              },
              invalid: {
                  iconColor: '#FFC7EE',
                  color: '#FFC7EE',
              },
          },
          email:"",
          name:"",
          emailError:"",
          nameError:"",

        }
    },
    async mounted() {
        this.stripe = await loadStripe(this.stripeKey);
        const  elements = this.stripe.elements();
        this.stripeImage = require("../../../icons/20211023/icons/24px/stripe-icon.png").default
        this.cardElement = elements.create('card',{
            classes:this.stripeClasses,
            style:this.stripeStyle
        });
        this.cardElement.mount('#card-element');
        this.email = this.userEmail
    },
    props: {
        userEmail: {},
        cartItems:[],
        clientSecret:{
            type:String,
            default:"",
        },
        type:{
            type:String,
            default:"default",
        }
  },
    methods:{
        validateInput(){
            let pass = true
            let that = this;
            //console.log("this.email",this.email)
            if( !checker.isEmail(this.email)){
                that.emailError = 'Please Input a valid Email to receive the order detail'
                pass = false
                return pass
            }else{
                that.emailError = ""
            }

            if(this.name.trim() === "" ){
                that.nameError = 'Please put Card Holders Name'
                pass = false
                return pass
            }else{
                that.nameError = ""
            }
            return pass
        },
        processPayment(){

            if(this.validateInput()){

                let items = []
                this.cartItems.forEach(cartItem=>{
                    let tempItem = {
                        id:cartItem.id,
                        reel_id:cartItem.reel_id,
                        licence_id:cartItem.licence_id,
                        quantity:cartItem.quantity,
                        price_num:cartItem.price_num,
                    }
                    items.push(tempItem)
                })

                let data = {
                    "items":items
                }
                let that = this;
                that.$emit("changeProcessStatus",{status:true});
                axios.get('/checkout/verifyItems',{params:data,
                    headers: { 'Accept':'application/json' }
                }).then(function (res) {
                    if(res.status === 200){
                        if(res.data.response.validate){
                            //console.log("res.data.response.validate",res.data.response.validate)
                            that.createPayment()
                            if (that.saveForFutureUse){
                                that.savePayment()
                            }
                            // that.$refs.elementRef.submit()
                        }else{
                            Vue.$toast.open({
                                message: "The cart items do not match the server side, please refresh the page to continue",
                                position: "bottom",
                                type: 'error',
                            });
                            that.$emit("changeProcessStatus",{status:false});
                        }
                    }
                }).catch(function (error) {
                    that.$emit("changeProcessStatus",{status:false});
                    Vue.$toast.open({
                        message: error.response.data.message,
                        position: "bottom",
                        type: 'error',
                    });
                })
            }

        },
        async createPayment(){
            let that = this;
            const  {paymentMethod,error} = await this.stripe.createPaymentMethod(
                'card', this.cardElement,{
                    billing_details:{
                        name:that.name,
                        email:that.email,
                    }
                }
            )

            if(error){
                this.errorOccur(error)
            }else{
                let param = {
                    "payment_method_id":paymentMethod.id,
                    "payment_method_name":paymentMethod.billing_details.name,
                    "order_placed_date": moment().format('YYYY-MM-DDTHH:mm:ss')
                }

                axios.post('/checkout/checkOutWithStripeToken',param).then(
                    function (res) {
                        if(res.status === 200){
                            if(res.data.response.success){
                                //console.log("res.data.response.validate",res.data.response.validate)

                                let order_number = res.data.response.order_number
                                window.location.assign(`/order/thankyou/${order_number}`)
                            }else{
                                let redirect = res.data.response.redirect

                                window.location.assign(redirect)

                                that.$emit("changeProcessStatus",{status:false});
                            }
                        }
                    }
                ).catch(function (error) {
                    that.$emit("changeProcessStatus",{status:false});
                    Vue.$toast.open({
                        message: error.response.data.message,
                        position: "bottom",
                        type: 'error',
                    });
                })

            }
        },


       async profileAddPaymentMethod(){
            if(this.validateInput()){
                this.$emit("changeProcessStatus",{status:true});
                await this.savePayment()
            }
        },

        async savePayment(){
            let that = this;
            const  {setupIntent,error} = await this.stripe.confirmCardSetup(
                that.clientSecret, {
                    payment_method: {
                        card: this.cardElement,
                        billing_details: {
                            name:that.name,
                            email:that.email,
                        }
                    }
                }
            )
            if(error){
                this.errorOccur(error)
            }else{
                let data = {
                    "paymentMethod":setupIntent.payment_method,
                    "setAsDefault":that.savedAsDefault
                };
                axios.post('/checkout/addPaymentMethod',data).then(function (res) {
                    if(res.status === 200){
                        //console.log("create success")
                        if(that.type === "add"){
                            that.$emit("changeProcessStatus",{status:false});
                            that.$emit("saveSuccess")
                        }
                    }
                }).catch(function(error){

                })

            }
        },
        errorOccur(error){
            this.$emit("changeProcessStatus",{status:false});
            Vue.$toast.open({
                message: error.message,
                position: "bottom",
                type: 'error',
            });
        },
    }
}
</script>
<style scoped lang="scss">
@import "resources/sass/app.scss";

.add-payment-method-container{
    margin-top: 24px;
    .checkout-section-info-section-item{
        margin-top: 32px;
        .checkout-section-info-item-title{
            margin-bottom: 8px;
        }
    }

    .checkout-section-process-payment-section{
        margin-top: 16px;
        .process-button{
            width: 100%;
        }
    }

    .stripe-section{
        margin-top: 24px;
        .stripe-section-image{
            height: 24px;
            object-fit: contain;
        }
    }
}



</style>
