<template>
    <div class="container checkout-container">
        <div class="top-section mega-solution-horizontal-start">
            <img :src="backImage" alt="back" class="top-section-back">
            <a class="top-section-title mega-solution-body-light" href="/">Continue browsing</a>
        </div>

        <div class="row checkout-section">
            <div class="col-xl-6 col-lg-6 checkout-section-item">

                <div class="checkout-section-info-section">

                    <div class="checkout-section-info-section-title mega-solution-sub-heavy">Checkout</div>

                    <template v-if="defaultPaymentMethod != null">

                        <DefaultPaymentMethod :default-payment-method="defaultPaymentMethod"
                                              :selected-payment-method="selectedPaymentMethod"
                                              :cart-items="cartItems"
                                              @changeProcessStatus="changeProcessStatus"
                                              @selectPaymentMethod="selectPaymentMethod">
                        </DefaultPaymentMethod>

                    </template>
                    <template v-else>
                        <add-payment-method :user-email="email"
                                            :cart-items="cartItems"
                                            :client-secret="clientSecret"
                                            @changeProcessStatus="changeProcessStatus"
                        />
                    </template>


                </div>
            </div>
            <div class="col-xl-6 col-lg-6 checkout-section-item">
                <div class="checkout-section-order-summary">
                    <div class="checkout-section-order-summary-top-section">
                        <div class="mega-solution-sub-heavy checkout-section-order-summary-top-section-title">Order
                            Summary
                        </div>
                        <div class="checkout-section-order-summary-body-section">
                            <div
                                class="checkout-section-order-summary-body-section-item mega-solution-horizontal-start justify-content-between">
                                <div
                                    class="checkout-section-order-summary-body-section-item-title mega-solution-body-light">
                                    Subtotal
                                </div>
                                <div
                                    class="checkout-section-order-summary-body-section-item-value mega-solution-body-light">
                                    ${{ cartItemsTotal }}
                                </div>
                            </div>
                            <div
                                class="checkout-section-order-summary-body-section-item mega-solution-horizontal-start justify-content-between">
                                <div
                                    class="checkout-section-order-summary-body-section-item-title mega-solution-body-light">
                                    Quantity
                                </div>
                                <div
                                    class="checkout-section-order-summary-body-section-item-value mega-solution-body-light">
                                    {{ cartItemLength }}
                                </div>
                            </div>
                        </div>
                        <div
                            class="checkout-section-order-summary-footer-section mega-solution-horizontal-start justify-content-between">
                            <div class="checkout-section-order-summary-body-section-item-title mega-solution-sub-heavy">
                                Total Payable
                            </div>
                            <div class="checkout-section-order-summary-body-section-item-value mega-solution-sub-heavy">
                                {{ cartItemsTotal }}
                            </div>
                        </div>
                    </div>
                    <div class="checkout-section-cart-section">
                        <div class="cart-view">
                            <div class="cart-view-top mega-solution-horizontal-start">
                                <div class="cart-view-top-title mega-solution-sub-heavy">
                                    Cart
                                </div>
                                <template v-if="cartItemLength > 0">
                                    <div class="cart-view-top-sub mega-solution-body-light">
                                        {{ "(" + cartItemLength + " items )" }}
                                    </div>
                                </template>
                            </div>
                            <template v-if="cartItems.length > 0">
                                <div class="cart-items-container">

                                    <scrollbar :maxHeight="'50vh'" :maxWidth="'100%'">
                                        <div class="cart-item-container mega-solution-horizontal-center"
                                             v-for="(item,index) in cartItems" :key="index">
                                            <MegaSolutionCartItemComponent @editCartItem="editCartItem"
                                                                           :cart-item="item"></MegaSolutionCartItemComponent>
                                        </div>
                                    </scrollbar>
                                </div>
                            </template>
                            <template v-else>
                                <div class="cart-empty-container mega-solution-vertical-center">
                                    <img :src="emptyImage" alt="Empty" class="cart-empty-container-image" height="221" width="226">
                                    <div class="mega-solution-sub-heavy">Your cart is empty</div>
                                    <button class="creatr-regular-button-type-1" @click="browseProducts()">Browse
                                    </button>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <template v-if="processingPayment">
            <FullScreenLoadding></FullScreenLoadding>
        </template>

        <template v-if="selectCardMode">
            <select-payment-methods
                :payment-methods="paymentMethods"
                :default-payment-method="defaultPaymentMethod"
                @confirmSelectedCard="confirmSelectedCard"
                @addPaymentMethod="addPaymentMethod"
                @hideSelectView="selectPaymentMethod">
            </select-payment-methods>
        </template>

        <template v-if="addCardMode">

            <other-payment :user-email="email"
                                :cart-items="cartItems"
                                :client-secret="clientSecret"
                                @backtoSelect = "backToSelectCardMode"
                                @changeProcessStatus="changeProcessStatus"
            />

        </template>

    </div>
</template>
<script>

import axios from "axios";
import MegaSolutionCartItemComponent from "../MegaSolutionCartItemComponent/MegaSolutionCartItemComponent";
import {loadStripe} from "@stripe/stripe-js";
import FullScreenLoadding from "../MegaSolutionFullScreenLoadingComponent/MegaSolutionFullScreenLoadingComponent";
import checker from "../../checker"
import AddPaymentMethod from "./AddPaymentMethod";
import SavedPaymentMethods from "../MegaSolutionSavedPaymentMethodsComponent/MegaSolutionSavedPaymentMethodsComponent"
import DefaultPaymentMethod from "../MegaSolutionDefaultPaymentMethod/MegaSolutionDefaultPaymentMethod";
import SelectPaymentMethods
    from "../MegaSolutionSelectPaymentMethodComponent/MegaSolutionSelectPaymentMethodComponent";
import OtherPayment
    from "../MegaSolutionPayWithOtherCardComponent/MegaSolutionPayWithOtherCardComponent";

export default {
    name: "MegaSolutionCheckOutViewComponent.vue",
    components: {
        AddPaymentMethod,
        MegaSolutionCartItemComponent,
        // StripeElementCard,
        FullScreenLoadding,
        SavedPaymentMethods,
        DefaultPaymentMethod,
        SelectPaymentMethods,
        OtherPayment
    },
    data() {
        return {

            backImage: "",
            emptyImage: "",
            stripeImage: "",
            cartItems: [],
            email: "",
            name: "",
            processingPayment: false,

            selectedPaymentMethod: null,

            selectCardMode: false,
            addCardMode: false,
        }
    },
    computed: {
        cartItemLength() {
            let sum = 0
            this.cartItems.forEach(item => {
                sum += item.quantity
            })
            return sum
        },
        cartItemsTotal() {
            let sum = 0
            this.cartItems.forEach(item => {
                sum += item.quantity * item.price_num
            })
            return sum.toFixed(2)
        }
    },

    async mounted() {
        this.backImage = require("../../../icons/sign_up/icons/32px/chevron_left.png").default
        this.emptyImage = require("../../../icons/20211023/cart.png").default
        this.stripeImage = require("../../../icons/20211023/icons/24px/stripe-icon.png").default
        if (this.user != null) {
            //console.log('this.user', this.user)
            this.email = this.user.email;
        }
        this.cartItems = this.viewCartItems
        this.selectedPaymentMethod = this.defaultPaymentMethod

    },
    props: {
        user: {
            type: Object,
            default: function () {
                return null
            }
        },
        viewCartItems: {
            type: Array,
            default: function () {
                return []
            }
        },
        clientSecret: {
            type: String,
            default: ""
        },
        paymentMethods: {
            type: Array,
            default: function () {
                return []
            }
        },
        defaultPaymentMethod: {
            type: Object,
            default: function () {
                return null
            }
        }
    },
    watch: {
        name(newVal) {
            if (this.nameError !== "") {
                if (newVal.trim() !== "") {
                    this.nameError = ""
                }
            }
        },
        email(newVal) {
            if (this.emailError !== "") {
                if (newVal.trim() !== "") {
                    this.emailError = ""
                }
            }
        }
    },
    methods: {
        editCartItem() {
            this.getCartItems()
        },
        getCartItems() {
            let that = this;
            axios.get("/cart/getCartItems", {
                params: {},
                headers: {
                    Accept: "application/json"
                }
            }).then(function (res) {
                if (res.status === 200) {

                    that.cartItems = res.data.response.cartItems
                    //console.log("cart cart cart", that.cartItems)
                } else {
                    that.cartItems = []
                }

            }).catch(function (err) {
                that.cartItems = []
                //console.log(err.status, err.response);
            })
        },
        browseProducts() {
            window.location.assign("/");
        },
        changeProcessStatus(e) {
            this.processingPayment = e.status;
        },
        selectPaymentMethod(e) {
            //console.log("selectPaymentMethod", e)
            this.selectCardMode = e.status
        },
        confirmSelectedCard(e) {
            let paymentId = e.paymentId
            // this.selectedPaymentMethod =
            this.selectCardMode = false
            let selectedIds = this.paymentMethods.filter(method => {
                return method.id === paymentId
            })
            this.selectedPaymentMethod = selectedIds[0]

            //console.log("confirmSelectedCard", this.selectedPaymentMethod)
        },
        addPaymentMethod() {

            this.selectCardMode = false
            this.addCardMode = true
            //console.log("show add card mode")
        },
        backToSelectCardMode() {
            this.selectCardMode = true
            this.addCardMode = false
        }


    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.checkout-container {
    padding-top: 80px;
    padding-bottom: 80px;
    .top-section {
        height: 24px;

        .top-section-back {
            width: 24px;
            height: 24px;
        }

        .top-section-title {
            height: 100%;
            margin-left: 4px;
            color: $primary-4;
            line-height: 24px;
        }
    }

    .checkout-section {
        margin-top: 24px;
        row-gap: 20px;
        height: 724px;

        .checkout-section-item {
            height: 100%;

            .checkout-section-info-section {
                height: 100%;
                background-color: $neutral-bg2;
                padding: 24px 24px 16px 24px;

                .checkout-section-info-section-title {

                }

                .checkout-section-process-payment-section {
                    margin-top: 16px;

                    .process-button {
                        width: 100%;
                    }
                }

                .stripe-section {
                    margin-top: 24px;

                    .stripe-section-image {
                        height: 24px;
                        object-fit: contain;
                    }
                }
            }

            .checkout-section-order-summary {
                height: 100%;
                background-color: $neutral-bg2;
                padding: 24px;

                .checkout-section-order-summary-body-section {
                    margin-top: 24px;
                    padding-bottom: 16px;

                    .checkout-section-order-summary-body-section-item {
                        margin-top: 12px;

                        .checkout-section-order-summary-body-section-item-title {
                            color: $neutral-tagline;
                        }

                        .checkout-section-order-summary-body-section-item-value {
                            color: $neutral-tagline;
                        }
                    }

                }

                .checkout-section-order-summary-footer-section {
                    margin-top: 12px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid $neutral-input;
                }

                .checkout-section-cart-section {

                }

            }
        }

    }
}

@media screen and (max-width: 1100px) {
    .checkout-container{
        .checkout-section{
            height: auto;
        }
    }
}

@media screen and (max-width: 576px){

    .checkout-section-cart-section{
        margin-top: 24px;
    }
    .checkout-container .checkout-section .checkout-section-item .checkout-section-info-section{
        padding: 16px;
    }
    .checkout-container .checkout-section .checkout-section-item .checkout-section-order-summary{
        padding: 16px;
    }
}
//.cart-view {
//
//    width: 100%;
//    background-color: $neutral-bg2;
//    margin-top: 48px;
//
//    .cart-view-top {
//        //padding: 0px 24px;
//        .cart-view-top-title {
//
//        }
//
//        .cart-view-top-sub {
//            margin-left: 8px;
//        }
//    }
//
//    .cart-empty-container {
//        gap: 12px;
//
//        .cart-empty-container-image {
//            height: 221px;
//            width: 226px;
//        }
//    }
//
//    .cart-items-container {
//
//        .cart-item-container {
//            height: 104px;
//        }
//    }
//
//    .cart-items-container-checkout-section {
//        padding: 0px 24px;
//        border-top: 1px solid $neutral-input;
//
//        .cart-items-container-checkout-button {
//            width: 100%;
//        }
//    }
//
//}


</style>
