<template>
    <div class="cart-item-view mega-solution-horizontal-start">
        <img class="cart-item-view-image" v-lazy="getImageByPath(cartItem.reel.thumbnail)" alt="thumbnail">
        <template v-if="isMobile">
          <div class="cart-item-mobile-view-detail mega-solution-vertical-start justify-content-between">
            <div class="mega-solution-p3-heavy clamp-2">{{cartItem.reel.title}}</div>
            <div class="mega-solution-p3-heavy">${{subtotal}}</div>
          </div>
          <div class="cart-item-view-detail-edit-component mega-solution-horizontal-start" v-if="licences.length > 0">
            <select name="licences" id="mobile-licences" class="creatr-select mega-solution-body-light cart-item-view-licence-select" v-model="selectedLicenceID" @change="changeLicence">
              <template v-for="licence in licences">
                <option :value="licence.id" :key="licence.id" class="creatr-select-option mega-solution-cap-light">{{licence.type}}</option>
              </template>
            </select>

            <select name="numbers" id="mobile-numbers" class="creatr-select mega-solution-body-light cart-item-view-number-select" v-model="selectedNumber" @change="changeNumbers">
              <template v-for="selectedNumber in numbers">
                <option :value="selectedNumber" :key="selectedNumber" class="creatr-select-option mega-solution-cap-light">{{selectedNumber}}</option>
              </template>
            </select>


            <div class="cart-item-view-price-section-remove-section pointer mega-solution-horizontal-center" @click="removeCartItem">
              <div class="cart-item-view-price-section-remove-section-label mega-solution-footer-light">
                Remove
              </div>
            </div>

          </div>
        </template>
        <template v-else>
          <div class="cart-item-view-detail mega-solution-vertical-start">
            <div class="mega-solution-p2-heavy clamp-2">{{cartItem.reel.title}}</div>
            <div class="cart-item-view-detail-edit-component mega-solution-horizontal-start" v-if="licences.length > 0">
              <select name="licences" id="licences" class="creatr-select mega-solution-body-light cart-item-view-licence-select" v-model="selectedLicenceID" @change="changeLicence">
                <template v-for="licence in licences">
                  <option :value="licence.id" :key="licence.id" class="creatr-select-option mega-solution-cap-light">{{licence.type}}</option>
                </template>
              </select>

              <select name="numbers" id="numbers" class="creatr-select mega-solution-body-light cart-item-view-number-select" v-model="selectedNumber" @change="changeNumbers">
                <template v-for="selectedNumber in numbers">
                  <option :value="selectedNumber" :key="selectedNumber" class="creatr-select-option mega-solution-cap-light">{{selectedNumber}}</option>
                </template>
              </select>


            </div>
          </div>
          <div class="cart-item-view-price-section  mega-solution-vertical-center justify-content-between">

            <div class="mega-solution-p2-heavy">${{subtotal}}</div>

            <div class="cart-item-view-price-section-remove-section pointer mega-solution-horizontal-center" @click="removeCartItem">
              <img :src="binIcon" alt="bin" class="cart-item-view-price-section-remove-section-icon">
              <div class="cart-item-view-price-section-remove-section-label mega-solution-footer-light">
                Remove
              </div>
            </div>

          </div>
        </template>

    </div>
</template>

<script>
export default {
    name: "MegaSolutionCartItemComponent",
    computed:{
      subtotal(){
          let subtotal = this.cartItem.quantity * this.cartItem.price_num;
          return subtotal.toFixed(2)
      }
    },
    data(){
      return{
          selectedLicenceID:0,
          numbers:[],
          selectedNumber:0,
          licences:[],
          binIcon:"",
          isMobile:false,
      }
    },
    mounted() {
        if(this.cartItem != null){
            this.selectedLicenceID = this.cartItem.licence_id
            this.selectedNumber = this.cartItem.quantity
            this.numbers = Array.from({length: 10}, (_, i) => i + 1)
            this.licences = this.cartItem.reel.licences
            this.binIcon = require('../../../icons/20210604/icons/24px/bin.png').default;
        }
        const windowWidth = window.innerWidth;
        if(windowWidth <= 576){
          this.isMobile = true
        }else{
          this.isMobile = false
        }

    },
    watch:{
        cartItem(){
            //console.log("selectedLicenceID",this.selectedLicenceID)
            this.selectedLicenceID = this.cartItem.licence_id
            this.selectedNumber = this.cartItem.quantity
        }
    },
    props:{
        cartItem:{
            type:Object,
            default:function () {
                return null
            }
        },
    },
    methods:{
        getImageByPath(imagePath){
            return `/storage/${imagePath}`
        },
        changeLicence(e){
            this.editCartItem()
        },
        changeNumbers(e){
            this.editCartItem()
        },

        editCartItem(){
            let that = this;
            let param = {
                "cart_item_id":this.cartItem.id,
                "licence_id":this.selectedLicenceID,
                "quantity":this.selectedNumber,
            }


            axios.post('/cart/editCartItem',param)
                .then(function (res) {
                    if(res.status === 200){
                        that.$emit("editCartItem");
                    }
                })
                .catch(function (err) {
                    //console.log('err',err.response)
                });

        },
        removeCartItem(){

            let that = this
            axios.post('/cart/deleteCartItem/'+this.cartItem.id,{_method: 'delete'})
                .then(function(res){
                    if(res.status === 200){
                        that.$emit("editCartItem");
                    }

                }).catch(function(err){
                if(err.response.status === 403 ){
                    Vue.$toast.open({
                        message: 'Permission denied!',
                        position:"bottom",
                        type: 'error',
                    });
                }
                //console.log(err.response)
            })


        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.cart-item-view{
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    .cart-item-view-image{
        width: 96px;
        height: 72px;
        object-fit: cover;
    }
    .cart-item-view-detail{
        flex: 1;
        margin-left: 12px;
        height: 100%;
        align-self: baseline;
        .cart-item-view-detail-edit-component{

            justify-content: flex-start;
            margin-top: 4px;
            .creatr-select{
                padding: 4px 8px;
                background-position: calc(100% - 20px) calc(1em - 4px), calc(100% - 15px) calc(1em - 4px);
            }
            .cart-item-view-number-select{
                margin-left: 8px;
                width: 52px;
                min-width: 52px;
            }
        }
    }
    .cart-item-view-price-section{
        margin-left: 8px;
        min-width: 80px;
        align-self: baseline;
        .cart-item-view-price-section-remove-section{
            margin-top: 16px;
            display: none;
            width: 80px;
            height: 24px;
            border-radius: 16px;
            display: none;
            .cart-item-view-price-section-remove-section-icon{
                width: 16px;
                height: 16px;
                object-fit: cover;
            }
            .cart-item-view-price-section-remove-section-label{
                margin-left: 4px;
                color: $neutral-tagline;
            }
        }
    }
    &:hover{
        .cart-item-view-price-section{
            .cart-item-view-price-section-remove-section{
                display: flex;
                &:hover{
                    background-color: $neutral-input;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
  .cart-item-view{
    margin-top: 24px;
    margin-bottom: 12px;
    flex-wrap: wrap;
    .cart-item-mobile-view-detail{
      height: 72px;
      margin-left: 8px;
      flex: 1;
    }
    .cart-item-view-detail-edit-component{
      width: 100%;
      justify-content: flex-start;
      margin-top: 12px;
      .creatr-select{
        padding: 4px 8px;
        background-position: calc(100% - 20px) calc(1em - 4px), calc(100% - 15px) calc(1em - 4px);
      }
      .cart-item-view-number-select{
        margin-left: 8px;
        width: 52px;
        min-width: 52px;
      }

      .cart-item-view-price-section-remove-section{
        margin-left: auto;
        padding: 6px 8px;
        background-color: $neutral-input;
        border-radius: 16px;
      }
    }
  }
}

</style>
