<template>
    <div class="creator-cell">
        <a :href="'/hq/'+creator.name">
            <div class="creator-cell-content">
                <div class="creator-cell-content-top-section">
                    <template v-if="reel != null">
                        <img :src="getImage(reel.thumbnail)" alt="thumbnail" class="creator-cell-content-top-section-image">
                    </template>
                    <template v-else>
                        <img :src="siteLogo" alt="thumbnail" class="creator-cell-content-top-section-default-image">
                    </template>
                    <div class="creator-cell-content-top-section-content mega-solution-horizontal-center">

                        <div class="creator-cell-content-top-section-content-avatar">
                            <img :src="getImage(creator.avatar)" alt="avatar" class="creator-cell-content-top-section-content-avatar-image">
                        </div>

                    </div>
                </div>
                <div class="creator-cell-content-bottom-section clamp mega-solution-vertical-center">
                    <template v-if="displayPrize">
                        <div class="creator-cell-content-bottom-section-prize">
                            <img class="creator-cell-prize-icon" :src="getImage(displayPrize.icon_path)" alt="">
                            <h3 class="creator-cell-prize-title">
                                {{displayPrize.title}}
                            </h3>
                        </div>
                    </template>
                    
                    <h3 class="mega-solution-sub-heavy creator-cell-content-bottom-section-username" v-if="profile != null">
                        {{profile.user_name != null?profile.user_name:creator.name}}
                    </h3>
                    <div class="mega-solution-footer-light creator-cell-content-bottom-section-userhandle">
                        @{{creator.name}}
                    </div>
                </div>

                <div class="creator-cell-content-hover-section">
                    <template v-if="reel != null">
                        <img :src="getImage(reel.preview)" alt="thumbnail" class="creator-cell-content-hover-section-image">
                    </template>
                    <template v-else>
                        <img :src="siteLogo" alt="thumbnail" class="creator-cell-content-hover-section-default-image">
                    </template>

<!--                    <div class="creator-cell-content-hover-section-content">-->

<!--                        <div class="creator-cell-content-hover-section-content-avatar">-->
<!--                            <img :src="getImage(creator.avatar)" alt="avatar" class="creator-cell-content-hover-section-content-avatar-image">-->
<!--                        </div>-->
<!--                    </div>-->



                </div>
            </div>
        </a>

    </div>
</template>

<script>
import helper from "../../helper";
export default {
    name: "MegaSolutionCreatorsCellComponent.vue",
    props:{
        creator:{
            type:Object,
            default:null,
        }
    },
    data(){
        return{
            baseUrl:process.env.MIX_PUSHER_APP_URL,
            siteLogo:"",
            profile:null,
            reel:null,
            prizes: null
            // viewIcon:"",
            // likeIcon:"",
            // commentIcon:"",
        }
    },
    methods:{
        getImage(imagePath){
            return `/storage/${imagePath}`
        },
        formatViews(num){
            return helper.formatViews( parseInt(num))
        }
    },
    mounted() {
        this.siteLogo = require("../../../icons/20210604/sitelogo.png").default
        this.reel = this.creator.reel
        this.profile = this.creator.profile
        this.prizes = this.creator.prizes;
    },
    computed: {
        displayPrize() {
            if (this.prizes && this.prizes.length !== 0) {
                const firstPrize = this.prizes.reduce(function(prev, current) {
                    return prev.rank > current.rank ? prev : current;
                })
                return firstPrize;
            } else {
                return null;
            }
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.creator-cell{
    width: 100%;
    padding-top: 100%;
    position: relative;
    background: $neutral-bg2;
    .creator-cell-content{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        //grid-template-rows: 66% 33%;

        &:hover{
            .creator-cell-content-top-section{
                //display: none;
                .creator-cell-content-top-section-image{
                    opacity: 0;
                    transition: all 0.6s ease-in-out;
                }
                .creator-cell-content-top-section-default-image{
                    opacity: 0;
                    transition: all 0.6s ease-in-out;
                }

                .creator-cell-content-top-section-content-avatar{
                    position: absolute !important;
                    left: 0px !important;
                    top: -8px !important;
                    z-index: 10;
                    transform: scale(0.5);
                    transition: transform 0.8s ease;
                    .creator-cell-content-top-section-content-avatar-image{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 2px solid $neutral-text !important;
                    }
                }

            }
            .creator-cell-content-bottom-section{
                display: none;
            }
            .creator-cell-content-hover-section{
                opacity: 1;
                transition: all 0.6s ease-in-out;
            }
        }

        .creator-cell-content-top-section{
            position: relative;
            height: 66%;
            width: 100%;
            .creator-cell-content-top-section-image{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                transition: all 0.6s ease-in-out;
            }

            .creator-cell-content-top-section-default-image{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                transition: all 0.6s ease-in-out;
            }

            .creator-cell-content-top-section-content{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background: $overlay-linear2;

                .creator-cell-content-top-section-content-avatar{
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    left: calc(50% - 40px);
                    top: calc(50% - 40px);


                    .creator-cell-content-top-section-content-avatar-image{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 2px solid transparent;
                    }
                }
            }

        }

        .creator-cell-content-bottom-section{
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            height: 33%;
            display: flex;
            position: relative;
            .creator-cell-content-bottom-section-prize {
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                .creator-cell-prize-icon {
                    width: 20px;
                    height: 20px;
                }
                .creator-cell-prize-title {
                    color: #FF0080;
                    margin: 0;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: uppercase;
                }
            }
            .creator-cell-content-bottom-section-username{
                text-align: center;
            }
            .creator-cell-content-bottom-section-userhandle{
                text-align: center;
                color: $neutral-tagline;
            }
        }


        .creator-cell-content-hover-section{
            //display: none;
            opacity: 0;
            grid-row: 1/3;
            position: absolute;
            justify-content: center;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            .creator-cell-content-hover-section-image{
                object-fit: cover;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
            .creator-cell-content-hover-section-default-image{
                object-fit: cover;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }

            .creator-cell-content-hover-section-content{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: $overlay-solid ;
                //.creator-cell-content-hover-section-content-avatar{
                //    position: absolute;
                //    width: 72px;
                //    height: 72px;
                //    left: 32px;
                //    top: 32px;
                //
                //    .creator-cell-content-hover-section-content-avatar-image{
                //        width: 100%;
                //        height: 100%;
                //        border-radius: 50%;
                //        object-fit: cover;
                //        border: 2px solid $neutral-text;
                //    }
                //}

            }


        }

    }


}

</style>
