<template>
    <div class="container-fluid pl-1 notification">
        <img :src="bellImage" alt="notification" class="notification-image pointer" @click="clickOnNotification()">
    </div>
</template>

<script>
export default {
    name: "MegaSolutionNotificationComponent.vue",
    data(){
        return{
            bellImage : ""
        }
    },
    mounted() {
        this.bellImage = require("../../../icons/20211019/icons/bell.png").default;
    },
    methods:{
        clickOnNotification(){
            //console.log("show me the notifications!")
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.notification{
    width: 100%;
    height: 100%;
    padding: unset;
    .notification-image{
        width: 24px;
        height: 24px;
    }

}

</style>
