<template>
    <div class="container-fluid">
        <img :src="loadingImage" alt="loading" class="loadding-image">
    </div>
</template>

<script>
export default {
    name: "MegaSolutionLoaddingComponent.vue",
    data(){
        return{
            loadingImage:""
        }

    },
    mounted() {
        this.loadingImage = require("../../../icons/20210604/logo_loading.gif").default
    }
}
</script>

<style lang="scss" scoped>
.loadding-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
</style>
