<template>
    <div class="container profile-container ">
        <div class="top-section row mb-5 p-3" v-if="!profile.isVerified">
                <div class="mega-solution-cap-light col-md-8 text-left mega-solution-horizontal-center">
                     Verify your account to get access to all the features !
                </div>
                <a href="/email/verify" class="col-md-4 mega-solution-horizontal-start">
                    <button class="creatr-primary-button-small">Verify Account</button>
                </a>
        </div>

        <div class="mega-solution-h3 row edit-profile-section-title">
            Settings
        </div>


        <div class="edit-profile-section row">
            <div class="col-md-4 edit-profile-menu-section">
                <template v-for="menuItem in editProfileMenu">
                    <div class="edit-profile-menu-item mega-solution-horizontal-start pointer" @click="selectMenuItem(menuItem.id)" :class="[selectedMenuId === menuItem.id? 'selected':'' ]">
                        <img :src="menuItem.image" :alt="menuItem.title"  class="edit-profile-menu-item-image">
                        <div class="mega-solution-sub-light edit-profile-menu-item-title">{{menuItem.title}}</div>
                    </div>
                </template>
            </div>

            <div class="col-md-8 ">
                <template v-if="selectedMenuId === 'profile'">

                    <div class="edit-profile-content-section">
                        <div class="mega-solution-cap edit-profile-content-section-title">
                            avatar
                        </div>
                        <div class="edit-profile-image-section mega-solution-horizontal-start">
                            <img :src="getUserProfile(avatar)" alt="User avatar" class="edit-profile-image-section-image">
                            <template v-if="changeImageMode">
                                <form @submit="formSubmit" enctype="multipart/form-data">
                                    <input type="file" class="choose-file-input" v-on:change="onChange">
                                    <button type="submit" class="choose-file-upload creatr-primary-button-regular btn-block">Upload</button>
                                </form>
                            </template>
                            <template v-else>
                                <button type="button" class="change-image-button creatr-secondary-button-regular" @click="changeImageMode = true">Change Avatar</button>
                            </template>
                        </div>

                        <div class="mega-solution-cap edit-profile-content-section-title mt-4 required">
                            username
                        </div>

                        <div class="edit-name-section">
                            <MegaInput input-type="left-name" v-model="userName" placeholder="a_cool_name" :icon="userNameUnique? namePassedImageName:nameNotPassedImageName" :left-icon="userNameIcon"  :error-message="userNameErrorMessage" ></MegaInput>
                        </div>

                        <div class="mega-solution-cap-light edit-profile-content-section-subtitle">
                            Your creatr url
                        </div>
                        <div class="edit-profile-content-myurl">
                            <div class="mega-solution-body-light clamp-2" id="my-url">
                                https://my.creatrhq.com/hq/{{userInfo.name}}
                            </div>
                        </div>
                        <div class="mega-solution-cap edit-profile-content-section-title mt-4 required">
                            NAME
                        </div>
                        <div class="edit-name-section">
                            <MegaInput  v-model="name" placeholder="a_cool_name" maxlength="20" :error-message="nameErrorMessage" ></MegaInput>
                        </div>

                        <div class="mega-solution-cap edit-profile-content-section-title mt-4">
                            BIO
                        </div>
                        <MegaTextArea v-model="bio" maxRow="2" :max-length="bioMaxLength"  @onOverMaxLength="onBioOverMaxLength" :error-message="bioErrorMessage" placeholder="Tell us a little about yourself" ></MegaTextArea>

                        <button class="creatr-primary-button-regular save-profile-button" :disabled="saveChangeDisabled"  @click="saveProfile">  {{saveChangeDisabled?"Saving ": "Save "}} changes</button>
                    </div>
                </template>
                <template v-else-if="selectedMenuId === 'social'">

                    <div class="edit-profile-content-section">
                        <div class="mega-solution-cap edit-profile-content-section-title mt-4">
                            PERSONAL WEBSITE
                        </div>

                        <div class="edit-name-section">
                            <MegaInput input-type="left-name" :maxlength="50" v-model="personal_website" placeholder="please enter url" :left-icon="personal_website_icon"  :error-message="userNameErrorMessage" ></MegaInput>
                        </div>
                        <div class="mega-solution-cap edit-profile-content-section-title mt-4">
                            YOUTUBE
                        </div>

                        <div class="edit-name-section">
                            <MegaInput input-type="left-name" :maxlength="50" v-model="youtube_link" placeholder="please enter url" :left-icon="youtube_icon"  :error-message="userNameErrorMessage" ></MegaInput>
                        </div>
                        <div class="mega-solution-cap edit-profile-content-section-title mt-4">
                            TIKTOK
                        </div>

                        <div class="edit-name-section">
                            <MegaInput input-type="left-name" :maxlength="50" v-model="tiktok_link" placeholder="please enter url"  :left-icon="tiktok_icon"  :error-message="userNameErrorMessage" ></MegaInput>
                        </div>
                        <div class="mega-solution-cap edit-profile-content-section-title mt-4">
                            INSTAGRAM
                        </div>

                        <div class="edit-name-section">
                            <MegaInput input-type="left-name" :maxlength="50" v-model="instagram_link" placeholder="please enter url"  :left-icon="instagram_icon"  :error-message="userNameErrorMessage" ></MegaInput>
                        </div>
                        <div class="mega-solution-cap edit-profile-content-section-title mt-4">
                            FACEBOOK
                        </div>

                        <div class="edit-name-section">
                            <MegaInput input-type="left-name" :maxlength="50" v-model="facebook_link" placeholder="please enter url"  :left-icon="facebook_icon"  :error-message="userNameErrorMessage" ></MegaInput>
                        </div>
                        <div class="mega-solution-cap edit-profile-content-section-title mt-4">
                            SNAPCHAT
                        </div>

                        <div class="edit-name-section">
                            <MegaInput input-type="left-name" :maxlength="50" v-model="snapchat_link" placeholder="please enter url"  :left-icon="snapchat_icon"  :error-message="userNameErrorMessage" ></MegaInput>
                        </div>
                        <div class="mega-solution-cap edit-profile-content-section-title mt-4">
                            TWITTER
                        </div>

                        <div class="edit-name-section">
                            <MegaInput input-type="left-name" :maxlength="50" v-model="twitter_link" placeholder="please enter url" :left-icon="twitter_icon"  :error-message="userNameErrorMessage" ></MegaInput>
                        </div>

                        <button class="creatr-primary-button-regular save-profile-button" :disabled="saveChangeDisabled" @click="saveSocial()">{{saveChangeDisabled?"Saving ": "Save "}} changes</button>
                    </div>

                </template>
                <template v-else-if="selectedMenuId === 'password'">
                    <div class="change-password-content-section">
                        <div class="change-password-content-title mega-solution-sub-heavy">
                            Manage your password
                        </div>

                        <div class="mega-solution-cap change-password-content-section-title mt-4">
                            Current Password
                        </div>
                        <div class="change-password-input-section">
                            <MegaInput input-type="current-password" v-model="currentPassword" placeholder="password" :error-message="currentPasswordError" ></MegaInput>
                        </div>

                        <div class="mega-solution-cap change-password-content-section-title mt-4">
                            NEW PASSWORD
                        </div>
                        <div class="change-password-input-section">
                            <MegaInput input-type="password" v-model="newPassword" placeholder="password"  :show-password-hints="true"></MegaInput>
                        </div>

                        <button class="creatr-primary-button-regular reset-password-button" @click="ResetPassword()" :disabled="!newPasswordValid" >Reset password</button>

                    </div>


                </template>
                <template v-else-if="selectedMenuId === 'account_setting'">
                    <div class="change-email-content-section">
                        <div class="change-email-content-title mega-solution-sub-heavy">
                            Account settings
                        </div>

                        <div class="mega-solution-cap change-email-content-section-title mt-4 required">
                            Email
                        </div>
                        <div class="change-email-input-section">
                            <MegaInput input-type="email" v-model="email" placeholder="Please Input Your email" :maxlength="50" :error-message="changeEmailError"></MegaInput>
                        </div>

                        <button class="creatr-primary-button-regular reset-email-button" @click="changeEmail()" :disabled="disableSaveChangeButton" >Change email</button>

                    </div>
                    <hr class="delete-account-divider" />

                    <div class="delete-account-section">
<!--                        <div class="mega-solution-cap delete-account-section-title mt-4 required">-->
<!--                            Account Changes-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="col-8 mega-solution-p2-light delete-account-description mega-solution-horizontal-start">-->
<!--                                Delete your account and all account data?-->
<!--                            </div>-->
<!--                            <div class="col-4">-->
<!--                                <button type="submit" class="creatr-secondary-button-regular delete-account-button" @click = "deleteAccount()">Delete account</button>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </template>
                <template v-if="selectedMenuId === 'payment_methods'">
                    <div class="payment-methods-container edit-profile-content-section">
                        <div class="mega-solution-sub-heavy payment-methods-container-title">
                            Payment methods
                        </div>
                        <div class="payment-methods-container-content">
                            <profile-payment-methods :email="email"></profile-payment-methods>
                        </div>
                    </div>
                </template>
                <template v-if="selectedMenuId === 'notification'">
                    <div class="notification-setting-container edit-profile-content-section">
                        <div class="mega-solution-sub-heavy notification-setting-container-title">
                            Notification settings
                        </div>

                        <div class="mega-solution-body-heavy notification-setting-container-subtitle">
                            Email notifications
                        </div>

                        <div class="checkout-section-info-section-check mt-3">
                            <input type="checkbox" id="transaction-notification" checked  disabled>
                            <label for="transaction-notification" class="mega-solution-p3-light">
                                Transactions & Payout (Required)
                            </label>
                        </div>

                        <div class="checkout-section-info-section-check mt-3">
                            <input type="checkbox" id="activity-notification" v-model="activity_notification">
                            <label for="activity-notification" class="mega-solution-p3-light">
                                Likes, comments, comment replies, follows
                            </label>
                        </div>

                        <div class="checkout-section-info-section-check mt-3">
                            <input type="checkbox" id="promotion-notification" v-model="promotion_notification">
                            <label for="promotion-notification" class="mega-solution-p3-light">
                                Marketing & Promotions
                            </label>
                        </div>

                        <button class="creatr-primary-button-regular save-notification-button" :disabled="saveChangeDisabled" @click="changeNotification">Save changes</button>

                    </div>

                </template>
                <template v-if="selectedMenuId === 'payout_methods'">
                    <div class="payout-setting-container edit-profile-content-section">
                        <div class="mega-solution-sub-heavy payout-setting-container-title">
                            Payout method
                        </div>
                        <div class="mega-solution-cap-light payout-setting-container-subtitle">
                            We can only pay directly to U.S. banks (USD) at the moment.
                        </div>
                    </div>
                    <profile-payout-methods></profile-payout-methods>
                </template>

            </div>
        </div>
    </div>
</template>

<script>
import MegaInput from "../MegaSolutionInputComponent/MegaSolutionInputComponent";
import MegaTextArea from "../MegaSolutionTextAreaComponent/MegaSolutionTextAreaComponent";

import checker from "../../checker"
import ProfilePaymentMethods
    from "../MegaSolutionProfilePaymentMethodsComponent/MegaSolutionProfilePaymentMethodsComponent";

import ProfilePayoutMethods from "../MegaSolutionProfilePayoutMethods/MegaSolutionProfilePayoutMethods";
export default {
    name: "MegaSolutionEditProfileComponent.vue",
    components:{
        MegaInput,
        MegaTextArea,
        ProfilePaymentMethods,
        ProfilePayoutMethods
    },
    computed:{
      newPasswordValid(){
          return checker.passwordPass(this.newPassword) && (this.currentPassword !== "")
      },
        disableSaveChangeButton(){
          if (checker.isEmail(this.email)){
              if(this.email.toLowerCase() == this.userInfo.email){
                  return true
              }else{
                  return false
              }

          }else{
              return true
          }
        }
    },
    data(){
        return {
            editProfileMenu:[],
            selectedMenuId:"",
            baseUrl:process.env.MIX_PUSHER_APP_URL,

            changeImageMode: false,

            file: null,
        //    Profile
            avatar:"",
            // name in user
            userName:"",
            userNameUnique:false,
            userNameErrorMessage:"",
            userNameIcon:'',


            //user name in Profile
            name:"",

            nameErrorMessage:"",

            bio:"",
            email:"",

        //    Social
            personal_website:"",
            youtube_link:"",
            tiktok_link:"",
            instagram_link:"",
            facebook_link:"",
            snapchat_link:"",
            twitter_link:"",

        //   Password
            currentPassword:"",
            newPassword:"",

            currentPasswordError:"",

            nameNotPassedImageName:"",
            namePassedImageName:"",


        //    change email
            changeEmailError:"",


        //    assets
            copy_icon:"",
            personal_website_icon:"",
            youtube_icon:"",
            tiktok_icon :"",
            instagram_icon :"",
            facebook_icon :"",
            snapchat_icon :"",
            twitter_icon :"",

            bioMaxLength:400,
            bioErrorMessage:"",
            saveChangeDisabled:false,

            promotion_notification:true,
            activity_notification:true,
        }
    },
    watch:{
        userName(newVal){
            this.isNameUnique()
        },
        bio(newVal){
            if(this.bioErrorMessage !== ""){
                if(newVal.length < this.bioMaxLength){
                    this.bioErrorMessage =""
                }
            }
        }
    },
    mounted() {
        this.editProfileMenu = [
            {
                id:"profile",
                title:"Profile",
                image:require('../../../icons/20210604/icons/24px/user.png').default,
            },
            {
                id:"social",
                title:"Social",
                image:require('../../../icons/20210604/icons/24px/social.png').default,
            },
            {
                id:"payment_methods",
                title:"Payment methods",
                image:require('../../../icons/20211023/icons/24px/wallet_white.png').default,
            },
            {
                id:"payout_methods",
                title:"Payout methods",
                image:require('../../../icons/20211023/icons/24px/file_white.png').default,
            },

            {
                id:"notification",
                title:"Notification settings",
                image:require('../../../icons/20211023/icons/24px/bell_white.png').default,
            },
            {
                id:"password",
                title:"Password",
                image:require('../../../icons/20210604/icons/24px/key.png').default,
            },
            {
                id:"account_setting",
                title:"Account settings",
                image:require('../../../icons/20210604/icons/24px/user.png').default,
            },

        ]
        this.selectedMenuId = 'profile'
        if(this.userInfo != null){
            this.avatar = this.userInfo.avatar
            this.userName = this.userInfo.name
            this.email = this.userInfo.email
            this.isNameUnique()

            this.promotion_notification = this.userInfo.promotion_notification
            this.activity_notification = this.userInfo.activity_notification
        }

        if(this.profile != null){
            this.bio = this.profile.bio == null? "": this.profile.bio
            this.name = this.profile.user_name
            this.personal_website = this.profile.personal_website == null? "": this.profile.personal_website
            this.youtube_link = this.profile.youtube_link == null? "": this.profile.youtube_link
            this.tiktok_link = this.profile.tiktok_link == null? "": this.profile.tiktok_link
            this.instagram_link = this.profile.instagram_link == null? "": this.profile.instagram_link
            this.facebook_link = this.profile.facebook_link == null? "": this.profile.facebook_link
            this.snapchat_link = this.profile.snapchat_link == null? "": this.profile.snapchat_link
            this.twitter_link = this.profile.twitter_link == null? "": this.profile.twitter_link


        }

        //console.log(this.userInfo,this.profile)

        this.nameNotPassedImageName = require('../../../icons/sign_up/icons/16px/check_circled/default.png').default;
        this.namePassedImageName = require("../../../icons/sign_up/icons/16px/check_circled/active.png").default;
        this.userNameIcon =require('../../../icons/20210604/icons/24px/at.png').default;
        this.copy_icon = require('../../../icons/20210604/icons/16px/copy.png').default;

        this.personal_website_icon = require('../../../icons/20210604/icons/24px/personal_link.png').default
        this.youtube_icon = require('../../../icons/20210604/icons/24px/social_youtube.png').default
        this.tiktok_icon = require('../../../icons/20210604/icons/24px/social_tiktok.png').default
        this.instagram_icon = require('../../../icons/20210604/icons/24px/logo_instagram.png').default
        this.facebook_icon = require('../../../icons/20210604/icons/24px/social_facebook2.png').default
        this.snapchat_icon = require('../../../icons/20210604/icons/24px/snapchat_glyph.png').default
        this.twitter_icon = require('../../../icons/20210604/icons/24px/social_twitter_white.png').default

    },
    props:{
        userInfo:{
            type:Object,
            default:null,
        },
        profile:{
            type:Object,
            default:null,
        }
    },

    methods:{
        onBioOverMaxLength(){
            this.bioErrorMessage = `The text has exceeded ${this.bioMaxLength} characters!`
        },
        selectMenuItem(itemId){
            if(this.selectedMenuId !== itemId){
                this.selectedMenuId = itemId
            }
        },
        getUserProfile(imagePath){
            return `/storage/${imagePath}`
        },
        onChange(e) {
            this.file = e.target.files[0];
        },
        isNameUnique(){
            this.userNameUnique = false
            this.userNameErrorMessage =``
            if(checker.isAValidName(this.userName)){
                let data = {
                    'newName':this.userName,
                    'userid':this.userInfo.id
                }
                axios.get('/api/user/checkNewNameAvailable',{params:data,
                    headers: { 'Accept':'application/json' }
                }).then(res=>{
                    this.userNameUnique = res.data.State
                    if(!this.userNameUnique){
                        //console.log(res.data)
                        if(res.data.Msg != null){
                            this.userNameErrorMessage =`${res.data.Msg}`
                        }
                    }else{
                        this.userNameErrorMessage = ""
                    }
                }).catch(error=>{
                    //console.log(error)
                })
            }else{
                this.userNameUnique = false
                if(this.userName.length > 15){
                    this.userNameErrorMessage = "Your Name is too Long!"
                }else if(this.userName.length < 6){
                    this.userNameErrorMessage = "Your Name is too short!"
                }else{
                    this.userNameErrorMessage = "Numbers and lowercase letters Only!"
                }
            }
        },
        formSubmit(e) {
            e.preventDefault();
            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }
            let data = new FormData();
            let that = this;
            data.append('file', this.file);
            //console.log(this.file)
            if(this.file != null ){
                axios.post('/uploadAvatar', data, config)
                    .then(function (res) {
                        if(res.status === 200){
                            that.avatar = res.data.filePath
                            that.file = null
                            that.changeImageMode = false
                        }
                    })
                    .catch(function (err) {
                        if (err.response.status === 422) {
                            Vue.$toast.open({
                                message: err.response.data.errors.file[0],
                                position:"bottom",
                                type: 'error',
                            });
                        }
                    });
            }

        },

        validateProfileVariable(){
            let pass = true

            if(this.userNameUnique){

            }else{
                this.userNameErrorMessage = "Sorry, Please make sure your user name is valid"
                pass = false;
                return pass;
            }
            if(this.name.trim() !== ""){

            }else{
                this.nameErrorMessage = "Sorry, Please make sure your name is valid"
                pass = false;
                return pass;
            }

            if(this.bio.length > this.bioMaxLength){
                pass = false;
                this.onBioOverMaxLength()
                return  pass

            }

            return pass
        },
        saveProfile(){
            if(this.validateProfileVariable()){
                let data = {
                    userName:this.userName,
                    name:this.name,
                    avatar:this.avatar,
                    bio:this.bio,
                }

                let that = this;
                if(that.saveChangeDisabled){
                    return
                }
                that.saveChangeDisabled = true

                axios.post('/creator/profile/updateProfileSection', data)
                    .then(function (res) {
                        if(res.status == 200){

                            Vue.$toast.open({
                                message: 'Saved Successfully!',
                                position:"bottom",
                                type: 'success',
                            });

                            window.location.replace('/hq/'+that.userName+ "/edit");

                        }
                        that.saveChangeDisabled = false
                    })
                    .catch(function (err) {
                        //console.log('err',err)
                        that.saveChangeDisabled = false
                    });
            }
        },

        saveSocial(){
            let data = {
                personal_website:this.personal_website.toLowerCase().trim(),
                youtube_link:this.youtube_link.toLowerCase().trim(),
                tiktok_link:this.tiktok_link.toLowerCase().trim(),
                instagram_link:this.instagram_link.toLowerCase().trim(),
                facebook_link:this.facebook_link.toLowerCase().trim(),
                snapchat_link:this.snapchat_link.toLowerCase().trim(),
                twitter_link:this.twitter_link.toLowerCase().trim(),
            }

            let that = this;
            if(that.saveChangeDisabled){
                return
            }
            that.saveChangeDisabled = true

            axios.post('/creator/profile/updateProfileSocialLink', data)
                .then(function (res) {
                    if(res.status == 200){
                        Vue.$toast.open({
                            message: 'Saved Successfully!',
                            position:"bottom",
                            type: 'success',
                        });
                        window.location.reload();
                    }
                    that.saveChangeDisabled = false
                })
                .catch(function (err) {
                    //console.log('err',err)
                    that.saveChangeDisabled = false
                });
        },
        changeNotification(){
          let param = {
              "promotion_notification":this.promotion_notification,
              "activity_notification":this.activity_notification,
          }
          let that = this;
          that.saveChangeDisabled = true
          axios.post("/creator/profile/changeNotificationSetting",param)
              .then(function(res){
                  if(res.status == 200){
                      Vue.$toast.open({
                          message: 'Saved Successfully!',
                          position:"bottom",
                          type: 'success',
                      });
                      window.location.reload();
                  }
                  that.saveChangeDisabled = false
          }).catch(function (error) {
              //console.log('err',error)
              that.saveChangeDisabled = false
          })
        },
        ResetPassword(){
            if(this.newPasswordValid){
                let that = this;
                let data = {
                    currentPassword:this.currentPassword,
                    newPassword:this.newPassword,
                }
                axios.post('/creator/profile/changePassword', data)
                    .then(function (res) {
                        if(res.status == 200){
                            Vue.$toast.open({
                                message: 'Saved Successfully!',
                                position:"bottom",
                                type: 'success',
                            });
                            window.location.reload();
                        }else{
                            //console.log(res)
                        }
                    })
                    .catch(function (err) {
                        if(err.response.status == 401){
                            that.currentPasswordError = err.response.data.msg
                        }
                        //console.log('err',err.response)
                    });
            }
        },
        changeEmail(){
            if(this.disableSaveChangeButton){

            }else{
                let that = this;
                let data = {
                    email: this.email
                }

                axios.post('/creator/profile/changeEmail', data)
                    .then(function (res) {
                        if(res.status == 200){
                            Vue.$toast.open({
                                message: 'Saved Successfully!',
                                position:"bottom",
                                type: 'success',
                            });
                            window.location.reload();
                        }else{
                            //console.log(res)
                        }
                    })
                    .catch(function (err) {
                        if(err.response.status == 401){
                            that.changeEmailError = err.response.data.msg
                        }
                        //console.log('err',err.response)
                    });
            }
        },
        deleteAccount(){
            //console.log('delete Account')
        },


    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.profile-container{
    padding-top: 160px;
}
.top-section{
    border-radius: 8px;
    background-color: $neutral-input;
}
.edit-profile-section-title{
    margin-right: 16px;
}

.edit-profile-section{
    margin-top: 64px;
    .edit-profile-menu-section{
        margin-bottom: 114px;
        .edit-profile-menu-item{
            margin-top: 32px;
            opacity: 0.3;
            &.selected{
                opacity: 1;
                .edit-profile-menu-item-title{
                    font-weight: 600;
                }
            }

            &:first-child{
                margin-top: unset;
            }
            .edit-profile-menu-item-image{
                width: 24px;
                height: 24px;

            }
            .edit-profile-menu-item-title{
                margin-left: 12px;
            }
        }
    }
    .edit-profile-content-section{
        .edit-profile-content-section-title{
            color: $neutral-tagline;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
        .edit-profile-content-section-subtitle{
            color: $neutral-tagline;
            margin-top: 24px;
        }
        .edit-profile-image-section{
            .edit-profile-image-section-image{
                width: 160px;
                height: 160px;
                border-radius: 80px;
                object-fit: cover;
            }
            .choose-file-input{
                background-color: transparent;
                button{
                    padding: 4px 8px !important;
                }
            }
            .choose-file-upload{
                margin-top: 24px;
            }

            .change-image-button{
                margin-left: 32px;
            }
        }

        .edit-profile-section-text-area{
            width: 100%;
            background-color: $neutral-input;
            padding: 12px 16px;
            color: $neutral-text;
            max-height: 100px;
            min-height: 70px;
            border: 1px solid transparent;
            border-radius: 4px;
            &:focus{
                border: 1px solid $neutral-text;
            }
            &:focus-visible{
                outline: unset;
            }
        }

        .save-profile-button{
            width: 100%;
            margin-top: 56px;
            margin-bottom: 116px;
        }

    }
}

.change-password-content-section{

    .change-password-content-title{
        margin-bottom: 48px;
    }
    .change-password-content-section-title{
        color: $neutral-tagline;
        text-transform: uppercase;
        margin-bottom: 12px;

    }
    .change-password-input-section{

    }

    .reset-password-button{
        width: 100%;
        margin-top: 56px;
        margin-bottom: 116px;
    }
}

.change-email-content-section{
    .change-email-content-title{
        margin-bottom: 48px;
    }
    .change-email-content-section-title{
        color: $neutral-tagline;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    .change-email-input-section{

    }
    .reset-email-button{
        width: 100%;
        margin-top: 40px;
        margin-bottom: 48px;
    }
}
.delete-account-divider{
}

.delete-account-section{
    margin-top: 48px;
    margin-bottom: 112px;
    .delete-account-section-title{
        color: $neutral-tagline;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    .delete-account-description{
    }
    .delete-account-button{
        background-color: $secondary-4;
        border-color: $secondary-4;
        color: $neutral-bg1;
        &:hover{
            background-color: $secondary-3;
            border-color: $secondary-3;
            color: $neutral-bg1;
        }
        &:active{
            background-color: $secondary-5;
            border-color: $secondary-5;
            color: $neutral-bg1;
        }
    }
}

.payment-methods-container{

    .payment-methods-container-title{
        color: $neutral-text;
    }
}

.notification-setting-container{
    .notification-setting-container-title{
        color: $neutral-text;
    }
    .notification-setting-container-subtitle{
        margin-top: 48px;
    }
    .save-notification-button{
        margin-top: 32px;
        width: 427px;
    }
}


.payout-setting-container{

    .payout-setting-container-title{

    }

    .payout-setting-container-subtitle{
        margin-top: 8px;
        color: $neutral-tagline;
    }
}

@media screen and (max-width: 576px){
    .profile-container{
        padding-top: 80px;
        .top-section .mega-solution-horizontal-start .creatr-primary-button-small{
            margin-top: 16px;
        }

        .edit-profile-section-title{
            padding-left: 16px;
        }
        .edit-profile-section{
            margin-top: 24px;
        }
    }
    .edit-profile-section .edit-profile-menu-section{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: scroll;
        margin-bottom: 24px;
        gap:10px;
        .edit-profile-menu-item{
            margin-top: unset;
            margin-bottom: unset;
            width: 48%;
            padding: 8px;
            border: solid 1px $neutral-tagline;
            border-radius: 10px;
            justify-content: center;
            .edit-profile-menu-item-image{
                display: none;
            }
            .edit-profile-menu-item-title{
                margin-left: unset;
            }
        }
    }

    .edit-profile-section .edit-profile-content-section .edit-profile-image-section .edit-profile-image-section-image{
        width: 64px;
        height: 64px;
    }

    .notification-setting-container{

        .save-notification-button{
            width: 100%;
        }
    }
}

.info-back-ground{
    background-color: $semantic-info3;
}

</style>
