<template>
  <div class="mega-solutions-licence-display-section mt-2">
    <template v-if="availableLicences.length !== 0">
      <div class="mega-solution-body-light mt-2">
        Need this for your project?
      </div>

      <template
        v-if="availableLicences.length === 1 && availableLicences[0].is_free"
      >
        <div class="mega-solution-sub-heavy mt-2">
          Download it for free!
        </div>
        <div class="licence-item mt-4">
          <div class="licence-description">
            <div
              v-html="availableLicences[0].description"
              class="licence-description-detail mega-solution-p3-light"
            ></div>
          </div>
        </div>
      </template>

      <template v-else>
        <div class="mega-solution-sub-heavy mt-2">
          Select a license and you're ready to go!
        </div>
        <div
          v-for="(licence, index) in availableLicences"
          :key="index"
          class="licence-item mt-4"
        >
          <div class="licence-item-top mega-solution-horizontal-center">
            <input
              type="radio"
              :id="'radio_' + index"
              v-model="picked"
              :value="licence.id"
            />
            <label
              :for="'radio_' + index"
              class="licence-label mega-solution-horizontal-center"
            >
              <div
                class=" licence-label-detail mega-solution-horizontal-center"
              >
                <div
                  class="licence-label-detail-label mega-solution-body-light mega-solution-horizontal-center"
                  :class="{ unchecked: licence.id !== picked }"
                >
                  {{ licence.type }}
                  <template v-if="licence.is_popular">
                    <div
                      class="licence-popular-tag mega-solution-tiny-cap mega-solution-horizontal-center"
                    >
                      POPULAR
                    </div>
                  </template>
                  <template v-if="!licence.is_free">
                    <div class="licence-price-content">
                      {{ `$${licence.pivot.price}` }}
                    </div>
                  </template>
                </div>
              </div>
            </label>
          </div>

          <template v-if="licence.id === picked">
            <div class="licence-description">
              <div
                v-html="licence.description"
                class="licence-description-detail mega-solution-p3-light"
              ></div>
            </div>
          </template>
        </div>
      </template>
    </template>

    <template v-else>
      <div class="mega-solution-sub-heavy mt-2">
        This reel is not ready for download yet, maybe come back later.
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: "MegaSolutionLicencesDisplayComponent",
  components: {},
  props: {
    availableLicences: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      // set default radio button value
      picked: null
    };
  },
  created() {
    //console.log("availableLicences", this.availableLicences);
    if (this.availableLicences.length !== 0) {
      this.picked = this.availableLicences[0].id;
    }
  },
  watch: {
    picked: function(newVal) {
      //console.log("Child - newVal", newVal);
      this.clickFromLicenceSelection(newVal);
    }
  },
  methods: {
    clickFromLicenceSelection(selectedLicenceId) {
      this.$emit("clickFromLicenceSelection", selectedLicenceId);
    }
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.mega-solutions-licence-display-section {
  & > .mega-solution-body-light {
    letter-spacing: -0.1px;
    color: $neutral-tagline;
  }
  & > .mega-solution-sub-heavy {
    letter-spacing: -0.5px;
  }
  .licence-item {
    margin-bottom: 32px;

    .licence-item-top {
      > input[type="radio"] {
        display: none;
      }

      > input[type="radio"] + *::before {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        border-color: gray;
      }

      > input[type="radio"]:checked + *::before {
        background: radial-gradient(
          #eb1480 0%,
          #eb1480 40%,
          transparent 50%,
          transparent
        );
        border-color: #eb1480;
      }
      > input[type="radio"]:checked + * {
        color: #eb1480;
      }

      .licence-label {
        display: flex;
        width: 100%;
        gap: 10px;
        .licence-label-detail {
          width: 100%;

          .licence-label-detail-label {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            color: $neutral-text;
            &.unchecked {
              color: $neutral-tagline;
            }
            .licence-popular-tag {
              background-color: $secondary-5;
              color: $neutral-bg2;
              border-radius: 16px;
              padding-left: 8px;
              padding-right: 8px;
              margin-left: 16px;
              height: 20px;
            }
            .licence-price-content {
              margin-left: auto;
            }
          }
        }
      }
    }
    .licence-description {
      margin-left: 22px;
      margin-top: 8px;

      &.free-licence {
        margin-left: 0;
      }
      .licence-description-top {
        padding-left: 13px;
        .licence-description-top-label {
          color: $neutral-tagline;
        }
        .licence-description-top-icon {
          width: 16px;
          height: 16px;
          background-size: cover;
          object-fit: cover;
          margin-left: 4px;
          transition: 0.5s;
          &.show {
            transform: rotate(180deg);
            transition: 0.5s;
          }
        }
      }
      .licence-description-detail {
        margin-top: 8px;
        color: $neutral-tagline;
      }
    }
  }
}
.licence-description-detail ::v-deep ul {
  padding-left: 30px;
  padding-right: 50px;
}
</style>
