<template>
    <div class="collection-cell">
        <a :href="'/collections/'+ collection.url_handle">
            <div class="collection-cell-thumbnail-container">
                <template v-if="collection.reels.length >0">
                    <div class="collection-cell-multiple-image-container" :class =  "'items-' + (collection.reels.length > 4? 4 : collection.reels.length)">
                        <div class="collection-cell-multiple-image-container-item">
                            <img :src="getImage(collection.reels[0].thumbnail)" alt="thumbnail" class="collection-cell-multiple-image-container-item-thumbnail">
                        </div>
                        <div class="collection-cell-multiple-image-container-item"  v-if="collection.reels[1] != null">
                            <img :src="getImage(collection.reels[1].thumbnail)" alt="thumbnail" class="collection-cell-multiple-image-container-item-thumbnail">
                        </div>
                        <div class="collection-cell-multiple-image-container-item" v-if="collection.reels[2] != null">
                            <img :src="getImage(collection.reels[2].thumbnail)" alt="thumbnail" class="collection-cell-multiple-image-container-item-thumbnail">
                        </div>
                        <div class="collection-cell-multiple-image-container-item" v-if="collection.reels[3] != null">
                            <img :src="getImage(collection.reels[3].thumbnail)" alt="thumbnail" class="collection-cell-multiple-image-container-item-thumbnail">
                        </div>
                    </div>
                </template>
                <template v-else-if = "collection.reels.length === 1">
                    <img :src="getImage(collection.reels[0].thumbnail)" alt="thumbnail" class="collection-cell-thumbnail">

                </template>
                <template v-else>
                    <img :src="logoIcon" alt="thumbnail" class="collection-cell-thumbnail">
                </template>
            </div>
            <div class="collection-cell-thumbnail-container-default">
                <template v-if="collection.reel != null">
                    <img :src="getImage(collection.reel.thumbnail)" alt="thumbnail" class="collection-cell-thumbnail">
                </template>
                <template v-else>
                        <img :src="logoIcon" alt="thumbnail" class="collection-cell-thumbnail">
                </template>
            </div>
            <div class="collection-cell-detail-section mega-solution-vertical-start">
                <div class="clamp full-width">
                    <h3 class="mega-solution-sub-heavy collection-cell-detail-section-username  clamp">
                        {{collection.user.name}}
                    </h3>
                </div>


                <div class="collection-cell-detail-section-body-section mega-solution-vertical-start justify-content-end">
                    <div class="collection-cell-detail-section-title mega-solution-body-heavy clamp-2">
                        {{collection.title}}
                    </div>
<!--                    <div class="mega-solution-body-light collection-cell-detail-section-description clamp-2">-->
<!--                        {{collection.description}}-->
<!--                    </div>-->
                    <div class="collection-cell-detail-section-metrics mega-solution-horizontal-start">
                        <div class="collection-cell-detail-section-metric-container">
                            <img :src="viewIcon" alt="views" class="collection-cell-detail-section-metric-container-icon">
                            <div class = "mega-solution-footer-light">{{formatViews(collection.views)}}</div>
                        </div>

                        <div class="collection-cell-detail-section-metric-container">
                            <img :src="likeIcon" alt="views" class="collection-cell-detail-section-metric-container-icon">
                            <div class = "mega-solution-footer-light">{{formatViews(collection.likes)}}</div>
                        </div>
                        <div class="collection-cell-detail-section-metric-container">
                            <img :src="commentIcon" alt="views" class="collection-cell-detail-section-metric-container-icon">
                            <div class = "mega-solution-footer-light">{{formatViews(collection.comments)}}</div>
                        </div>
                    </div>
                </div>


            </div>
            <img :src="collectionIcon" alt="collection Icon" class="collection-cell-icon">
        </a>
    </div>
</template>

<script>
import helper from "../../helper";

export default {
    name: "MegaSolutionCollectionDisplayCell.vue",
    props:{
        collection:{
            type:Object,
            default:null,
        }
    },
    data(){
        return{
            baseUrl:process.env.MIX_PUSHER_APP_URL,
            viewIcon:"",
            likeIcon:"",
            commentIcon:"",
            logoIcon:"",
            collectionIcon:"",
        }
    },
    mounted() {
        this.viewIcon = require('../../../icons/20210604/icons/16px/view_outlined.png').default
        this.likeIcon = require('../../../icons/20210604/icons/16px/heart_outlined_lighter.png').default
        this.commentIcon = require('../../../icons/20210604/icons/16px/message_outlined.png').default
        this.logoIcon = require('../../../icons/20210604/sitelogo.png').default
        this.collectionIcon = require('../../../icons/20210604/icons/24px/collection.png').default
        //console.log('collection',this.collection)
    },
    methods:{
        getImage(imagePath){
            return `/storage/${imagePath}`
        },
        formatViews(num){
            return helper.formatViews( parseInt(num))
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.collection-cell{
    width: 100%;
    padding-top: 100%;
    position: relative;
    background: #1C1C1C;

    &:hover{
        .collection-cell-thumbnail-container{
            opacity: 1;
            transition: all 1s ease-in-out;
        }
        .collection-cell-thumbnail-container-default{
            //display: none;
            opacity: 0;
            transition: all 1s ease-in-out;
        }
        .collection-cell-detail-section{
            .collection-cell-detail-section-body-section{
                .collection-cell-detail-section-title{
                    display: flex;
                }
                .collection-cell-detail-section-description{
                    display: flex;
                }
                .collection-cell-detail-section-metrics{
                    display: flex;
                }
            }

        }

    }
    .collection-cell-thumbnail-container{
        position: absolute;
        width:100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        transition: all 1s ease-in-out;
        /*display: none;*/
        .collection-cell-multiple-image-container{
            display: grid;
            grid-template-rows: 64% 33%;
            grid-template-columns: repeat(3,1fr);

            position: absolute;
            grid-gap: 8px;

            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;



            &.items-1{
                :first-child{
                    grid-column: 1/4;
                    grid-row: 1/3;
                }
            }
            &.items-2{
                grid-template-rows: 50% 50%;
                :first-child{
                    grid-row: 1/2;
                    grid-column: 1/4;
                }
                :nth-child(2){
                    grid-column: 1/4;
                    grid-row: 2/3;
                }
            }
            &.items-3{
                grid-template-columns: repeat(2,1fr);
                :first-child{
                    grid-row: 1/2;
                    grid-column: 1/3;
                }
                :nth-child(2){
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                :nth-child(3){
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
            }
            &.items-4{
                :first-child{
                    grid-column: 1/4;
                    grid-row: 1/2;
                }
            }



            .collection-cell-multiple-image-container-item{
                position: relative;

                .collection-cell-multiple-image-container-item-thumbnail{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                .collection-cell-multiple-image-container-item-preview{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    display: none;
                }
            }
        }
        .collection-cell-thumbnail{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .collection-cell-preview{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: none;
        }
    }

    .collection-cell-thumbnail-container-default{
        position: absolute;
        width:100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 1;
        transition: all 1s ease-in-out;
        .collection-cell-thumbnail{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .collection-cell-detail-section{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $overlay-solid;
        padding: 24px 24px 16px 24px;

        .collection-cell-detail-section-username{
            margin-right: 32px;
        }
        .collection-cell-detail-section-body-section{
            width: 100%;
            flex: 1;
            .collection-cell-detail-section-title{
                display: none;
            }
            .collection-cell-detail-section-description{
                color: $neutral-tagline;
                display: none;
            }
            .collection-cell-detail-section-metrics{
                margin-top: 8px;
                gap: 9px;
                display: none;
                .collection-cell-detail-section-metric-container{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .collection-cell-detail-section-metric-container-icon{
                        width: 16px;
                        height: 16px;
                    }
                    .mega-solution-footer-light{
                        color: $neutral-tagline;
                        margin-left: 2px;
                    }
                }
            }

        }
    }

    .collection-cell-icon{
        position: absolute;
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;

    }
}
</style>



