<template>
    <div class="reels-slider-container">
        <div class="mega-solution-horizontal-center justify-content-between align-items-baseline reels-slider-container-title-section">
            <h4 class="mega-solution-h4">Other Popular Reels </h4>
        </div>


        <swiper class="swiper" :options="swiperOptionThumbs" ref="swiperThumbs">
            <swiper-slide class="reel-slide"  v-for="(reel,index) in reels" :key="index">

                <div class="reel-detail">
                    <img :src="getImage(reel.thumbnail)" alt="Reel Thumbnail" class="reel-slide-thumbnail">
                    <img :src="getImage(reel.preview== null? reel.thumbnail:reel.preview)" alt="Reel Thumbnail" class="reel-slide-thumbnail-preview">
                    <a :href="'/reels/' + reel.url_handle">
                        <div class="reel-detail-content">
                            <div class="mega-solution-body-heavy reel-detail-content-title clamp">
                                {{reel.title}}
                            </div>
                            <div class="reel-cell-detail-section-metrics mega-solution-horizontal-start">
                                <div class="reel-cell-detail-section-metric-container">
                                    <img :src="viewIcon" alt="views" class="reel-cell-detail-section-metric-container-icon">
                                    <div class = "mega-solution-footer-light">{{formatViews(reel.views)}}</div>
                                </div>

                                <div class="reel-cell-detail-section-metric-container">
                                    <img :src="likeIcon" alt="views" class="reel-cell-detail-section-metric-container-icon">
                                    <div class = "mega-solution-footer-light">{{formatViews(reel.likes)}}</div>
                                </div>
                                <div class="reel-cell-detail-section-metric-container">
                                    <img :src="commentIcon" alt="views" class="reel-cell-detail-section-metric-container-icon">
                                    <div class = "mega-solution-footer-light">{{formatViews(reel.comments)}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </swiper-slide>
        </swiper>


    </div>
</template>

<script>
import  "swiper/swiper.scss"
import helper from "../../helper";
export default {
    name: "MegaSolutionPopularReelsComponent.vue",
    data(){
        return{
            reels:[],
            seed:"",
            loading : false,
            loadFinish: false,
            viewIcon:"",
            likeIcon:"",
            commentIcon:"",
            swiperOptionThumbs: {
                slidesPerView: 5,
                spaceBetween: 10,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
                breakpoints: {

                    1920:{
                        slidesPerView: 6,
                        spaceBetween: 20
                    },
                    1440:{
                        slidesPerView: 5,
                        spaceBetween: 20
                    },
                    1024:{
                        slidesPerView: 5,
                        spaceBetween: 20
                    },
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    },
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20
                    },
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    180:{
                        slidesPerView: 1,
                        spaceBetween: 10
                    }
                }
            },
            baseUrl:process.env.MIX_PUSHER_APP_URL,
        }
    },
    mounted() {
        this.getReels()
        this.viewIcon = require('../../../icons/20210604/icons/16px/view_outlined.png').default
        this.likeIcon = require('../../../icons/20210604/icons/16px/heart_outlined_lighter.png').default
        this.commentIcon = require('../../../icons/20210604/icons/16px/message_outlined.png').default
    },
    methods:{
        getImage(imagePath){
            return `/storage/${imagePath}`
        },
        // reachEnd(){
        //     console.log('console .log reach end')
        //     this.getReels()
        // },
        getReels() {

            let that = this;
            if(this.loadFinish){

                // Vue.$toast.open({
                //     message: 'All reels have been loaded! ',
                //     position:"bottom",
                //     type: 'info',
                // });
            }else{
                if(!that.loading){
                    that.loading = true
                    axios.get('/reels/getMostPopularReels',{
                        headers: {
                            'Accept': 'application/json'
                        }}).then(function (res) {
                        if(res.status === 200){
                            let temp = res.data.response.reels
                            that.reels = that.reels.concat(temp)
                            that.loading = false
                            that.loadFinish = true

                        }
                        //console.log(res.data.response)
                    }).catch(function(err){
                        //console.log('err',err.response);
                    })
                }

            }

        },
        formatViews(num){
            return helper.formatViews( parseInt(num))
        }
    }
}
</script>

<style scoped lang="scss">

@import "resources/sass/app.scss";
.reels-slider-container{

    margin-bottom: 112px;
    .hr{
        background-color: rgba(255,255,0.1);
    }

    .reels-slider-container-title-section{

        margin-top: 48px;
        .mega-solution-h4{

        }
        .mega-solution-body-light{
            color:$neutral-tagline
        }
    }

}

.swiper {
    margin-top: 24px;
    .reel-slide{
        height: 180px;
        .reel-detail{
            width: 100%;
            height: 100%;
            position: relative;
            .reel-slide-thumbnail{
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 1;
                transition: all 0.8s ease-in-out;
                position: absolute;
                left: 0;
                top: 0;

            }
            .reel-slide-thumbnail-preview{
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0;
                transition: all 0.8s ease-in-out;
                position: absolute;
                left: 0;
                top: 0;
            }
            &:hover{

                .reel-detail-content{
                    display:flex;
                }
                .reel-slide-thumbnail{
                    //display: none;
                    opacity: 0;
                    transition: all 0.8s ease-in-out;
                }
                .reel-slide-thumbnail-preview{
                    //display: flex;
                    opacity: 1;
                    transition: all 0.8s ease-in-out;
                }

            }
            .reel-detail-content{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: $overlay-solid;
                display:none;
                flex-direction: column;
                align-items: flex-start;
                justify-content:flex-end;
                padding: 12px 12px 18px;

                .reel-detail-content-title{
                    width: 100%;
                }
                .reel-cell-detail-section-metrics{
                    margin-top: 10px;
                    gap: 9px;
                    .reel-cell-detail-section-metric-container{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .reel-cell-detail-section-metric-container-icon{
                            width: 16px;
                            height: 16px;
                        }
                        .mega-solution-footer-light{
                            color: $neutral-tagline;
                            margin-left: 2px;
                        }
                    }
                }
            }
        }
    }

}
@media screen and (max-width: 576px){
    .swiper{
        .reel-slide{
            height: 96px;
        }
    }
}


</style>

