<template>
    <div class="container edit-collection-container pt-10">
        <div class="edit-collection-container-title-container ">
            <div class="edit-collection-container-title-section mega-solution-horizontal-start">
                <img :src="collectionIcon" alt="coll icon" class="edit-collection-container-title-section-image">
                <h3 class="mega-solution-h3 edit-collection-container-title-section-title"> {{title}}</h3>
            </div>
            <div class="edit-collection-container-reel-count mega-solution-sub-light">{{reels.length}} reels
            <template v-if="reels.length > 0">
                <button type="submit" class="creatr-primary-button-regular ml-2" @click="showAddReel = true">Add Reel</button>
            </template>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <template v-if="reels.length > 0">
                    <div class="reels-container">
                        <scrollbar :maxHeight="'100vh'">

                            <div class="reel-container mega-solution-horizontal-center justify-content-between" v-for="(item,index) in reels" :key="index" >
                                <img :src="getImageByPath(item.thumbnail)" alt="reel thumb" class="reel-container-image">
                                <div class="reel-container-detail">
                                    <div class="mega-solution-body-heavy reel-container-detail-title clamp">
                                        {{item.title}}
                                    </div>
                                    <div class="mega-solution-cap-light reel-container-detail-description clamp-2">
                                        {{item.description}}
                                    </div>
                                </div>
                                <div class="mega-solution-horizontal-center reel-container-bin pointer" @click="removeReel(index)">
                                    <img :src="binIcon" alt="bin" class="reel-container-bin-image">
                                </div>

                            </div>
                        </scrollbar>
                    </div>

                </template>
                <template v-else>
                    <div class="edit-collection-container-reels-container-empty mega-solution-vertical-center">
                        <img :src="reelEmptyIcon" alt="no reels" class="edit-collection-container-reels-container-empty-image">
                        <div class="mega-solution-p2-light edit-collection-container-reels-container-empty-title">This collection is empty. Add reels now?</div>
                        <button class="creatr-primary-button-regular" @click="showAddReel = true">Add Reel</button>
                    </div>

                </template>
            </div>
            <div class="col-xl-1 col-lg-1"></div>
            <div class="col-xl-5 col-lg-5 creatr-collection-detail-section">
                <div class="creatr-collection-detail-section-container">
                    <div class = "creatr-collection-detail-section-title mega-solution-sub-heavy required">Title</div>
                    <MegaTextArea v-model="title" maxRow="1" :max-length="titleMax" @onOverMaxLength="onTitleOverMaxLength" :error-message="titleErrorMessage" ></MegaTextArea>
                </div>
                <div class="creatr-collection-detail-section-container">
                    <div class = "creatr-collection-detail-section-title mega-solution-sub-heavy ">Description</div>
                    <MegaTextArea v-model="description" maxRow="1" :max-length="descriptionMax" @onOverMaxLength="onTitleDescriptionMaxLength" type="long" :error-message="descriptionErrorMessage" ></MegaTextArea>
                </div>

                <div class="creatr-collection-detail-section-container">
                    <div  class = "creatr-collection-detail-section-title mega-solution-sub-heavy required">Rating</div>
                    <select name="categories" id="rates" class="creatr-select mega-solution-body-light creatr-collection-detail-section-container-select" v-model="selectedRate">
                        <template v-for="rate in rates">
                            <option :value="rate.id" :key="rate.id" class="creatr-select-option mega-solution-body-light">{{`${rate.type} - ${rate.description}`}}</option>
                        </template>
                    </select>
                    <!-- <div class="creatr-collection-detail-section-sub-title mega-solution-cap-light">
                        {{
                            `* ${rates && (rates.filter(rate => rate.id === selectedRate))[0].description}`
                        }}
                    </div> -->
                </div>

                <div class="creatr-collection-detail-section-container">
                    <div  class = "creatr-collection-detail-section-title mega-solution-sub-heavy required">Category</div>
                    <select name="categories" id="categories" class="creatr-select mega-solution-body-light creatr-collection-detail-section-container-select" v-model="selectedCategory">
                        <template v-for="category in categories">
                            <option :value="category.id" :key="category.id" class="creatr-select-option mega-solution-body-light">{{category.name}}</option>
                        </template>

                    </select>
                </div>

                <div class="creatr-collection-detail-section-container">
                    <div  class = "creatr-collection-detail-section-title mega-solution-sub-heavy">Platforms</div>
                    <multiselect
                        v-model="selectedPlatforms"
                        placeholder=""
                        label="title" 
                        track-by="id"
                        class="multiple-select"
                        :height="50"
                        :options="platforms"
                        :max="3"
                        :multiple="true"
                    ></multiselect>
                </div>

                <div class="creatr-collection-detail-section-container">
                    <div class = "creatr-collection-detail-section-title mega-solution-sub-heavy">Tags</div>
                    <div class = "creatr-collection-detail-section-sub-title mega-solution-cap-light">Up to {{maximumTags}} tags; hit space to complete</div>
                    <MegaTags :selected-tags="selectedTags" :tags-array="tags" @addTag="addTag" @deleteTag="deleteTag" @addTags = "addTags" :maximum-tags="maximumTags"></MegaTags>
                </div>
            </div>
        </div>

        <div class="row creatr-button-section">
            <div class="col-xl-6 col-md-4 col-sm-12 creatr-button-section-discard-buttons">
                <div class="mega-solution-horizontal-start">
                    <button type="reset" class=" creatr-secondary-button-type-1" @click="discard" :disabled="disableButtons">Cancel</button>
                    <img :src="binIcon" alt="Bin Icon" class="pointer bin-icon mr-auto" @click="showDismissModal">
                </div>
            </div>
            <div class="col-xl-1 col-md-1">
<!--                <button class="creatr-regular-button-type-2 mega-solution-body-heavy mega-solution-horizontal-center creatr-button-section-preview" @click="preview" :disabled="disableButtons">Preview</button>-->
            </div>
            <div class="col-xl-5 col-md-7 col-sm-12 creatr-button-section-buttons">
                <button type="submit" class="creatr-button-section-button creatr-secondary-button-regular mr-auto" @click="saveAsDraft" :disabled="disableButtons">Save as draft</button>
                <button type="submit" class="creatr-button-section-button creatr-primary-button-regular ml-auto" @click="publish" :disabled="disableButtons">Publish</button>
            </div>
        </div>
        <template v-if="showAddReel">
            <add-reel @dismiss = "dismiss" :collection-id="this.collection.id" :selected-reels="reels" @addToCollection = "addReelsToCollection"></add-reel>
        </template>

        <template v-if="showDeleteView">
            <MegaSolutionModalMessageComponent
                left-message="Delete"
                right-message="Cancel"
                title="Delete?"
                @dismiss="dismissModal"
                @leftClicked="modalLeftClicked"
                @rightClicked="modalRightClicked"
                subtitle="Are you sure you want to delete this collection?">
            </MegaSolutionModalMessageComponent>
        </template>

    </div>
</template>

<script>
import MegaInput from "../MegaSolutionInputComponent/MegaSolutionInputComponent";
import MegaTextArea from "../MegaSolutionTextAreaComponent/MegaSolutionTextAreaComponent";
import Multiselect from 'vue-multiselect'
import MegaTags from "../MegaSolutionTagsInput/MegaSolutionTagsInput";
import AddReel from "../MegaSolutionAddReelIntoCollections/MegaSolutionAddReelIntoCollections"
import MegaSolutionModalMessageComponent from "../MegaSolutionModalMessageComponent/MegaSolutionModalMessageComponent"
import axios from 'axios';
export default {
    name: "MegaSolutionEditCollectionComponent.vue",
    components:{
        MegaInput,
        MegaTextArea,
        MegaTags,
        AddReel,
        MegaSolutionModalMessageComponent,
        Multiselect
    },
    data(){
        return{
            tags:[],
            rates: [],
            categories:[],
            selectedTags:[],
            collection:null,
            reels:[],

        //    icons
            collectionIcon:"",
            reelEmptyIcon:"",

            maximumTags:20,

            title:"",
            titleErrorMessage:"",
            selectedRate:0,
            selectedCategory:0,
            description:'',
            descriptionErrorMessage:"",

            disableButtons :false,
            showAddReel:false,

            baseUrl:process.env.MIX_PUSHER_APP_URL,
            binIcon:'',

            titleMax:100,
            descriptionMax:200,

            showDeleteView:false,

            selectedPlatforms: [],
            platforms: [],
        }
    },
    watch:{
        title(newVal){
            if(this.titleErrorMessage !== ""){
                if(newVal.length < this.titleMax && newVal.trim() !== ""){
                    this.titleErrorMessage =""
                }
            }
        },
        description(newVal){
            if(this.descriptionErrorMessage !== ""){
                if(newVal.length < this.descriptionMax){
                    this.descriptionErrorMessage =""
                }
            }
        }
    },
    async mounted() {
        await this.getPlatforms();

        if(this.collectionInfo != null){
            this.tags = this.collectionInfo.tags;
            this.rates = this.collectionInfo.rates;
            this.categories = this.collectionInfo.categories;

            this.collection = this.collectionInfo.collection;
            this.selectedRate = this.collection.rate_id;
            this.selectedCategory = this.collection.category_id;
            this.reels = this.collectionInfo.reels;
            this.title = this.collection.title
            this.description = this.collection.description == null? "": this.collection.description;

            this.collectionInfo.selectedTags.forEach(tag=>{
                this.selectedTags.push(tag.name)
            })
            
            this.selectedPlatforms = this.collectionInfo.selectedPlatforms;

        }
        this.collectionIcon =  require('../../../icons/20210604/icons/24px/collection.png').default;
        this.reelEmptyIcon = require('../../../icons/20210604/icons/illustrations/player2.png').default;
        this.binIcon = require('../../../icons/20210604/icons/24px/bin.png').default;
    },
    props:{
        collectionInfo:{
            type:Object,
            default:null
        }
    },
    methods:{

        showDismissModal () {
            this.showDeleteView = true
        },
        dismissModal(){
            this.showDeleteView = false
        },
        modalLeftClicked(){
            this.deleteCollection()
        },
        modalRightClicked(){
            this.dismissModal()
        },


        onTitleOverMaxLength(){
            this.titleErrorMessage = `The text has exceeded ${this.titleMax} characters!`
        },
        onTitleDescriptionMaxLength(){
            this.descriptionErrorMessage = `The text has exceeded ${this.descriptionMax} characters!`
        },
        addTag(e){
            let tag = e.tag
            let selectedTags = this.selectedTags;
            if( !selectedTags.includes(tag) && selectedTags.length < this.maximumTags){
                selectedTags.push(tag)
                this.selectedTags = selectedTags
            }
        },
        deleteTag(e){
            let index = e.index;
            this.selectedTags.splice(index,1)
        },
        addTags(e){
            let tags = e.tags;
            tags.forEach(tag=>{
                this.addTag({'tag':tag})
            })
        },
        dismiss(e){
          this.showAddReel = false;
        },

        discard(){
            history.back();
        },

        validInput(){
            let pass = true;
            if(this.title.trim() === ""){
                this.titleErrorMessage = "Title could not be empty"
                pass = false;
                return pass;
            }
            if(this.reels.length === 0){
                Vue.$toast.open({
                    message: 'Please add at lease one reel into the Collection!',
                    position:"bottom",
                    type: 'error',
                });
                pass = false;
                return pass;
            }

            if(this.title.length > this.titleMax){
                pass = false
                this.onTitleOverMaxLength()
                return pass;
            }else{
                this.titleErrorMessage = ""
            }

            if(this.description.length > this.descriptionMax){
                pass = false
                this.onTitleDescriptionMaxLength()
                return pass;
            }else{
                this.descriptionErrorMessage = ""
            }

            return pass;
        },

        preview(){

        },
        saveAsDraft(){


            if(this.validInput()){
                    let that = this;
                    let reelIDs = [];
                    this.reels.forEach(reel=>{
                        reelIDs.push(reel.id)
                    })
                    let data ={
                        'title':this.title,
                        'description':this.description,
                        'status':'draft',
                        'tags':this.selectedTags,
                        'reels':reelIDs,
                        'category_id':this.selectedCategory,
                        'rate_id':this.selectedRate,
                        'platforms': this.getSelectedPlatformsIds(),
                        _method: 'put'
                    }
                    that.disableButtons = true


                    axios.post('/collections/' + this.collection.id,data).then(function(res){
                        if(res.status === 200){
                            Vue.$toast.open({
                                message: 'Success! Processing...',
                                position:"bottom",
                                type: 'success',
                            });
                        }

                        let collectionID = res.data.response.collectionID
                        setTimeout(function () {
                            window.location.replace('/collections/'+collectionID);
                            that.disableButtons = false
                        },2000)

                    }).catch(function (err) {
                        that.disableButtons = false
                        if(err.response.status === 409) {
                            Vue.$toast.open({
                                message: err.response.data.response.errormsg,
                                position: "bottom",
                                type: 'error',
                            });
                        }
                    })
                }

        },
        publish(){

            if(this.validInput()){
                let that = this;
                let reelIDs = [];
                this.reels.forEach(reel=>{
                    reelIDs.push(reel.id)
                })
                let data ={
                    'title':this.title,
                    'description':this.description,
                    'status':'published',
                    'tags':this.selectedTags,
                    'reels':reelIDs,
                    'category_id':this.selectedCategory,
                    'rate_id':this.selectedRate,
                    'platforms': this.getSelectedPlatformsIds(),
                    _method: 'put'
                }
                that.disableButtons = true


                axios.post('/collections/' + this.collection.id,data).then(function(res){
                    if(res.status === 200){
                        Vue.$toast.open({
                            message: 'Success! ',
                            position:"bottom",
                            type: 'success',
                        });
                    }

                    let collectionID = res.data.response.collectionID
                    setTimeout(function () {
                        window.location.replace('/collections/'+collectionID);
                        that.disableButtons = false
                    },2000)

                }).catch(function (err) {
                    that.disableButtons = false
                    if(err.response.status === 409) {
                        Vue.$toast.open({
                            message: err.response.data.response.errormsg,
                            position: "bottom",
                            type: 'error',
                        });
                    }
                })
            }

        },
        deleteCollection(){

            axios.post('/collections/delete/'+this.collection.id,{_method: 'delete'})
                .then(function(res){
                    if(res.status === 200){
                        Vue.$toast.open({
                            message: 'Collection deleted!',
                            position:"bottom",
                            type: 'success',
                        });
                        window.history.back();
                    }
                }).catch(function(err){
                if(err.response.status === 403 ){
                    Vue.$toast.open({
                        message: 'Permission denied!',
                        position:"bottom",
                        type: 'error',
                    });
                }
                console.log(err.response)
            })
        },
        addReelsToCollection(e){
            this.reels = e.selectedReels
        },
        removeReel(index){
          let tempReels = this.reels;
          tempReels.splice(index,1);
          this.reels = tempReels
        },
        getImageByPath(imagePath){
            return `/storage/${imagePath}`
        },
        async getPlatforms(){
            try {
                const that = this;
                const res = await axios.get('/platform/getAllPlatforms',{
                    headers: { 'Accept':'application/json' }
                });

                if(res.status === 200){
                    that.platforms = res.data.response.platforms;
                }
            } catch (error) {
                console.log(err.response);
            }
        },
        getSelectedPlatformsIds(){
            let ids = []
            this.selectedPlatforms.forEach(platform=>{
                ids.push(platform.id)
            })
            return ids;
        },
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.edit-collection-container{
    //padding-top: 48px;
    .edit-collection-container-title-container{
        margin-bottom: 46px;
        .edit-collection-container-title-section{

            .edit-collection-container-title-section-image{
                width: 24px;
                height: 24px;
            }
            .edit-collection-container-title-section-title{
                margin-bottom: unset;
                margin-left: 8px;
            }
        }
        .edit-collection-container-reel-count{
            margin-top: 6px;
        }
    }
    .edit-collection-container-reels-container-empty{
        min-height: 425px;
        width: 100%;
        padding-top: 48px;
        padding-bottom: 48px;

        .edit-collection-container-reels-container-empty-image{
            width: 226px;
            height: 221px;
        }
        .edit-collection-container-reels-container-empty-title{
            margin-top: 32px;
            margin-bottom: 12px;
        }
        .creatr-primary-button-regular{

        }
    }

    .reels-container{
        .reel-container{
            min-height: 80px;
            color: white;
            margin-top: 8px;
            padding: 32px 16px ;
            border-bottom: 1px solid $neutral-input;

            &:hover{
                background: $neutral-input;
                .reel-container-bin{
                    display: flex;

                }
            }


            .reel-container-image{
                width: 106px;
                height: 60px;
            }
            .reel-container-detail{
                flex: 1;
                margin-left: 12px;
                overflow: hidden;
                .reel-container-detail-title{}
                .reel-container-detail-description{
                    margin-top: 8px;
                    color: $neutral-tagline;
                }
            }
            .reel-container-checkbox{
                margin-right: 40px;
                height: 16px;
                width: 16px;
            }
            .reel-container-bin{
                display: none;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                align-self: flex-start;
                &:hover{
                    background-color: $neutral-input;
                }
                .reel-container-bin-image{
                    height: 24px;
                    width: 24px;
                }
            }


        }


    }

    .creatr-collection-detail-section{
        padding-left: unset;
        padding-right: unset;
        .creatr-collection-detail-section-container{
            margin-top: 48px;
            &:first-child{
                margin-top: unset;
            }
            .creatr-collection-detail-section-sub-title{
                color: $neutral-tagline;
                margin-top: 4px;
            }
            .creatr-collection-detail-section-container-select{
                width: 100%;
                margin-top: 12px;
            }
            .collection-select-button{
                margin-top:12px;
                border-radius: 8px;
                background-color: $neutral-input;
                padding: 14px 12px;
            }
        }
    }

    .creatr-button-section{
        margin-top: 76px;
        margin-bottom: 116px;

        .bin-icon{
            width: 24px;
            height: 24px;
            margin-left: 24px;
        }
        .creatr-button-section-preview{
            height: 100%;
        }
        .creatr-button-section-buttons{
            display: flex;
            flex-direction: row;
            .creatr-button-section-button{
                width: 45%;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .edit-collection-container-title-container{
        .edit-collection-container-reel-count{
            margin-top: 16px;
        }
    }
    .creatr-collection-detail-section{
        margin-top: 40px;
    }
}

@media only screen and (max-width: 576px) {
    .edit-collection-container {
        .creatr-collection-detail-section {
            padding-left: 15px;
            padding-right: 15px;
        }

        .reels-container {
            .reel-container {
                .reel-container-image {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }


    .creatr-button-section {
        flex-direction: column-reverse;
        .creatr-button-section-discard-buttons {
            padding: 10px 20px;
            .mega-solution-horizontal-start .creatr-secondary-button-type-1{
                width: 80%;
            }
        }
        .mega-solution-horizontal-start {
            .mr-auto {
                margin: 0 0 0 30px;
                padding: 0;
            }
        }

        .creatr-button-section-buttons {
            padding: 10px 20px;
        }
    }

}


</style>
