<template>
    <div class="container-fluid">
        <div class="collections-container-banner mega-solution-vertical-center">

            <div class="collections-container-banner-background">
                <template v-if="mostPopularReel != null">
                    <img v-lazy="getImageByPath(mostPopularReel.thumbnail)" alt="category thumbnail" class="collections-container-banner-background-image">
                    <img v-lazy="getImageByPath(mostPopularReel.preview ===''?mostPopularReel.thumbnail:mostPopularReel.preview )" alt="category thumbnail" class="collections-container-banner-background-image-preview">
                </template>
                <template v-else>
                    <img :src="logoImage" alt="Reel"  class="collections-container-banner-background-image-default">
                </template>
            </div>
            <div class="collections-container-banner-content mega-solution-vertical-center" v-if="mostPopularReel != null">
                <h1 class="mega-solution-d1">Collections</h1>

                <div class="mega-solution-sub-light collections-container-banner-subtitle clamp-2">{{collectionBasicInfo == null? 0 :collectionBasicInfo.collection_count}} collections in total and counting...</div>


                <div class="collections-container-banner-background-creator mega-solution-footer-italic" v-if="mostPopularReel != null">by {{mostPopularReel.creatorName}}</div>
            </div>
            <div class="collections-container-banner-content mega-solution-vertical-center" v-else>
                <h1 class="mega-solution-d1">Popular Reels</h1>

                <div class="mega-solution-sub-light collections-container-banner-subtitle clamp-2">No One Set currently, Why don't you upload one!</div>
                <div class="collections-container-banner-background-creator mega-solution-footer-italic" v-if="mostPopularReel != null">by {{mostPopularReel.creatorName}}</div>
            </div>
        </div>

        <div class="container-fluid reels-container">
            <template v-if="collections.length > 0">
                <MegaSolutionCollectionsGridComponent :collections="collections"></MegaSolutionCollectionsGridComponent>
            </template>
            <template v-else>
                <content-collection-comtainer-empty-status message="There is no collection yet! " message2="Come and check Later!"/>
            </template>
        </div>

        <template v-if="collections.length > 0 && collectionLoadFinish">
            <MegaSolutionLoadedComponent></MegaSolutionLoadedComponent>
        </template>

    </div>
</template>

<script>
import ContentReelContainerEmptyStatus from "../MegaSolutionProfileVideosComponent/ContentReelContainerEmptyStatus";
import MegaSolutionReelsGridComponent from "../MegaSolutionReelsGridComponent/MegaSolutionReelsGridComponent";
import MegaSolutionLoadedComponent from "../MegaSolutionLoadedComponent/MegaSolutionLoadedComponent";
import MegaSolutionCollectionsGridComponent from "../MegaSolutionCollectionsGridComponent/MegaSolutionCollectionsGridComponent"
import ContentCollectionComtainerEmptyStatus
    from "../MegaSolutionProfileVideosComponent/ContentCollectionComtainerEmptyStatus";

export default {
    name: "MegaSolutionCollectionListViewComponent.vue",
    components:{
        ContentReelContainerEmptyStatus,
        MegaSolutionReelsGridComponent,
        MegaSolutionLoadedComponent,
        MegaSolutionCollectionsGridComponent,
        ContentCollectionComtainerEmptyStatus
    },
    data(){
        return{
            logoImage:"",
            baseUrl:process.env.MIX_PUSHER_APP_URL,
            loading:false,
            collections:[],
            collectionPageIndex:1,
            collectionPageSeed:"",
            collectionPageSize:9,
            collectionLoadFinish:false,
        }
    },
    props:{
        mostPopularReel:{
            type:Object,
            default:function () {
                return null
            }
        },
        collectionBasicInfo:{
            type:Object,
            default:function () {
                return null
            }
        }
    },
    mounted() {
        this.logoImage = require("../../../icons/20210604/sitelogo.png").default
        this.scroll()
        this.loadCollections()
    },
    methods:{
        getImageByPath(imagePath){
            return `/storage/${imagePath}`
        },
        scroll(){

            window.onscroll = () => {
                let left = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight;
                let right = document.documentElement.offsetHeight - 350;
                let bottomOfWindow = (left >= right);

                let top = document.scrollingElement.scrollTop;
                if(this.oldTop <= top && bottomOfWindow){
                    // console.log('down')
                    this.loadMoreData()
                }
                // console.log("scroll scroll scroll",this.oldTop, top,bottomOfWindow)
                this.oldTop = JSON.parse(JSON.stringify(top));

            }
        },
        loadMoreData(){
                this.loadCollections()
        },
        loadCollections(){
            let that = this;

            if(that.collectionLoadFinish){

            }else{
                let data = {

                    "collectionPageSeed":that.collectionPageSeed,
                    "collectionPageSize":that.collectionPageSize,
                    "collectionPageIndex":that.collectionPageIndex
                }
                if(!that.loading){
                    that.loading = true
                    axios.get("/collections/getAllCollectionsByRandomOrder",{
                        params:data,
                        headers: { 'Accept':'application/json' }
                    }).then(function (res) {


                        let temp = res.data.response.collections;
                        if(temp.length < that.collectionPageSize){
                            that.collectionLoadFinish = true
                        }else{
                            that.collectionPageIndex++;
                        }
                        that.collections = that.collections.concat(temp)
                        that.loading = false
                        that.collectionPageSeed = res.data.response.pageSeed
                    }).catch(function (err) {
                        console.log('err',err.response)
                    })
                }
            }
        },

    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.collections-container-banner{
    height: 480px;
    position: relative;
    &:hover{
        .collections-container-banner-background {
            .collections-container-banner-background-image {
                display: none;
            }

            .collections-container-banner-background-image-preview {
                display: flex;
            }
        }
    }

    .collections-container-banner-background{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        .collections-container-banner-background-image-default{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .collections-container-banner-background-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .collections-container-banner-background-image-preview{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;
        }
    }
    .collections-container-banner-content{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $overlay-solid;
        .collections-container-banner-subtitle{
            margin-top: 16px;
        }
        .collections-container-banner-background-creator{
            position: absolute;
            right: 48px;
            bottom: 32px;
        }
    }
}

</style>
