<template>
    <div class="container-fluid">
        <div class="container loaded-container ">
            <div class="mega-solution-body-light loaded-container-message mega-solution-horizontal-center">{{message}}</div>
        </div>
        <template v-if="showOtherReels">
            <template v-if="pageType === 'wishlist'">
                <MegaSolutionWishlistPopularReelsComponent></MegaSolutionWishlistPopularReelsComponent>
            </template>
            <template v-else>
                <MegaSolutionPopularReelsComponent></MegaSolutionPopularReelsComponent>
            </template>
        </template>
    </div>

</template>

<script>
import MegaSolutionPopularReelsComponent from "../MegaSolutionPopularReelsComponent/MegaSolutionPopularReelsComponent";
import MegaSolutionWishlistPopularReelsComponent from "../MegaSolutionWishlistPopularReelsComponent/MegaSolutionWishlistPopularReelsComponent";
export default {
name: "MegaSolutionLoadedComponent",
    components:{
        MegaSolutionPopularReelsComponent,
        MegaSolutionWishlistPopularReelsComponent
    },
    props:{
        message:{
            type:String,
            default:"You've reached the end of the list."
        },
        showOtherReels:{
            type:Boolean,
            default: true
        },
        pageType: {
            type: String,
            default: ""
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.loaded-container{
    padding-top: 120px;
    padding-bottom: 40px;
    .loaded-container-message{
        color: $neutral-disabled;
        &:before{
            content: " ";
            width: 64px;
            border-bottom: 1px solid $neutral-input;
            position: absolute;
            right: calc(50% + 150px);
        }

        &:after{
            content: " ";
            width: 64px;
            border-bottom: 1px solid $neutral-input;
            position: absolute;
            left: calc(50% + 150px);
        }
    }
}

@media screen and (max-width: 768px) {
    .loaded-container{
        .loaded-container-message{
            &:before{
                content: unset;
            }
            &:after{
                content: unset;
            }
        }
    }
}
</style>
