<template>
    <div class="category-cell">
        <div class="category-content">
            <div class="category-content-back-ground">
                <img v-lazy="getImage(category.image_path)" :alt="category.name" class = "category-content-back-ground-image">
                <div class="category-content-back-ground-reels" >

                    <img v-lazy="getImage(category.image_path)" :alt="category.name" class = "category-content-back-ground-image" v-if="category.reels.length === 0">
                    <img v-lazy="getImage(category.reels[0].thumbnail)" :alt="category.name" class = "category-content-back-ground-image" v-else-if="category.reels.length === 1">
                    <div class="category-content-back-ground-reels-2" v-else-if="category.reels.length === 2">
                        <div v-for="(item,index) in category.reels " class="category-content-back-ground-reels-2-item">
                            <img v-lazy="getImage(item.thumbnail)" alt="reel thumb" class="category-content-back-ground-reels-2-image">
                        </div>
                    </div>
                    <div class="category-content-back-ground-reels-3" v-else-if="category.reels.length === 3">
                        <div v-for="(item,index) in category.reels " class="category-content-back-ground-reels-3-item">
                            <img v-lazy="getImage(item.thumbnail)" alt="reel thumb" class="category-content-back-ground-reels-3-image">
                        </div>
                    </div>
                    <div class="category-content-back-ground-reels-4" v-else>
                        <div v-for="(item,index) in category.reels " class="category-content-back-ground-reels-4-item">
                            <img v-lazy="getImage(item.thumbnail)" alt="reel thumb" class="category-content-back-ground-reels-4-image">
                        </div>

                    </div>
                </div>
            </div>
            <a :href="'/categories/' + category.name">
                <div class="category-content-detail mega-solution-vertical-start justify-content-end">
                    <h4 class="mega-solution-h4 category-content-detail-title">{{category.name}}</h4>

                    <div class="category-content-detail-content mega-solution-body-light" v-if="category.count > 0">{{category.count}} reels and collections</div>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
export default {
name: "MegaSolutionCategoryCellComponent.vue",
    props:{
        category:{
            type:Object,
            default:null,
        }
    },
    data(){
        return{
            baseUrl:process.env.MIX_PUSHER_APP_URL,
        }
    },
    methods:{
        getImage(imagePath){
            return `/storage/${imagePath}`
        },
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.category-cell{
    width: 100%;
    padding-top: 100%;
    position: relative;
    .category-content{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        &:hover{
            .category-content-detail{
                .category-content-detail-content{
                    display: flex;
                }
            }
            .category-content-back-ground{
               .category-content-back-ground-image{
                   //display: none;
                   opacity: 0;
                   transition: all 0.8s ease-in-out;
               }
                .category-content-back-ground-reels{
                    //display: block;
                    opacity: 1;
                    transition: all 0.8s ease-in-out;
                    .category-content-back-ground-image{
                        opacity: unset;
                    }

                }

            }
        }
        .category-content-back-ground{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            .category-content-back-ground-image{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                object-fit: cover;
                opacity: 1;
                transition: all 0.8s ease-in-out;
            }

            .category-content-back-ground-reels{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                object-fit: cover;
                opacity: 0;
                transition: all 0.8s ease-in-out;
                .category-content-back-ground-image{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    object-fit: cover;
                    display: flex !important;
                }
                .category-content-back-ground-reels-2{
                    display: grid;
                    grid-template-rows: 50%;
                    width: 100%;
                    height: 100%;


                    .category-content-back-ground-reels-2-item{
                        height: 100%;
                        width: 100%;
                        position: relative;
                        .category-content-back-ground-reels-2-image{
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            object-fit: cover;
                        }
                    }
                }
                .category-content-back-ground-reels-3{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 50%;
                    width: 100%;
                    height: 100%;

                    :first-child{
                        grid-column: 1/3;
                    }

                    .category-content-back-ground-reels-3-item{
                        .category-content-back-ground-reels-3-image{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .category-content-back-ground-reels-4{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    width: 100%;
                    height: 100%;
                    .category-content-back-ground-reels-4-item{
                        .category-content-back-ground-reels-4-image{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                }
            }
        }

        .category-content-detail{
            background: $overlay-solid;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding: 16px 32px;
            .category-content-detail-title{
                margin-bottom: 0;
            }
            .category-content-detail-content{
                display: none;
            }
        }
    }
}
</style>
