<template>
    <div class="container display-collection">
        <template v-if="collectionInfo.reels!=null && collectionInfo.reels.length > 0">
            <CollectionBanner :reels="collectionInfo.reels"></CollectionBanner>
        </template>
        <template v-else>
            <template v-if="creatorInfo.isCreator">
                <ContentCollectionComtainerEmptyStatus :show-others="false" message="You haven't uploaded any reel yet!" message2="Go to edit mode and add some!!"></ContentCollectionComtainerEmptyStatus>
            </template>
            <template v-else>
                <ContentCollectionComtainerEmptyStatus :show-others="false" message="There is no available reels yet!" message2="Come and check later!"></ContentCollectionComtainerEmptyStatus>
            </template>

        </template>

        <template v-if="false">
            <div
                class="mega-solution-collection-report-button mega-solution-footer-light mr-3"
            >
                <a @click.stop.prevent="reportOnClick()">
                    <img
                        :src="reportIcon"
                        class="mega-solution-collection-report-button-icon"
                    />
                    Report this collection
                </a>
            </div>
        </template>

        <div class="row collection-info-content" v-if="collection != null">
            <div class="col-lg-6 col-md-6">
                <div class="clamp-2">
                    <h3 class="mega-solution-h3">{{collection.title}}</h3>
                </div>

                <div class="collection-info-content-basic mega-solution-horizontal-start">
                    <div class="mega-solution-cap-light collection-info-content-basic-left">{{formatNumbers(collection.views)}} views </div>

                    <div class="mega-solution-cap-light collection-info-content-basic-right pointer" @click="likeTheCollection()">
                        <template v-if="likeCollection">
                            <img :src="likeIcon" alt="Likes" class = "collection-info-content-basic-right-img">
                        </template>
                        <template v-else>
                            <img :src="heartIcon" alt="Likes" class = "collection-info-content-basic-right-img">
                        </template>
                        {{formatNumbers(likes)}}
                    </div>
                </div>
                <template v-if="!isMobile">
                    <hr/>
                    <template v-if="user == null">
                        <div class="collection-info-comment-login">
                            <div class="mega-solution-sub-heavy">Sign up to join the conversation</div>
                            <div class="mega-solution-body-light collection-info-comment-login-subtitle">Want to share your feedback and join the discussion?</div>
                            <button class="creatr-primary-button-regular collection-info-comment-login-button" @click="signUp">Sign up</button>
                        </div>
                        <hr/>
                    </template>
                    <template v-else>
                        <div class="collection-info-post-comment mega-solution-horizontal-start">
                            <div class="collection-info-post-comment-image-section mb-auto">
                                <img :src="getUserProfile(user.avatar)" alt="avatar" class="collection-info-post-comment-image">
                            </div>
                            <div class="collection-info-post-comment-textarea">
                                <MegaTextArea v-model="newComment" maxRow="1" :max-length="commentMax" @onOverMaxLength="onCommentOverMaxLength" :error-message="newCommentError" placeholder="Write Comment" button-text="Post Comment" @buttonClicked = "postComment"></MegaTextArea>
                            </div>
                        </div>
                        <hr/>

                    </template>
                    <MegaSolutionCommentsComponent type="collection" :comments="collectionComments" :current-user="user" @loadComments = "loadComments"></MegaSolutionCommentsComponent>

                </template>


            </div>
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-5  col-md-5  collection-creator-content">
                <div class="mega-solution-cap collection-creator-content-title">Creator</div>
                <div class="collection-creator-info mega-solution-horizontal-center">

                    <a :href="'/hq/'+creatorInfo.creator.name" class="collection-creator-info-left mega-solution-horizontal-start">
                        <img  :src="getUserProfile(creatorInfo.creator.avatar)" alt="user avatar" class="collection-creator-info-left-icon">
                        <div class="collection-creator-info-left-name mega-solution-body-heavy">{{creatorInfo.creator.name}}</div>
                    </a>

                    <template v-if="!creatorInfo.isCreator">
                        <template v-if="isFollowing">
                            <button type="submit" class="creatr-primary-button-regular-black" @click="unfollow()">Following</button>
                        </template>
                        <template v-else>
                            <button type="submit" class="creatr-primary-button-regular" @click="follow()">+Follow</button>
                        </template>
                    </template>
                </div>
                <hr/>
                <div class="mega-solution-cap collection-creator-content-title">collection Info</div>
                <div class="collection-info-detail-section" v-if="collection.description != ''&& collection.description != null">
                    <div class="mega-solution-footer-light collection-creator-content-subtitle">Description</div>
                    <div class="mega-solution-p2-light collection-info-detail-section-content">{{collection.description}}</div>
                </div>

                <div class="collection-info-detail-section">
                    <div class="mega-solution-footer-light collection-creator-content-subtitle">Rating</div>
                    <div class="mega-solution-p2-light collection-info-detail-section-content">{{ rate.type }}</div>
                    <div class="mega-solution-cap-light">{{ `* ${rate.description}` }}</div>
                </div>

                <div class="collection-info-detail-section">
                    <div class="mega-solution-footer-light collection-creator-content-subtitle">Category</div>
                    <!--                    TODO: Category clickable-->
                    <a :href="'/categories/'+category.name" class="mega-solution-p2-light collection-info-detail-section-content">{{category.name}}</a>
                </div>

                <div class="collection-info-detail-section">
                    <div class="mega-solution-footer-light collection-creator-content-subtitle">Platforms</div>
                    <div class="mega-solution-p2-light collection-info-detail-section-content">{{ displayPlatforms() }}</div>
                </div>

                <div class="collection-info-detail-section" v-if="tags.length > 0">
                    <div class="mega-solution-footer-light collection-creator-content-subtitle">Hashtag</div>
                    <!--                    TODO: tags clickable-->
                    <div class="mega-solution-p2-light collection-info-detail-section-content-tags">
                        <a :href="'/tags/'+ tag.name" v-for="(tag,index) in tags" :key="index" class = "collection-info-detail-section-content-tag mega-solution-p2-light">{{tag.name}}</a>
                    </div>
                </div>

                <div class="collection-info-detail-section">
                    <div class="mega-solution-footer-light collection-creator-content-subtitle">Publish date</div>
                    <!--                    TODO: tags clickable-->
                    <div class="mega-solution-p2-light collection-info-detail-section-content">{{formatDate(collection.created_at)}} </div>
                </div>

                <div class="collection-info-detail-section">
                    <template v-if="!isInWishlist">
                        <button type="submit" @click="addToWishlist()" class="creatr-secondary-button-type-2">
                            <img
                                :src="wishlistIcon"
                                alt="wishlist"
                                class="collection-info-detail-section-button-icon"
                            />
                            Save to wishlist
                        </button>
                    </template>
                    <template v-else>
                        <button type="submit" @click="removeFromWishlist()" class="creatr-secondary-button-type-2 creatr-secondary-button-type-2-wishlisted">
                            <img
                                :src="wishlistedIcon"
                                alt="wishlisted"
                                class="collection-info-detail-section-button-icon"
                            />
                            Saved to wishlist
                        </button>
                    </template>
                </div>

                <template v-if="creatorInfo.isCreator">
                    <hr/>
                    <div class="collection-info-operations">
                        <button type="submit" class="creatr-secondary-button-regular collection-info-operations-delete" @click="showDismissModal()">Delete</button>
                        <button type="submit" class="creatr-primary-button-regular collection-info-operations-edit" @click="editCollection()">Edit</button>
                    </div>
                </template>
            </div>
            <template v-if="isMobile">
                <div class="col-12">
                    <hr/>
                    <template v-if="user == null">
                    <div class="collection-info-comment-login">
                        <div class="mega-solution-sub-heavy">Sign up to join the conversation</div>
                        <div class="mega-solution-body-light collection-info-comment-login-subtitle">Want to share your feedback and join the discussion?</div>
                        <button class="creatr-primary-button-regular collection-info-comment-login-button" @click="signUp">Sign up</button>
                    </div>
                    <hr/>
                </template>
                    <template v-else>
                    <div class="collection-info-post-comment mega-solution-horizontal-start">
                        <div class="collection-info-post-comment-image-section mb-auto">
                            <img :src="getUserProfile(user.avatar)" alt="avatar" class="collection-info-post-comment-image">
                        </div>
                        <div class="collection-info-post-comment-textarea">
                            <MegaTextArea v-model="newComment" maxRow="1" :max-length="commentMax" @onOverMaxLength="onCommentOverMaxLength" :error-message="newCommentError" placeholder="Write Comment" button-text="Post Comment" @buttonClicked = "postComment"></MegaTextArea>
                        </div>
                    </div>
                    <hr/>

                </template>
                    <MegaSolutionCommentsComponent type="collection" :comments="collectionComments" :current-user="user" @loadComments = "loadComments"></MegaSolutionCommentsComponent>
                </div>
            </template>
        </div>

        <template v-if="creatorInfo.reelCount > 0">
            <MegaSolutionReelSlidersComponent :creator-info="creatorInfo"></MegaSolutionReelSlidersComponent>
        </template>

        <template v-if="showReportingModal">
            <MegaSolutionReportingViewModalComponent
                @hide-reporting-modal="hideReportingModal"
                :item-id="collection.id"
                item-type="collection"
            ></MegaSolutionReportingViewModalComponent>
        </template>

        <template v-if="showSignUpView">
            <sign-up-view @hideSignUpView = "hideSignUpView" ></sign-up-view>
        </template>

        <template v-if="showDeleteView">
            <MegaSolutionModalMessageComponent
                left-message="Delete"
                right-message="Cancel"
                title="Delete?"
                @dismiss="dismissModal"
                @leftClicked="modalLeftClicked"
                @rightClicked="modalRightClicked"
                subtitle="Are you sure you want to delete this Collection?">
            </MegaSolutionModalMessageComponent>
        </template>

    </div>
</template>

<script>
import MegaSolutionReelSlidersComponent from "../MegaSolutionReelSlidersComponent/MegaSolutionReelSlidersComponent";
import MegaTextArea from "../MegaSolutionTextAreaComponent/MegaSolutionTextAreaComponent";
import MegaSolutionCommentsComponent from "../MegaSolutionCommentsComponent/MegaSolutionCommentsComponent";
import CollectionBanner from "../MegaSolutionCollectionDetailBannerTop/MegaSolutionCollectionDetailBannerTop";
import helper from "../../helper";
import moment from "moment"
import signUpView from "../MegaSolutionRegisterComponent/MegaSolutionSignUpView.vue"
import ContentCollectionComtainerEmptyStatus
    from "../MegaSolutionProfileVideosComponent/ContentCollectionComtainerEmptyStatus";
import MegaSolutionModalMessageComponent from "../MegaSolutionModalMessageComponent/MegaSolutionModalMessageComponent";
import MegaSolutionReportingViewModalComponent from "../MegaSolutionReportingViewModalComponent/MegaSolutionReportingViewModalComponent";

export default {
    name: "MegaSolutionCollectionDetailComponent.vue",
    data(){
        return{
            heartIcon:"",
            likeCollection:false,
            baseUrl:process.env.MIX_PUSHER_APP_URL,
            isFollowing:false,
            collection:null,
            likeIcon:"",
            likes:0,

            user:null,
            newComment:"",
            newCommentError:"",
            collectionComments:[],
            showSignUpView:false,
            commentMax:500,

            showDeleteView: false,
            isMobile:false,
            isInWishlist: false,
            wishlistIcon: "",
            wishlistedIcon: "",

            platforms: [],
            showReportingModal: false,
            reportIcon: ""
        }
    },
    watch:{
        newComment(newVal){

            if(this.newCommentError !== ""){
                if(newVal.length < this.commentMax && newVal.trim() !== ""){
                    this.newCommentError =""
                }
            }
        }
    },
    components:{
        CollectionBanner,
        MegaSolutionCommentsComponent,
        MegaTextArea,
        MegaSolutionReelSlidersComponent,
        signUpView,
        ContentCollectionComtainerEmptyStatus,
        MegaSolutionModalMessageComponent,
        MegaSolutionReportingViewModalComponent
    },
    props:{
        collectionInfo:{
            type:Object,
            default:null,
        },
        tags:{
            type:Array,
            default: [],
        },
        creatorInfo:{
            type:Object,
            default:{},
        },
        category:{
            type:Object,
            default:null,
        },
        rate: {
            type:Object,
            default:null,
        },
        comments:{
            type:Array,
            default:[],
        },
    },
    async created() {
        this.isInWishlist = await this.getWishlistStatus();
    },
    mounted() {
        this.elementLoaded = true
        this.heartIcon = require('../../../icons/20210604/icons/24px/heart_outlined.png').default;
        this.likeIcon = require('../../../icons/20210604/icons/24px/heart_filled_pink.png').default;
        this.wishlistIcon = require("../../../icons/20210604/icons/16px/star_outlined_16px.png").default;
        this.wishlistedIcon = require("../../../icons/20210604/icons/24px/star_filled.png").default;
        this.reportIcon = require("../../../icons/20210604/icons/32px/alert_report_32.png").default;
        this.isFollowing = this.creatorInfo.isFollowing
        this.collection = this.collectionInfo.collection
        this.likes = this.collection.likes
        this.likeCollection = this.collectionInfo.likeCollection
        //console.log('like collection',this.likeCollection)
        this.user = this.creatorInfo.user;
        this.collectionComments = this.comments;
        this.platforms = this.collectionInfo.platforms;
        const windowWidth = window.innerWidth;
        if(windowWidth < 576){
            this.isMobile = true
        }
        // require('../../../icons/20210604/icons/24px/user.png').default,
    },
    methods:{
        reportOnClick() {
            //console.log("report reel button clicked");
            this.showReportingModal = true;
        },
        hideReportingModal() {
            this.showReportingModal = false;
        },
        showDismissModal () {
            this.showDeleteView = true
        },
        dismissModal(){
            this.showDeleteView = false
        },
        modalLeftClicked(){
            this.deleteCollection()
        },
        modalRightClicked(){
            this.dismissModal()
        },
        formatNumbers(number){
            return helper.formatViews(number)
        },
        onCommentOverMaxLength(){
            this.newCommentError = `The text has exceeded ${this.commentMax} characters!`
        },
        getUserProfile(imagePath){
            return `/storage/${imagePath}`
        },
        formatDate(time){
            return moment(time).format("MMM Do YYYY");
        },
        deleteCollection(){

            axios.post('/collections/delete/'+this.collection.id,{_method: 'delete'})
                .then(function(res){
                    if(res.status === 200){
                        Vue.$toast.open({
                            message: 'Collection deleted!',
                            position:"bottom",
                            type: 'success',
                        });
                        window.history.back();
                    }
                    //console.log(res.data.response)
                }).catch(function(err){
                if(err.response.status === 403 ){
                    Vue.$toast.open({
                        message: 'Permission denied!',
                        position:"bottom",
                        type: 'error',
                    });
                }
                //console.log(err.response)
            })
        },
        editCollection(){
            window.location.assign(`/collections/edit/${this.collection.url_handle}`);
        },
        unfollow(){
            let data ={
                'user_id' :this.creatorInfo.creator.id,
            }
            let that = this;
            axios.post('/creator/unfollow',data).then(function(res){

                if(res.status === 200){
                    that.isFollowing = false
                    Vue.$toast.open({
                        message: 'Unfollow Success! ',
                        position:"bottom",
                        type: 'success',
                    });
                }
            }).catch(function (err) {
                if(err.response.status === 401){
                    // Vue.$toast.open({
                    //     message: 'Please log in first! ',
                    //     position:"top-right",
                    //     type: 'error',
                    // });
                    that.signUp()
                }
                if(err.response.status === 403){
                    //console.log(err.response.data)
                    Vue.$toast.open({
                        message: err.response.data.message,
                        position:"bottom",
                        type: 'error',
                    });
                }
            })
        },
        follow(){

            let data ={
                'user_id' :this.creatorInfo.creator.id,
            }
            let that = this;
            axios.post('/creator/follow',data).then(function(res){

                if(res.status === 200){
                    that.isFollowing = true
                    Vue.$toast.open({
                        message: 'Follow Success! ',
                        position:"bottom",
                        type: 'success',
                    });
                }

            }).catch(function (err) {
                if(err.response.status === 401){
                    // Vue.$toast.open({
                    //     message: 'Please log in first! ',
                    //     position:"top-right",
                    //     type: 'error',
                    // });
                    that.signUp()
                }
                if(err.response.status === 403){
                    //console.log(err.response.data)
                    Vue.$toast.open({
                        message: err.response.data.message,
                        position:"bottom",
                        type: 'error',
                    });
                }
            })
        },
        likeTheCollection(){
            let data ={
                'collection_id' :this.collection.id,
            }
            let that = this;
            axios.post('/collections/likeCollection',data).then(function (res) {
                if(res.status === 200){

                    that.likes = parseInt(res.data.response.likes)
                    //console.log(that.likes)
                    that.likeCollection = res.data.response.like
                    Vue.$toast.open({
                        message: res.data.response.msg,
                        position:"bottom",
                        type: 'success',
                    });
                }
            }).catch(function (err) {
                if(err.response.status === 401){
                    // Vue.$toast.open({
                    //     message: 'Please log in first! ',
                    //     position:"top-right",
                    //     type: 'error',
                    // });
                    that.signUp()
                }
                if(err.response.status === 403){
                    //console.log(err.response.data)
                    Vue.$toast.open({
                        message: err.response.data.message,
                        position:"bottom",
                        type: 'error',
                    });
                }
            })
        },
        postComment(e){
            if(this.newComment.trim() === ""){
                this.newCommentError = "Please fill out this area"
            }else if(this.newComment.trim().length > this.commentMax){
                this.onCommentOverMaxLength()
            }else{
                let that = this;
                let data = {
                    'user_id':that.user.id,
                    'collection_id':that.collection.id,
                    'content':that.newComment.trim(),
                }
                axios.post('/comments/store',data).then(function (res) {
                    if(res.status === 200){
                        Vue.$toast.open({
                            message: res.data.response.msg,
                            position:"bottom",
                            type: 'success',
                        })
                        that.newComment = "";
                        that.loadComments()
                    }
                }).catch(function (err) {
                    if(err.response.status === 403){
                        //console.log(err.response.data)
                        Vue.$toast.open({
                            message: err.response.data.message,
                            position:"bottom",
                            type: 'error',
                        });
                    }
                    if(err.response.status === 401){
                        // Vue.$toast.open({
                        //     message: 'Please log in first! ',
                        //     position:"top-right",
                        //     type: 'error',
                        // });
                        that.signUp()
                    }
                })

            }
        },
        loadComments(){
            let that = this;
            let data = {
                type:'collection',
                content_id:that.collection.id
            }
            axios.get("/comments", {
                params: data,
                headers: {
                    'Accept': 'application/json'
                }
            }).then(function (res) {
                if(res.status === 200){
                    let tempComments = JSON.parse(res.data.response);
                    that.collectionComments = tempComments
                }
            }).catch(function (err) {
                console.log(err.status,err.response)
            })
        },
        signUp(){
            this.showSignUpView = true
        },
        hideSignUpView(){
            this.showSignUpView = false
        },
        async getWishlistStatus() {
            const that = this;
            const data = {
                type: 'collection',
                content_id: that.collectionInfo.collection.id
            }
            try {
                const res = await axios.get('/wishlist/getItemFromWishlist', {
                    params: data,
                    headers: {
                        'Accept': 'application/json'
                    }
                });
                if (res.status === 200 && res.data.msg === 'true') {
                    return true;
                }
            } catch {
                console.error(error);
            }
        },
        addToWishlist() {
            const data ={
                'content_id' :this.collection.id,
                'type' : 'collection'
            }
            const that = this;
            axios.post('/wishlist/addToWishlist',data).then((res) => {

                if(res.status === 200){
                    that.isInWishlist = true;
                    Vue.$toast.open({
                        message: 'Added To Your Wishlist! ',
                        position:"bottom",
                        type: 'success',
                    });
                }

            }).catch( (err) => {
                if(err.response.status === 401){
                    Vue.$toast.open({
                        message: 'Please log in first! ',
                        position:"bottom",
                        type: 'error',
                    });
                    that.signUp()
                }

                if(err.response.status === 403){
                    console.log(err.response.data)
                    Vue.$toast.open({
                        message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
                        position:"bottom",
                        type: 'error',
                    });
                }
            })
        },
        removeFromWishlist() {
            const data ={
                'content_id' :this.collection.id,
                'type' : 'collection'
            }
            const that = this;
            axios.post('/wishlist/removeFromWishlist',data).then((res) => {

                if(res.status === 200){
                    that.isInWishlist = false;

                    Vue.$toast.open({
                        message: 'Removed From Your Wishlist! ',
                        position:"bottom",
                        type: 'success',
                    });
                }

            }).catch((err) => {
                if(err.response.status === 401){
                    Vue.$toast.open({
                        message: 'Please log in first! ',
                        position:"bottom",
                        type: 'error',
                    });
                    that.signUp()
                }

                if(err.response.status === 403){
                    console.log(err.response.data)
                    Vue.$toast.open({
                        message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
                        position:"bottom",
                        type: 'error',
                    });
                }
            })
        },
        displayPlatforms() {
            if (this.platforms.length === 0) {
                return 'N.A.';
            } else {
                const platformNames = this.platforms.map(platform => platform.title);
                return platformNames.join(', ');
            }
        }
    }
}
</script>

<style scoped lang="scss">

@import "resources/sass/app.scss";

.display-collection{
    padding-top: 48px;

    padding-bottom: 48px;

    .mega-solution-collection-report-button {
        color: $neutral-asset2;
        text-align: right;
        a {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
            &:hover {
                cursor: pointer;
                color: $neutral-text;
            }
        }
        .mega-solution-collection-report-button-icon {
            width: 12px;
            height: 12px;
        }
    }

    .collection-info-content{
        margin-top: 48px;
        margin-bottom: 48px;
        .collection-info-content-basic{
            margin-top: 15px;
            .collection-info-content-basic-left{
                color: $neutral-tagline;
                &:after{
                    content: "•";
                    margin-left:8px;
                }
            }
            .collection-info-content-basic-right{
                color: $neutral-tagline;
                .collection-info-content-basic-right-img{
                    width: 24px;
                    height: 24px;
                    margin-right: 4px;
                    margin-left: 11px;
                }

            }

        }
        .reel-info-comment-login{
            margin-top: 48px;
            margin-bottom: 48px;
            .reel-info-comment-login-subtitle{
                margin-top: 8px;
                color: $neutral-tagline;
            }
            .reel-info-comment-login-button{
                margin-top: 24px;
                width: 40%;
            }
        }
        .collection-info-comment-login{
            margin-top: 48px;
            margin-bottom: 48px;
            .collection-info-comment-login-subtitle{
                margin-top: 8px;
                color: $neutral-tagline;
            }
            .collection-info-comment-login-button{
                margin-top: 24px;
                width: 40%;
            }
        }
        .collection-info-post-comment{
            margin-top: 48px;
            margin-bottom: 48px;
            .collection-info-post-comment-image-section{
                width: 40px;
                height: 40px;
                margin-top: 18px;
                .collection-info-post-comment-image{
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .collection-info-post-comment-textarea{
                flex: 1;
                margin-left: 12px;
            }

        }

    }
    .collection-creator-content{
        .collection-creator-content-title{
            color: $neutral-tagline;
            text-transform: uppercase;
        }
        .collection-creator-info{
            margin-top: 48px;
            .collection-creator-info-left{
                max-width: 60%;
                overflow: hidden;
                flex: 1;
                margin-right: auto;
                .collection-creator-info-left-icon{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .collection-creator-info-left-name{
                    margin-left: 8px;
                }

            }
        }
        hr{
            margin-top: 48px;
            margin-bottom:48px
        }
        .collection-info-detail-section{
            margin-top: 40px;

            .creatr-secondary-button-type-2 {
                min-width: 100%;
            }
            .collection-info-detail-section-button-icon {
                height: 20px;
                width: 20px;
                margin-right: 10px;
            }
            .collection-creator-content-subtitle{
                color: $neutral-disabled;
            }
            .collection-info-detail-section-content{
                word-break: break-all;
                margin-top: 4px;
                &:hover{
                    color: $neutral-text;
                }
            }
            .collection-info-detail-section-content-tags{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                margin-top:10px;
                .collection-info-detail-section-content-tag{
                    padding: 2px 4px;
                    border: 0.5px solid $neutral-tagline;
                    border-radius: 4px;
                    word-break: break-all;
                    &:before{
                        content: "#";
                    }
                    &:hover{
                        color: $neutral-text;
                    }
                }
            }
        }
        .collection-info-operations{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            .collection-info-operations-delete{
                //width: 30%;
            }
            .collection-info-operations-edit{
                //width: 50%;
                margin-left: 16px;
                flex: 1;
            }
        }


    }
}

.creatr-secondary-button-type-2-wishlisted {
    color: $primary-4;
    border-color: $primary-4;
    &:hover {
        color: $primary-3;
        border-color: $primary-3;
    }
}

@media screen and (max-width: 576px) {
    hr{
        margin-top: 24px;
        margin-bottom: 12px
    }

    .container .collection-creator-content .collection-creator-info{
        margin-top: 24px;
    }
}
</style>
