<template>
    <div class="container">
        <form @submit="formSubmit" enctype="multipart/form-data">
            <input type="file" class="choose-file-input" v-on:change="onChange">
            <button type="submit" class="choose-file-upload creatr-primary-button-regular btn-block" :disabled="loading||(file == null)">{{buttonText}}</button>
        </form>
    </div>

</template>

<script>
export default {
    name: "MegaSolutionUploadImageComponent.vue",
    data(){
      return{
          file:null,
          buttonText : "Upload",
          loading:false,
      }
    },
    props:{
      path:{
          type:String,
          default:"",
      }
    },
    methods:{
        onChange(e) {
            this.file = e.target.files[0];
        },
        formSubmit(e) {
            e.preventDefault();
            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }
            let data = new FormData();
            let that = this;
            data.append('file', this.file);
            //console.log(this.file)
            if(this.file != null && this.loading === false ){
                this.loading = true
                this.buttonText = "Uploading..."
                axios.post(`/${that.path}`, data, config)
                    .then(function (res) {
                        if(res.status === 200){
                            that.file = null
                            that.loading = false
                            that.buttonText = "Upload"
                            that.$emit('uploadSuccess',{
                                res
                            })
                        }

                    })
                    .catch(function (err) {
                        that.loading = false
                        that.buttonText = "Upload"
                        if(err.response.status === 422){

                            let fileErrorMessage = ""
                            let errors = err.response.data.errors
                            //console.log(errors, err.response)
                            fileErrorMessage = errors.file[0]
                            Vue.$toast.open({
                                message: fileErrorMessage,
                                position:"bottom",
                                type: 'error',
                            });

                        }
                    });
            }

        },
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.choose-file-input{
    background: transparent;
    padding: unset;

}

.choose-file-upload{
    margin-top: 20px;
}

</style>
