<template>
    <tr>
        <template v-if="!isMobile">
            <td class="order-item-row-cell">
                <template v-if="orderItem.reel.is_banned === 1">
                    <div class="mega-solution-footer-light">
                        This reel is not available due to violating our policy.
                    </div>
                </template>
                <a
                    :href="'/reels/' + orderItem.reel.url_handle"
                    class="reel-link"
                >
                    <div
                        class="order-item-reel-info-container mega-solution-horizontal-start"
                    >
                        <div
                            class="order-item-reel-info-container-image-section-container"
                        >
                            <img
                                v-lazy="
                                    getImageByPath(orderItem.reel.thumbnail)
                                "
                                alt="reel image"
                                class="order-item-reel-info-container-image-section-image"
                            />
                        </div>
                        <div
                            class="order-item-reel-info-container-detail-section"
                        >
                            <div
                                class="mega-solution-body-heavy order-item-reel-info-container-detail-section-title clamp-2"
                            >
                                {{ orderItem.reel.title }}
                            </div>
                            <div
                                class="mega-solution-cap-light order-item-reel-info-container-detail-section-description clamp-2"
                            >
                                {{ `ID: ${orderItem.id}` }}
                            </div>
                        </div>
                    </div>
                </a>
            </td>
            <td class="mega-solution-cap-light order-item-row-cell">
                {{ "@" + orderItem.reel.user.name }}
            </td>
            <td class="mega-solution-cap-light order-item-row-cell">
                {{ formatDate(orderItem.created_at) }}
            </td>
            <td
                @click.stop=""
                class="mega-solution-p3-light order-item-row-cell order-item-reel-licence"
            >
                <a
                    v-if="orderItem.licence"
                    @click.prevent.stop="requestLicence"
                    class="order-item-reel-licence-button"
                >
                    {{
                        orderItem.licence && orderItem.licence.type
                            ? orderItem.licence.type
                            : ""
                    }}
                </a>
            </td>
            <td
                @click.stop=""
                class="mega-solution-p3-light order-item-row-cell order-item-reel-invoice"
            >
                <a
                    v-if="orderItem.order"
                    class="order-item-reel-invoice-button"
                    @click.stop.prevent="requestInvoice"
                >
                    {{
                        orderItem.order &&
                            orderItem.order.invoice &&
                            orderItem.order.invoice.invoice_number
                    }}
                </a>
            </td>
            <td class="order-item-row-cell">
                <div class="order-item-reel-download">
                    <button
                        class="creatr-primary-button-regular"
                        @click.stop.prevent="showDownloadModal"
                        :disabled="orderItem.reel.is_banned === 1"
                    >
                        {{
                            orderItem.reel.is_banned === 1
                                ? "Removed"
                                : "Download"
                        }}
                    </button>

                    <template
                        v-if="showDownload && orderItem.reel.is_banned !== 1"
                    >
                        <div
                            class="modal-view"
                            @click.stop.prevent="showDownloadModal"
                        ></div>
                        <div class="order-item-reel-download-modal">
                            <template v-for="(item, index) in downLinks">
                                <div
                                    :key="index"
                                    class="order-item-reel-download-item"
                                    @click.stop.prevent="requestDownload(item)"
                                >
                                    <span class="mega-solution-cap-heavy">{{
                                        item.public_name
                                    }}</span>
                                    <span class="mega-solution-footer-light">{{
                                        `${item.size_short}, ${item.type}`
                                    }}</span>
                                </div>
                            </template>
                            <!--                        <div-->
                            <!--                            :key="index"-->
                            <!--                            class="order-item-reel-download-item"-->
                            <!--                            @click.stop.prevent="requestZipDownload(orderItem)"-->
                            <!--                        >-->
                            <!--                                <span class="mega-solution-cap-heavy">Contains All</span>-->
                            <!--                            <span class="mega-solution-footer-light">Zip</span>-->
                            <!--                        </div>-->
                        </div>
                    </template>
                </div>
            </td>
        </template>

        <template v-else>
            <td class="order-item-row-cell">
                <template v-if="orderItem.reel.is_banned === 1">
                    <div class="mega-solution-footer-light">
                        This reel is not available due to violating our policy.
                    </div>
                </template>
                <div
                    class="mega-solution-horizontal-start order-item-mobile-container"
                >
                    <a
                        :href="'/reels/' + orderItem.reel.url_handle"
                        class="reel-link"
                    >
                        <img
                            v-lazy="getImageByPath(orderItem.reel.thumbnail)"
                            alt="reel image"
                        />
                    </a>
                    <div
                        class="mega-solution-vertical-start order-item-mobile-info-container"
                    >
                        <div
                            class="mega-solution-body-heavy clamp-2 order-item-mobile-info-title"
                        >
                            {{ orderItem.reel.title }}
                        </div>
                        <div
                            class="order-item-mobile-info-licence mega-solution-p3-light"
                            @click.stop=""
                        >
                            <a
                                v-if="orderItem.licence"
                                @click.prevent.stop="requestLicence"
                                class="order-item-reel-licence-button"
                            >
                                {{
                                    orderItem.licence && orderItem.licence.type
                                        ? orderItem.licence.type
                                        : ""
                                }}
                            </a>
                        </div>
                        <div
                            class="mega-solution-footer-light order-item-mobile-info-date"
                        >
                            {{ formatDate(orderItem.created_at) }}
                        </div>
                        <div class="order-item-reel-download">
                            <button
                                class="creatr-primary-button-regular"
                                @click.stop.prevent="showDownloadModal"
                                :disabled="orderItem.reel.is_banned === 1"
                            >
                                {{
                                    orderItem.reel.is_banned === 1
                                        ? "Removed"
                                        : "Download"
                                }}
                            </button>

                            <template
                                v-if="
                                    showDownload &&
                                        orderItem.reel.is_banned !== 1
                                "
                            >
                                <div
                                    class="modal-view"
                                    @click.stop.prevent="showDownloadModal"
                                ></div>
                                <div class="order-item-reel-download-modal">
                                    <template
                                        v-for="(item, index) in downLinks"
                                    >
                                        <div
                                            :key="index"
                                            class="order-item-reel-download-item"
                                            @click.stop.prevent="
                                                requestDownload(item)
                                            "
                                        >
                                            <span
                                                class="mega-solution-cap-heavy"
                                                >{{ item.public_name }}</span
                                            >
                                            <span
                                                class="mega-solution-footer-light"
                                                >{{
                                                    `${item.size_short}, ${item.type}`
                                                }}</span
                                            >
                                        </div>
                                    </template>
                                    <!--                        <div-->
                                    <!--                            :key="index"-->
                                    <!--                            class="order-item-reel-download-item"-->
                                    <!--                            @click.stop.prevent="requestZipDownload(orderItem)"-->
                                    <!--                        >-->
                                    <!--                                <span class="mega-solution-cap-heavy">Contains All</span>-->
                                    <!--                            <span class="mega-solution-footer-light">Zip</span>-->
                                    <!--                        </div>-->
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </td>
        </template>
    </tr>
</template>

<script>
import moment from "moment";

export default {
    name: "mega-solution-order-list-item-component",
    props: {
        orderItem: {
            type: Object,
            default: () => {}
        },
        isMobile: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            // // Licence types
            // licences: {
            //     1: "personal",
            //     2: "commercial",
            //     3: "editorial",
            //     4: "free"
            // },
            downLinks: this.orderItem.reel.qualities,
            showDownload: false
        };
    },
    methods: {
        getImageByPath(imagePath) {
            return `/storage/${imagePath}`;
        },
        formatDate(time) {
            return moment(time).format("MMM D YYYY");
        },
        showDownloadModal() {
            this.showDownload = !this.showDownload;
        },
        requestDownload(item) {
            const qualityId = item.id;
            const orderItemId = this.orderItem.id;

            window.open(
                `/orderItemDownload/download/${orderItemId}?qualityId=${qualityId}`,
                "_blank"
            );
        },
        requestZipDownload(reel) {
            const reelID = reel.id;
        },
        requestInvoice() {
            window.open(
                `/invoice/orders/${this.orderItem.order.order_number}`,
                "_blank"
            );
        },
        requestLicence() {
            window.open(
                `/orderItemLicence/show/${this.orderItem.id}`,
                "_blank"
            );
        }
    }
};
</script>

<style lang="scss" scoped>
@import "resources/sass/app.scss";

.reel-link:hover {
    text-decoration: unset;
}

.order-item-reel-info-container {
    //max-width: 50%;
    gap: 12px;
    text-decoration: unset !important;

    .order-item-reel-info-container-image-section-container {
        width: 106px;
        height: 60px;
        .order-item-reel-info-container-image-section-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .order-item-reel-info-container-image-section-image-placeholder {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .order-item-reel-info-container-image-section-image {
        width: 106px;
        height: 60px;
        object-fit: cover;
    }
    .order-item-reel-info-container-detail-section {
        flex: 1;
        .order-item-reel-info-container-detail-section-title {
        }
        .order-item-reel-info-container-detail-section-description {
            color: $neutral-tagline;
            margin-top: 8px;
        }
    }
}
tr {
    &:first-child {
        .order-item-row-cell {
            padding-top: 32px;
        }
    }

    &:last-child {
        .order-item-row-cell {
            padding-bottom: 48px;
        }
    }

    .order-item-row-cell {
        vertical-align: middle;
        color: $neutral-text;
        padding-top: 24px;
        padding-bottom: 24px;

        &.order-item-reel-licence {
            text-transform: capitalize;
            text-decoration: underline;
            .order-item-reel-licence-button {
                color: $neutral-text;
                cursor: pointer;
            }
        }

        &.order-item-reel-invoice {
            text-transform: capitalize;
            text-decoration: underline;
            .order-item-reel-invoice-button {
                color: $neutral-text;
                cursor: pointer;
            }
        }

        .order-item-reel-download {
            position: relative;
            .creatr-primary-button-regular {
                height: 36px;
                width: 108px;
                border-radius: 4px;
            }

            .modal-view {
                position: fixed;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 50;
                background-color: rgba(0, 0, 0, 0.7);
            }
            .order-item-reel-download-modal {
                position: absolute;
                right: 0;
                width: 280px;
                border-radius: 8px;
                padding: 8px 12px;
                background: $neutral-bg3;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 99;

                .order-item-reel-download-item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 8px;
                    height: 34px;
                    padding: 2px 12px;
                    width: 100%;
                    cursor: pointer;
                    span {
                        display: inline-block;
                    }
                    &:hover {
                        background: $neutral-input;
                    }
                }
            }
        }
    }
}

.order-item-reel-info-container-detail-section {
}

@media screen and (max-width: 576px) {
    tr {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .order-item-row-cell {
            padding-left: 0;
            padding-right: 0;
            .order-item-reel-download {
                .order-item-reel-download-modal {
                    right: unset;
                    left: 0;
                    width: 240px;
                    padding: 4px;
                }
            }
        }

        &:last-child {
            .order-item-row-cell {
                padding-bottom: 24px;
            }
        }
    }

    .order-item-row-cell {
        .order-item-mobile-container {
            gap: 8px;

            img {
                width: 96px;
                height: 122px;
                object-fit: cover;
            }

            .order-item-mobile-info-container {
                .order-item-mobile-info-title {
                    margin-bottom: 4px;
                    color: $neutral-text;
                }
                .order-item-mobile-info-licence {
                    margin-bottom: 8px;
                    text-decoration: underline;
                    a {
                        color: $neutral-tagline;
                    }
                }
                .order-item-mobile-info-date {
                    margin-bottom: 20px;
                    color: $neutral-disabled;
                }
            }
        }
    }
}
</style>
