<template>
    <div class="profile-menu-holder">
        <hr class = "profile-menu-divider"/>
        <div class="profile-menu-holder-topsection mega-solution-horizontal-center">
            <img :src="getImageByPath(userInfo.avatar)" alt="avatar" class="profile-menu-holder-avatar">
            <div class="profile-menu-holder-topsection-info">
                <div class="profile-menu-holder-topsection-info-name mega-solution-sub-heavy">@{{userInfo.name}}</div>
<!--                <div class="profile-menu-holder-topsection-info-handle">@{{userInfo.name}}</div>-->
            </div>
        </div>


        <template v-for="item in menuList">
            <a class = "dropdown-item mega-solution-horizontal-start" :href="item.link" >
                <div class="mega-solution-body-light dropdown-item-text">{{item.title}}</div>
            </a>
        </template>

        <hr class = "profile-menu-divider"/>

        <div class="dropdown-item mega-solution-horizontal-start" >
            <div class="mega-solution-body-light dropdown-item-text pointer" @click="logout()">Logout</div>
        </div>

    </div>
</template>

<script>
export default {
    name: "MegaSolutionMobileProfileMenu.vue",
    data(){
        return{
            menuList:[],
            logoutImage:"",
            baseUrl:process.env.MIX_PUSHER_APP_URL,

        }
    },
    props:{
        userInfo:{
            type:Object,
            default:null,
        }
    },
    mounted() {
        this.menuList = [
            {
                id:"my-wishlist",
                title:"Wishlist",
                link:'/wishlist',
                image:require('../../../icons/20210604/icons/24px/star_outlined_white.png').default,
            },
            {
                id:"purchase-history",
                title:"Purchase History",
                link:'/order',
                image:require('../../../icons/20211023/icons/24px/download_white.png').default,
            },
            {
                id:"upload-list",
                title:"Upload List",
                link:'/uploads',
                image:require('../../../icons/20210604/icons/24px/camera.png').default,
            },
            {
                id:"transaction-list",
                title:"Seller History",
                link:'/transaction',
                image:require('../../../icons/20211023/icons/24px/earnings_white.png').default,
            },
            {
                id:"my-profile",
                title:"My Profile",
                link:`/hq/${this.userInfo.name}`,
                image:require('../../../icons/20210604/icons/24px/user.png').default,
            },
            {
                id:"edit-profile",
                title:"Settings",
                link:`/hq/${this.userInfo.name}/edit`,
                image:require('../../../icons/20210604/icons/24px/edit.png').default,
            },

        ]
        this.logoutImage = require('../../../icons/20210604/icons/24px/log_out.png').default
        // console.log('user Info :',this.userInfo)
    },
    methods:{
        logout(){
            axios.post('/logout',{}).then(res=>{
                window.location.reload();
            }).catch(err=>console.log(err))
        },
        getImageByPath(imagePath){
            return `/storage/${imagePath}`
        },
    },


}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.profile-menu-holder{
    padding-left: 16px;
    padding-right: 16px;
    .profile-menu-holder-topsection{
        margin-top: 32px;
        margin-bottom: 16px;
        .profile-menu-holder-avatar{
            width: 48px;
            height: 48px;
            border-radius: 24px;
            object-fit: cover;
        }
        .profile-menu-holder-topsection-info{
            flex: 1;
            margin-left: 12px;
        }
    }

    .dropdown-item{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: unset;
        &:hover{
            opacity: unset;
            background-color: $neutral-input;
        }

        &:active{
            opacity: unset;
            background-color: $neutral-disabled;
            .dropdown-item-text{
                font-weight: 600;
            }
        }

        .dropdown-item-text{
            color: $neutral-tagline;
            padding: unset;
        }
    }
    .profile-menu-divider{
        background-color: rgba(#ffffff,0.1);
    }
}
</style>
