<template>
  <div class="container-fluid pt-10">
    <div class="container-fluid category-container pt-4">
      <h3 class="mega-solution-h3 px-5">Wishlist</h3>

      <div class="category-selection-section mega-solution-horizontal-start px-5">
        <div
          class="mega-solution-sub-heavy category-selection-section-item mega-solution-horizontal-start pointer"
          :class="[selectedIndex == 0 ? 'active' : '']"
          @click="changeIndex(0)"
        >
          Reels
          <div class="mega-solution-body-light">
            {{ reels.length > 0 ? reels.length : "" }}
          </div>
        </div>
        <div
          class="mega-solution-sub-heavy category-selection-section-item mega-solution-horizontal-start pointer"
          :class="[selectedIndex == 1 ? 'active' : '']"
          @click="changeIndex(1)"
        >
          Collections
          <div class="mega-solution-body-light">
            {{ collections.length > 0 ? collections.length : "" }}
          </div>
        </div>
      </div>

      <div class="px-5">
        <template v-if="selectedIndex === 0">
          <template v-if="reels.length > 0">
            <MegaSolutionReelsGridComponent
              :reels="reels"
              type="wishlist"
            ></MegaSolutionReelsGridComponent>
          </template>
          <template v-else>
            <content-reel-container-empty-status
              v-if="reelLoadFinish"
              message="There is no reel yet!"
              message2="Try to add some"
              :showButton="true"
              pageType="wishlist"
            />
            <!-- <button class="creatr-primary-button-regular">
              Browse all reels
            </button> -->
          </template>
        </template>

        <template v-else>
          <template v-if="collections.length > 0">
            <MegaSolutionCollectionsGridComponent
              :collections="collections"
              type="wishlist"
            ></MegaSolutionCollectionsGridComponent>
          </template>
          <template v-else>
            <content-collection-comtainer-empty-status
              v-if="collectionLoadFinish"
              message="There is no collection yet!"
              message2="Try to add some!"
              pageType="wishlist"
              :showAddButton="true"
            />
          </template>
        </template>
      </div>

      <div
        class="container-fluid mega-solution-horizontal-center"
        v-if="loading"
      >
        <div class="ring-container ">
          <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
        </div>
      </div>

      <template v-if="selectedIndex === 0">
        <template v-if="reels.length > 0 && reelLoadFinish">
          <MegaSolutionLoadedComponent
            pageType="wishlist"
          ></MegaSolutionLoadedComponent>
        </template>
      </template>
      <template v-else>
        <template v-if="collections.length > 0 && collectionLoadFinish">
          <MegaSolutionLoadedComponent
            pageType="wishlist"
          ></MegaSolutionLoadedComponent>
        </template>
      </template>
    </div>
  </div>
</template>

<script>
import MegaSolutionCollectionsGridComponent from "../MegaSolutionCollectionsGridComponent/MegaSolutionCollectionsGridComponent";
import ContentCollectionComtainerEmptyStatus from "../MegaSolutionProfileVideosComponent/ContentCollectionComtainerEmptyStatus";
import ContentReelContainerEmptyStatus from "../MegaSolutionProfileVideosComponent/ContentReelContainerEmptyStatus";
import MegaSolutionReelsGridComponent from "../MegaSolutionReelsGridComponent/MegaSolutionReelsGridComponent";
import MegaSolutionLoadedComponent from "../MegaSolutionLoadedComponent/MegaSolutionLoadedComponent";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";
export default {
  name: "MegaSolutionShowWishlistComponent",
  components: {
    ContentCollectionComtainerEmptyStatus,
    ContentReelContainerEmptyStatus,
    MegaSolutionLoadedComponent,
    MegaSolutionLoaddingComponent,
    MegaSolutionReelsGridComponent,
    MegaSolutionCollectionsGridComponent
  },
  props: {},
  computed: {
    totalAmount() {
      return this.category.reelsCount + this.category.collectionsCount;
    }
  },
  data() {
    return {
      category: {},
      loading: false,
      selectedIndex: 0,

      //reels
      reels: [],
      reelPageIndex: 1,
      reelPageSize: 9,
      reelLoadFinish: false,

      //collections
      collections: [],
      collectionPageIndex: 1,
      collectionPageSize: 9,
      collectionLoadFinish: false
    };
  },
  created() {},
  mounted() {
    this.scroll();
    this.loadReels(this.loadCollections);
  },
  methods: {
    scroll() {
      window.onscroll = () => {
        let left =
          Math.max(
            window.pageYOffset,
            document.documentElement.scrollTop,
            document.body.scrollTop
          ) + window.innerHeight;
        let right = document.documentElement.offsetHeight - 350;
        let bottomOfWindow = left >= right;

        let top = document.scrollingElement.scrollTop;
        if (this.oldTop <= top && bottomOfWindow) {
          // console.log('down')
          this.loadMoreData();
        }
        // console.log("scroll scroll scroll",this.oldTop, top,bottomOfWindow)
        this.oldTop = JSON.parse(JSON.stringify(top));
      };
    },
    loadMoreData() {
      //console.log("load more data");
      if (this.selectedIndex === 0) {
        this.loadReels();
      }
      if (this.selectedIndex === 1) {
        this.loadCollections();
      }
    },
    loadReels(loadFinish) {
      const that = this;
      const data = {
        reelPageSize: that.reelPageSize,
        reelPageIndex: that.reelPageIndex
      };
      if (!that.reelLoadFinish) {
        if (!that.loading) {
          that.loading = true;
          axios
            .get("/wishlist/getWishlistedReelsFromWishlist", {
              params: data,
              headers: { Accept: "application/json" }
            })
            .then(function(res) {
              const wishlist = res.data.response.wishlist;

              if (wishlist.length < that.reelPageSize) {
                that.reelLoadFinish = true;
              } else {
                that.reelPageIndex++;
              }

              const tempReels = wishlist.map(item => item.reel);
              that.reels = that.reels.concat(tempReels);

              that.loading = false;

              if (loadFinish) {
                loadFinish();
              }
            })
            .catch(function(err) {
              //console.log("err", err.response);
            });
        }
      }
    },
    loadCollections() {
      const that = this;
      const data = {
        collectionPageSize: that.collectionPageSize,
        collectionPageIndex: that.collectionPageIndex
      };

      if (!that.collectionLoadFinish) {
        if (!that.loading) {
          that.loading = true;
          axios
            .get("/wishlist/getWishlistedCollectionsFromWishlist", {
              params: data,
              headers: { Accept: "application/json" }
            })
            .then(function(res) {
              const wishlist = res.data.response.wishlist;

              if (wishlist.length < that.collectionPageSize) {
                that.collectionLoadFinish = true;
              } else {
                that.collectionPageIndex++;
              }

              const tempCollections = wishlist.map(item => item.collection);
              that.collections = that.collections.concat(tempCollections);

              that.loading = false;
            })
            .catch(function(err) {
              //console.log("err", err.response);
            });
        }
      }
    },
    changeIndex(index) {
      if (this.selectedIndex !== index) {
        this.selectedIndex = index;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.category-container {
  padding-bottom: 112px;

  .category-selection-section {
    margin-top: 72px;
    margin-bottom: 48px;
    gap: 64px;
    .category-selection-section-item {
      padding-bottom: 8px;
      border-bottom: 1px solid transparent;
      gap: 8px;
      color: $neutral-tagline;
      .mega-solution-body-light {
        color: $neutral-tagline;
      }
      &.active {
        color: $neutral-text;
        border-bottom-color: $neutral-text;
      }
    }
  }
}
.ring-container {
  width: 240px;
  height: 240px;
}

@media screen and (max-width: 576px) {
  .container-fluid.pt-10 {
    padding-top: 76px;
    padding-right: 0px;
    padding-left: 0px;
    .category-container {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  .category-container .category-selection-section {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .category-container .px-5 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .category-container
    .category-container-banner
    .category-container-banner-content
    .category-container-banner-subtitle {
    width: 80%;
    text-align: center;
  }
}
</style>
