<template>
    <div class="loading-container container-fluid mega-solution-horizontal-center">

        <div class="loading-container-section mega-solution-vertical-center">
            <div class="loading-container-section-title mega-solution-h4">{{title}}</div>
            <div class="loading-container-section-subtitle mega-solution-p2-heavy">{{subtitle}}</div>
            <div class="loading-container-section-loading-container">
                <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
            </div>
        </div>

    </div>
</template>

<script>
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";
export default {

    name: "MegaSolutionFullScreenLoadingComponent.vue",
    components:{
        MegaSolutionLoaddingComponent
    },
    props:{
        title:{
            type:String,
            default:"Processing payment..."
        },
        subtitle:{
            type:String,
            default:"It won’t take long. Please don’t close the page."
        },
    },
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.loading-container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black-blur ;
    z-index: 50;
    .loading-container-section{
        max-width: 650px;
        min-height: 296px;
        background: $neutral-bg2;
        width: 650px;
        height: 296px;
        border-radius: 8px;
        padding-top: 48px;
        padding-bottom: 48px;
        .loading-container-section-title{
            color: $neutral-tagline;
        }
        .loading-container-section-subtitle{
            margin-top: 8px;
            color: $neutral-tagline;
        }
        .loading-container-section-loading-container{
            margin-top: 16px;
            width: 120px;
            height: 120px;
        }
    }
}
</style>
