<template>
  <div>
    <template v-if="!isMobile">
      <div class="cart-view-modal" @click.stop.prevent="closeCartImage"></div>
    </template>
    <div class="cart-view">
        <div class="cart-view-top mega-solution-horizontal-start">
            <div class="cart-view-top-title mega-solution-sub-heavy">
                Cart
            </div>
            <template v-if="cartItemLength > 0">
                <div class="cart-view-top-sub mega-solution-body-light" >{{ "(" + cartItemLength+" items )"}}</div>
            </template>
        </div>
        <template v-if="cartItems.length > 0">
            <div class="cart-items-container">
                <template v-if="isMobile">
                  <scrollbar :maxHeight="'80vh'"  :maxWidth="'100%'" >
                    <div class="cart-item-container mega-solution-horizontal-center" v-for="(item,index) in cartItems" :key="index">
                      <MegaSolutionCartItemComponent @editCartItem="editCartItem" :cart-item="item"></MegaSolutionCartItemComponent>
                    </div>
                  </scrollbar>
                </template>
                <template v-else>
                  <scrollbar :maxHeight="'50vh'"  :maxWidth="'100%'" >
                    <div class="cart-item-container mega-solution-horizontal-center" v-for="(item,index) in cartItems" :key="index">
                      <MegaSolutionCartItemComponent @editCartItem="editCartItem" :cart-item="item"></MegaSolutionCartItemComponent>
                    </div>
                  </scrollbar>
                </template>
            </div>
            <div class="cart-items-container-checkout-section">
              <template v-if="isMobile">
                <div class="total-section mega-solution-horizontal-center justify-content-between pt-3">
                  <div class="total-section-total-label mega-solution-sub-heavy">Total ${{cartItemsTotal}}</div>
                  <button class="creatr-primary-button-regular mt-4 cart-items-container-checkout-button" @click="checkout()">Checkout</button>
                </div>
              </template>
              <template v-else>
                <div class="total-section mega-solution-horizontal-center justify-content-between pt-3">
                  <div class="total-section-title-label mega-solution-sub-heavy">Total</div>
                  <div class="total-section-total-label mega-solution-sub-heavy">${{cartItemsTotal}}</div>
                </div>
                <button class="creatr-primary-button-regular mt-4 cart-items-container-checkout-button" @click="checkout()">Checkout</button>
              </template>
            </div>
        </template>
        <template v-else>
            <div class="cart-empty-container mega-solution-vertical-center">
                <img :src="emptyImage" alt="Empty" class="cart-empty-container-image">
                <div class="mega-solution-sub-heavy">Your cart is empty</div>
                <button class="creatr-regular-button-type-1" @click="browseProducts()">Browse</button>
            </div>
        </template>
        <template v-if="isMobile">
          <div class="close-image-container mega-solution-horizontal-center">
            <img :src="closeImg" alt="close" class="pointer close-image" @click.stop="closeCartImage">
          </div>
        </template>
    </div>
  </div>
</template>

<script>
import MegaSolutionCartItemComponent from "../MegaSolutionCartItemComponent/MegaSolutionCartItemComponent";
export default {
    name: "MegaSolutionCartViewComponent.vue",
    components:{
        MegaSolutionCartItemComponent
    },
    computed:{
      cartItemLength(){
          let sum = 0
          this.cartItems.forEach(item=>{
              sum += item.quantity
          })
          return sum
      },
        cartItemsTotal(){
            let sum = 0
            this.cartItems.forEach(item=>{
                sum += item.quantity * item.price_num
            })
            return sum.toFixed(2)
        },

    },
    data(){
        return{
            emptyImage:"",
            isMobile:false,
            closeImg:"",
        }
    },
    mounted() {
        this.emptyImage = require("../../../icons/20211023/cart.png").default
        const windowWidth = window.innerWidth;
        if(windowWidth < 576){
          this.isMobile = true
        }else{
          this.isMobile = false
        }
      this.closeImg = require('../../../icons/20210604/icons/16px/cancel_heavy.png').default;
    },
    props:{
        cartItems:{
            type:Array,
            default:function () {
                return []
            }
        },

    },
    methods:{
        browseProducts(){
            window.location.assign("/");
        },
        editCartItem(){
            this.$emit("editCartItem");
        },
        checkout(){
            window.location.assign("/checkout");
        },
        closeCartImage(){
          this.$emit("closeCartImage")
        }

    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.cart-view-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  background-color: rgba(0,0,0,0.1);
}

.cart-view{
    position: absolute;
    top: 80px;
    right: -200px;
    width: 528px;
    max-width: 528px;
    min-height: 300px;
    background-color: $neutral-bg3;
    padding: 24px 0px;
    border-radius: 8px;
    z-index: 99;

    .cart-view-top{
        padding: 0px 24px;
        margin-bottom: 16px;
        .cart-view-top-title{

        }
        .cart-view-top-sub{
            margin-left: 8px;
        }
    }

    .cart-empty-container{
        gap: 12px;
        .cart-empty-container-image{
            height: 221px;
            width: 226px;
        }
    }

    .cart-items-container{
        padding: 0px 24px;
        .cart-item-container{
            height: 104px;
            padding-right: 10px;
            margin-bottom: 16px;
        }
    }

    .cart-items-container-checkout-section{
        padding: 0px 24px;
        border-top: 1px solid $neutral-input;
        .cart-items-container-checkout-button{
            width: 100%;
        }
    }

    &::before{
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-bottom: 0.8em solid $neutral-bg3;
        border-right: 0.8em solid transparent;
        border-top: 0;
        border-left: 0.8em solid transparent;
        position: absolute;
        right: 200px;
        top: -8px;
    }
}

@media screen and (max-width: 576px) {
  .cart-view{
    top: -10px;
    width: 100vw;
    height: 100vh;
    right: -125px;
    background-color: $neutral-bg3;
    padding: 24px 0px;
    border-radius: 8px;

    .cart-items-container {
      padding: 0px 12px;
      padding-left: 24px;
      .cart-item-container {
        height: 152px;
      }
    }

      &::before{
      border: unset;
    }

    .close-image-container{
      position: absolute;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      padding: 8px;
      top: 20px;
      right: 16px;
      background-color: $neutral-body;
      .close-image{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .cart-items-container-checkout-button{
      margin-top: unset !important;
      margin-left: 8px;
      flex: 1;
    }

  }


}



</style>
