<template>
    <div class="thankyou-container-table-section">
        <template v-if="orderItems.length === 0">
            <div class="empty-table-status-message mega-solution-p2-light">
                <span>No purchases yet. <a href="/">Get started</a> now!</span>
            </div>
        </template>
        <template v-else>
            <table class="table table-borderless content-table">
                <template v-if="!isMobile">
                    <thead>
                        <tr>
                            <th
                                scope="col"
                                class="col-4 mega-solution-body-light content-table-th"
                            >
                                Video
                            </th>
                            <th
                                scope="col"
                                class="mega-solution-body-light content-table-th"
                            >
                                Creator
                            </th>
                            <th
                                scope="col"
                                class="mega-solution-body-light content-table-th"
                            >
                                Order Date
                            </th>
                            <th
                                scope="col"
                                class="mega-solution-body-light content-table-th"
                            >
                                License
                            </th>
                            <th
                                scope="col"
                                class="mega-solution-body-light content-table-th"
                            >
                                Invoice
                            </th>
                            <th
                                scope="col"
                                class="col-1 mega-solution-body-light content-table-th"
                            >
                                Asset
                            </th>
                        </tr>
                    </thead>
                </template>

                <tbody>
                    <template v-for="(orderItem, index) in orderItems">
                        <mega-solution-order-list-item-component
                            :order-item="orderItem"
                            :key="index"
                            :is-mobile="isMobile"
                        ></mega-solution-order-list-item-component>
                    </template>
                </tbody>
            </table>
        </template>
    </div>
</template>

<script>
import MegaSolutionOrderListItemComponent from "../MegaSolutionOrderListItemComponent/MegaSolutionOrderListItemComponent";

export default {
    components: { MegaSolutionOrderListItemComponent },
    name: "mega-solution-order-list-component",
    props: {
        orderItems: {
            type: Array,
            default: () => []
        },
        isMobile: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {};
    },
    mounted() {
    },
    methods: {}
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.thankyou-container-table-section {
    .empty-table-status-message {
        margin: 30px 0;
    }

    table {
        thead {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            margin-bottom: 16px;

            .content-table-th {
                padding-top: 24px;
                padding-bottom: 24px;
                color: $neutral-tagline;
            }
        }
    }
}
</style>
