<template>
    <div class="transaction-container-table-section">
        <table class="table table-borderless content-table">
            <template v-if="!isMobile">
                <thead>
                    <tr>
                        <th
                            scope="col"
                            class="mega-solution-body-light content-table-th"
                        >
                            Sell date
                        </th>
                        <th
                            scope="col"
                            class="col-4 mega-solution-body-light content-table-th"
                        >
                            For Item
                        </th>
                        <th
                            scope="col"
                            class="mega-solution-body-light content-table-th"
                        >
                            Licensee
                        </th>
                        <th
                            scope="col"
                            class="mega-solution-body-light content-table-th"
                        >
                            License Type
                        </th>
                        <th
                            scope="col"
                            class="col-1 mega-solution-body-light content-table-th"
                        >
                            Earnings
                        </th>
                        <th
                            scope="col"
                            class="col-2 mega-solution-body-light content-table-th"
                        >
                            Status
                        </th>
                    </tr>
                </thead>
            </template>

            <tbody>
                <template v-for="(transactionItem, index) in transactionItems">
                    <mega-solution-transaction-list-item-component
                        :transaction-item="transactionItem"
                        :key="index"
                        :is-mobile="isMobile"
                    ></mega-solution-transaction-list-item-component>
                </template>
            </tbody>
        </table>
    </div>
</template>

<script>
import MegaSolutionTransactionListItemComponent from "../MegaSolutionTransactionListItemComponent/MegaSolutionTransactionListItemComponent";

export default {
    components: { MegaSolutionTransactionListItemComponent },
    name: "mega-solution-transaction-list-component",
    props: {
        transactionItems: {
            type: Array,
            default: () => []
        },
        isMobile: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {};
    },
    mounted() {
        // console.log("transactionList", this.transactionItems);
    },
    methods: {}
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.transaction-container-table-section {
    table {
        thead {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            margin-bottom: 16px;

            .content-table-th {
                padding-top: 24px;
                padding-bottom: 24px;
                color: $neutral-tagline;
            }
        }
    }
}
</style>
