<template>
    <div class="profile-add-payout-method-view">
        <div class="profile-add-payout-method-container">
            <div class="profile-add-payout-method-view-section-1 mega-solution-horizontal-start pointer" @click="dismiss">
                <img :src="backImage" alt="back" class="profile-add-payout-method-view-section-1-back">
                <div class="mega-solution-body-light">Back</div>
            </div>
            <div class="profile-add-payout-method-view-section-title mega-solution-horizontal-start mega-solution-sub-heavy">
                Set up payout method
            </div>

            <div class="payout-content-section-scroll-container">
                <div class="payout-content-section">
                    <div class="payout-content-section-title mega-solution-body-heavy">
                        Your personal info
                    </div>

                    <div class="row content-row">
                        <div class="col-sm-6">
                            <mega-input label="First name" v-model="firstName" :maxlength="40" :error-message="firstNameError"></mega-input>
                        </div>
                        <div class="col-sm-6">
                            <mega-input label="Last name" v-model="lastName" :maxlength="40" :error-message="lastNameError"></mega-input>
                        </div>
                    </div>

<!--                    <div class="row content-row">-->
<!--                        <div class="col-12">-->
<!--                            <mega-input label="Street address" v-model="streetAddress" :maxlength="50" :error-message="streetAddressError"></mega-input>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="row content-row">-->
<!--                        <div class="col-sm-6">-->
<!--                            <mega-input label="City" v-model="city" :maxlength="50" :error-message="cityError"></mega-input>-->
<!--                        </div>-->
<!--                        <div class="col-sm-3">-->
<!--                            <div class="content-row-title mega-solution-cap-light">State</div>-->
<!--                            <select name="categories" id="categories" class="creatr-select mega-solution-body-light create-collection-container-section-select" v-model="state">-->
<!--                                <template v-for="state in americanStates">-->
<!--                                    <option :value="state.name" :key="state.name" class="creatr-select-option mega-solution-body-light">{{state.name}}</option>-->
<!--                                </template>-->
<!--                            </select>-->
<!--&lt;!&ndash;                            <mega-input label="State" v-model="state"></mega-input>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="col-sm-3">-->
<!--                            <mega-input label="Postal code" placeholder="12345" v-model="postalCode" maxlength="10" :error-message="postalCodeError"></mega-input>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="row content-row">-->
<!--                        <div class="col-12">-->
<!--                            <mega-input label="Country" :value="country" :input_disable="true"></mega-input>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="row content-row ">
                        <div class="col-sm-9">
                            <div class="payout-content-section-subtitle mega-solution-cap address-label">
                                Address
                            </div>
                            <vue-google-autocomplete
                                ref="address"
                                id="map"
                                classname="form-control mega-input"
                                :placeholder=addressPlaceHolder
                                v-on:placechanged="getAddressData"
                                country="us"
                            >
                            </vue-google-autocomplete>
                        </div>
                        <div class="col-sm-3 pt-12">
                            <mega-input label="Postal code" placeholder="12345" v-model="postalCode" maxlength="5" :error-message="postalCodeError"></mega-input>
                        </div>
                    </div>



                </div>


                <div class="payout-content-section">
                    <div class="payout-content-section-title mega-solution-body-heavy">
                        Phone number
                    </div>

                    <div class="row content-row">
                        <div class="col-12">
                            <mega-input input-type="phoneNumber" :maxlength="10" placeholder="8596691849" label="Please enter U.S. phone number" :value="phoneNumber" :error-message="phoneNumberError" @input = "phoneNumberInput" ></mega-input>
                        </div>
                    </div>
                </div>


                <div class="payout-content-section">
                    <div class="payout-content-section-title mega-solution-body-heavy">
                        Identity verification
                    </div>

                    <div class="payout-content-section-subtitle mega-solution-cap-heavy">
                        Date of birth
                    </div>
                    <div class="row content-row">
                        <div class="col-12">
                            <Datepicker
                                v-model="dateOfBirth"
                                format="dd-MMM-yyyy"
                                placeholder="Date Of Birth"
                                input-class="payout-date-picker"
                                :clear-button="false"
                            ></Datepicker>
                        </div>
                    </div>

                    <div class="payout-content-section-subtitle mega-solution-cap-heavy mt-4">
                        Social Security number
                    </div>

                    <div class="row content-row">
                        <div class="col-12">
                            <mega-input input-type="ssnNumber" placeholder="000-00-0000" :maxlength="11" label="We never store your SSN or bank account details." :value="ssnNumber" :error-message="ssnNumberError" @input = "ssnInput" ></mega-input>
                        </div>
                    </div>

                </div>

                <div class="payout-content-section">
                    <div class="payout-content-section-title mega-solution-body-heavy">
                        Payout bank account
                    </div>


                    <div class="row content-row">
                        <div class="col-12">
                            <mega-input input-type="text"  label="Full Name of Account Holder" v-model="payoutBankAccount" ></mega-input>
                        </div>
                    </div>

                    <div class="row content-row">
                        <div class="col-6">
                            <mega-input input-type="numberText"  :maxlength="9" label="Routing number" v-model="routingNumber" :error-message="routingNumberError"  @input = "routingNumberInput" ></mega-input>
                        </div>
                        <div class="col-6">
                            <mega-input input-type="numberText" :placeholder="accountNumberPlaceHolder" :maxlength="14" label="Account number" v-model="accountNumber" :error-message="accountNumberError" @input = "accountNumberInput"></mega-input>
                        </div>
                    </div>
                    <div class="payout-secured-by">
                        <img :src="securedBy" alt="secured by Stripe" height="24"/>
                    </div>
                </div>
                <div class="confirm-section">
                    <div class="confirm-sectionn-info-section-check mt-5">
                        <input type="checkbox" id="agree-for-terms" v-model="acceptTerms" @change="">
                        <label for="agree-for-terms" class="mega-solution-p3-light">
                            By completing this form, you agree that the information you provided is correct. You also agree to our <a class="mega-solution-p3-light" href="https://creatrhq.com/terms-of-service/" target="_blank">Terms of Service</a>.
                        </label>
                    </div>
                    <button class="creatr-primary-button-regular confirm-section-button" @click="confirmPayoutInfo">Confirm</button>
                    <div class="confirm-section-encryp mega-solution-p4-light">We encrypt all sensitive info using public key encryption (2048-bit RSA).</div>
                </div>

            </div>


        </div>
    </div>
</template>

<script>
import MegaInput from "../MegaSolutionInputComponent/MegaSolutionInputComponent";
import helper from "../../helper.js";
import checker from "../../checker.js";
import Datepicker from "vuejs-datepicker";
import moment from "moment"
import VueGoogleAutocomplete from 'vue-google-autocomplete'
export default {
    name: "MegaSolutionAddPayoutMethodComponent.vue",
    components:{
        MegaInput,
        Datepicker,
        VueGoogleAutocomplete
    },
    data(){
        return{
            backImage:"",
            securedBy:"",

            americanStates:[],

        //    Payout infomation
            firstName:"",
            lastName:"",
            streetAddress:"",
            state:"",
            postalCode:"",
            country:"United States",
            city:"",

            phoneNumber:"",
            dateOfBirth:"",

            ssnNumber:"",
            payoutBankAccount:"",

            routingNumber:"",
            accountNumber:"",
            acceptTerms:true,

            // Error
            firstNameError:"",
            lastNameError:"",
            streetAddressError:"",
            cityError:"",
            stateError:"",
            postalCodeError:"",
            phoneNumberError:"",
            dateOfBirthError:"",
            ssnNumberError:"",
            accountHolderNameError:"",
            routingNumberError:"",
            accountNumberError:"",

            GoogleMapAPI:process.env.MIX_GOOGLEMAPAPI,

            addressPlaceHolder:"Please type your address",
            accountNumberPlaceHolder:"",

        }
    },
    watch:{
        firstName(newVal){
            if(this.firstNameError !== ""){
                if(newVal.trim() !== ""){
                    this.firstNameError =""
                }
            }
        },
        lastName(newVal){
            if(this.lastNameError !== ""){
                if(newVal.trim() !== ""){
                    this.lastNameError =""
                }
            }
        },
        streetAddress(newVal){
            if(this.streetAddressError !== ""){
                if(newVal.trim() !== ""){
                    this.streetAddressError =""
                }
            }
        },

        postalCode(newVal){
            if(this.postalCodeError !== ""){
                if(newVal.trim() !== ""){
                    this.postalCodeError =""
                }
            }
        },
        city(newVal){
            if(this.cityError !== ""){
                if(newVal.trim() !== ""){
                    this.cityError =""
                }
            }
        },
        phoneNumber(newVal){
            if(this.phoneNumberError !== ""){
                if(newVal.trim() !== ""){
                    this.phoneNumberError =""
                }
            }
        },
        ssnNumber(newVal){
            if(this.ssnNumberError !== ""){
                if(newVal.trim() !== ""){
                    this.ssnNumberError =""
                }
            }
        },
        payoutBankAccount(newVal){
            if(this.accountHolderNameError !== ""){
                if(newVal.trim() !== ""){
                    this.accountHolderNameError =""
                }
            }
        },
        routingNumber(newVal){
            if(this.routingNumberError !== ""){
                if(newVal.trim() !== ""){
                    this.routingNumberError =""
                }
            }
        },
        accountNumber(newVal){
            if(this.accountNumberError !== ""){
                if(newVal.trim() !== ""){
                    this.accountNumberError =""
                }
            }
        },
    },
    mounted() {
        this.backImage = require("../../../icons/sign_up/icons/32px/chevron_left.png").default
        this.securedBy = require("../../../icons/20211121/creatr_stripe_powered_by.png").default
        this.americanStates = helper.getAmericanStates()
        this.state = this.americanStates[0].name
        this.dateOfBirth = moment.utc().format("dd-MMM-yyyy")

        if(this.mode === "EDIT"){
            this.getPayoutDetail()
        }
    },
    props:{
      paymentMethod:{
          type:Object,
          default:function () {
              return null
          }
      } ,
        //EDIT,ADD
        mode:{
          type:String,
            default:"ADD"
        }
    },
    methods:{

        getPayoutDetail(){
            let that = this;
            axios.get("/payout/getAccountDetail").then(function (res) {
                if (res.status === 200) {
                    //console.log("getPayoutDetail",res.data.response)
                    that.streetAddress = res.data.response.address.streetAddress
                    that.city = res.data.response.address.city
                    that.state = res.data.response.address.state
                    that.postalCode = res.data.response.address.postal_code
                    that.addressPlaceHolder = `${res.data.response.address.streetAddress}, ${res.data.response.address.city}, ${res.data.response.address.state}`
                    that.firstName = res.data.response.firstName
                    that.lastName = res.data.response.lastName
                    that.phoneNumber = res.data.response.phoneNumber
                    let tempMoment = moment(`${res.data.response.dob.day}-${res.data.response.dob.month }-${res.data.response.dob.year}`,"DD-MM-YYYY");
                    that.dateOfBirth = tempMoment.format("DD-MMM-yyyy")
                    //console.log("temp moment", tempMoment,that.dateOfBirth)
                    that.accountNumberPlaceHolder = "********"+res.data.response.bankAccount.last4
                    that.payoutBankAccount = res.data.response.bankAccount.accountName
                    that.routingNumber =  res.data.response.bankAccount.routingNumber
                }
            }).catch(function (err) {
                that.showError(err.response.data.message)
            })

        },
        isInputValidate(){
          let pass = true
          //first name
            if(this.firstName.trim() === ""){
                pass = false
                this.firstNameError = "First name could not be empty"
                return pass
            }else{
                this.firstNameError = ""
            }
          //last name
            if(this.lastName.trim() === ""){
                pass = false
                this.lastNameError = "Last name could not be empty"
                return pass
            }else{
                this.lastNameError = ""
            }

            if(this.streetAddress.trim() === ""){
                pass = false
                this.showError("Address is not set correctly")
                return pass
            }else{
                this.streetAddressError = ""
            }

            if(this.city.trim() === ""){
                pass = false
                this.showError("Address is not set correctly")
                return pass
            }else{
                this.cityError = ""
            }

            if( !checker.isAmericanPostalCodeValid(this.postalCode)){
                pass = false
                this.postalCodeError = "Postcode is not valid"
                return pass
            }else{
                this.postalCodeError = ""
            }

            if(!checker.isAmericanPhoneNumber(this.phoneNumber)){
                pass = false
                //console.log("Phone number")
                this.phoneNumberError = "Phone number is not valid"
                return pass
            }else{
                this.phoneNumberError = ""
            }



            if(this.payoutBankAccount.trim() === ""){
                pass = false
                this.accountHolderNameError = "Account Holder's name could not be empty"
                return pass
            }else{
                this.accountHolderNameError = ""
            }

            if(!checker.isAmericanRoutingNumber(this.routingNumber)){
                pass = false
                this.routingNumberError = "Routing number is not valid"
                return pass
            }else{
                this.routingNumberError = ""
            }

            if(this.mode !== "EDIT"){
                if(!checker.isAmericanAccountNumber(this.accountNumber)){
                    pass = false
                    this.accountNumberError = "Account number is not valid"
                    return pass
                }else{
                    this.accountNumberError = ""
                }

                if(!checker.isAmericanSSNValid(this.ssnNumber)){
                    pass = false
                    this.ssnNumberError = "Your SSN is not valid"
                    return pass
                }else{
                    this.ssnNumberError = ""
                }
            }else{
                if(!checker.isAmericanAccountNumber(this.accountNumber)){
                    if(this.accountNumber === ""){
                        this.accountNumberError = ""
                    }else{
                        pass = false
                        this.accountNumberError = "Account number is not valid"
                        return pass
                    }

                }else{
                    this.accountNumberError = ""
                }

                if(!checker.isAmericanSSNValid(this.ssnNumber)){

                    if(this.ssnNumber === ""){
                        this.ssnNumberError = ""
                    }else{
                        pass = false
                        this.ssnNumberError = "Your SSN is not valid"
                        return pass
                    }

                }else{
                    this.ssnNumberError = ""
                }
            }

            if(!this.acceptTerms){
                pass = false
                this.showError("Please accept Terms of Service to continue")
                return pass
            }

            return pass
        },
        dismiss(){
            this.$emit("dismiss",{})
        },
        phoneNumberInput(e){
            this.phoneNumber = e
        },
        ssnInput(e){
            this.ssnNumber = e.replace(/(\d{3})(\d{2})(\d+)/, "$1-$2-$3");
        },
        routingNumberInput(e){
            this.routingNumber = e
        },
        accountNumberInput(e){
            this.accountNumber = e
        },
        getAddressData: function (addressData, placeResultData, id) {
            this.address = addressData;
            this.postalCode = this.address.postal_code == null?"":this.address.postal_code
            this.state = this.address.administrative_area_level_1
            this.city = this.address.administrative_area_level_2
            this.streetAddress = `${this.address.street_number == null? "" : this.address.street_number} ${this.address.route == null? "" : this.address.route} ${this.address.locality == null? "" : this.address.locality}`


            //console.log("check",addressData,placeResultData,this.streetAddress,this.city,this.state,this.postalCode)
        },
        confirmPayoutInfo(){
            let that = this;
            if(that.isInputValidate()){
                let month = moment(this.dateOfBirth).month() + 1
                let day = moment(this.dateOfBirth).date()
                let year = moment(this.dateOfBirth).year()
                let data = {
                    "firstName":this.firstName,
                    "lastName":this.lastName,
                    "streetAddress":this.streetAddress,
                    "state":this.state,
                    "postalCode":this.postalCode,
                    "country":this.country,
                    "city":this.city,
                    "phoneNumber":this.phoneNumber,
                    "dateOfBirth":this.dateOfBirth,
                    "ssnNumber":this.ssnNumber,
                    "payoutBankAccount":this.payoutBankAccount,
                    "routingNumber":this.routingNumber,
                    "accountNumber":this.accountNumber,
                    "dob_day":day,
                    "dob_month":month,
                    "dob_year":year,
                }



                if(this.mode !== "EDIT"){
                    axios.post("/payout/create",data).then(function (res) {
                        if(res.status === 200){
                            if(res.data.response.state == true){
                                Vue.$toast.open({
                                    message: res.data.response.msg,
                                    position: "bottom",
                                    type: "success"
                                });
                                that.reloadView()
                            }else{
                                that.showError(res.data.response.msg)
                            }
                        }

                    }).catch(function (err) {
                        that.showError(err.response.data.message)
                    })
                }else{
                    data["_method"] = "put"
                    axios.post("/payout/update",data).then(function (res) {
                        if(res.status === 200){
                            if(res.data.response.state == true){
                                Vue.$toast.open({
                                    message: res.data.response.msg,
                                    position: "bottom",
                                    type: "success"
                                });
                                that.reloadView()
                            }else{
                                that.showError(res.data.response.msg)
                            }
                        }

                    }).catch(function (err) {
                        that.showError(err.response.data.message)
                    })
                }


            }
        },
        showError(message){
            Vue.$toast.open({
                message: message,
                position: "bottom",
                type: "error"
            });
        },
        reloadView(){
            this.$emit("reload",{})
        }
    }

}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.profile-add-payout-method-view{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    .profile-add-payout-method-container{
        min-width: 300px;
        padding: 96px 25%;
        position: relative;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0);
        overflow-y: scroll;
        z-index: 11;

        .payout-content-section-scroll-container{
            margin-top: 40px;
        }
        .profile-add-payout-method-view-section-1{
            .profile-add-payout-method-view-section-1-back{
                width: 32px;
                height: 32px;
            }
        }
        .profile-add-payout-method-view-section-title{
            margin-top: 16px;
        }
        .payout-content-section{
            padding: 24px 32px;
            background-color: $neutral-bg4;
            margin-top: 24px;
            .content-row{
                margin-top: 12px;
                .pt-12{
                    padding-top: 12px;
                }
                .content-row-title{
                    color: $neutral-tagline;
                    margin-bottom: 12px;
                }
                .mega-input{
                    background-color: $neutral-input ;
                    border-radius:4px;
                    border-bottom-color: unset;
                    border: unset;
                    padding: 14px 16px;
                    color: $neutral-text;
                    font-family: $font-family;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 20px;
                    letter-spacing: -0.1px;
                    margin-top: 12px;
                    height: 48px;

                    &:focus{
                        border: 1px solid $neutral-text;
                        box-shadow: unset;
                        outline: unset;
                    }
                }
            }
            .payout-content-section-title{


            }
            .payout-content-section-subtitle{
                margin-top: 12px;
                &.address-label{
                    color: $neutral-tagline;
                }
            }
            .creatr-select{
                min-width: unset;
                width: 100%;
            }
            .payout-secured-by {
            }
        }
        .confirm-section{
            .confirm-section-button{
                margin-top: 16px;
                width: 100%;
            }
            .confirm-section-encryp{
                color: $neutral-tagline;
                margin-top: 12px;
            }
        }

    }
}

@media screen and (max-width: 900px) {
    .profile-add-payout-method-view .profile-add-payout-method-container{
        width: 100%;
        padding: 32px 16px;
        .payout-content-section{
            padding: 24px 12px;
        }
    }
}
</style>
