<template>
    <div class="container mt-4" id="video-container">
        <template v-if="!loadCompleted">
            <div class="container-fluid mega-solution-horizontal-center">
                <div class="ring-container">
                    <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
                </div>
            </div>
        </template>
        <template v-if="elementLoaded">
            <template v-if="loadCompleted">
                <div class="reel-detail-top-section m-3">
                    <template v-if="reel.title_logo">
                        <img
                            :src="getImage(reel.title_logo)"
                            class="reel-detail-title-logo"
                        />
                    </template>
                    <template v-if="!creatorInfo.isCreator">
                        <div class="reel-detail-top-buttons-section">
                            <template v-if="!isInWishlist">
                                <button
                                    type="submit"
                                    @click="addToWishlist()"
                                    class="creatr-secondary-button-type-2"
                                >
                                    <img
                                        :src="wishlistIcon"
                                        class="reel-detail-top-buttons-section-icon"
                                    />
                                    Save to wishlist
                                </button>
                            </template>
                            <template v-else>
                                <button
                                    type="submit"
                                    @click="removeFromWishlist()"
                                    class="creatr-secondary-button-type-2 creatr-secondary-button-type-2-wishlisted"
                                >
                                    <img
                                        :src="wishlistedIcon"
                                        class="reel-detail-top-buttons-section-icon"
                                    />
                                    Saved to wishlist
                                </button>
                            </template>

                            <template v-if="selectedLicence !== null">
                                <template v-if="!isFreeReel">
                                    <button
                                        type="submit"
                                        @click.prevent.stop="scrollMeTo('reel-licences-section-anchor')"
                                        class="creatr-primary-button-regular"
                                    >
                                        Buy License
                                    </button>
                                </template>
                                <template v-else-if="isFreeReel">
                                    <button
                                        type="submit"
                                        @click.prevent.stop="scrollMeTo('reel-licences-section-anchor')"
                                        class="creatr-primary-button-regular"
                                    >
                                        Free Download
                                    </button>
                                </template>
                            </template>
                        </div>
                    </template>
                </div>
            </template>

            <MegaSolutionViemoPlayer
                :video_id="reel.video_id"
                @loadVideoCompleted="loadVideoCompleted"
                :width="getContainerWidth()"
            ></MegaSolutionViemoPlayer>
            <div
                v-if="loadCompleted"
                class="mega-solution-reel-report-button mega-solution-footer-light mr-3"
            >
                <a @click.stop.prevent="reportOnClick()">
                    <img
                        :src="reportIcon"
                        class="mega-solution-reel-report-button-icon"
                    />
                    Report this reel
                </a>
            </div>
        </template>

        <div class="row reel-info-content">
            <div class="col-lg-6 col-md-6">
                <div class="clamp-2">
                    <div
                        class="mega-solution-footer-light reel-info-content-quality-section"
                    >
                        <template v-for="(quality, index) in availableQualities">
                            <div :key="index" class="reel-info-content-quality-item">
                                {{ quality.toUpperCase() }}
                            </div>
                        </template>
                    </div>
                    <h3 class="mega-solution-h3 reel-info-content-title">{{ reel.title }}</h3>
                </div>

                <div class="reel-info-content-basic mega-solution-horizontal-start">
                    <template v-if="isNewReel">
                        <div class="mega-solution-tiny-cap reel-info-content-new-reel-tag">
                            NEW
                        </div>
                    </template>

                    <div class="mega-solution-cap-light reel-info-content-basic-left">
                        {{ formatNumbers(reel.views) }} views
                    </div>

                    <div
                        class="mega-solution-cap-light reel-info-content-basic-right pointer"
                        @click="likeReel()"
                    >
                        <template v-if="likeVideo">
                            <img
                                :src="likeIcon"
                                alt="Likes"
                                class="reel-info-content-basic-right-img"
                            />
                        </template>
                        <template v-else>
                            <img
                                :src="heartIcon"
                                alt="Likes"
                                class="reel-info-content-basic-right-img"
                            />
                        </template>
                        {{ formatNumbers(likes) }}
                    </div>
                </div>

                <template v-if="isMobile">
                    <hr />
                    <div
                        class="reel-licences-section"
                        ref="reel-licences-section-anchor"
                    >
                        <div class="reel-licences-section-content">
                            <MegaSolutionLicencesDisplayComponent
                                :available-licences="reel.licences"
                                @clickFromLicenceSelection="getUserSelectedLicence"
                            ></MegaSolutionLicencesDisplayComponent>

                            <template v-if="creatorInfo.isCreator">
                                <hr />
                                <div class="reel-info-operations">
                                    <button
                                        type="submit"
                                        class="creatr-secondary-button-regular reel-info-operations-delete"
                                        @click="showDismissModal()"
                                    >
                                        Delete
                                    </button>
                                    <button
                                        type="submit"
                                        class="creatr-primary-button-regular reel-info-operations-edit"
                                        @click="editReel()"
                                    >
                                        Edit
                                    </button>
                                </div>
                            </template>
                            <template v-else>
                                <div class="reel-licences-section-content-buttons-section">
                                    <template v-if="selectedLicence !== null">
                                        <template v-if="!isFreeReel">
                                            <button
                                                type="submit"
                                                @click="addToCart()"
                                                class="reel-licence-add-to-cart creatr-primary-button-regular"
                                            >
                                                {{ `Add to cart ($${selectedLicence.pivot.price})` }}
                                            </button>
                                        </template>
                                        <template v-else-if="isFreeReel">
                                            <div class="free-reel-download-section">
                                                <button
                                                    type="submit"
                                                    @click="getFreeDownload()"
                                                    class="creatr-primary-button-regular"
                                                >
                                                    Free Download
                                                </button>
                                                <template v-if="showDownload && reel.is_banned !== 1">
                                                    <div
                                                        class="modal-view"
                                                        @click.stop.prevent="showDownloadModal"
                                                    ></div>
                                                    <div class="free-reel-download-modal">
                                                        <template v-for="(item, index) in reel.qualities">
                                                            <div
                                                                :key="index"
                                                                class="free-reel-download-item"
                                                                @click.stop.prevent="requestDownload(item)"
                                                            >
                                                                <span class="mega-solution-cap-heavy">{{
                                                                    item.public_name
                                                                }}</span>
                                                                <span class="mega-solution-footer-light">{{
                                                                    `${item.size_short}, ${item.type}`
                                                                }}</span>
                                                            </div>
                                                        </template>  
                                                    </div>
                                                </template>
                                            </div>
                                        </template>
                                    </template>

                                    <template v-if="!isInWishlist">
                                        <button
                                            type="submit"
                                            @click="addToWishlist()"
                                            class="creatr-secondary-button-type-2"
                                        >
                                            <img
                                                :src="wishlistIcon"
                                                class="reel-licences-section-content-button-icon"
                                            />
                                            Save to wishlist
                                        </button>
                                    </template>
                                    <template v-else>
                                        <button
                                            type="submit"
                                            @click="removeFromWishlist()"
                                            class="creatr-secondary-button-type-2 creatr-secondary-button-type-2-wishlisted"
                                        >
                                            <img
                                                :src="wishlistedIcon"
                                                class="reel-licences-section-content-button-icon"
                                            />
                                            Saved to wishlist
                                        </button>
                                    </template>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>

                <div class="reel-creator-content">
                    <div class="mega-solution-cap reel-creator-content-title">
                        Creator
                    </div>
                    <div class="reel-creator-info mega-solution-horizontal-center">
                        <a
                            :href="'/hq/' + creatorInfo.creator.name"
                            class="reel-creator-info-left mega-solution-horizontal-start"
                        >
                            <img
                                :src="getUserProfile(creatorInfo.creator.avatar)"
                                alt="user avatar"
                                class="reel-creator-info-left-icon"
                            />
                            <div class="reel-creator-info-left-name mega-solution-body-heavy">
                                {{ creatorInfo.creator.name }}
                            </div>
                        </a>
                        <template v-if="!creatorInfo.isCreator">
                            <template v-if="isFollowing">
                                <button
                                    type="submit"
                                    class="creatr-primary-button-regular-black"
                                    @click="unfollow()"
                                >
                                    Following
                                </button>
                            </template>
                            <template v-else>
                                <button
                                    type="submit"
                                    class="creatr-primary-button-regular"
                                    @click="follow()"
                                >
                                    +Follow
                                </button>
                            </template>
                        </template>
                    </div>
                    <hr />
                    <div class="mega-solution-cap reel-creator-content-title">
                        Reel Info
                    </div>
                    <div
                        class="reel-info-detail-section"
                        v-if="reel.description !== '' && reel.description != null"
                    >
                        <div
                            class="mega-solution-footer-light reel-creator-content-subtitle"
                        >
                            Description
                        </div>
                        <div
                            class="mega-solution-p2-light reel-info-detail-section-content"
                        >
                            {{ reel.description }}
                        </div>
                    </div>
                    <div class="reel-info-detail-section">
                        <div
                            class="mega-solution-footer-light reel-creator-content-subtitle"
                        >
                            Video Rating
                        </div>
                        <div
                            class="mega-solution-p2-light reel-info-detail-section-content"
                        >
                            {{ reel.rate && reel.rate.type ? reel.rate.type : "n.a." }}
                        </div>
                    </div>
                    <div class="reel-info-detail-section">
                        <div
                            class="mega-solution-footer-light reel-creator-content-subtitle"
                        >
                            Category
                        </div>
                        <!--TODO: Category clickable-->
                        <a
                            :href="'/categories/' + videoCategory.name"
                            class="mega-solution-p2-light reel-info-detail-section-content"
                        >{{ videoCategory.name }}</a
                        >
                    </div>

                    <div class="reel-info-detail-section">
                        <div
                            class="mega-solution-footer-light reel-creator-content-subtitle"
                        >
                            Platforms
                        </div>
                        <div
                            class="mega-solution-p2-light reel-info-detail-section-content"
                        >
                            {{ displayPlatforms() }}
                        </div>
                    </div>

                    <div class="reel-info-detail-section" v-if="tags.length > 0">
                        <div
                            class="mega-solution-footer-light reel-creator-content-subtitle"
                        >
                            Hashtag
                        </div>
                        <!--                    TODO: tags clickable-->
                        <div
                            class="mega-solution-p2-light reel-info-detail-section-content-tags"
                        >
                            <a
                                :href="'/tags/' + tag.name"
                                v-for="(tag, index) in tags"
                                :key="index"
                                class="mega-solution-p2-light reel-info-detail-section-content-tag"
                            >{{ tag.name }}</a
                            >
                        </div>
                    </div>

                    <div class="reel-info-detail-section">
                        <div
                            class="mega-solution-footer-light reel-creator-content-subtitle"
                        >
                            Publish date
                        </div>
                        <!--                    TODO: tags clickable-->
                        <div
                            class="mega-solution-p2-light reel-info-detail-section-content"
                        >
                            {{ formatDate(reel.created_at) }}
                        </div>
                    </div>
                </div>
                <template v-if="!isMobile">
                    <hr />
                    <template v-if="user == null">
                        <div class="reel-info-comment-login">
                            <div class="mega-solution-sub-heavy">
                                Sign up to join the conversation
                            </div>
                            <div
                                class="mega-solution-body-light reel-info-comment-login-subtitle"
                            >
                                Want to share your feedback and join the discussion?
                            </div>
                            <button
                                class="creatr-primary-button-regular reel-info-comment-login-button"
                                @click="signUp()"
                            >
                                Sign up
                            </button>
                        </div>
                        <hr />
                    </template>
                    <template v-else>
                        <div class="reel-info-post-comment mega-solution-horizontal-start">
                            <div class="reel-info-post-comment-image-section mb-auto">
                                <img
                                    :src="getUserProfile(user.avatar)"
                                    alt="avatar"
                                    class="reel-info-post-comment-image"
                                />
                            </div>
                            <div class="reel-info-post-comment-textarea">
                                <MegaTextArea
                                    v-model="newComment"
                                    maxRow="1"
                                    @onOverMaxLength="onOverMaxLength"
                                    :max-length="commentMax"
                                    :error-message="newCommentError"
                                    placeholder="Write Comment"
                                    button-text="Post Comment"
                                    @buttonClicked="postComment"
                                ></MegaTextArea>
                            </div>
                        </div>
                        <hr />
                    </template>
                    <MegaSolutionCommentsComponent
                        :comments="reelComments"
                        :current-user="user"
                        @loadComments="loadComments"
                    ></MegaSolutionCommentsComponent>
                </template>
            </div>
            <div class="col-lg-1 col-md-1"></div>
            <template v-if="!isMobile">
                <div
                    class="col-lg-5  col-md-5 reel-licences-section"
                    ref="reel-licences-section-anchor"
                >
                    <div class="reel-licences-section-content">
                        <MegaSolutionLicencesDisplayComponent
                            :available-licences="reel.licences"
                            @clickFromLicenceSelection="getUserSelectedLicence"
                        ></MegaSolutionLicencesDisplayComponent>

                        <template v-if="creatorInfo.isCreator">
                            <hr />
                            <div class="reel-info-operations">
                                <button
                                    type="submit"
                                    class="creatr-secondary-button-regular reel-info-operations-delete"
                                    @click="showDismissModal()"
                                >
                                    Delete
                                </button>
                                <button
                                    type="submit"
                                    class="creatr-primary-button-regular reel-info-operations-edit"
                                    @click="editReel()"
                                >
                                    Edit
                                </button>
                            </div>
                        </template>
                        <template v-else>
                            <div class="reel-licences-section-content-buttons-section">
                                <template v-if="selectedLicence !== null">
                                    <template v-if="!isFreeReel">
                                        <button
                                            type="submit"
                                            @click="addToCart()"
                                            class="reel-licence-add-to-cart creatr-primary-button-regular"
                                        >
                                            {{ `Add to cart ($${selectedLicence.pivot.price})` }}
                                        </button>
                                    </template>
                                    <template v-else-if="isFreeReel">
                                        <div class="free-reel-download-section">
                                            <button
                                                type="submit"
                                                @click="getFreeDownload()"
                                                class="creatr-primary-button-regular"
                                            >
                                                Free Download
                                            </button>
                                            <template v-if="showDownload && reel.is_banned !== 1">
                                                <div
                                                    class="modal-view"
                                                    @click.stop.prevent="showDownloadModal"
                                                ></div>
                                                <div class="free-reel-download-modal">
                                                    <template v-for="(item, index) in reel.qualities">
                                                        <div
                                                            :key="index"
                                                            class="free-reel-download-item"
                                                            @click.stop.prevent="requestDownload(item)"
                                                        >
                                                            <span class="mega-solution-cap-heavy">{{
                                                                item.public_name
                                                            }}</span>
                                                            <span class="mega-solution-footer-light">{{
                                                                `${item.size_short}, ${item.type}`
                                                            }}</span>
                                                        </div>
                                                    </template>
    <!--                                                <div-->
    <!--                                                    class="free-reel-download-item"-->
    <!--                                                    @click.stop.prevent="requestDownloadZip()"-->
    <!--                                                >-->
    <!--                                                        <span class="mega-solution-cap-heavy">Contains All</span>-->
    <!--                                                    <span class="mega-solution-footer-light">ZIP</span>-->
    <!--                                                </div>-->
                                                </div>
                                            </template>
                                        </div>
                                    </template>
                                </template>

                                <template v-if="!isInWishlist">
                                    <button
                                        type="submit"
                                        @click="addToWishlist()"
                                        class="creatr-secondary-button-type-2"
                                    >
                                        <img
                                            :src="wishlistIcon"
                                            class="reel-licences-section-content-button-icon"
                                        />
                                        Save to wishlist
                                    </button>
                                </template>
                                <template v-else>
                                    <button
                                        type="submit"
                                        @click="removeFromWishlist()"
                                        class="creatr-secondary-button-type-2 creatr-secondary-button-type-2-wishlisted"
                                    >
                                        <img
                                            :src="wishlistedIcon"
                                            class="reel-licences-section-content-button-icon"
                                        />
                                        Saved to wishlist
                                    </button>
                                </template>
                            </div>
                        </template>
                    </div>
                </div>
            </template>

            <template v-if="isMobile">
                <div class="col-12">
                    <hr />
                    <template v-if="user == null">
                        <div class="reel-info-comment-login">
                            <div class="mega-solution-sub-heavy">
                                Sign up to join the conversation
                            </div>
                            <div
                                class="mega-solution-body-light reel-info-comment-login-subtitle"
                            >
                                Want to share your feedback and join the discussion?
                            </div>
                            <button
                                class="creatr-primary-button-regular reel-info-comment-login-button"
                                @click="signUp()"
                            >
                                Sign up
                            </button>
                        </div>
                        <hr />
                    </template>
                    <template v-else>
                        <div class="reel-info-post-comment mega-solution-horizontal-start">
                            <div class="reel-info-post-comment-image-section mb-auto">
                                <img
                                    :src="getUserProfile(user.avatar)"
                                    alt="avatar"
                                    class="reel-info-post-comment-image"
                                />
                            </div>
                            <div class="reel-info-post-comment-textarea">
                                <MegaTextArea
                                    v-model="newComment"
                                    maxRow="1"
                                    @onOverMaxLength="onOverMaxLength"
                                    :max-length="commentMax"
                                    :error-message="newCommentError"
                                    placeholder="Write Comment"
                                    button-text="Post Comment"
                                    @buttonClicked="postComment"
                                ></MegaTextArea>
                            </div>
                        </div>
                        <hr />
                    </template>
                    <MegaSolutionCommentsComponent
                        :comments="reelComments"
                        :current-user="user"
                        @loadComments="loadComments"
                    ></MegaSolutionCommentsComponent>
                </div>
            </template>
        </div>

        <template v-if="creatorInfo.reelCount > 0">
            <MegaSolutionReelSlidersComponent
                :creator-info="creatorInfo"
            ></MegaSolutionReelSlidersComponent>
        </template>

        <template v-if="showReportingModal">
            <MegaSolutionReportingViewModalComponent
                @hide-reporting-modal="hideReportingModal"
                :item-id="reel.id"
                item-type="reel"
            ></MegaSolutionReportingViewModalComponent>
        </template>

        <template v-if="showSignUpView">
            <sign-up-view @hideSignUpView="hideSignUpView"></sign-up-view>
        </template>

        <template v-if="showDeleteView">
            <MegaSolutionModalMessageComponent
                left-message="Delete"
                right-message="Cancel"
                title="Delete?"
                @dismiss="dismissModal"
                @leftClicked="modalLeftClicked"
                @rightClicked="modalRightClicked"
                subtitle="Are you sure you want to delete this reel?"
            >
            </MegaSolutionModalMessageComponent>
        </template>
    </div>
</template>

<script>
import MegaSolutionReelSlidersComponent from "../MegaSolutionReelSlidersComponent/MegaSolutionReelSlidersComponent";
import MegaInput from "../MegaSolutionInputComponent/MegaSolutionInputComponent";
import checker from "../../checker";
import MegaTextArea from "../MegaSolutionTextAreaComponent/MegaSolutionTextAreaComponent";
import MegaSolutionCommentsComponent from "../MegaSolutionCommentsComponent/MegaSolutionCommentsComponent";
import MegaSolutionViemoPlayer from "../MegaSolutionViemoPlayer/MegaSolutionViemoPlayer";
import helper from "../../helper";
import moment from "moment";
import signUpView from "../MegaSolutionRegisterComponent/MegaSolutionSignUpView.vue";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";
import MegaSolutionModalMessageComponent from "../MegaSolutionModalMessageComponent/MegaSolutionModalMessageComponent";
import MegaSolutionLicencesDisplayComponent from "../MegaSolutionLicencesDisplayComponent/MegaSolutionLicencesDisplayComponent";
import MegaSolutionReportingViewModalComponent from "../MegaSolutionReportingViewModalComponent/MegaSolutionReportingViewModalComponent";
import axios from "axios";
import {bus} from "../../event-bus"
export default {
    name: "MegaSolutionReelDetailComponent.vue",
    data() {
        return {
            loadCompleted: false,
            elementLoaded: false,
            heartIcon: "",
            likeVideo: false,
            baseUrl: process.env.MIX_PUSHER_APP_URL,
            isFollowing: false,
            likes: 0,
            likeIcon: "",
            user: null,
            newComment: "",
            newCommentError: "",
            reelComments: [],
            showSignUpView: false,
            commentMax: 500,
            showDeleteView: false,
            isMobile: false,
            isInWishlist: false,
            wishlistIcon: "",
            wishlistedIcon: "",
            reportIcon: "",
            selectedLicence: null,
            isFreeReel: false,
            isNewReel: false,
            showReportingModal: false,
            showDownload: false,
        };
    },
    components: {
        MegaSolutionViemoPlayer,
        MegaSolutionCommentsComponent,
        MegaTextArea,
        MegaSolutionReelSlidersComponent,
        signUpView,
        MegaSolutionLoaddingComponent,
        MegaSolutionModalMessageComponent,
        MegaSolutionLicencesDisplayComponent,
        MegaSolutionReportingViewModalComponent
    },
    watch: {
        newComment(newVal) {
            if (this.newCommentError !== "") {
                if (newVal.length < this.commentMax && newVal.trim() !== "") {
                    this.newCommentError = "";
                }
            }
        }
    },
    props: {
        reel: {
            type: Object,
            default: null
        },
        tags: {
            type: Array,
            default: []
        },
        creatorInfo: {
            type: Object,
            default: []
        },
        videoCategory: {
            type: Object,
            default: null
        },
        comments: {
            type: Array,
            default: []
        },
        collections: {
            type: Array,
            default: []
        }
    },
    created() {
    },
    async mounted() {
        this.elementLoaded = true;
        this.heartIcon = require("../../../icons/20210604/icons/24px/heart_outlined.png").default;
        this.likeIcon = require("../../../icons/20210604/icons/24px/heart_filled_pink.png").default;
        this.wishlistIcon = require("../../../icons/20210604/icons/16px/star_outlined_16px.png").default;
        this.wishlistedIcon = require("../../../icons/20210604/icons/24px/star_filled.png").default;
        this.reportIcon = require("../../../icons/20210604/icons/32px/alert_report_32.png").default;
        this.isFollowing = this.creatorInfo.isFollowing;
        this.likes = this.reel.likes;
        this.likeVideo = this.creatorInfo.likeReel;
        this.user = this.creatorInfo.user;
        this.reelComments = this.comments;
        this.isFreeReel =
            this.reel.licences.length === 1 && this.reel.licences[0].is_free;
        this.checkNewReel();
        await this.getWishlistStatus();
        const windowWidth = window.innerWidth;
        if (windowWidth < 576) {
            this.isMobile = true;
        }
        // require('../../../icons/20210604/icons/24px/user.png').default,
    },
    computed: {
        availableQualities() {
            const qualitySet = new Set();
            const typeSet = new Set();
            this.reel.qualities.forEach(item => {
                if (item.quality !== "source") {
                    qualitySet.add(item.public_name);
                    typeSet.add(item.type);
                }
            });
            const qualityString = Array.from(qualitySet).sort();
            const typeString = Array.from(typeSet).sort();
            return qualityString.concat(typeString);
            // return `Available in ${qualityString} qualitiy, in ${typeString} format.`;
        }
    },
    methods: {
        getImage(imagePath) {
            return `/storage/${imagePath}`;
        },
        showDismissModal() {
            this.showDeleteView = true;
        },
        dismissModal() {
            this.showDeleteView = false;
        },
        modalLeftClicked() {
            this.deleteReel();
        },
        modalRightClicked() {
            this.dismissModal();
        },
        loadVideoCompleted() {
            this.loadCompleted = true;
        },
        onOverMaxLength() {
            this.newCommentError = `The text has exceeded ${this.commentMax} characters!`;
        },
        getContainerWidth() {
            let videoContainer = document.getElementById("video-container");
            let style = getComputedStyle(videoContainer);
            let paddingLeft = parseInt(style.paddingLeft);
            let paddingRight = parseInt(style.paddingRight);
            return videoContainer.clientWidth - 4 * paddingLeft;
        },
        formatNumbers(number) {
            return helper.formatViews(number);
        },
        getUserProfile(imagePath) {
            return `/storage/${imagePath}`;
        },
        formatDate(time) {
            return moment(time).format("MMM Do YYYY");
        },
        deleteReel() {
            let data = {
                reel: this.reel.id
            };

            axios
                .post("/reels/delete/" + this.reel.id, { _method: "delete" })
                .then(function(res) {
                    if (res.status === 200) {
                        Vue.$toast.open({
                            message: "Video deleted!",
                            position: "bottom",
                            type: "success"
                        });
                        window.history.back();
                    }
                })
                .catch(function(err) {
                    if (err.response.status === 403) {
                        Vue.$toast.open({
                            message: "Permission denied!",
                            position: "bottom",
                            type: "error"
                        });
                    }
                    console.log(err.response);
                });
        },
        editReel() {
            window.location.assign(`/reels/edit/${this.reel.url_handle}`);
        },
        unfollow() {
            let data = {
                user_id: this.creatorInfo.creator.id
            };
            let that = this;
            axios
                .post("/creator/unfollow", data)
                .then(function(res) {
                    if (res.status === 200) {
                        that.isFollowing = false;
                        Vue.$toast.open({
                            message: "Unfollow Success! ",
                            position: "bottom",
                            type: "success"
                        });
                    }
                })
                .catch(function(err) {
                    if (err.response.status === 401) {
                        // Vue.$toast.open({
                        //     message: 'Please log in first! ',
                        //     position:"bottom",
                        //     type: 'error',
                        // });
                        that.signUp();
                    }

                    if (err.response.status === 403) {
                        console.log(err.response.data);
                        Vue.$toast.open({
                            message: err.response.data.message,
                            position: "bottom",
                            type: "error"
                        });
                    }
                });
        },
        follow() {
            let data = {
                user_id: this.creatorInfo.creator.id
            };
            let that = this;
            axios
                .post("/creator/follow", data)
                .then(function(res) {
                    if (res.status === 200) {
                        that.isFollowing = true;
                        Vue.$toast.open({
                            message: "Follow Success! ",
                            position: "bottom",
                            type: "success"
                        });
                    }
                })
                .catch(function(err) {
                    if (err.response.status === 401) {
                        // Vue.$toast.open({
                        //     message: 'Please log in first! ',
                        //     position:"bottom",
                        //     type: 'error',
                        // });
                        that.signUp();
                    }

                    if (err.response.status === 403) {
                        console.log(err.response.data);
                        Vue.$toast.open({
                            message: err.response.data.message,
                            position: "bottom",
                            type: "error"
                        });
                    }
                });
        },
        likeReel() {
            let data = {
                reel_id: this.reel.id
            };
            let that = this;
            axios
                .post("/reels/likeReel", data)
                .then(function(res) {
                    if (res.status === 200) {
                        that.likes = parseInt(res.data.response.likes);
                        that.likeVideo = res.data.response.like;
                        Vue.$toast.open({
                            message: res.data.res.msg,
                            position: "bottom",
                            type: "success"
                        });
                    }
                })
                .catch(function(err) {
                    if (err.response.status === 401) {
                        // Vue.$toast.open({
                        //     message: 'Please log in first! ',
                        //     position:"bottom",
                        //     type: 'error',
                        //     // duration:100000,
                        //     // queue:true,
                        // });
                        that.signUp();
                    }
                    if (err.response.status === 403) {
                        console.log(err.response.data);
                        Vue.$toast.open({
                            message: err.response.data.message,
                            position: "bottom",
                            type: "error"
                        });
                    }
                });
        },
        postComment(e) {
            if (this.newComment.trim() === "") {
                this.newCommentError = "Please fill out this area";
            } else if (this.newComment.length > this.commentMax) {
                this.onOverMaxLength();
            } else {
                let that = this;
                let data = {
                    user_id: that.user.id,
                    reel_id: that.reel.id,
                    content: that.newComment.trim()
                };
                axios
                    .post("/comments/store", data)
                    .then(function(res) {
                        if (res.status === 200) {
                            Vue.$toast.open({
                                message: res.data.response.msg,
                                position: "bottom",
                                type: "success"
                            });
                            that.newComment = "";
                            that.loadComments();
                        }
                    })
                    .catch(function(err) {
                        if (err.response.status === 401) {

                            that.signUp();
                        }
                        if (err.response.status === 403) {
                            console.log(err.response.data);
                            Vue.$toast.open({
                                message: err.response.data.message,
                                position: "bottom",
                                type: "error"
                            });
                        }
                    });
            }
        },
        loadComments() {
            let that = this;
            let data = {
                type: "reel",
                content_id: that.reel.id
            };
            axios
                .get("/comments", {
                    params: data,
                    headers: {
                        Accept: "application/json"
                    }
                })
                .then(function(res) {
                    if (res.status === 200) {
                        let tempComments = JSON.parse(res.data.response);
                        that.reelComments = tempComments;
                    }
                })
                .catch(function(err) {
                    console.log(err.status, err.response);
                });
        },
        signUp() {
            this.showSignUpView = true;
        },
        hideSignUpView() {
            this.showSignUpView = false;
        },
        async getWishlistStatus() {
            if (this.user === null) return;
            const that = this;
            const data = {
                type: "reel",
                content_id: that.reel.id
            };
            try {
                const res = await axios.get("/wishlist/getItemFromWishlist", {
                    params: data,
                    headers: {
                        Accept: "application/json"
                    }
                });
                if (res.status === 200 && res.data.msg === "true") {
                    that.isInWishlist = true;
                }
            } catch (error) {
                console.error(error);
            }
        },
        addToWishlist() {
            const data = {
                content_id: this.reel.id,
                type: "reel"
            };
            const that = this;
            axios
                .post("/wishlist/addToWishlist", data)
                .then(res => {
                    if (res.status === 200) {
                        that.isInWishlist = true;
                        Vue.$toast.open({
                            message: "Added To Your Wishlist! ",
                            position: "bottom",
                            type: "success"
                        });
                    }
                })
                .catch(err => {
                    if (err.response.status === 401) {
                        Vue.$toast.open({
                            message: "Please log in first! ",
                            position: "bottom",
                            type: "error"
                        });
                        that.signUp();
                    }

                    if (err.response.status === 403) {
                        console.log(err.response.data);
                        Vue.$toast.open({
                            message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
                            position: "bottom",
                            type: "error"
                        });
                    }
                });
        },
        removeFromWishlist() {
            const data = {
                content_id: this.reel.id,
                type: "reel"
            };
            const that = this;
            axios
                .post("/wishlist/removeFromWishlist", data)
                .then(res => {
                    if (res.status === 200) {
                        that.isInWishlist = false;

                        Vue.$toast.open({
                            message: "Removed From Your Wishlist! ",
                            position: "bottom",
                            type: "success"
                        });
                    }
                })
                .catch(err => {
                    if (err.response.status === 401) {
                        Vue.$toast.open({
                            message: "Please log in first! ",
                            position: "bottom",
                            type: "error"
                        });
                        that.signUp();
                    }

                    if (err.response.status === 403) {
                        console.log(err.response.data);
                        Vue.$toast.open({
                            message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
                            position: "bottom",
                            type: "error"
                        });
                    }
                });
        },
        displayPlatforms() {
            const platforms = this.reel.platforms;
            if (platforms.length === 0) {
                return "N.A.";
            } else {
                const platformNames = platforms.map(platform => platform.title);
                return platformNames.join(", ");
            }
        },
        reportOnClick() {
            this.showReportingModal = true;
        },
        hideReportingModal() {
            this.showReportingModal = false;
        },
        getUserSelectedLicence(selectedLicenceId) {
            if (selectedLicenceId === null) return;

            // Filter if this reel contains the selected licence
            const matchedLicences = this.reel.licences.filter(
                licence => licence.id === selectedLicenceId
            );
            // Set the selected licence to the data
            if (matchedLicences.length !== 0)
                this.selectedLicence = matchedLicences[0];
        },
        checkNewReel() {
            if (!this.reel.created_at) return;
            const newDurationInDays = 7;
            const now = moment(new Date());
            const createdTime = moment(this.reel.created_at);
            const duration = moment.duration(now.diff(createdTime));
            const days = duration.asDays();
            const isNew = days <= newDurationInDays;

            this.isNewReel = isNew;
        },
        scrollMeTo(refName) {
            const element = this.$refs[refName];
            const top = element.offsetTop;

            window.scrollTo(0, top);
        },
        getFreeDownload() {
            this.showDownloadModal();
        },

        addToCart() {

            let data = {
                reel_id: this.reel.id,
                licence_id: this.selectedLicence.id
            };
            let that = this;
            axios.post("/cart/addItemToCart", data)
                .then(res => {
                    if (res.status === 200) {
                        Vue.$toast.open({
                            message: "Added to Cart Successfully",
                            position: "bottom",
                            type: "success"
                        });

                        bus.$emit('addItemToCart')
                    }
                })
                .catch(err => {
                    if (err.response.status === 401) {
                        Vue.$toast.open({
                            message: "Please log in first! ",
                            position: "bottom",
                            type: "error"
                        });
                        that.signUp();
                    }

                    if (err.response.status === 403) {
                        Vue.$toast.open({
                            message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
                            position: "bottom",
                            type: "error"
                        });
                    }
                });
        },
        showDownloadModal() {
            let that = this;
            axios.get("/creator/getUserLoginStatus")
                .then(res => {
                    this.showDownload = !this.showDownload;
                }).catch(err => {
                    if (err.response.status === 401) {
                        Vue.$toast.open({
                            message: "Please log in first! ",
                            position: "bottom",
                            type: "error"
                        });
                        that.signUp();
                    }
                });
        },
        requestDownload(item) {
            const qualityId = item.id;
            const reelID = this.reel.id;
            // TODO: New api
            window.open(
                `/orderItemDownload/downloadFreeReel/${reelID}?qualityId=${qualityId}`,
                "_blank"
            );
        },
        requestDownloadZip(){
            const reelID = this.reel.id;

        }
    }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.container {
    .ring-container {
        margin-top: 96px;
        margin-bottom: 96px;
        width: 320px;
        height: 320px;
    }
    .reel-detail-top-section {
        display: flex;
        flex-direction: row;
        align-items: center;

        .reel-detail-title-logo {
            max-width: 475px;
            height: 40px;
            margin-right: auto;
        }

        .reel-detail-top-buttons-section {
            display: flex;
            flex-direction: row;
            gap: 12px;
            margin-left: auto;

            .creatr-primary-button-regular {
            }
            .creatr-secondary-button-type-2 {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 8px;
            }
            .reel-detail-top-buttons-section-icon {
                height: 20px;
                width: 20px;
            }
        }
    }

    .reel-info-content {
        margin-top: 48px;
        margin-bottom: 48px;
        hr {
            margin-top: 32px;
            margin-bottom: 32px;
        }
        .reel-info-content-quality-section {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
            margin-bottom: 4px;
            flex-wrap: wrap;
            .reel-info-content-quality-item {
                padding: 4px 8px;
                border-radius: 24px;
                background-color: #2d2d2d;
                color: $neutral-tagline;
            }
        }
        .reel-info-content-title {
                word-break: normal;
                word-wrap: break-word;
        }
        .reel-info-content-basic {
            margin-top: 15px;
            .reel-info-content-new-reel-tag {
                height: 20px;
                border-radius: 16px;
                padding: 4px 8px;
                background-color: $secondary-5;
                color: $neutral-bg2;
                margin-right: 8px;
            }
            .reel-info-content-basic-left {
                color: $neutral-tagline;
                &:after {
                    content: "•";
                    margin-left: 8px;
                }
            }
            .reel-info-content-basic-right {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: $neutral-tagline;
                .reel-info-content-basic-right-img {
                    width: 24px;
                    height: 24px;
                    margin-right: 4px;
                    margin-left: 11px;
                }
            }
        }

        .reel-info-comment-login {
            margin-top: 48px;
            margin-bottom: 48px;
            .reel-info-comment-login-subtitle {
                margin-top: 8px;
                color: $neutral-tagline;
            }
            .reel-info-comment-login-button {
                margin-top: 24px;
                width: 40%;
            }
        }
        .reel-info-post-comment {
            margin-top: 48px;
            margin-bottom: 48px;
            .reel-info-post-comment-image-section {
                width: 40px;
                height: 40px;
                margin-top: 18px;
                .reel-info-post-comment-image {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .reel-info-post-comment-textarea {
                flex: 1;
                margin-left: 12px;
            }
        }
    }
    .reel-creator-content {
        margin-top: 50px;

        .reel-creator-content-title {
            color: $neutral-tagline;
            text-transform: uppercase;
        }
        .reel-creator-info {
            margin-top: 24px;
            justify-content: flex-start;
            gap: 8px;

            .reel-creator-info-left {
                max-width: 60%;
                overflow: hidden;
                /* flex: 1;
                margin-right: auto; */
                &:hover {
                    color: $neutral-text;
                }
                .reel-creator-info-left-icon {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .reel-creator-info-left-name {
                    margin-left: 8px;
                }
            }

            button {
                min-width: 60px;
                min-height: 22px;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: -0.15%;
                background-color: #414fe6;
            }
        }
        hr {
            margin-top: 32px;
            margin-bottom: 32px;
        }
        .reel-info-detail-section {
            margin-top: 24px;
            .reel-creator-content-subtitle {
                color: $neutral-disabled;
            }
            .reel-info-detail-section-content {
                word-break: break-all;
                margin-top: 4px;
                color: $neutral-tagline;
                &:hover {
                    color: $neutral-text;
                }
            }
            .reel-info-detail-section-content-tags {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 10px;
                .reel-info-detail-section-content-tag {
                    padding: 2px 4px;
                    border: 0.5px solid $neutral-tagline;
                    color: $neutral-tagline;
                    border-radius: 4px;
                    word-break: break-all;
                    &:before {
                        content: "#";
                    }
                    &:hover {
                        color: $neutral-text;
                    }
                }
            }
        }
    }

    .reel-licences-section {
        hr {
            margin-top: 48px;
            margin-bottom: 48px;
        }

        .reel-licences-section-content {
            position: sticky;
            top: 100px;

            .reel-info-operations {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                .reel-info-operations-delete {
                    //width: 30%;
                }
                .reel-info-operations-edit {
                    //width: 50%;
                    margin-left: 16px;
                    flex: 1;
                }
            }

            .reel-licences-section-content-buttons-section {
                margin-top: 16px;
                .reel-licence-add-to-cart{
                    margin-bottom: 16px;
                }
                .creatr-primary-button-regular {
                    min-width: 100%;
                }
                .creatr-secondary-button-type-2 {
                    min-width: 100%;
                }
                .reel-licences-section-content-button-icon {
                    height: 20px;
                    width: 20px;
                    margin-right: 10px;
                }
                .free-reel-download-section {
                    position: relative;
                    margin-bottom: 16px;

                    .modal-view {
                        position: fixed;
                        right: 0;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        z-index: 50;
                        background-color: rgba(0, 0, 0, 0.7);
                    }
                    .free-reel-download-modal {
                        position: absolute;
                        right: 0;
                        width: 280px;
                        border-radius: 8px;
                        padding: 8px 12px;
                        background: $neutral-bg3;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        z-index: 99;

                        .free-reel-download-item {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            gap: 8px;
                            height: 34px;
                            padding: 2px 12px;
                            width: 100%;
                            cursor: pointer;
                            span {
                                display: inline-block;
                            }
                            &:hover {
                                background: $neutral-input;
                            }
                        }
                    }
                }
            }
        }
    }
    .mega-solution-reel-report-button {
        color: $neutral-asset2;
        text-align: right;
        a {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
            &:hover {
                cursor: pointer;
                color: $neutral-text;
            }
        }
        .mega-solution-reel-report-button-icon {
            width: 12px;
            height: 12px;
        }
    }
}

.creatr-secondary-button-type-2-wishlisted {
    color: $primary-4;
    border-color: $primary-4;
    &:hover {
        color: $primary-3;
        border-color: $primary-3;
    }
}

@media screen and (max-width: 1025px) {
    .reel-detail-top-section {
        .reel-detail-top-buttons-section {
            display: none !important;
        }
    }
}

@media screen and (max-width: 576px) {
    .reel-detail-top-section {
        .reel-detail-top-buttons-section {
            display: none!important;
        }
    }
    .container {
        .container-fluid {
            .ring-container {
                width: 240px;
                height: 240px;
            }
        }
        .reel-info-content {
            margin-top: 16px;
            hr {
                margin-top: 32px;
                margin-bottom: 32px;
            }
         }
    }
    
    .container .reel-creator-content .reel-creator-info {
        margin-top: 24px;
    }
}
</style>
