<template>
    <div class="container-fluid tag-container">
        <div class="tag-container-banner mega-solution-vertical-center">

            <div class="tag-container-banner-background">
                <template v-if="tag.mostPopularReel != null">
                    <img v-lazy="getImageByPath(tag.mostPopularReel.thumbnail)" alt="tag thumbnail" class="tag-container-banner-background-image">
                    <img v-lazy="getImageByPath(tag.mostPopularReel.preview === ''?tag.mostPopularReel.thumbnail:tag.mostPopularReel.preview )" alt="tag thumbnail" class="tag-container-banner-background-image-preview">
                </template>
                <template v-else>
                    <img v-lazy="defaultBanner" alt="tag thumbnail"  class="tag-container-banner-background-image-default">
                </template>
            </div>
            <div class="tag-container-banner-content mega-solution-vertical-center">
                <h1 class="mega-solution-d1">#{{tag.name}}</h1>

                <template v-if="totalAmount > 0">
                    <div class="mega-solution-sub-light tag-container-banner-subtitle">{{totalAmount}} reels and collections for you to explore and get inspired</div>
                </template>

                <div class="tag-container-banner-background-creator mega-solution-footer-italic" v-if="tag.mostPopularReel != null">by {{tag.mostPopularReel.creatorName}}</div>
            </div>
        </div>

        <div class="other-tags-section mega-solution-horizontal-start">
            <div class="mega-solution-body-heavy">Other popular tags:</div>
            <div v-for="(item,index) in mostPopularTags" :key="index" class="mega-solution-p2-light other-tag-container">
                <a class="other-tag-container-link" :href="'/tags/'+ item.name">#{{item.name}}</a>
            </div>
        </div>

        <div class="tag-selection-section mega-solution-horizontal-center">
            <div class="mega-solution-sub-heavy tag-selection-section-item mega-solution-horizontal-start pointer" :class="[selectedIndex==0?'active':'']" @click="changeIndex(0)">
                Reels <div class="mega-solution-body-light">{{tag.reelsCount>0?tag.reelsCount:""}}</div>
            </div>
            <div class="mega-solution-sub-heavy tag-selection-section-item mega-solution-horizontal-start pointer " :class="[selectedIndex==1?'active':'']" @click="changeIndex(1)">
                Collections <div class="mega-solution-body-light">{{tag.collectionsCount>0?tag.collectionsCount:""}}</div>
            </div>
        </div>

        <div class="mx-5">
            <template v-if="selectedIndex === 0">

                <template v-if="reels.length > 0">
                    <MegaSolutionReelsGridComponent :reels="reels" type="display"></MegaSolutionReelsGridComponent>
                </template>
                <template v-else>
                    <content-reel-container-empty-status message="There is no reel yet!" message2="Come back to check later!"/>
                </template>

            </template>

            <template v-else>
                <template v-if="collections.length > 0">
                    <MegaSolutionCollectionsGridComponent :collections="collections"></MegaSolutionCollectionsGridComponent>
                </template>
                <template v-else>
                    <content-collection-comtainer-empty-status message="There is no collection yet!" message2="Come and check Later!"/>
                </template>
            </template>

        </div>



        <div class="container-fluid mega-solution-horizontal-center" v-if="loading">
            <div class="ring-container ">
                <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
            </div>
        </div>


        <template v-if="selectedIndex === 0">
            <template v-if="reels.length > 0 && reelLoadFinish">
                <MegaSolutionLoadedComponent></MegaSolutionLoadedComponent>
            </template>
        </template>
        <template v-else>

            <template v-if="collections.length > 0 && collectionLoadFinish">
                <MegaSolutionLoadedComponent></MegaSolutionLoadedComponent>
            </template>
        </template>

    </div>
</template>

<script>
import MegaSolutionCollectionsGridComponent
    from "../MegaSolutionCollectionsGridComponent/MegaSolutionCollectionsGridComponent";
import ContentCollectionComtainerEmptyStatus from "../MegaSolutionProfileVideosComponent/ContentCollectionComtainerEmptyStatus";
import ContentReelContainerEmptyStatus from "../MegaSolutionProfileVideosComponent/ContentReelContainerEmptyStatus";
import MegaSolutionReelsGridComponent from "../MegaSolutionReelsGridComponent/MegaSolutionReelsGridComponent";
import MegaSolutionLoadedComponent from "../MegaSolutionLoadedComponent/MegaSolutionLoadedComponent";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";
export default {
    name: "MegaSolutionShowTagComponent.vue",
    components:{
        MegaSolutionCollectionsGridComponent,
        ContentCollectionComtainerEmptyStatus,
        ContentReelContainerEmptyStatus,
        MegaSolutionReelsGridComponent,
        MegaSolutionLoadedComponent,
        MegaSolutionLoaddingComponent
    },
    props:{
        tag:{
            type:Object,
            default:null,
        },
        mostPopularTags:{
            type:Array,
            default: [],
        },

    },
    computed:{
      totalAmount(){
          return this.tag.reelsCount + this.tag.collectionsCount
      }
    },
    data(){
        return{
            defaultBanner:"",
            baseUrl:process.env.MIX_PUSHER_APP_URL,
            loading:false,
            selectedIndex:0,
            //reels
            reels:[],
            reelPageIndex:1,
            reelPageSeed:"",
            reelPageSize:9,
            reelLoadFinish:false,

            //reels
            collections:[],
            collectionPageIndex:1,
            collectionPageSeed:"",
            collectionPageSize:9,
            collectionLoadFinish:false,
        }
    },
    mounted() {
        this.defaultBanner = require("../../../icons/20210604/logo-1.png").default
        this.scroll()
        this.loadReels(this.loadCollections)
        //console.log('tag',this.tag);
        //console.log('most popular tags',this.mostPopularTags);
    },
    methods:{
        getImageByPath(imagePath){
            return `/storage/${imagePath}`
        },
        scroll(){

            window.onscroll = () => {
                let left = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight;
                let right = document.documentElement.offsetHeight - 350;
                let bottomOfWindow = (left >= right);

                let top = document.scrollingElement.scrollTop;
                if(this.oldTop <= top && bottomOfWindow){
                    // console.log('down')
                    this.loadMoreData()
                }
                // console.log("scroll scroll scroll",this.oldTop, top,bottomOfWindow)
                this.oldTop = JSON.parse(JSON.stringify(top));

            }
        },
        loadMoreData(){
            //console.log('load more data')
            if(this.selectedIndex === 0){
                this.loadReels()
            }
            if(this.selectedIndex === 1){
                this.loadCollections()
            }
        },
        loadReels(loadFinish){
            let that = this;

            if(that.reelLoadFinish){
                // Vue.$toast.open({
                //     message: 'All reels have been loaded! ',
                //     position:"top-right",
                //     type: 'info',
                // });
            }else{
                let data = {
                    "tagIndex":that.tag.id,
                    "reelPageSeed":that.reelPageSeed,
                    "reelPageSize":that.reelPageSize,
                    "reelPageIndex":that.reelPageIndex
                }
                if(!that.loading){
                    that.loading = true
                    axios.get("/tag/getTagReels",{
                        params:data,
                        headers: { 'Accept':'application/json' }
                    }).then(function (res) {


                        let temp = res.data.response.reels;
                        if(temp.length < that.reelPageSize){
                            that.reelLoadFinish = true
                        }else{
                            that.reelPageIndex++;
                        }
                        that.reels = that.reels.concat(temp)
                        that.reelPageSeed = res.data.response.pageSeed
                        that.loading = false
                        if (loadFinish){
                            loadFinish()
                        }
                    }).catch(function (err) {
                        //console.log('err',err.response)
                    })
                }
            }

        },
        loadCollections(){
            let that = this;

            if(that.collectionLoadFinish){
                // Vue.$toast.open({
                //     message: 'All collections have been loaded! ',
                //     position:"top-right",
                //     type: 'info',
                // });
            }else{
                let data = {
                    "tagIndex":that.tag.id,
                    "collectionPageSeed":that.collectionPageSeed,
                    "collectionPageSize":that.collectionPageSize,
                    "collectionPageIndex":that.collectionPageIndex
                }
                if(!that.loading){
                    that.loading = true
                    axios.get("/tag/getTagCollections",{
                        params:data,
                        headers: { 'Accept':'application/json' }
                    }).then(function (res) {


                        let temp = res.data.response.collections;
                        if(temp.length < that.collectionPageSize){
                            that.collectionLoadFinish = true
                        }else{
                            that.collectionPageIndex++;
                        }
                        that.collections = that.collections.concat(temp)
                        that.loading = false
                        that.collectionPageSeed = res.data.response.pageSeed
                    }).catch(function (err) {
                        //console.log('err',err.response)
                    })
                }
            }
        },
        changeIndex(index){
            if(this.selectedIndex !== index){
                this.selectedIndex = index
            }
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.tag-container{
    padding-bottom:112px;
    .tag-container-banner{
        height: 480px;
        position: relative;

        &:hover{
            .tag-container-banner-background {
                .tag-container-banner-background-image {
                    display: none;
                }

                .tag-container-banner-background-image-preview {
                    display: flex;
                }
            }
        }

        .tag-container-banner-background{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            .tag-container-banner-background-image-default{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .tag-container-banner-background-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .tag-container-banner-background-image-preview{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: none;
            }
        }
        .tag-container-banner-content{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: $overlay-solid;
            .tag-container-banner-subtitle{
                margin-top: 16px;
                text-align: center;
            }
            .tag-container-banner-background-creator{
                position: absolute;
                right: 48px;
                bottom: 32px;
            }
        }
    }

    .other-tags-section{
        margin-top: 26px;
        flex-wrap: wrap;
        gap: 20px;
        .other-tag-container{
            color: $neutral-tagline;
            border: 1px solid $neutral-tagline;
            padding: 2px 4px;
            border-radius:4px;
            .other-tag-container-link{
                color: $neutral-tagline;
            }
        }
    }
    .tag-selection-section{
        margin-top: 72px;
        margin-bottom: 48px;
        gap: 64px;
        .tag-selection-section-item{
            padding-bottom: 8px;
            border-bottom: 1px solid transparent;
            gap:8px;
            color: $neutral-tagline;
            .mega-solution-body-light{
                color: $neutral-tagline;
            }
            &.active{
                color: $neutral-text;
                border-bottom-color: $neutral-text;
            }
        }
    }

}

.ring-container{
    width: 240px;
    height: 240px;
}

@media screen and (max-width: 576px){
    .tag-container .category-selection-section{
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .tag-container .px-5{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .tag-container .tag-container-banner .tag-container-banner-content .tag-container-banner-subtitle{
        width: 80%;
        text-align: center;
    }
    .tag-container .mx-5{
        margin: unset !important;
    }

}

</style>
