<template>
  <div class="content-collections-container">
    <template v-for="(item, index) in collections">
      <template v-if="type === 'wishlist'">
        <MegaSolutionWishlistCollectionCellComponent
          :key="index"
          :collection="item"
        ></MegaSolutionWishlistCollectionCellComponent>
      </template>
      <template v-else-if="type === 'profile'">
        <MegaSolutionCollectionCellComponent
          :key="index"
          :collection="item"
        ></MegaSolutionCollectionCellComponent>
      </template>
      <template v-else>
        <MegaSolutionEcoCollectionDisplayCell
          :key="index"
          :collection="item"
        ></MegaSolutionEcoCollectionDisplayCell>
      </template>
    </template>
  </div>
</template>

<script>
import MegaSolutionCollectionCellComponent from "../MegaSolutionCollectionCellComponent/MegaSolutionCollectionCellComponent";
import MegaSolutionEcoCollectionDisplayCell from "../MegaSolutionEcoCollectionDisplayCell/MegaSolutionEcoCollectionDisplayCell";
import MegaSolutionWishlistCollectionCellComponent from "../MegaSolutionWishlistCollectionCellComponent/MegaSolutionWishlistCollectionCellComponent";
export default {
  name: "MegaSolutionCollectionsGridComponent",
  components: {
    MegaSolutionCollectionCellComponent,
    MegaSolutionEcoCollectionDisplayCell,
    MegaSolutionWishlistCollectionCellComponent
  },
  props: {
    collections: {
      type: Array,
      default: []
    },
    type: {
      type: String,
      default: ""
    }
  },
  mounted() {
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.content-collections-container {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

@media only screen and (max-width: 576px) {
  .content-collections-container {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
</style>
