<template>
    <div class="container-fluid mega-solution-horizontal-center create-collection" @click="dismiss" @touchmove.prevent.stop @mousewheel.prevent>
        <div class="create-collection-container" @click.stop="">
            <h4 class="mega-solution-h4 create-collection-title">Create collection</h4>
            <div class = "create-collection-container-section">
                <div class="mega-solution-sub-heavy required">Title</div>
                <MegaTextArea v-model="title" maxRow="1" :max-length="titleMax" @onOverMaxLength="onTitleOverMaxLength" :error-message="titleErrorMessage" ></MegaTextArea>
            </div>
            <div class = "create-collection-container-section">
                <div class="mega-solution-sub-heavy required">Category</div>
                <template v-if="categories.length > 0">
                    <select name="categories" id="categories" class="creatr-select mega-solution-body-light create-collection-container-section-select" v-model="selectedCategoryID">
                        <template v-for="category in categories">
                            <option :value="category.id" :key="category.id" class="creatr-select-option mega-solution-body-light">{{category.name}}</option>
                        </template>
                    </select>
                </template>
            </div>
            <div class="create-collection-container-section">
                <div  class = "mega-solution-sub-heavy required">Rating</div>
                <select name="categories" id="rates" class="creatr-select mega-solution-body-light create-collection-container-section-select" v-model="selectedRate">
                    <template v-for="rate in rates">
                        <option :value="rate.id" :key="rate.id" class="creatr-select-option mega-solution-body-light">{{`${rate.type} - ${rate.description}`}}</option>
                    </template>
                </select>
            </div>
            <div class="create-collection-container-button-section mega-solution-horizontal-center">
                <button @click="dismiss" class="creatr-secondary-button-type-1 cancel-btn">Cancel</button>
                <button class="creatr-primary-button-regular create-btn" @click="createCollection">Create</button>
            </div>
        </div>
    </div>
</template>

<script>
import MegaTextArea from "../MegaSolutionTextAreaComponent/MegaSolutionTextAreaComponent";
export default {
    name: "MegaSolutionAddCollectionComponent.vue",
    data(){
      return{
          titleErrorMessage:"",
          title:'',
          categories:[],
          selectedCategoryID:0,
          loadFinish:false,
          titleMax : 200,
          rates: [],
          selectedRate:0,
      }
    },
    watch:{
        title(newVal){

            if(this.titleErrorMessage !== ""){
                if(newVal.trim() !== "" && newVal.length < this.titleMax){
                    this.titleErrorMessage = "";
                }
            }

        }
    },
    components:{
        MegaTextArea
    },
    props:{
      toNextPage:{
          type:Boolean,
          default:true,
      }
    },
    mounted() {
        let that = this;
        axios.get('/categories/getCategories').then(function(res){
            if(res.status === 200){
                that.categories = res.data.response.categories
                //console.log(that.categories)
                that.selectedCategoryID = that.categories[0].id
            }
        }).catch(function (err) {
            //console.log(err.response)
        })

        axios.get('/rate/getAllRates').then(function(res){
            if(res.status === 200){
                that.rates = res.data.response.rates
                that.selectedRate = that.rates[0].id
            }
        }).catch(function (err) {
            //console.log(err.response)
        })
    },

    methods:{
        dismiss(){
            if(this.toNextPage){
                this.$emit("dismiss",{

                })
            }else{
                this.dismissAndRefresh()
            }

        },
        dismissAndRefresh(){
            this.$emit("dismissAndRefresh",{

            })
        },
        onTitleOverMaxLength(){
            this.titleErrorMessage = `The text has exceeded ${this.titleMax} characters!`
        },
        createCollection(){
            let that = this;
            if(this.title.trim() === ""){
                this.titleErrorMessage = "Title could not be empty"
            }else if(this.title.length > this.titleMax){
                this.onTitleOverMaxLength()
            } else{
                let data = {
                    'title': this.title,
                    'category_id':this.selectedCategoryID,
                    'rate_id':this.selectedRate,
                }
                axios.post('/collections/store',data).then(function (res) {
                    //console.log(res.data.response)
                    if(res.status === 200){
                        Vue.$toast.open({
                            message: 'Great! you could could this collection',
                            position:"bottom",
                            type: 'success',
                        });
                        if(that.toNextPage){
                            let videoID = res.data.response.collection_id
                            window.location.assign(`/collections/edit/${videoID}`)
                        }else{
                            that.dismissAndRefresh()
                        }

                    }

                }).catch(function (err) {
                    if(err.response.status === 409) {
                        Vue.$toast.open({
                            message: err.response.data.response.errormsg,
                            position: "bottom",
                            type: 'error',
                        });
                    }

                    if(err.response.status === 403){
                        //console.log(err.response.data)
                        Vue.$toast.open({
                            message: err.response.data.message,
                            position:"bottom",
                            type: 'error',
                        });
                    }
                })


            }
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.create-collection{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black-blur ;
    z-index: 10;
    .create-collection-container {
        background-color: $neutral-bg2;
        min-width: 300px;
        padding: 35px 112px;
        margin-top: 40px;
        margin-bottom: 20px;
        /* max-height: 480px; */
        position: relative;
        .create-collection-title{
            margin-bottom: 40px;
            text-align: center;
        }
        .create-collection-container-section{
            width: 426px;
            margin-top: 12px;
            .create-collection-container-section-select{
                width: 100%;
                margin-top: 12px;
            }
        }
        .create-collection-container-button-section{
            gap: 22px;
            margin-top: 40px;
            width: 426px;
            padding-bottom: 32px;
            .cancel-btn{

            }
            .create-btn{
                flex:1;
            }
        }


    }
}

@media only screen and (max-width: 576px) {
    .create-collection{

        .create-collection-container {
            padding: 16px 12px;
            min-width: 100%;

            .create-collection-container-section{
                width: 100%;
            }
            .create-collection-container-button-section{
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    .create-collection {
        .cancel-btn {
            min-width: 40%;
        }
    }
}

</style>
