<template>
    <div class="mt-2">
        <div v-for="(licence, index) in statusObjects" :key="index" class="licence-item ">
            <div class="licence-item-top mega-solution-horizontal-center">
                <input type="checkbox" :id ="'checkbox_'+index" v-model = "licence.isChecked" @change="selectItem(index)">
                <label :for="'checkbox_'+index" class ="licence-label mega-solution-horizontal-center">
                    <div class=" licence-label-detail mega-solution-horizontal-center">
                        <div class=" licence-label-detail-label mega-solution-body-light mega-solution-horizontal-center" >

                            {{getLicenceByIndex(index).type}}
                            <template v-if="licence.is_popular">
                                <div class="licence-popular-tag mega-solution-tiny-cap mega-solution-horizontal-center">POPULAR</div>
                            </template>
                            <template v-if="!licence.is_free">
                                <MegaInput class="licence-price-input" input-type="price" :input_disable="!licence.isChecked" v-model="licence.price" placeholder="0" :maxlength="10" @input="changePrice(index)"></MegaInput>
                            </template>
                        </div>
                    </div>

                </label>

            </div>
            <div class="licence-description">
                <div class="licence-description-top mega-solution-horizontal-start pointer" @click="licence.showTerms = !licence.showTerms">
                    <div class="licence-description-top-label mega-solution-cap-light">License terms</div>
                    <img :src="downImage" alt="down" class="licence-description-top-icon" :class="[licence.showTerms?'show':'']">
                </div>
                <div v-html="getLicenceByIndex(index).description" v-if="licence.showTerms" class="licence-description-detail mega-solution-p3-light"></div>
            </div>

        </div>

    </div>
</template>

<script>
import MegaInput from "../MegaSolutionInputComponent/MegaSolutionInputComponent";
export default {
    name: "MegaSolutionLicencesSectionComponent",
    components:{
        MegaInput
    },
    data(){
        return{
            statusObjects:[],
            downImage:"",
        }
    },
    mounted() {
        this.downImage = require("../../../icons/20210604/icons/24px/chevron_down.png").default;
    },
    watch:{
        licences(newVal){
            this.getStatusObjects()
        },
        statusObjects(newVal){
            //console.log("statusObject",this.statusObjects)
        }
    },
    props:{
        licences:{
            type:Array,
            default:[],
        },
        licencesStatus:{
            type:Array,
            default:function () {
                return []
            }
        }
    },
    methods:{
        getLicenceByIndex(index){
            // console.log("index",index,"licence id",this.lic)
            let licenceId = this.statusObjects[index].id
            return this.licences.find(element=>{
                return element.id === licenceId
            })
        },
        getStatusObjects(){
            if(this.licencesStatus.length == 0){
                this.licences.forEach(licence=>{
                    let temp = {
                        id:licence.id,
                        showTerms:licence.is_popular,
                        is_popular:licence.is_popular,
                        price:"",
                        is_free:licence.is_free,
                        isChecked:false,
                    }
                    this.statusObjects.push(temp)
                })
                this.changeLicences()
                //console.log("this.statusObjects111",this.statusObjects)
            }else{
                this.statusObjects = this.licencesStatus

                //console.log("this.statusObjects2222",this.statusObjects)
            }
        },
        selectItem(index){

            let licenceStatusItem = this.statusObjects[index]
            let licenceId = licenceStatusItem.id
            let licence =  this.licences.find(element=>{
                return element.id === licenceId
            })
            let tempStatusItems = this.statusObjects;
            if (licence.is_free&&licenceStatusItem.isChecked){
                tempStatusItems.forEach(item=>{
                    if(!item.is_free){
                        item.isChecked = false
                    }
                })
                this.statusObjects = tempStatusItems
            }else{
                if(licenceStatusItem.isChecked == true){
                    tempStatusItems.forEach(item=>{
                        if(item.is_free){
                            item.isChecked = false
                        }
                    })
                    this.statusObjects = tempStatusItems
                }
            }
            this.changeLicences()
        },
        changePrice(index){
            //console.log("status object",this.statusObjects)
            this.changeLicences()
        },
        changeLicences(){
            this.$emit('updateLicences',{
                "licencesStatus" : this.statusObjects,
            });
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.licence-item{
    margin-bottom:32px ;

    .licence-item-top{
        height: 50px;
        .licence-label{
            display: flex;
            width: 100%;
            .licence-label-detail{
                width: 100%;
                .licence-label-detail-label{
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                    .licence-popular-tag{
                        background-color: $secondary-5;
                        color: $neutral-bg2;
                        border-radius: 16px;
                        padding-left: 8px;
                        padding-right: 8px;
                        margin-left: 16px;
                        height: 20px;
                    }
                    .licence-price-input{
                        width: 120px;
                        height: 50px;
                        margin-left: auto;
                    }
                }
            }

        }

    }
    .licence-description{
        margin-left: 22px;
        margin-top: 8px;
        .licence-description-top{
            padding-left: 13px;
            .licence-description-top-label{
                color: $neutral-tagline;
            }
            .licence-description-top-icon{
                width: 16px;
                height: 16px;
                background-size: cover;
                object-fit: cover;
                margin-left: 4px;
                transition: 0.5s;
                &.show{
                    transform: rotate(180deg);
                    transition: 0.5s;
                }

            }
        }
        .licence-description-detail{
            margin-top: 8px;
            color: $neutral-tagline;
        }

    }
}
</style>
