<template>
    <div class="container-fluid" >

        <div @click="popupSearchView" class="mega-solution-horizontal-start search-container pointer">
            <img :src="searchIcon" alt="search" class="searchIcon">
            <div class="mega-solution-body-heavy mr-auto">Search reels, collections, creators</div>
        </div>

        <div v-show="showSearchView">
            <div class="search-view container-fluid mega-solution-horizontal-center" @click.stop="dismiss">
                <div class="search-view-container" @click.stop="">
                    <img :src="largeSearchIcon" alt="search" class="search-view-container-icon">
                    <input ref="searchbox" type="text" v-model="searchText"  @keyup.enter = "search" class="search-view-container-input mega-solution-h3" placeholder="Search">
                    <button class="creatr-regular-button-type-1 mega-solution-body-heavy search-view-container-search" @click="search">search</button>
                    <img :src="cancelIcon" alt="cancel" class="search-view-container-cancel pointer" @click="cancelText">
                </div>

            </div>
<!--            <sign-up-view @hideSignUpView = "dismiss" ></sign-up-view>-->
        </div>

    </div>
</template>

<script>
import signUpView from "../MegaSolutionRegisterComponent/MegaSolutionSignUpView"
export default {
    name: "MegaSolutionSearchComponent.vue",
    data(){
        return{
            searchIcon:"",
            showSearchView: false,
            largeSearchIcon:"",
            cancelIcon:"",
            searchText:"",
        }
    },
    components:{
        signUpView
    },
    mounted() {
        this.searchIcon = require('../../../icons/20210604/icons/24px/search.png').default
        this.largeSearchIcon = require('../../../icons/20210604/icons/40px/search40.png').default
        this.cancelIcon = require('../../../icons/20210604/icons/32px/cancel32.png').default
    },
    methods:{
        dismiss(){
            this.showSearchView = false
        },
        cancelText(){
            if(this.searchText != ""){
                this.searchText = ""
            }else{
                this.dismiss()
            }


        },
        search(){
            if(this.searchText.trim() === ""){
                window.location.assign(`/search`)
            }else{
                window.location.assign(`/search?keyword=${this.searchText.trim()}`)
            }

        },
        popupSearchView(){
            this.showSearchView = true
            this.$refs.searchbox.focus()
        },
    }

}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.search-container{

    padding: 10px 120px 10px 16px;
    border-radius: 24px;
    border: 1px solid $neutral-asset2;
    width: 100%;
    padding-right: unset;
    .searchIcon{
        width: 24px;
        height: 24px;
    }
    .mega-solution-body-heavy{
        margin-left: 8px;

    }

    &:hover{
        opacity: 0.8;
        background-color: $black-blur;
    }
}

.container-fluid{
    &.mega-solution-horizontal-center{
        display: flex;
        align-items: center;
        justify-content: center !important;
    }
}

.search-view {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $search-black-blur;
    z-index: 50;
    .search-view-container{
        min-width: 350px;
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        border-bottom: 2px $primary-4 solid;
        padding-bottom: 12px;
        position: relative;
        .search-view-container-icon{
            width: 40px;
            height: 40px;
            margin-right: 16px;
        }
        .search-view-container-input{
            flex: 1;
            background: unset;
            padding-bottom: unset;
            width: 80%;
        }
        .search-view-container-search{
            text-transform: uppercase;
            color: $primary-4;
        }

        .search-view-container-cancel{
            position: absolute;
            width: 32px;
            height: 32px;
            right: -16px;
            top: -23px;
            background: $neutral-asset2;
            border-radius: 50%;
            padding: 8px;
        }
    }

}


@media screen and (max-width: 768px ) {
    .search-container div.mega-solution-body-heavy{
        display: none;
    }
}


@media screen and (max-width: 768px ) {
    .mega-solution-horizontal-start .search-container{
        border: unset;
    }
}

@media screen and (max-width: 576px){
    .search-view .search-view-container{
        min-width: unset;
        width: 90%;
        .search-view-container-icon{
            width: 36px;
            height: 36px;
            margin-right: 8px;
        }
        .creatr-regular-button-type-1{
            padding-bottom: 0px;
        }
    }
}
</style>
