<template>
    <div class="comment-container mega-solution-horizontal-start">
        <div class="comment-container-image-container mb-auto">
            <a :href="'/hq/'+author.name">
                <img :src="getImageFromPath(author.avatar)" alt="avatar" class="comment-container-image-container-image">
            </a>

        </div>
        <div class="comment-container-detail-container">
            <div class="comment-container-detail-container-title mega-solution-body-heavy">{{author.profile.user_name}}</div>
            <template v-if="toUser != null">
                <div class="mega-solution-p2-light comment-container-detail-container-content">@{{toUser.profile.user_name}} <br/> {{comment.content}}</div>
            </template>
            <template v-else>
                <div class="mega-solution-p2-light comment-container-detail-container-content">{{comment.content}}</div>
            </template>
            <div class="comment-container-option-container mega-solution-horizontal-start">
                <div class="mega-solution-footer-light comment-container-option-container-time">
                    {{formatTime(comment.created_at)}}
                </div>
                <template v-if="currentUser!= null">
                    <div class="comment-container-option-container-reply mega-solution-footer-heavy pointer" @click="reply"  v-if="!replyMode">
                        Reply
                    </div>
                    <div class="comment-container-option-container-reply mega-solution-footer-heavy pointer" @click = "cancel" v-else>
                        Cancel
                    </div>
                </template>

            </div>

            <div class="reel-info-post-comment mega-solution-horizontal-start" v-if="replyMode == true">
                <div class="reel-info-post-comment-image-section mb-auto">
                    <img :src="getImageFromPath(currentUser.avatar)" alt="avatar" class="reel-info-post-comment-image">
                </div>
                <div class="reel-info-post-comment-textarea">
                    To: {{author.profile.user_name}}
                    <MegaTextArea v-model="newComment" maxRow="1" @onOverMaxLength="onCommentOverMaxLength" :max-length="commentMax"  :error-message="newCommentError" placeholder="Write Reply" button-text="Post Reply" @buttonClicked = "postComment"></MegaTextArea>
                </div>
            </div>


        </div>

    </div>
</template>

<script>
import moment from "moment"

import MegaTextArea from "../MegaSolutionTextAreaComponent/MegaSolutionTextAreaComponent";
export default {
    name: "MegaSolutionCommentComponent.vue",
    components:{
        MegaTextArea
    },
    props:{
        comment:{
            type:Object,
            default:null,
        },
        author:{
            type:Object,
            default: null,
        },
        toUser:{
            type:Object,
            default: null,
        },
        currentUser:{
            type:Object,
            default: null,
        },
        type:{
            type:String,
            default:'reel'
        }
    },
    mounted() {
    },
    watch:{
        newComment(newVal){

            if(this.newCommentError !== ""){
                if(newVal.length < this.commentMax && newVal.trim() !== ""){
                    this.newCommentError =""
                }
            }
        }
    },
    data(){
        return{
            baseUrl:process.env.MIX_PUSHER_APP_URL,
            replyMode : false,
            newComment:"",
            newCommentError:"",
            commentMax:500,
        }
    },
    methods:{
        getImageFromPath(imagePath){
            return `/storage/${imagePath}`
        },
        formatTime(time){
            return moment(time).fromNow()
        },
        reply(){
            this.replyMode = true
            //console.log('reply')
        },
        cancel(){
          this.replyMode = false
        },
        onCommentOverMaxLength(){
            this.newCommentError = `The text has exceeded ${this.commentMax} characters!`
        },
        postComment(){

            if(this.newComment.trim() === ""){
                this.newCommentError = "Please fill out this area"
            }else if(this.newComment.length > this.commentMax){
                this.onCommentOverMaxLength()
            }else {
                let that = this;
                let data ={
                    'user_id':this.currentUser.id,
                    'content':this.newComment,
                    'parent':this.comment.parent != null? this.comment.parent:this.comment.id,
                    'to_user_id':this.author.id,
                }
                if(this.type === "reel"){
                    data['reel_id'] = this.comment.reel_id;
                }else{
                    data['collection_id'] = this.comment.collection_id;
                }

                //console.log('post data',data)

                axios.post('/comments/store',data).then(function (res) {
                    if(res.status === 200){
                        Vue.$toast.open({
                            message: res.data.response.msg,
                            position:"bottom",
                            type: 'success',
                        })
                        that.newComment = "";
                        that.cancel();
                        that.$emit('loadComments')
                    }
                }).catch(function (err) {
                    //console.log(err.status,err.response)

                    if(err.response.status === 403){
                        //console.log(err.response.data)
                        Vue.$toast.open({
                            message: err.response.data.message,
                            position:"bottom",
                            type: 'error',
                        });
                    }
                })

            }

        }
    },
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.comment-container{
    margin-top: 32px;
    gap: 12px;
    .comment-container-image-container{
        width: 32px;
        height: 32px;
        .comment-container-image-container-image{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .comment-container-detail-container{
        flex: 1;
        .comment-container-detail-container-title{

        }
        .comment-container-detail-container-content{
            margin-top: 4px;
            color: $neutral-tagline;
            word-break: break-all;
        }
        .comment-container-option-container{
            margin-top: 8px;
            .comment-container-option-container-time{
                color: $neutral-disabled;
            }
            .comment-container-option-container-reply{
                display: none;
                margin-left: 24px;
            }

        }

        &:hover{
            .comment-container-option-container{
                .comment-container-option-container-reply{
                    display: block;
                    margin-left: 24px;
                }
            }
        }
        .reel-info-post-comment{
            margin-top: 48px;
            margin-bottom: 48px;
            .reel-info-post-comment-image-section{
                width: 40px;
                height: 40px;
                margin-top: 18px;
                .reel-info-post-comment-image{
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .reel-info-post-comment-textarea{
                flex: 1;
                margin-left: 12px;
            }

        }
    }

}

</style>
