<template>
    <div>
        <template v-if="selectedCollections.length > 0">
            <div  class="mega-solution-horizontal-start collection-items" @click="showCollections()">
                <div v-for="(collection,index) in selectedCollections">
                    {{collection.title}} {{index < (selectedCollections.length - 1)  ? ',':''}}
                </div>
            </div>
        </template>
        <template v-else>
            <div @click="showCollections()" class="pointer" style="height: 100%">Select</div>
        </template>

        <template v-if="selectCollectionMode">
            <div class="container-fluid mega-solution-horizontal-center select-collection-view" @click="dismiss" @touchmove.prevent.stop @mousewheel.prevent>
                <div class="select-collection-container" @click.stop="" >
                    <div class="mega-solution-add-reel-dismiss-button pointer" @click.stop="dismiss">X</div>
                    <h4 class="mega-solution-h4 select-collection-title">Add to collection(s)</h4>
                    <template v-if="collections.length > 0 && loadFinish">
                        <div  class="collections-container">
                            <scrollbar :maxHeight="'50vh'"  @reachBottom="reachBottom" @reachTop="reachTop">
                                <div class="collection-container mega-solution-horizontal-center justify-content-between pointer" v-for="(item,index) in collections" :key="index" @click="collectionClicked(index)" :class="[item.checked?'checked':'']">
                                    <template v-if="item.thumbnail != null">
                                        <img  v-lazy ="getImageByPath(item.thumbnail)" alt="reel thumb" class="collection-container-image">
                                    </template>
                                    <template v-else>
                                        <div class="collection-container-image">
                                            <img :src="collectionPlaceholder" alt="collection placeholder" class="collection-container-image">
                                        </div>
                                    </template>

                                    <div class="collection-container-detail">
                                        <div class="mega-solution-body-heavy collection-container-detail-title clamp">
                                            {{item.title}}
                                        </div>
                                        <div class="mega-solution-cap-light collection-container-detail-description clamp-2">
                                            {{item.description}}
                                        </div>
                                    </div>
                                    <template v-if="item.checked">
                                        <img :src="checkedImage" alt="selected" class="collection-container-icon">
                                    </template>
                                    <template v-else>
                                        <img :src="uncheckedImage" alt="not selected" class="collection-container-icon">
                                    </template>
                                </div>
                            </scrollbar>
                        </div>
                    </template>
                    <template v-else>
                        <div class="selection-collection-empty-view mega-solution-vertical-center" @click.stop="">
                            <img :src="emptyCollectionImage" alt="no reels" class = "selection-collection-empty-view-image">
                            <div class="selection-collection-empty-view-description mega-solution-vertical-center mega-solution-p2-light">
                                You havn't created any Collections.<br/>Please create a Collection first!.
                            </div>
                        </div>
                    </template>
                    <div class="mega-solution-horizontal-center justify-content-between addreel-button-section">

                        <button class="creatr-secondary-button-regular" @click="createNewCollection()">Create new Collection</button>
                        <button class="creatr-secondary-button-type-1 ml-auto mr-3" @click="dismiss">Cancel</button>
                        <button class="creatr-primary-button-regular" @click="addSelectedToCollections()">Confirm</button>
                    </div>

                </div>

            </div>
        </template>
        <template v-if="addCollection">
            <MegaSolutionAddCollectionComponent :to-next-page="false" @dismissAndRefresh = "dismissCreateview"></MegaSolutionAddCollectionComponent>
        </template>
    </div>
</template>

<script>
import MegaSolutionAddCollectionComponent
    from "../MegaSolutionAddCollectionComponent/MegaSolutionAddCollectionComponent";
export default {
    name: "MegaSolutionSelectCollectionComponent.vue",
    props:{
        disable:{
            type:Boolean,
            default:false,
        },
        selectedCollections:{
            type:Array,
            default:[]
        },
        user:{
            type:Object,
            default:null,
        },
        lazy:{
            type:Boolean,
            default:false,
        }
    },
    components:{
        MegaSolutionAddCollectionComponent
    },
    data(){
      return{
          collections:[],
          selectCollectionMode:false,

          collectionPage:0,
          collectionPageSize : 10,
          loadFinish:false,
          baseUrl:process.env.MIX_PUSHER_APP_URL,
          tempSelectedCollections:[],
          emptyCollectionImage:"",
          addCollectionImage:"",
          checkedImage:"",
          uncheckedImage:"",
          addCollection:false,
          isMobile:false,
          collectionPlaceholder:"",
      }
    },

    mounted() {

        this.tempSelectedCollections = this.selectedCollections

        this.emptyCollectionImage =  require('../../../icons/20210604/icons/illustrations/collection_0.png').default;
        this.addCollectionImage = require('../../../icons/20210604/icons/illustrations/player2.png').default;
        this.checkedImage = require('../../../icons/20210604/icons/16px/check_circle_checked.png').default;
        this.uncheckedImage = require('../../../icons/20210604/icons/16px/check_circle_unchecked.png').default;
        this.collectionPlaceholder = require('../../../icons/20210815/icons/icons_collection_placeholder.png').default;
        this.getUserCollections()
        const windowWidth = window.innerWidth;
        if(windowWidth < 576){
            this.isMobile = true
        }
    },
    watch:{
        selectedCollections(newVal){
            if(this.tempSelectedCollections === null){
                this.tempSelectedCollections = newVal
                let temp = this.collections;
                temp.forEach(collection=>{
                    collection.checked = this.isCollectionSelected(collection.id)
                })
                this.collections = temp
            }

        }
    },
    methods:{
        isCollectionSelected(collectionID){
            let selectedReel =   this.selectedCollections.filter(collection=>{return collection.id === collectionID})
            return selectedReel.length > 0
        },
        getUserCollections(){
            let that = this;
            if(this.loadFinish){
                // Vue.$toast.open({
                //     message: 'All your reels have been loaded! ',
                //     position:"top-right",
                //     type: 'info',
                // });
            }else{
                axios.get('/creator/getCollections',{
                    headers: { 'Accept':'application/json' }
                }).then(function (res) {
                    if(res.status === 200){
                        let temp = that.collections;
                        let tempCollections = res.data.response.collections
                        tempCollections.forEach(collection=>{
                            collection.checked = that.isCollectionSelected(collection.id)
                        })
                        that.collections = temp.concat(tempCollections)
                        that.loadFinish = true;

                    }

                }).catch(function (err) {
                    console.log(err)
                })
            }
        },
        showCollections(){
            if(this.disable !== true){
                this.selectCollectionMode = true
            }

        },
        dismiss(){
            this.selectCollectionMode = false
        },
        collectionClicked(index){
            let clickedCollection = this.collections[index]
            let tempCollections = this.collections
            clickedCollection.checked = ! clickedCollection.checked
            tempCollections[index] = clickedCollection
            this.collections = tempCollections
        },
        reachBottom(e){
            this.getUserCollections()
        },
        reachTop(e){

        },
        getImageByPath(imagePath){
            return `/storage/${imagePath}`
        },
        clearSelectedCollections(){
            this.tempSelectedCollections = []
            this.collections.forEach(collection=>{
                collection.checked = false
            })
        },
        createNewCollection(){
            this.addCollection = true
        },
        addSelectedToCollections(){
            let selectedCollections = this.collections.filter(item=>{return item.checked === true})
            this.$emit('addToCollection',{
                selectedCollections
            })
            this.dismiss()
        },
        dismissCreateview(){
            this.addCollection = false
            this.collections = []
            this.loadFinish = false
            this.getUserCollections()
        },
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.select-collection-view {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black-blur;
    z-index: 10;
    .select-collection-container {
        background-color: $neutral-bg2;
        min-width: 300px;
        margin-top: 40px;
        margin-bottom: 20px;
        position: relative;

        width: 874px;
        padding: 35px 35px 84px;

        .mega-solution-add-reel-dismiss-button{
            display: none;
        }
        .select-collection-title{
            text-align: left;
        }

        .collections-container{
            min-height: 200px;
            .collection-container{
                min-height: 80px;
                color: white;
                margin-top: 8px;
                padding: 12px;
                border-radius: 10px;
                &:hover{
                    background: $neutral-input;
                }

                &.checked{
                    border: 1px solid $primary-4;
                }

                .collection-container-image{
                    background: $neutral-bg3;
                    width: 106px;
                    height: 60px;
                }
                .collection-container-detail{
                    flex: 1;
                    margin-left: 12px;
                    .collection-container-detail-title{}
                    .collection-container-detail-description{
                        margin-top: 8px;
                        color: $neutral-tagline;
                    }
                }
                .collection-container-checkbox{
                    margin-right: 40px;
                    height: 16px;
                    width: 16px;
                }
                .collection-container-icon{
                    width: 24px;
                    height: 24px;
                    margin-right: 32px;
                }
            }
        }
        .selection-collection-empty-view{
            padding-top: 50px;
            padding-bottom: 50px;
            .selection-collection-empty-view-image{
                width: 226px;
            }
            .selection-collection-empty-view-description{
                margin-top: 16px;
                text-align: center;
            }
        }

        .addreel-button-section{
            position: absolute;
            height: 84px;
            left: 0;
            bottom: 0;
            width: 100%;
            padding-left: 48px;
            padding-right: 48px;

            border-top: 1px solid $neutral-input;
        }


    }
}


@media screen and (max-width: 576px){
    .select-collection-view .select-collection-container{
        padding: 36px 0px 84px 0px;

        .collections-container {
            .scrollbar-wrap {
                min-height: 50vh !important;
            }
        }

        .mega-solution-add-reel-dismiss-button {
            position: absolute;
            line-height: 24px;
            width: 24px;
            height: 24px;
            right: 12px;
            top: 12px;
            border-radius: 25px;
            text-align: center;;
            color: #FAFAFA;
            background-color: #565656;
            display: block;
        }
        .select-collection-title{
            padding-left: 16px;
        }
        .collections-container .collection-container{
            //padding-left: unset;
            //padding-right: unset;
            .collection-container-icon{
                margin-right: unset;
            }

            .collection-container-image {
                height: 60px;
                width: 60px;
            }

        }
        .addreel-button-section{
            padding-left: 8px;
            padding-right: 8px;
            .creatr-secondary-button-type-1{
                display: none;
            }
            .creatr-regular-button-type-2{
                margin-left: unset !important;
            }
        }
    }
}

.collection-items{
    flex-wrap: wrap;
    gap: 12px;
}
</style>
