<template>
    <div class="container-fluid category-container ">
        <div class="category-container-banner mega-solution-vertical-center">

            <div class="category-container-banner-background">
                <template v-if="category.mostPopularReel != null">
                    <img v-lazy="getImageByPath(category.mostPopularReel.thumbnail)" alt="category thumbnail" class="category-container-banner-background-image">
                    <img v-lazy="getImageByPath(category.mostPopularReel.preview ===''?category.mostPopularReel.thumbnail:category.mostPopularReel.preview )" alt="category thumbnail" class="category-container-banner-background-image-preview">
                </template>
                <template v-else>
                    <img v-lazy="getImageByPath(category.image_path)" alt="category thumbnail"  class="category-container-banner-background-image-default">
                </template>
            </div>
            <div class="category-container-banner-content mega-solution-vertical-center">
                <h1 class="mega-solution-d1">{{category.name}}</h1>

                <template v-if="totalAmount > 0">
                    <div class="mega-solution-sub-light category-container-banner-subtitle">{{totalAmount}} reels and collections for you to explore and get inspired</div>
                </template>

                <div class="category-container-banner-background-creator mega-solution-footer-italic" v-if="category.mostPopularReel != null">by {{category.mostPopularReel.creatorName}}</div>
            </div>
        </div>


        <div class="category-selection-section mega-solution-horizontal-center">
            <div class="mega-solution-sub-heavy category-selection-section-item mega-solution-horizontal-start pointer" :class="[selectedIndex==0?'active':'']" @click="changeIndex(0)">
                Reels <div class="mega-solution-body-light">{{category.reelsCount>0?category.reelsCount:""}}</div>
            </div>
            <div class="mega-solution-sub-heavy category-selection-section-item mega-solution-horizontal-start pointer" :class="[selectedIndex==1?'active':'']" @click="changeIndex(1)">
                Collections <div class="mega-solution-body-light">{{category.collectionsCount>0?category.collectionsCount:""}}</div>
            </div>
        </div>

        <div class="px-5">
            <template v-if="selectedIndex === 0">

                <template v-if="reels.length > 0">
                    <MegaSolutionReelsGridComponent :reels="reels" type="display"></MegaSolutionReelsGridComponent>
                </template>
                <template v-else>
                    <content-reel-container-empty-status message="No reels in this category yet!" message2="Check back later."/>
                </template>

            </template>

            <template v-else>
                <template v-if="collections.length > 0">
                    <MegaSolutionCollectionsGridComponent :collections="collections"></MegaSolutionCollectionsGridComponent>
                </template>
                <template v-else>
                    <content-collection-comtainer-empty-status message="No collections in this category yet!" message2="Check back later."/>
                </template>
            </template>

        </div>



        <div class="container-fluid mega-solution-horizontal-center" v-if="loading">
            <div class="ring-container ">
                <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
            </div>
        </div>

        <template v-if="selectedIndex === 0">
            <template v-if="reels.length > 0 && reelLoadFinish">
                <MegaSolutionLoadedComponent></MegaSolutionLoadedComponent>
            </template>
        </template>
        <template v-else>

            <template v-if="collections.length > 0 && collectionLoadFinish">
                <MegaSolutionLoadedComponent></MegaSolutionLoadedComponent>
            </template>
        </template>
    </div>
</template>

<script>
import MegaSolutionCollectionsGridComponent
    from "../MegaSolutionCollectionsGridComponent/MegaSolutionCollectionsGridComponent";
import ContentCollectionComtainerEmptyStatus from "../MegaSolutionProfileVideosComponent/ContentCollectionComtainerEmptyStatus";
import ContentReelContainerEmptyStatus from "../MegaSolutionProfileVideosComponent/ContentReelContainerEmptyStatus";
import MegaSolutionReelsGridComponent from "../MegaSolutionReelsGridComponent/MegaSolutionReelsGridComponent";
import MegaSolutionLoadedComponent from "../MegaSolutionLoadedComponent/MegaSolutionLoadedComponent";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";
export default {
    name: "MegaSolutionShowCategoryComponent.vue",
    components:{
        MegaSolutionCollectionsGridComponent,
        ContentCollectionComtainerEmptyStatus,
        ContentReelContainerEmptyStatus,
        MegaSolutionReelsGridComponent,
        MegaSolutionLoadedComponent,
        MegaSolutionLoaddingComponent
    },
    props:{
        category:{
            type:Object,
            default:null,
        },

    },
    computed:{
        totalAmount(){
            return this.category.reelsCount + this.category.collectionsCount
        }
    },
    data(){
        return{
            defaultBanner:"",
            baseUrl:process.env.MIX_PUSHER_APP_URL,
            loading:false,
            selectedIndex:0,
            //reels
            reels:[],
            reelPageIndex:1,
            reelPageSeed:"",
            reelPageSize:9,
            reelLoadFinish:false,

            //reels
            collections:[],
            collectionPageIndex:1,
            collectionPageSeed:"",
            collectionPageSize:9,
            collectionLoadFinish:false,
        }
    },
    mounted() {
        this.defaultBanner = require("../../../icons/20210604/logo-1.png").default
        this.scroll()
        this.loadReels(this.loadCollections)
        //console.log('category',this.category);
    },
    methods:{
        getImageByPath(imagePath){
            return `/storage/${imagePath}`
        },
        scroll(){

            window.onscroll = () => {
                let left = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight;
                let right = document.documentElement.offsetHeight - 350;
                let bottomOfWindow = (left >= right);

                let top = document.scrollingElement.scrollTop;
                if(this.oldTop <= top && bottomOfWindow){
                    // console.log('down')
                    this.loadMoreData()
                }
                // console.log("scroll scroll scroll",this.oldTop, top,bottomOfWindow)
                this.oldTop = JSON.parse(JSON.stringify(top));

            }
        },
        loadMoreData(){
            //console.log('load more data')
            if(this.selectedIndex === 0){
                this.loadReels()
            }
            if(this.selectedIndex === 1){
                this.loadCollections()
            }
        },
        loadReels(loadFinish){
            let that = this;

            if(that.reelLoadFinish){

            }else{
                let data = {
                    "categoryIndex":that.category.id,
                    "reelPageSeed":that.reelPageSeed,
                    "reelPageSize":that.reelPageSize,
                    "reelPageIndex":that.reelPageIndex
                }
                if(!that.loading){
                    that.loading = true
                    axios.get("/categories/getCategoryReels",{
                        params:data,
                        headers: { 'Accept':'application/json' }
                    }).then(function (res) {


                        let temp = res.data.response.reels;
                        if(temp.length < that.reelPageSize){
                            that.reelLoadFinish = true
                        }else{
                            that.reelPageIndex++;
                        }
                        that.reels = that.reels.concat(temp)
                        that.reelPageSeed = res.data.response.pageSeed
                        that.loading = false
                        if (loadFinish){
                            loadFinish()
                        }
                    }).catch(function (err) {
                        //console.log('err',err.response)
                    })
                }
            }

        },
        loadCollections(){
            let that = this;

            if(that.collectionLoadFinish){

            }else{
                let data = {
                    "categoryIndex":that.category.id,
                    "collectionPageSeed":that.collectionPageSeed,
                    "collectionPageSize":that.collectionPageSize,
                    "collectionPageIndex":that.collectionPageIndex
                }
                if(!that.loading){
                    that.loading = true
                    axios.get("/categories/getCategoryCollections",{
                        params:data,
                        headers: { 'Accept':'application/json' }
                    }).then(function (res) {


                        let temp = res.data.response.collections;
                        if(temp.length < that.collectionPageSize){
                            that.collectionLoadFinish = true
                        }else{
                            that.collectionPageIndex++;
                        }
                        that.collections = that.collections.concat(temp)
                        that.loading = false
                        that.collectionPageSeed = res.data.response.pageSeed
                    }).catch(function (err) {
                        //console.log('err',err.response)
                    })
                }
            }
        },
        changeIndex(index){
            if(this.selectedIndex !== index){
                this.selectedIndex = index
            }
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.category-container{
    padding-bottom:112px;
    padding-left:unset ;
    padding-right:unset ;
    .category-container-banner{
        height: 480px;
        position: relative;

        &:hover{
            .category-container-banner-background {
                .category-container-banner-background-image {
                    display: none;
                }

                .category-container-banner-background-image-preview {
                    display: flex;
                }
            }
        }

        .category-container-banner-background{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            .category-container-banner-background-image-default{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .category-container-banner-background-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .category-container-banner-background-image-preview{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: none;
            }
        }
        .category-container-banner-content{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: $overlay-solid;
            .category-container-banner-subtitle{
                margin-top: 16px;
                text-align: center;
            }
            .category-container-banner-background-creator{
                position: absolute;
                right: 48px;
                bottom: 32px;
            }
        }
    }

    .category-selection-section{
        margin-top: 72px;
        margin-bottom: 48px;
        gap: 64px;
        .category-selection-section-item{
            padding-bottom: 8px;
            border-bottom: 1px solid transparent;
            gap:8px;
            color: $neutral-tagline;
            .mega-solution-body-light{
                color: $neutral-tagline;
            }
            &.active{
                color: $neutral-text;
                border-bottom-color: $neutral-text;
            }
        }
    }

}
.ring-container{
    width: 240px;
    height: 240px;
}

@media screen and (max-width: 576px){
    .category-container .category-selection-section{
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .category-container .px-5{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .category-container .category-container-banner .category-container-banner-content .category-container-banner-subtitle{
        width: 80%;
        text-align: center;
    }

}
</style>
