<template>
    <div class="container-fluid pl-1 cart">
        <div class="cart-container mega-solution-horizontal-center" @click.stop="showCart">
            <img :src="cartImage" alt="notification" class="cart-image pointer" >
            <template v-if="cartItemLength > 0">
                <div class="cart-container-badge mega-solution-horizontal-center mega-solution-footer-heavy">{{cartItemLength > 99? 99:cartItemLength}}</div>
            </template>
        </div>
        <template v-if="showCartView">
            <cart-view @editCartItem="editCartItem" :cart-items="cartItems" @closeCartImage = "showCart"></cart-view>
        </template>

    </div>
</template>

<script>
import {bus} from "../../event-bus"
import axios from "axios";
import CartView from "../MegaSolutionCartViewComponent/MegaSolutionCartViewComponent"
export default {
    name: "MegaSolutionCartComponent",
    components:{
        CartView
    },
    computed:{
        cartItemLength(){
            let sum = 0
            if(this.cartItems != null){
                this.cartItems.forEach(item=>{
                    sum += item.quantity
                })
            }

            return sum
        }
    },
    data(){
        return{
            cartImage : "",
            cartItems:[],
            showCartView:false,
        }
    },
    mounted() {
        this.cartImage = require("../../../icons/20211019/icons/shoppingcart.png").default;
        this.listenAddItemToCartEvent()
        this.getCartItems()
    },
    methods:{
        clickOnCart(){
            //console.log("show me the notifications!")
        },
        listenAddItemToCartEvent(){
            let that = this;
            bus.$on('addItemToCart',function (res) {
                that.getCartItems()
            })
        },
        getCartItems(){
            let that = this;
            axios.get("/cart/getCartItems", {
                    params: {},
                    headers: {
                        Accept: "application/json"
                    }
            }).then(function (res) {
                if (res.status === 200) {

                    that.cartItems  = res.data.response.cartItems
                    //console.log("cart cart cart",that.cartItems)
                }else{
                    that.cartItems  = []
                }

            }).catch(function (err) {
                that.cartItems  = []
                //console.log(err.status, err.response);
            })
        },
        editCartItem(){
            this.getCartItems()
        },
        showCart(){
            this.showCartView = !this.showCartView
        }


    }

}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.cart{
    width: 100%;
    height: 100%;
    padding: unset;
    position: relative;
    .cart-container{
        width: 100%;
        height: 100%;
        position: relative;
        .cart-image{
            width: 24px;
            height: 24px;
        }
        .cart-container-badge{
            position: absolute;
            min-height: 18px;
            min-width: 20px;
            background-color: $primary-4;
            border-radius: 24px;
            left: 12px;
            top: 9px;
            padding: 2px 6px;
        }
    }
}

@media screen and (max-width: 576px) {
    .cart{
        .cart-container{
            .cart-container-badge{
                top: -4px;
            }
        }
    }

}
</style>
