<template>
    <div class="container-fluid mega-solution-horizontal-center add-reel-view" @click="dismiss" >
        <div class="add-reel-container" @click.stop="">
            <div class="mega-solution-add-reel-dismiss-button" @click.stop="dismiss">X</div>

            <h4 class="mega-solution-h4 add-reel-title">Add reels to collection</h4>
            <div class="add-reel-subtitle-section mega-solution-horizontal-start">
                <div class="mega-solution-body-heavy add-reel-subtitle-section-item" :class="[swiperIndex===0?'active':'']" @click="changeSwiper(0)">
                    <div>Your Creatr Reels</div>
                </div>
                <div class="mega-solution-body-heavy add-reel-subtitle-section-item" :class="[swiperIndex===1?'active':'']" @click="changeSwiper(1)">
                    <div>Add new reel</div>
                </div>
            </div>
            <swiper class="swiper" id="mega-swiper" :loop="true" @slideChange="swipeView" >
                <swiper-slide class = "mega-swiper-slide" @click.stop="">
                    <template v-if="reels.length > 0">
                        <div class="reels-container">
                            <scrollbar :maxHeight="'50vh'" @reachBottom="reachBottom" @reachTop="reachTop">
                                <div class="reel-container mega-solution-horizontal-center justify-content-between pointer" v-for="(item,index) in reels" :key="index" @click="reelClicked(index)" :class="[item.checked?'checked':'']">
                                    <img v-lazy="getImageByPath(item.thumbnail)" alt="reel thumb" class="reel-container-image">
                                    <div class="reel-container-detail clamp">
                                        <div class="mega-solution-body-heavy reel-container-detail-title clamp">
                                            {{item.title}} ({{item.status}})
                                        </div>
                                        <div class="mega-solution-cap-light reel-container-detail-description clamp-2">
                                            {{item.description}}
                                        </div>
                                    </div>
                                    <template v-if="item.checked">
                                        <img :src="checkedImage" alt="selected" class="reel-container-icon">
                                    </template>
                                    <template v-else>
                                        <img :src="uncheckedImage" alt="not selected" class="reel-container-icon">
                                    </template>
                                </div>
                            </scrollbar>
                        </div>
                    </template>
                    <template v-else>
                        <div class="mega-swiper-slide-add-reel mega-solution-vertical-center" @click.stop="">
                            <img :src="emptyReelImage" alt="no reels" class = "mega-swiper-slide-add-reel-image">
                            <div class="mega-swiper-slide-add-reel-description mega-solution-vertical-center mega-solution-p2-light">
                                You havn't uploaded any reels.<br/>Please upload a reel first!.
                            </div>
                        </div>
                    </template>

                </swiper-slide>
                <swiper-slide class = "mega-swiper-slide mega-solution-vertical-center" >
                    <div class="mega-swiper-slide-add-reel mega-solution-vertical-center" @click.stop="">
                        <img :src="addReelImage" alt="add reel" class = "mega-swiper-slide-add-reel-image pointer" @click="uploadNewReel">
                        <div class="mega-swiper-slide-add-reel-description mega-solution-vertical-center mega-solution-p2-light">
                            You can also upload a new reel.<br/>Note: This reel will only be available in this collection.
                        </div>
                    </div>
                </swiper-slide>
            </swiper>
            <div class="mega-solution-horizontal-center justify-content-between addreel-button-section">
                <template v-if="swiperIndex === 0">
                    <button class="creatr-secondary-button-type-1" @click="dismiss">Cancel</button>
                    <button class="creatr-regular-button-type-2 ml-auto" @click="clearSelectedReels()">Clear</button>
                    <button class="creatr-primary-button-regular" @click="addSelectedToCollections()">Add to collection</button>
                </template>
                <template v-else>
                    <button class="creatr-secondary-button-type-1" @click="dismiss">Cancel</button>
                    <button class="creatr-primary-button-regular" @click = "uploadNewReel">Upload new reel</button>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
// import { swiper, swiperSlide } from 'vue-awesome-swiper'

import  "swiper/swiper.scss"
export default {
    name: "MegaSolutionAddReelIntoCollections.vue",
    props:{
        selectedReels:{
            type:Array,
            default:[],
        },
        collectionId:{
            type:[Number,String],
            default:0,
        }
    },
    components:{
        // swiper,
        // swiperSlide,
    },
    data(){
        return{
            reels:[],
            swiperIndex:0,
            addReelImage:"",
            emptyReelImage:"",
            checkedImage:"",
            uncheckedImage:"",

            reelPage:0,
            reelPageSize : 10,
            loadFinish:false,
            baseUrl:process.env.MIX_PUSHER_APP_URL,

            tempSelectedReels:[]
        }
    },
    mounted() {
        // this.addreelimage = require.

        this.emptyReelImage =  require('../../../icons/20210604/icons/illustrations/collection_0.png').default;
        this.addReelImage = require('../../../icons/20210604/icons/illustrations/player2.png').default;
        this.checkedImage = require('../../../icons/20210604/icons/16px/check_circle_checked.png').default;
        this.uncheckedImage = require('../../../icons/20210604/icons/16px/check_circle_unchecked.png').default;
        this.tempSelectedReels = this.selectedReels
        this.getReels()
    },
    methods:{
        dismiss(){
            this.$emit("dismiss",{

            })
        },
        changeSwiper(index){
            if(this.swiperIndex !== index){
                this.swiperIndex = index
                let swiper = document.getElementById('mega-swiper').swiper;
                swiper.slideTo(index);
            }
        },
        swipeView(e){
            this.swiperIndex = e.activeIndex
        },
        getReels(){

            let that = this;
            if(this.loadFinish){
                Vue.$toast.open({
                    message: 'All your reels have been loaded! ',
                    position:"top-right",
                    type: 'info',
                });
            }else{
                axios.get('/creator/getReels',{
                    headers: { 'Accept':'application/json' }
                }).then(function (res) {
                    if(res.status === 200){
                        let temp = that.reels;
                        let tempReels = res.data.response.reels
                        tempReels.forEach(reel=>{
                            reel.checked = that.isReelSelected(reel.id)
                        })
                        that.reels = temp.concat(tempReels)
                        that.loadFinish = true;
                    }

                }).catch(function (err) {
                    //console.log(err.response)
                })
            }

        },
        uploadNewReel(){
          window.location.assign(`/reels/create?collection=${this.collectionId}`)
        },
        reachBottom(){
            this.getReels()
        },
        reachTop(){

        },
        isReelSelected(reelID){
          let selectedReel =   this.tempSelectedReels.filter(reel=>{return reel.id === reelID})
            return selectedReel.length > 0
        },
        getImageByPath(imagePath){
            return `/storage/${imagePath}`
        },
        reelClicked(index){
            let clickedReel = this.reels[index]
            let tempReels = this.reels
            clickedReel.checked = ! clickedReel.checked
            tempReels[index] = clickedReel
            this.reels = tempReels
        },
        clearSelectedReels(){
            this.tempSelectedReels = []
            this.reels.forEach(reel=>{
                reel.checked = false
            })
        },
        addSelectedToCollections(){
            let selectedReels = this.reels.filter(item=>{return item.checked === true})
            this.$emit('addToCollection',{
                selectedReels
            })
            this.dismiss()
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.add-reel-view{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black-blur ;
    z-index: 10;

    .add-reel-container{
        background-color: $neutral-bg2;
        min-width: 300px;
        padding: 35px ;
        margin-top: 40px;
        margin-bottom: 20px;
        position: relative;

        width: 874px;
        padding-bottom: 84px;
        .add-reel-title{
            text-align: left;
        }
        .add-reel-subtitle-section{
            margin-top: 24px;
        }
        .add-reel-subtitle-section{
            .add-reel-subtitle-section-item{
                width: 200px;
                color: $neutral-tagline;
                div{
                    border-bottom : 1px solid transparent;
                    width: fit-content;
                }

                &.active{
                    color: $neutral-text;
                    div{
                        border-bottom: 1px solid $neutral-text;
                        width: fit-content;
                    }

                }
            }
        }
        .swiper{
            .mega-swiper-slide{
                .reels-container{
                    min-height: 200px;
                    .reel-container{
                        min-height: 80px;
                        color: white;
                        margin-top: 8px;
                        padding: 12px;
                        border-radius: 10px;
                        margin-right: 30px;
                        &:hover{
                            background: $neutral-input;
                        }

                        &.checked{
                            border: 1px solid $primary-4;
                        }

                        .reel-container-image{
                            width: 106px;
                            height: 60px;
                        }
                        .reel-container-detail{
                            flex: 1;
                            margin-left: 12px;
                            .reel-container-detail-title{}
                            .reel-container-detail-description{
                                margin-top: 8px;
                                color: $neutral-tagline;
                            }
                        }
                        .reel-container-checkbox{
                            margin-right: 40px;
                            height: 16px;
                            width: 16px;
                        }
                        .reel-container-icon{
                            width: 24px;
                            height: 24px;
                            margin-right: 32px;
                        }
                    }
                }

                .mega-swiper-slide-add-reel{
                    padding-top: 50px;
                    padding-bottom: 50px;
                    .mega-swiper-slide-add-reel-image{
                        width: 226px;
                    }
                    .mega-swiper-slide-add-reel-description{
                        margin-top: 16px;
                        text-align: center;
                    }
                }

            }
        }
        .addreel-button-section{
            position: absolute;
            height: 84px;
            left: 0;
            bottom: 0;
            width: 100%;
            padding-left: 48px;
            padding-right: 48px;
            border-top: 1px solid $neutral-input;
        }
    }
}

@media only screen and (max-width: 900px) {
    .add-reel-view .add-reel-container {
        height: 74vh;
    }
}

@media only screen and (max-width: 576px) {
    .add-reel-view {
        .add-reel-container {
            padding: 16px 12px;

            .mega-solution-add-reel-dismiss-button {
                position: absolute;
                width: 24px;
                height: 24px;
                right: 12px;
                top: 12px;
                border-radius: 25px;
                text-align: center;;
                color: #FAFAFA;
                background-color: #565656;
            }
            .swiper {
                .mega-swiper-slide {
                    .mega-swiper-slide-add-reel {
                        .mega-swiper-slide-add-reel-image {
                            width: 50%;
                        }
                        .mega-swiper-slide-add-reel-description {
                            margin-bottom: 16px;
                        }
                    }
                    .reels-container {
                        .scrollbar-content {
                            .reel-container {
                                margin-right: 0;
                                .reel-container-image {
                                    width: 60px;
                                    height: 60px;
                                }

                                .reel-container-icon {
                                    margin: auto 4px;
                                }
                            }
                        }
                    }
                }
            }

            .addreel-button-section {
                padding: 16px 12px;
                .creatr-secondary-button-type-1 {
                    display: none;
                }
                .creatr-regular-button-type-2{
                    margin-left: unset !important;
                }
                .creatr-primary-button-regular:nth-child(2) {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .add-reel-view .add-reel-container {
        height: 76vh;
    }
}

@media only screen and (max-width: 374px) {
    .add-reel-view .add-reel-container {
        height: 80vh;
    }
}

</style>
