<template>
  <div class="reel-cell">
    <div class="reel-cell-thumbnail-container">
      <a :href="'/reels/' + reel.url_handle">
        <img
          v-lazy="getImage(reel.thumbnail)"
          alt="thumbnail"
          class="reel-cell-thumbnail"
        />
        <img
          v-lazy="getImage(reel.preview === '' ? reel.thumbnail : reel.preview)"
          alt="thumbnail"
          class="reel-cell-preview"
        />
      </a>

      <template
        v-if="reel.licences.length === 1 && reel.licences[0].is_free === true"
      >
        <div
          class="reel-cell-thumbnail-bottom-tag mega-solution-tiny-cap is-free-download-tag"
        >
          free download
        </div>
      </template>
      <template v-else-if="isNew">
        <div
          class="reel-cell-thumbnail-bottom-tag mega-solution-tiny-cap is-new-tag"
        >
          new
        </div>
      </template>

      <template v-if="!reel.is_creator">
        <div class="reel-cell-thumbnail-button-container">
          <template v-if="isInWishlist">
            <div
              class="reel-cell-thumbnail-button"
              @click.stop="removeFromWishlist()"
              :class="{ isDisable: isLoading }"
            >
              <img
                :src="wishlistedIcon"
                alt="wishlisted"
                class="reel-cell-thumbnail-button-icon"
              />
            </div>
          </template>
          <template v-else>
            <div
              class="reel-cell-thumbnail-button"
              @click.stop="addToWishlist()"
              :class="{ isDisable: isLoading }"
            >
              <img
                :src="wishlistIcon"
                alt="wishlist"
                class="reel-cell-thumbnail-button-icon"
              />
            </div>
          </template>

          <div
            class="reel-cell-thumbnail-button"
            @click.stop="displayQuickView()"
            :class="{ isDisable: isLoading }"
          >
            <img
              v-if="
                reel.licences.length === 1 && reel.licences[0].is_free === true
              "
              :src="downloadIcon"
              alt="download icon"
              class="reel-cell-thumbnail-button-icon"
            />
            <img
              v-else
              :src="cartIcon"
              alt="shopping cart"
              class="reel-cell-thumbnail-button-icon"
            />
          </div>
        </div>
      </template>
    </div>
    <div class="reel-cell-detail-section">
      <div
        class="reel-cell-detail-section-title mega-solution-body-heavy clamp-2"
      >
        {{ reel.title }}
      </div>
      <div class="reel-cell-detail-section-creator mega-solution-body-light">
        {{ `By ${reel.creator}` }}
      </div>
    </div>

    <template v-if="isQuickView">
      <MegaSolutionQuickViewModalComponent
        :reel="reel"
        @dismiss="dismissClicked"
      ></MegaSolutionQuickViewModalComponent>
    </template>
  </div>
</template>

<script>
import moment from "moment";
import MegaSolutionQuickViewModalComponent from "../MegaSolutionQuickViewModalComponent/MegaSolutionQuickViewModalComponent";

export default {
  name: "MegaSolutionWishlistReelCellComponent",
  components: { MegaSolutionQuickViewModalComponent },
  props: {
    reel: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      baseUrl: process.env.MIX_PUSHER_APP_URL,
      // default is true
      isInWishlist: true,
      wishlistIcon: "",
      wishlistedIcon: "",
      isLoading: false,
      isQuickView: false,
      downloadIcon: "",
      cartIcon: ""
    };
  },
  async created() {
    // this.isInWishlist = await this.getWishlistStatus();
  },
  mounted() {
    this.wishlistIcon = require("../../../icons/20210604/icons/16px/star_outlined_16px.png").default;
    this.wishlistedIcon = require("../../../icons/20210604/icons/24px/star_filled.png").default;
    this.cartIcon = require("../../../icons/20210604/icons/16px/shoppingcart_16px.png").default;
    this.downloadIcon = require("../../../icons/20210604/icons/16px/download_16px.png").default;
    this.isInWishlist = this.reel.is_in_wishlist;

  },
  computed: {
    isNew() {
      if (!this.reel.created_at) return false;
      const newDurationInDays = 7;
      const now = moment(new Date());
      const createdTime = moment(this.reel.created_at);
      const duration = moment.duration(now.diff(createdTime));
      const days = duration.asDays();
      const isNew = days <= newDurationInDays;

      return isNew;
    }
  },
  methods: {
    getImage(imagePath) {
      return `/storage/${imagePath}`;
    },
    // async getWishlistStatus() {
    //   const that = this;
    //   const data = {
    //     type: "reel",
    //     content_id: that.reel.id
    //   };
    //   try {
    //     const res = await axios.get("/wishlist/getItemFromWishlist", {
    //       params: data,
    //       headers: {
    //         Accept: "application/json"
    //       }
    //     });
    //     if (res.status === 200 && res.data.msg === "true") {
    //       return true;
    //     }
    //   } catch {
    //     console.error(error);
    //   }
    // },
    addToWishlist() {
      const that = this;
      that.isLoading = true;
      const data = {
        content_id: this.reel.id,
        type: "reel"
      };

      axios
        .post("/wishlist/addToWishlist", data)
        .then(res => {
          if (res.status === 200) {
            that.isInWishlist = true;
            Vue.$toast.open({
              message: "Added To Your Wishlist! ",
              position: "bottom",
              type: "success"
            });
          }
        })
        .catch(err => {
          if (err.response.status === 401) {
            Vue.$toast.open({
              message: "Please log in first! ",
              position: "bottom",
              type: "error"
            });
          }

          if (err.response.status === 403) {
            console.log(err.response.data);
            Vue.$toast.open({
              message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
              position: "bottom",
              type: "error"
            });
          }
        })
        .finally(() => {
          that.isLoading = false;
        });
    },
    removeFromWishlist() {
      const that = this;
      that.isLoading = true;
      const data = {
        content_id: this.reel.id,
        type: "reel"
      };

      axios
        .post("/wishlist/removeFromWishlist", data)
        .then(res => {
          if (res.status === 200) {
            that.isInWishlist = false;

            Vue.$toast.open({
              message: "Removed From Your Wishlist! ",
              position: "bottom",
              type: "success"
            });
          }
        })
        .catch(err => {
          if (err.response.status === 401) {
            Vue.$toast.open({
              message: "Please log in first! ",
              position: "bottom",
              type: "error"
            });
          }

          if (err.response.status === 403) {
            console.log(err.response.data);
            Vue.$toast.open({
              message: err.response.data.response ? err.response.data.response.msg : err.response.data.message,
              position: "bottom",
              type: "error"
            });
          }
        })
        .finally(() => {
          that.isLoading = false;
        });
    },
    displayQuickView() {
      this.isQuickView = true;
    },
    dismissClicked() {
      this.isQuickView = false;
    }
  }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.reel-cell {
  .reel-cell-thumbnail-container {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
    &:hover {
      .reel-cell-thumbnail {
        opacity: 0;
        transition: all 0.8s ease-in-out;
      }

      .reel-cell-preview {
        opacity: 1;
        filter: brightness(40%);
        transition: all 0.8s ease-in-out;
      }

      .reel-cell-thumbnail-bottom-tag {
        filter: brightness(40%);
        transition: all 0.8s ease-in-out;
      }

      .reel-cell-thumbnail-button-container {
        display: flex;
      }
    }

    .reel-cell-thumbnail-bottom-tag {
      position: absolute;
      bottom: 16px;
      left: 16px;
      padding: 0;
      text-transform: uppercase;
      transition: all 0.8s ease-in-out;
    }

    .is-free-download-tag {
      height: 20px;
      border-radius: 16px;
      padding: 4px 8px;
      background-color: $accent-3;
      color: $neutral-bg2;
    }

    .is-new-tag {
      height: 20px;
      border-radius: 16px;
      padding: 4px 8px;
      background-color: $secondary-5;
      color: $neutral-bg2;
    }

    .reel-cell-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: all 0.8s ease-in-out;
    }

    .reel-cell-preview {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      //display: none;
      opacity: 0;
      transition: all 0.8s ease-in-out;
    }

    .reel-cell-thumbnail-button-container {
      display: none;
      position: absolute;
      bottom: 16px;
      right: 16px;
      flex-direction: column;
      gap: 8px;

      .reel-cell-thumbnail-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        width: 32px;
        height: 32px;

        .reel-cell-thumbnail-button-icon {
          width: 16px;
          height: 16px;
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      .isDisable {
        pointer-events: none;
        filter: brightness(0.4);
      }
    }
  }

  .reel-cell-detail-section {
    margin-top: 16px;

    .reel-cell-detail-section-creator {
      font-size: 14px;
      color: rgba(250, 250, 250, 0.7);
      line-height: 18px;
      margin-top: 4px;
    }
  }
}

@media screen and (max-width: 1025px) {
  .reel-cell {
    .reel-cell-thumbnail-container {
      .reel-cell-thumbnail-button-container {
        display: flex;
      }
    }
  }
}
</style>
