<template>
    <div class="profile-payout-container">
        <template v-if="payoutMethod != null">

            <div class="profile-payout-container-method mega-solution-horizontal-start">
                <img :src="bankImage" alt="bank" class="profile-payout-container-method-image">
                <div class="mega-solution-body-heavy profile-payout-container-method-description">Account number ending in {{payoutMethod.last_four}}</div>
                <button class="creatr-primary-button-regular edit-button" @click="editPayoutMethodMode = true">Edit</button>
            </div>

             <div class="profile-payout-container-verify-view mega-solution-vertical-center" v-if="!payoutMethod.profile_provided">
                 <verify-profile-component :payout-method="payoutMethod" @reload="reload"></verify-profile-component>
            </div>
            <div v-else>
                <div class="mega-solution-horizontal-start verified-statement">
                    <img :src="verifyImage" alt="verified" class="verified-image">
                    <div class="mega-solution-cap-light">Photo ID uploaded. It’s stored securely in Stripe.</div>
                </div>
            </div>

        </template>
        <template v-else>
            <div class="profile-payout-empty-container">
                <div class="profile-payout-empty-container-inner mega-solution-vertical-center">
                    <div class="profile-payout-empty-container-description mega-solution-p3-light">
                        You have to setup your payout method before selling any product on Creatr.
                    </div>
                    <button class="profile-payout-empty-container-button creatr-primary-button-regular" @click="addPayoutMethodMode=true">Set up payout method</button>
                </div>
            </div>
        </template>
        <template v-if="addPayoutMethodMode">
            <add-payout-method-component @dismiss="dismiss" @reload="reload"></add-payout-method-component>
        </template>
        <template v-if="editPayoutMethodMode">
            <add-payout-method-component @dismiss="dismiss" @reload="reload" mode="EDIT" ></add-payout-method-component>
        </template>

    </div>

</template>

<script>
import AddPayoutMethodComponent
    from "../MegaSolutionAddPayoutMethodComponent/MegaSolutionAddPayoutMethodComponent";
import VerifyProfileComponent
    from "../MegaSolutionVefiryProfileComponent/MegaSolutionVerifyProfileComponent";
export default {
    name: "MegaSolutionProfilePayoutMethods.vue",
    components:{
        AddPayoutMethodComponent,
        VerifyProfileComponent
    },
    data(){
        return{
            bankImage:"",
            payoutMethod:null,
            addPayoutMethodMode:false,
            editPayoutMethodMode:false,
            verifyImage:"",
        }
    },
    mounted() {
        this.getPayoutMethod()
        this.bankImage = require("../../../icons/20211121/bank.png").default
        this.verifyImage = require("../../../icons/20211121/verify_white.png").default
    },
    methods:{
        dismiss(e){
            //console.log("dismiss e",e)
            this.addPayoutMethodMode = false
            this.editPayoutMethodMode = false
        },
        reload(e){
            this.addPayoutMethodMode = false
            this.editPayoutMethodMode = false
            this.getPayoutMethod()
        },
        getPayoutMethod(){
            let that = this;
            axios.get("/payout/getAccount",{
                params: {},
                headers: {
                    Accept: "application/json"
                }
            }).then(function (res) {
                if (res.status === 200){
                    that.payoutMethod = res.data.response.payoutMethod
                }
                //console.log("retrieve",res)
            }).catch(function (err) {
                //console.log("err",err)
            })
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.profile-payout-container{
    margin-bottom: 80px;
    max-width: 539px;
    .profile-payout-container-method{
        height: 72px;
        background-color: $neutral-bg4;
        padding: 0px 24px;
        border-radius: 8px;
        margin-top: 32px;
        .profile-payout-container-method-image{
            width: 24px;
            height: 24px;
        }
        .profile-payout-container-method-description{
            flex: 1;
            margin-left: 8px;
        }
        .edit-button{
            width: 60px;
            min-width: 60px;
        }

    }
    //.profile-payout-container-verify-container{
    //    margin-top: 24px;
    //    padding: 32px 24px 16px 24px;
    //    .profile-payout-container-verify-container-icon{
    //        width: 32px;
    //        height: 32px;
    //    }
    //}

    .profile-payout-empty-container{
        background-color: $neutral-bg4;
        max-width: 539px;
        max-height: 204px;
        width: 100%;
        margin-top: 56px;
        padding: 56px;

        .profile-payout-empty-container-inner{
            margin: auto;
            width: 259px;
            .profile-payout-empty-container-description{

                color: $neutral-tagline;
                text-align: center;

            }
            .profile-payout-empty-container-button{

                margin-top: 16px;
            }
        }

    }
    .verified-statement{
        margin-top: 16px;
        .verified-image{
            margin-right: 8px;
            height: 16px;
            width: 16px;
        }
    }

}

@media screen and (max-width: 576px) {
    .profile-payout-container .profile-payout-container-method{
        flex-wrap: wrap;
    }
    .profile-payout-container .profile-payout-container-method .edit-button{
        width: 100%;
        margin-top: 12px;
    }
}

</style>
