<template>
    <div class="container pt-10 order-history-container">
        <div class="container pt-4 px-5">
            <div class="order-history-container-top-section">
                <div
                    class="order-history-container-top-section-title mega-solution-h3"
                >
                    Purchase History
                </div>
            </div>

            <template v-if="isLoading">
                <div class="loading-container ">
                    <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
                </div>
            </template>
            <template v-else>
                <div
                    class="order-history-container-category-section mega-solution-horizontal-start"
                >
                    <div
                        class="order-history-container-category-section-item mega-solution-horizontal-start"
                    >
                        <div
                            class="mega-solution-sub-heavy order-history-container-menu-item-title"
                        >
                            Reels
                        </div>
                        <div
                            class="mega-solution-body-light order-history-container-menu-item-num"
                        >
                            {{ orders.total }}
                        </div>
                    </div>
                    <template v-if="isMobile">
                        <div
                            class="order-history-container-category-section-item-filter"
                            @click.prevent.stop="showMobileFilters"
                        >
                            <img
                                :src="filterIcon"
                                alt="filter"
                                class=" section-filter-button-icon"
                            />
                            Filters
                        </div>
                        <template v-if="isMobileFilterOn">
                            <div class="order-history-container-filter-modal">
                                <div class="order-history-container-filter">
                                    <img
                                        :src="closeIcon"
                                        alt="close"
                                        class="modal-view-container-dismiss-button"
                                        @click.prevent.stop="showMobileFilters"
                                    />
                                    <div
                                        class="order-history-container-modal-title mega-solution-sub-heavy"
                                    >
                                        Filters
                                    </div>
                                    <div
                                        class="order-history-container-top-filter"
                                    >
                                        <div
                                            class="mega-solution-cap-heavy order-history-container-filter-title"
                                        >
                                            Select creator
                                        </div>
                                        <select
                                            name="creators"
                                            id="orderCreators"
                                            class="creatr-select mega-solution-body-light creatr-reel-detail-section-container-select"
                                            v-model="orderSelectedCreator"
                                        >
                                            <option
                                                :value="-1"
                                                class="creatr-select-option mega-solution-body-light"
                                                >All creators</option
                                            >
                                            <template
                                                v-for="creator in creators"
                                            >
                                                <option
                                                    :value="creator.id"
                                                    :key="creator.id"
                                                    class="creatr-select-option mega-solution-body-light"
                                                    >{{ creator.name }}</option
                                                >
                                            </template>
                                        </select>
                                    </div>
                                    <div
                                        class="order-history-container-bottom-filter"
                                    >
                                        <div
                                            class="mega-solution-cap-heavy order-history-container-filter-title"
                                        >
                                            Select time period
                                        </div>
                                        <div
                                            class="order-history-container-date-filters"
                                        >
                                            <div class="date-picker-section">
                                                <Datepicker
                                                    v-model="fromDate"
                                                    format="dd-MMM-yyyy"
                                                    placeholder="From"
                                                    :input-class="
                                                        addClassList('from')
                                                    "
                                                    :clear-button="true"
                                                ></Datepicker>
                                            </div>
                                            <div class="date-picker-section">
                                                <Datepicker
                                                    v-model="toDate"
                                                    format="dd-MMM-yyyy"
                                                    placeholder="To"
                                                    :input-class="
                                                        addClassList('to')
                                                    "
                                                    :clear-button="true"
                                                ></Datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="mega-solution-horizontal-center apply-filter-button"
                                >
                                    <button
                                        type="submit"
                                        class="creatr-primary-button-regular"
                                        @click.stop="applyFilterClick"
                                        :disabled="isLoading"
                                    >
                                        Apply
                                    </button>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>

                <template v-if="!isMobile">
                    <div
                        class="order-history-container-filter mega-solution-horizontal-center justify-content-between align-items-center"
                    >
                        <div class="order-history-container-left-filter">
                            <select
                                name="creators"
                                id="orderCreators"
                                class="creatr-select mega-solution-body-light creatr-reel-detail-section-container-select"
                                v-model="orderSelectedCreator"
                            >
                                <option
                                    :value="-1"
                                    class="creatr-select-option mega-solution-body-light"
                                    >All creators</option
                                >
                                <template v-for="creator in creators">
                                    <option
                                        :value="creator.id"
                                        :key="creator.id"
                                        class="creatr-select-option mega-solution-body-light"
                                        >{{ creator.name }}</option
                                    >
                                </template>
                            </select>
                        </div>
                        <div class="order-history-container-right-filter">
                            <div class="mega-solution-cap-heavy">
                                Select time period
                            </div>
                            <div class="date-picker-section">
                                <Datepicker
                                    v-model="fromDate"
                                    format="dd-MMM-yyyy"
                                    placeholder="From"
                                    :input-class="addClassList('from')"
                                    :clear-button="true"
                                ></Datepicker>
                            </div>
                            <div class="date-picker-section">
                                <Datepicker
                                    v-model="toDate"
                                    format="dd-MMM-yyyy"
                                    placeholder="To"
                                    :input-class="addClassList('to')"
                                    :clear-button="true"
                                ></Datepicker>
                            </div>
                            <div
                                class="mega-solution-horizontal-center apply-filter-button"
                            >
                                <button
                                    type="submit"
                                    class="creatr-primary-button-regular"
                                    @click.stop="getMyOrders"
                                    :disabled="isLoading"
                                >
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                </template>

                <mega-solution-order-list-component
                    :order-items="orders.data"
                    :is-mobile="isMobile"
                ></mega-solution-order-list-component>

                <div class="order-history-container-pagination">
                    <pagination
                        :data="orders"
                        @pagination-change-page="getMyOrders"
                        :limit="1"
                        align="right"
                    ></pagination>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import MegaSolutionOrderListComponent from "../MegaSolutionOrderListComponent/MegaSolutionOrderListComponent";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";
import Datepicker from "vuejs-datepicker";
import moment from "moment";

import axios from "axios";

export default {
    components: {
        MegaSolutionOrderListComponent,
        MegaSolutionLoaddingComponent,
        Datepicker
    },
    name: "MegaSolutionOrderHistoryPageComponent",
    props: {},
    data() {
        return {
            orders: {},
            isLoading: false,
            orderSelectedCreator: -1,
            creators: [],
            fromDate: null,
            toDate: null,
            errors: null,
            status: null,
            filterClass: "mega-solution-order-history-filter-input",
            isMobile: false,
            isMobileFilterOn: false,
            closeIcon: "",
            filterIcon: ""
        };
    },
    created() {
        const windowWidth = window.innerWidth;
        if (windowWidth < 576) {
            this.isMobile = true;
        }
    },
    async mounted() {
        this.closeIcon = require("../../../icons/20210604/icons/16px/cancel_heavy.png").default;
        this.filterIcon = require("../../../icons/20210604/icons/16px/filter2.png").default;

        await this.getMyOrders();
        await this.getAllCreators();
    },
    methods: {
        convertLocalDateToUTCDate(localDate, dateType) {
            const fmt = "YYYY-MM-DD HH:mm:ss";
            const endingTime = dateType === "from" ? "00:00:00" : "23:59:59";
            const utcDate = moment(`${localDate} ${endingTime}`)
                .utc()
                .format(fmt);

            return utcDate;
        },
        async applyFilterClick() {
            this.showMobileFilters();
            await this.getMyOrders();
        },
        async getMyOrders(page = 1) {
            const that = this;
            that.errors = null;
            that.isLoading = true;

            const formatedFromDate =
                that.fromDate &&
                that.convertLocalDateToUTCDate(
                    moment(that.fromDate).format("YYYY-MM-DD"),
                    "from"
                );
            const formatedToDate =
                that.toDate &&
                that.convertLocalDateToUTCDate(
                    moment(that.toDate).format("YYYY-MM-DD"),
                    "to"
                );

            const data = {
                page,
                orderSelectedCreator: that.orderSelectedCreator,
                from: formatedFromDate,
                to: formatedToDate
            };

            axios
                .get(`/order/myOrders`, {
                    params: data,
                    headers: {
                        Accept: "application/json"
                    }
                })
                .then(response => {
                    that.status = response.status;
                    const responseOrders = response.data.response.orders;
                    that.orders = responseOrders;
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        that.errors = error.response.data.errors;
                        if (that.errors["from"]) {
                            that.errors["from"].forEach(err => {
                                Vue.$toast.open({
                                    message: err,
                                    position: "bottom",
                                    type: "error"
                                });
                            });
                        }

                        if (that.errors["to"]) {
                            that.errors["to"].forEach(err => {
                                Vue.$toast.open({
                                    message: err,
                                    position: "bottom",
                                    type: "error"
                                });
                            });
                        }
                    }

                    that.status = error.response.status;
                })
                .finally(() => {
                    that.isLoading = false;
                });
        },
        async getAllCreators() {
            const that = this;
            axios
                .get("/order/getMyOrdersAllCreators")
                .then(response => {
                    const users = response.data.response.users;
                    const uniqueUsers = users.reduce((acc, current) => {
                        const isExist = acc.find(
                            item => item.id === current.id
                        );
                        if (!isExist) {
                            return acc.concat([current]);
                        } else {
                            return acc;
                        }
                    }, []);
                    that.creators = uniqueUsers;
                })
                .catch(error => console.error(error));
        },
        errorFor(field) {
            // Get error for different field ('from' or 'to)
            return this.hasErrors && this.errors[field]
                ? this.errors[field]
                : null;
        },
        addClassList(field) {
            const staticClass = "mega-solution-order-history-filter-input";
            return this.hasErrors && this.errors[field]
                ? `${staticClass} is-invalid`
                : "mega-solution-order-history-filter-input";
        },
        showMobileFilters() {
            this.isMobileFilterOn = !this.isMobileFilterOn;
        }
    },
    computed: {
        hasErrors() {
            return this.status === 422 && this.errors !== null;
        }
    }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.order-history-container {
    padding-bottom: 64px;
    .loading-container {
        width: 300px;
        margin: auto;
    }

    .order-history-container-top-section {
        margin-bottom: 40px;
    }

    .order-history-container-category-section {
        margin-top: 48px;
        margin-bottom: 32px;

        .order-history-container-category-section-item {
            gap: 8px;
            padding-bottom: 8px;
            border-bottom: 1px solid $neutral-text;

            .order-history-container-menu-item-title {
                color: $neutral-text;
            }

            .order-history-container-menu-item-num {
                color: $neutral-tagline;
            }
        }
    }

    .order-history-container-filter {
        margin-bottom: 24px;
        .order-history-container-left-filter {
        }

        .order-history-container-right-filter {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;

            .date-picker-section {
                /* padding: 0 10px; */

                &.is-invalid {
                    border: 1px solid #b22222;
                }
            }

            .apply-filter-button {
                .creatr-primary-button-regular {
                    min-width: 76px;
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .order-history-container {
        padding-top: 76px;
        & > .container {
            padding: 0 !important;
        }
        .order-history-container-top-section {
            margin-bottom: 16px;
        }
        .order-history-container-category-section {
            justify-content: space-between;
            margin-bottom: 0;
            margin-top: 0;
            .order-history-container-category-section-item-filter {
                padding: 4px 12px;
                background-color: $neutral-input;
                border: 1px solid rgba(250, 250, 250, 0.7);
                color: $neutral-text;
                border-radius: 4px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                .section-filter-button-icon {
                    width: 18px;
                    height: 18px;
                    margin-right: 4px;
                }
            }
        }
        .order-history-container-filter-modal {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $neutral-bg3;
            z-index: 999;
            padding: 24px 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .order-history-container-filter {
                position: relative;
                .modal-view-container-dismiss-button {
                    position: absolute;
                    top: 0;
                    right: 16px;
                    transform: translate(50%, -25%);
                    width: 32px;
                    height: 32px;
                    border-radius: 50px;
                    background-color: #565656;
                    cursor: pointer;
                    padding: 8px;
                }

                .order-history-container-modal-title {
                    margin-bottom: 36px;
                    font-size: 20px !important;
                    line-height: 24px !important;
                }

                .order-history-container-top-filter {
                    .order-history-container-filter-title {
                        margin-bottom: 8px;
                    }
                    select {
                        width: 100%;
                    }
                }

                .order-history-container-bottom-filter {
                    margin-top: 32px;
                    .order-history-container-filter-title {
                        margin-bottom: 8px;
                    }
                    .order-history-container-date-filters {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }
                }
            }
            .apply-filter-button {
                width: 100%;
                button {
                    width: 100%;
                }
            }
        }
    }
}
</style>
