<template>
    <div class="container-fluid pt-10 transaction-history-container">
        <div class="container-fluid pt-4 px-5">
            <div class="transaction-history-container-top-section">
                <div
                    class="transaction-history-container-top-section-title mega-solution-h3"
                >
                    Seller History
                </div>
            </div>

            <template v-if="isLoading">
                <div class="loading-container ">
                    <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
                </div>
            </template>
            <template v-else>
                <template v-if="!isEarningsLoading">
                    <p class="earnings-title mega-solution-h4">
                        Earnings
                    </p>
                    <div
                        class="row transaction-history-container-earnings-section"
                    >
                        <div class="col-6 col-sm-3">
                            <div
                                class="transaction-history-container-earnings-section-item"
                            >
                                <div
                                    class="transaction-history-container-earnings-section-item-date"
                                >
                                    PAST 7 DAYS
                                </div>
                                <div
                                    class="transaction-history-container-earnings-section-item-money"
                                >
                                    {{
                                        convertCentsToDollar(
                                            revenue.days.revenue
                                        )
                                    }}
                                </div>
                                <div
                                    class="transaction-history-container-earnings-section-item-records"
                                >
                                    {{ revenue.days.transactions }} transactions
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3">
                            <div
                                class="transaction-history-container-earnings-section-item"
                            >
                                <div
                                    class="transaction-history-container-earnings-section-item-date"
                                >
                                    PAST 30 DAYS
                                </div>
                                <div
                                    class="transaction-history-container-earnings-section-item-money"
                                >
                                    {{
                                        convertCentsToDollar(
                                            revenue.month.revenue
                                        )
                                    }}
                                </div>
                                <div
                                    class="transaction-history-container-earnings-section-item-records"
                                >
                                    {{ revenue.month.transactions }}
                                    transactions
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3">
                            <div
                                class="transaction-history-container-earnings-section-item"
                            >
                                <div
                                    class="transaction-history-container-earnings-section-item-date"
                                >
                                    THIS YEAR
                                </div>
                                <div
                                    class="transaction-history-container-earnings-section-item-money"
                                >
                                    {{
                                        convertCentsToDollar(
                                            revenue.thisYear.revenue
                                        )
                                    }}
                                </div>
                                <div
                                    class="transaction-history-container-earnings-section-item-records"
                                >
                                    {{ revenue.thisYear.transactions }}
                                    transactions
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3">
                            <div
                                class="transaction-history-container-earnings-section-item"
                            >
                                <div
                                    class="transaction-history-container-earnings-section-item-date"
                                >
                                    ALL TIME
                                </div>
                                <div
                                    class="transaction-history-container-earnings-section-item-money"
                                >
                                    {{
                                        convertCentsToDollar(
                                            revenue.allTime.revenue
                                        )
                                    }}
                                </div>
                                <div
                                    class="transaction-history-container-earnings-section-item-records"
                                >
                                    {{ revenue.allTime.transactions }}
                                    transactions
                                </div>
                            </div>
                        </div>
                    </div>
                </template>

                <div
                    class="transaction-history-container-category-section mega-solution-horizontal-start"
                >
                    <div
                        class="transaction-history-container-category-section-item mega-solution-horizontal-start mega-solution-h4"
                    >
                        Transaction list
                    </div>
                    <template v-if="isMobile">
                        <!-- For Mobile View -->
                        <div
                            class="transaction-history-container-category-section-item-filter"
                            @click.prevent.stop="showMobileFilters"
                        >
                            <img
                                :src="filterIcon"
                                alt="filter"
                                class=" section-filter-button-icon"
                            />
                            {{
                                checkedTypes.length > 0
                                    ? `Filters(${checkedTypes.length})`
                                    : "Filters"
                            }}
                        </div>
                        <template v-if="isMobileFilterOn">
                            <div
                                class="transaction-history-container-filter-modal"
                            >
                                <div
                                    class="mobile-transaction-history-container-filter"
                                >
                                    <img
                                        :src="closeIcon"
                                        alt="close"
                                        class="modal-view-container-dismiss-button"
                                        @click.prevent.stop="showMobileFilters"
                                    />
                                    <div
                                        class="mobile-transaction-history-container-modal-title mega-solution-sub-heavy"
                                    >
                                        Filters
                                    </div>
                                    <div
                                        class="transaction-history-container-top-filter"
                                    >
                                        <div
                                            class="mega-solution-cap-heavy mobile-transaction-history-container-filter-title"
                                        >
                                            Select license type
                                        </div>
                                        <div
                                            class="transaction-history-filter-button"
                                            @click.stop.prevent="
                                                showTypeFilterModal
                                            "
                                        >
                                            {{
                                                checkedTypes.length === 0
                                                    ? "Select All Types"
                                                    : checkedTypes.length === 1
                                                    ? "1 type selected"
                                                    : checkedTypes.length === 2
                                                    ? "2 types selected"
                                                    : "3 types selected"
                                            }}
                                            <i class="arrow down"></i>
                                        </div>
                                        <template v-if="showTypeFilter">
                                            <div
                                                class="modal-view"
                                                @click.stop.prevent="
                                                    showTypeFilterModal
                                                "
                                            ></div>
                                            <div
                                                class="transaction-history-filter-modal"
                                            >
                                                <template
                                                    v-for="(type, id) in types"
                                                >
                                                    <div
                                                        class="checkbox-item"
                                                        :key="id"
                                                    >
                                                        <input
                                                            type="checkbox"
                                                            :id="type.id"
                                                            :value="type.id"
                                                            v-model="
                                                                checkedTypes
                                                            "
                                                        />
                                                        <label :for="type.id">{{
                                                            type.type
                                                        }}</label>
                                                    </div>
                                                </template>
                                            </div>
                                        </template>
                                    </div>
                                    <div
                                        class="mobile-transaction-history-container-bottom-filter"
                                    >
                                        <div
                                            class="mega-solution-cap-heavy mobile-transaction-history-container-filter-title"
                                        >
                                            Select time period
                                        </div>
                                        <div
                                            class="mobile-transaction-history-container-date-filters"
                                        >
                                            <div class="date-picker-section">
                                                <Datepicker
                                                    v-model="fromDate"
                                                    format="dd-MMM-yyyy"
                                                    placeholder="From"
                                                    :input-class="
                                                        addClassList('from')
                                                    "
                                                    :clear-button="true"
                                                ></Datepicker>
                                            </div>
                                            <div class="date-picker-section">
                                                <Datepicker
                                                    v-model="toDate"
                                                    format="dd-MMM-yyyy"
                                                    placeholder="To"
                                                    :input-class="
                                                        addClassList('to')
                                                    "
                                                    :clear-button="true"
                                                ></Datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="mega-solution-horizontal-center apply-filter-button"
                                >
                                    <button
                                        type="submit"
                                        class="creatr-primary-button-regular"
                                        @click.stop="applyFilterClick"
                                        :disabled="isLoading"
                                    >
                                        Apply
                                    </button>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>

                <template v-if="!isMobile">
                    <div
                        class="transaction-history-container-filter mega-solution-horizontal-center justify-content-between align-items-center"
                    >
                        <div class="transaction-history-container-left-filter">
                            <div
                                class="transaction-history-filter-button"
                                @click.stop.prevent="showTypeFilterModal"
                            >
                                {{
                                    checkedTypes.length === 0
                                        ? "Select All Types"
                                        : checkedTypes.length === 1
                                        ? "1 type selected"
                                        : checkedTypes.length === 2
                                        ? "2 types selected"
                                        : "3 types selected"
                                }}
                                <i class="arrow down"></i>
                            </div>
                            <template v-if="showTypeFilter">
                                <div
                                    class="modal-view"
                                    @click.stop.prevent="showTypeFilterModal"
                                ></div>
                                <div class="transaction-history-filter-modal">
                                    <template v-for="(type, id) in types">
                                        <div class="checkbox-item" :key="id">
                                            <input
                                                type="checkbox"
                                                :id="type.id"
                                                :value="type.id"
                                                v-model="checkedTypes"
                                            />
                                            <label :for="type.id">{{
                                                type.type
                                            }}</label>
                                        </div>
                                    </template>
                                </div>
                            </template>
                        </div>
                        <div class="transaction-history-container-right-filter">
                            <div class="mega-solution-cap-heavy">
                                Select time period
                            </div>
                            <div class="date-picker-section">
                                <Datepicker
                                    v-model="fromDate"
                                    format="dd-MMM-yyyy"
                                    placeholder="From"
                                    :input-class="addClassList('from')"
                                    :clear-button="true"
                                ></Datepicker>
                            </div>
                            <div class="date-picker-section">
                                <Datepicker
                                    v-model="toDate"
                                    format="dd-MMM-yyyy"
                                    placeholder="To"
                                    :input-class="addClassList('to')"
                                    :clear-button="true"
                                ></Datepicker>
                            </div>
                            <div
                                class="mega-solution-horizontal-center apply-filter-button"
                            >
                                <button
                                    type="submit"
                                    class="creatr-primary-button-regular"
                                    @click.stop="getMyTransactions"
                                    :disabled="isLoading"
                                >
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                </template>

                <mega-solution-transaction-list-component
                    :transaction-items="transactions.data"
                    :is-mobile="isMobile"
                ></mega-solution-transaction-list-component>

                <div class="transaction-history-container-pagination">
                    <pagination
                        :data="transactions"
                        @pagination-change-page="getMyTransactions"
                        :limit="1"
                        align="right"
                    ></pagination>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import MegaSolutionTransactionListComponent from "../MegaSolutionTransactionListComponent/MegaSolutionTransactionListComponent";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";
import Datepicker from "vuejs-datepicker";
import moment from "moment";

import axios from "axios";

export default {
    components: {
        MegaSolutionTransactionListComponent,
        MegaSolutionLoaddingComponent,
        Datepicker
    },
    name: "MegaSolutionTransactionHistoryPageComponent",
    props: {},
    data() {
        return {
            transactions: {},
            revenue: {},
            isEarningsLoading: true,
            isLoading: false,
            types: [],
            fromDate: null,
            toDate: null,
            errors: null,
            status: null,
            filterClass: "mega-solution-order-history-filter-input",
            checkedTypes: [],
            showTypeFilter: false,
            isMobile: false,
            isMobileFilterOn: false,
            closeIcon: "",
            filterIcon: ""
        };
    },
    created() {
        const windowWidth = window.innerWidth;
        if (windowWidth < 576) {
            this.isMobile = true;
        }
    },
    async mounted() {
        this.closeIcon = require("../../../icons/20210604/icons/16px/cancel_heavy.png").default;
        this.filterIcon = require("../../../icons/20210604/icons/16px/filter2.png").default;

        await this.getMyTransactions();
        await this.getAllLicenceTypes();
        await this.getMyRevenue();
    },
    methods: {
        convertLocalDateToUTCDate(localDate, dateType) {
            const fmt = "YYYY-MM-DD HH:mm:ss";
            const endingTime = dateType === "from" ? "00:00:00" : "23:59:59";
            const utcDate = moment(`${localDate} ${endingTime}`)
                .utc()
                .format(fmt);

            return utcDate;
        },
        showMobileFilters() {
            this.isMobileFilterOn = !this.isMobileFilterOn;
        },
        async applyFilterClick() {
            this.showMobileFilters();
            await this.getMyTransactions();
        },
        async getMyTransactions(page = 1) {
            const that = this;
            that.errors = null;
            that.isLoading = true;

            const formatedFromDate =
                that.fromDate &&
                that.convertLocalDateToUTCDate(
                    moment(that.fromDate).format("YYYY-MM-DD"),
                    "from"
                );
            const formatedToDate =
                that.toDate &&
                that.convertLocalDateToUTCDate(
                    moment(that.toDate).format("YYYY-MM-DD"),
                    "to"
                );

            const data = {
                page,
                checkedTypes: that.checkedTypes,
                from: formatedFromDate,
                to: formatedToDate
            };

            axios
                .get(`/transaction/myPayoutTransactions`, {
                    params: data,
                    headers: {
                        Accept: "application/json"
                    }
                })
                .then(response => {
                    that.status = response.status;
                    const responseTransactions =
                        response.data.response.transactions;
                    that.transactions = responseTransactions;
                    // console.log(that.transactions);
                })
                .catch(error => {
                    console.error(error);
                    if (error.response.status === 422) {
                        that.errors = error.response.data.errors;
                        if (that.errors["from"]) {
                            that.errors["from"].forEach(err => {
                                Vue.$toast.open({
                                    message: err,
                                    position: "bottom",
                                    type: "error"
                                });
                            });
                        }

                        if (that.errors["to"]) {
                            that.errors["to"].forEach(err => {
                                Vue.$toast.open({
                                    message: err,
                                    position: "bottom",
                                    type: "error"
                                });
                            });
                        }
                    }

                    that.status = error.response.status;
                    // console.log(that.status);
                })
                .finally(() => {
                    that.isLoading = false;
                });
        },
        // TODO: filters
        async getAllLicenceTypes() {
            const that = this;
            axios
                .get("/transaction/getMyTransactionAllTypes")
                .then(response => {
                    const data = response.data.response;
                    that.types = data.types;
                })
                .catch(error => console.error(error));
        },
        async getMyRevenue() {
            const that = this;
            axios
                .get(`/transaction/myPayoutRevenue`)
                .then(res => {
                    that.revenue = res.data.response.revenue;
                    that.isEarningsLoading = false;
                })
                .catch(error => console.error(error));
        },
        convertCentsToDollar(cents) {
            return (cents / 100).toLocaleString("en-US", {
                style: "currency",
                currency: "USD"
            });
        },
        errorFor(field) {
            // Get error for different field ('from' or 'to)
            return this.hasErrors && this.errors[field]
                ? this.errors[field]
                : null;
        },
        addClassList(field) {
            const staticClass = "mega-solution-order-history-filter-input";
            return this.hasErrors && this.errors[field]
                ? `${staticClass} is-invalid`
                : "mega-solution-order-history-filter-input";
        },
        showTypeFilterModal() {
            this.showTypeFilter = !this.showTypeFilter;
        }
    },
    computed: {
        hasErrors() {
            return this.status === 422 && this.errors !== null;
        }
    }
};
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.transaction-history-container {
    padding-bottom: 64px;

    .loading-container {
        width: 300px;
        margin: auto;
    }

    .transaction-history-container-top-section {
        margin-bottom: 40px;
    }

    .earnings-title {
    }
    .transaction-history-container-category-section {
        margin-top: 96px;
        margin-bottom: 32px;

        .transaction-history-container-category-section-item {
            color: $neutral-text;
        }
    }

    .transaction-history-container-earnings-section {
        .transaction-history-container-earnings-section-item {
            background-color: $neutral-bg2;
            color: $neutral-text;
            padding: 24px 40px;

            .transaction-history-container-earnings-section-item-date {
                color: $neutral-text;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 1px;
                font-family: $font-family;
                margin-bottom: 16px;
            }
            .transaction-history-container-earnings-section-item-money {
                font-size: 32px;
                line-height: 40px;
                font-weight: 400;
                letter-spacing: -0.5px;
                font-family: $font-family;
                margin-bottom: 4px;
            }
            .transaction-history-container-earnings-section-item-records {
                font-family: $font-family;
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                letter-spacing: 0.1px;
                color: $neutral-text;
            }
        }
    }

    .transaction-history-container-filter {
        flex-wrap: wrap;
        gap: 10px;
        .transaction-history-container-left-filter {
            position: relative;

            .transaction-history-filter-button {
                padding: 6px 12px;
                background-color: $neutral-input;
                color: $neutral-tagline;
                min-width: 203px;
                border-radius: 4px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .arrow {
                    border: solid $neutral-tagline;
                    border-width: 0 1px 1px 0;
                    padding: 4px;
                }
                .down {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }
            .modal-view {
                position: fixed;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 50;
                background-color: rgba(0, 0, 0, 0.7);
            }
            .transaction-history-filter-modal {
                z-index: 99;
                position: absolute;
                left: 0;
                width: 280px;
                border-radius: 8px;
                padding: 8px 12px;
                background: $neutral-bg3;

                .checkbox-item {
                    z-index: 98;
                }
            }
        }

        .transaction-history-container-right-filter {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            .date-picker-section {
                padding: 0 10px;

                &.is-invalid {
                    border: 1px solid #b22222;
                }
            }

            .apply-filter-button {
                .creatr-primary-button-regular {
                    min-width: 76px;
                }
            }
        }
    }
}
@media screen and (max-width: 1025px) {
    .transaction-history-container {
        & > .container-fluid {
            padding: 0 !important;
        }
        .transaction-history-container-earnings-section {
            padding-left: 12px;
            padding-right: 12px;
            .col-6 {
                padding: 4px;
            }
            .transaction-history-container-earnings-section-item {
                padding: 16px;
            }
        }
        .transaction-history-container-category-section {
            justify-content: space-between;
            margin-top: 56px;
            margin-bottom: 16px;
            .transaction-history-container-category-section-item-filter {
                padding: 4px 12px;
                background-color: $neutral-input;
                border: 1px solid rgba(250, 250, 250, 0.7);
                color: $neutral-text;
                border-radius: 4px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                .section-filter-button-icon {
                    width: 18px;
                    height: 18px;
                    margin-right: 4px;
                }
            }
            .transaction-history-container-filter-modal {
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: $neutral-bg3;
                z-index: 999;
                padding: 24px 16px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .mobile-transaction-history-container-filter {
                    position: relative;
                    .modal-view-container-dismiss-button {
                        position: absolute;
                        top: 0;
                        right: 16px;
                        transform: translate(50%, -25%);
                        width: 32px;
                        height: 32px;
                        border-radius: 50px;
                        background-color: #565656;
                        cursor: pointer;
                        padding: 8px;
                    }

                    .mobile-transaction-history-container-modal-title {
                        margin-bottom: 36px;
                        font-size: 20px !important;
                        line-height: 24px !important;
                    }

                    .transaction-history-container-top-filter {
                        position: relative;
                        .mobile-transaction-history-container-filter-title {
                            margin-bottom: 8px;
                        }

                        .transaction-history-filter-button {
                            padding: 6px 12px;
                            background-color: $neutral-input;
                            color: $neutral-tagline;
                            min-width: 203px;
                            border-radius: 4px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .arrow {
                                border: solid $neutral-tagline;
                                border-width: 0 1px 1px 0;
                                padding: 4px;
                            }
                            .down {
                                transform: rotate(45deg);
                                -webkit-transform: rotate(45deg);
                            }
                        }
                        .modal-view {
                            position: fixed;
                            right: 0;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            z-index: 50;
                            background-color: rgba(0, 0, 0, 0.7);
                        }
                        .transaction-history-filter-modal {
                            z-index: 99;
                            position: absolute;
                            left: 0;
                            width: 280px;
                            border-radius: 8px;
                            padding: 8px 12px;
                            background: $neutral-bg3;

                            .checkbox-item {
                                z-index: 98;
                            }
                        }
                    }

                    .mobile-transaction-history-container-bottom-filter {
                        margin-top: 32px;
                        .mobile-transaction-history-container-filter-title {
                            margin-bottom: 8px;
                        }
                        .mobile-transaction-history-container-date-filters {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                        }
                    }
                }
                .apply-filter-button {
                    width: 100%;
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}
</style>
