<template>
    <div class="invoice-container container mega-solution-horizontal-center">

        <div class="invoice-container-inner" ref="content">

            <div class="invoice-container-inner-top mega-solution-horizontal-start">
                <div class="invoice-container-inner-top-company-container">
                    <img :src="getImageByPath(companyInfo.companyLogo)" alt="logo" class="invoice-container-inner-top-company-logo">
                </div>

                <div class="invoice-container-inner-top-entity-info">
                    <div class="mega-solution-sub-heavy invoice-container-inner-top-entity-title color-black">
                        {{companyInfo.entityName}}
                    </div>
                    <div class="invoice-container-inner-top-entity-address1 mega-solution-cap-light color-black">
                        {{companyInfo.companyAddressLine1}} {{companyInfo.companyAddressLine2}}
                    </div>
                    <div class="invoice-container-inner-top-entity-address2 mega-solution-cap-light color-black">
                        {{companyInfo.companyCity}} , {{companyInfo.companyRegion}} , {{companyInfo.companyPostalCode}}
                    </div>
                </div>

                <!-- For showing company's email and tax number on the invoice. -->
                <!-- <div class="invoice-container-inner-top-entity-detail mega-solution-vertical-start">
                    <div class="invoice-container-inner-top-entity-detail-info mega-solution-cap-light color-black">
                        {{companyInfo.companyEmail}}
                    </div>
                    <div class="invoice-container-inner-top-entity-detail-info mega-solution-cap-light color-black">
                       Tax-ID: {{companyInfo.companyTaxId}}
                    </div>
                </div> -->
            </div>
            <div class="invoice-container-inner-info mega-solution-horizontal-center">
                <div class="invoice-container-inner-info-left">
                    <div class="invoice-container-inner-info-left-title color-black mega-solution-sub-heavy">Bill to</div>
                    <template v-if="mode ==='Edit'">
                        <div class="invoice-container-inner-info-left-input">
                            <MegaInput v-model="name" placeholder="Name" class="invoice-input" text-color="#2D2D2D" :maxlength="50"></MegaInput>
                        </div>
                        <div class="invoice-container-inner-info-left-input">
                            <MegaInput v-model="address" placeholder="Address" class="invoice-input" text-color="#2D2D2D" :maxlength="200"></MegaInput>
                        </div>
                    </template>
                    <template v-else>
                        <div class="invoice-container-inner-info-detail mega-solution-cap-light color-black">{{invoiceInfo.billing_name}}</div>
                        <div class="invoice-container-inner-info-detail mega-solution-cap-light color-black">{{invoiceInfo.billing_address}}</div>
                    </template>

                </div>
                <div class="invoice-container-inner-info-right">
                    <h3 class="invoice-container-inner-info-title color-black mega-solution-h3">Order Invoice</h3>
                    <div class="order-info-row mega-solution-horizontal-center justify-content-between mega-solution-cap-light color-black">
                        <div class="order-info-row-left">
                            Date
                        </div>
                        <div class="order-info-row-right">
                            {{formatDate(invoiceInfo.order.updated_time)}}
                        </div>
                    </div>
                    <div class="order-info-row mega-solution-horizontal-center justify-content-between mega-solution-cap-light color-black">
                        <div class="order-info-row-left">
                            Order ID
                        </div>
                        <div class="order-info-row-right">
                            {{invoiceInfo.order.order_number}}
                        </div>
                    </div>
                    <div class="order-info-row mega-solution-horizontal-center justify-content-between mega-solution-cap-light color-black">
                        <div class="order-info-row-left">
                            Invoice ID
                        </div>
                        <div class="order-info-row-right">
                            {{invoiceInfo.invoice_number}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="invoice-container-inner-content">
                <div class="invoice-container-inner-content-title mega-solution-sub-heavy color-black">
                    Items
                </div>

                <div class="invoice-order-item" v-for="(item,index) in invoiceInfo.order.order_items">
                    <div class="invoice-order-item-top mega-solution-horizontal-center justify-content-between">
                        <div class="invoice-order-item-top-left color-black mega-solution-body-heavy">
                            {{item.reel.title}}
                        </div>
                        <div class="invoice-order-item-top-right color-black mega-solution-body-heavy">
                            ${{convertPrice(item.price)}}
                        </div>
                    </div>
                    <div class="invoice-order-item-bottom mega-solution-cap-light invoice-order-item-licence color-gray" v-if="item.licence !== null">
                        {{item.licence.type}}
                    </div>
                </div>
                <div class="invoice-container-inner-content-bottom mega-solution-sub-heavy color-black mega-solution-horizontal-center justify-content-end">
                    Total: ${{convertPrice(invoiceInfo.order.amount)}}
                </div>
            </div>
            <div class="invoice-container-inner-bottom mega-solution-vertical-center align-items-end" v-if="!disable">


                    <button class="creatr-primary-button-regular download-button " @click="downloadInvoice"> {{mode === "Edit" ? "Save":"Download invoice"}} </button>
                    <template v-if="mode === 'Edit'">
                        <div class="invoice-container-inner-bottom-description color-black mega-solution-footer-light">Once download, the billing info cannnot be changed.</div>
                    </template>
            </div>

        </div>
    </div>
</template>

<script>
import moment from "moment";
import MegaInput from "../MegaSolutionInputComponent/MegaSolutionInputComponent";
import jsPDF from 'jspdf'
import html2canvas from "html2canvas"
export default {
    name: "MegaSolutionInvoiceComponent.vue",
    components:{
        MegaInput,

    },
    data(){
        return{
            name:"",
            address:"",
            disable:false,
        }
    },
    props:{
        companyInfo:{
            type:Object,
            default:function(){
                return null;
            }
        },
        invoiceInfo:{
            type:Object,
            default:function(){
                return null;
            }
        },
        // Edit, View, Print
        mode:{
            type:String,
            default:"Edit"
        }
    },

    mounted() {
        if(this.mode === "Print"){
            window.print()
            //console.log("print")
        }
    },
    methods:{
        getImageByPath(imagePath){
            return `/storage/${imagePath}`
        },
        formatDate(time){
            return moment(time).format("MMM Do YYYY");
        },
        convertPrice(price){
            return parseFloat(price).toFixed(2);
        },
        validateInput(){
          let pass = true;
          if(this.name.trim() !== ""){

          }else{
              this.showError("Name should not be empty!")
              pass = false;
              return pass
          }

          if(this.address.trim() !== ""){

          }else{
              this.showError("Address should not be empty!")
              pass = false;
              return pass
          }

          return pass

        },
        downloadInvoice(){

            if(this.mode === "Edit"){
                if(this.validateInput()) {
                    let that = this;
                    let param = {
                        "name": this.name,
                        "address": this.address,
                        "invoiceId": this.invoiceInfo.id
                    }

                    axios.post("/invoice/saveAndDownload", param).then(function (res) {
                        if (res.status === 200) {
                            window.location.assign("/invoice/show/" + that.invoiceInfo.id)

                        } else {

                        }
                    }).catch(function (error) {
                        that.showError(error.message)
                    })
                    //console.log("download Invoice")
                }
            }else{

                this.disable = true
                let that = this;
                setTimeout(function () {
                    that.generateInvoice();
                },2000)

            }


        },
        showError(message){
            Vue.$toast.open({
                message: message,
                position:"bottom",
                type: 'error',
            });
        },

        generateInvoice () {

            let width = this.$refs.content.clientWidth
            let height = this.$refs.content.clientHeight
            const doc = new jsPDF('p','px',[width + 100,height]);
            /** WITH CSS */
            // var canvasElement = document.createElement('canvas',{"height":`${height}px`,"width":`${width}px`});
            let that = this
            html2canvas(this.$refs.content, {
                // canvas: canvasElement,
                width:width,
                height:height,
            }).then(function (canvas) {


                const img = canvas.toDataURL("image/png", 0.8);
                //
                // var img = canvas.toDataURL();
                // window.open(img);

                doc.addImage(img,'JPEG',0,0, width-150,height);
                doc.save(`invoice_${that.invoiceInfo.invoice_number}.pdf`);
                that.disable = false
            });
        },
    }

}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.invoice-container{
    margin-top: 180px;
    margin-bottom: 180px;

    .invoice-container-inner{
        min-height: 732px;
        background: $bg_white;
        width: 874px;
        padding: 48px 112px;
        .invoice-container-inner-top{
            .invoice-container-inner-top-company-container{
                width: 96px;
                height: 96px;
                .invoice-container-inner-top-company-logo{
                    width: 96px;
                    height: 96px;

                }
            }

            .invoice-container-inner-top-entity-info{
                margin-top: 12px;
                margin-left: 16px;
                flex: 1;
                .invoice-container-inner-top-entity-title{
                }
                .invoice-container-inner-top-entity-address1{
                    margin-top: 8px;
                }
                .invoice-container-inner-top-entity-address2{
                    margin-top: 4px;
                }
            }
            .invoice-container-inner-top-entity-detail{
                margin-top: 40px;
                .invoice-container-inner-top-entity-detail-info{
                    margin-top: 8px;
                }
            }


        }

        .invoice-container-inner-info{
            margin-top: 72px;
            .invoice-container-inner-info-title{
                margin-bottom: 12px;
            }

            .invoice-container-inner-info-left{
                flex: 1;
                width: 315px;
                padding-right: 130px;
                .invoice-container-inner-info-left-title{
                    padding-top: 16px;
                    text-align: left;
                    margin-bottom: 12px;
                }

                .invoice-container-inner-info-detail{
                    margin-top: 8px;
                }
                .invoice-container-inner-info-left-input{
                    margin-top: 4px;
                    .mega-input-container{
                        background-color: #f2f2f2;
                        .mega-solution-text-container{
                            .mega-input{
                                color: $neutral-bg3;
                            }

                            input{
                                color: $neutral-bg3;
                            }
                        }
                    }
                }
            }
            .invoice-container-inner-info-right{
                width: 212px;
                .order-info-row{
                    margin-top: 8px;
                    .order-info-row-left{
                        text-align: right;
                        width: 72px;
                    }
                    .order-info-row-right{
                        flex: 1;
                        text-align: right;
                    }
                }
            }
        }

        .invoice-container-inner-content{
            margin-top: 68px;
            .invoice-container-inner-content-title{

            }

            .invoice-order-item{
                padding-top: 16px;
                padding-bottom: 16px;
                border-bottom: 1px solid #ececec;
                .invoice-order-item-bottom{
                    margin-top: 8px;
                }
            }
            .invoice-container-inner-content-bottom{
                margin-top: 16px;
            }
        }
        .invoice-container-inner-bottom{
            margin-top: 48px;
            .download-button{
                width: 285px;
            }
            .invoice-container-inner-bottom-description{
                width: 290px;
                margin-top: 8px;
            }
        }
    }


}

.color-black{
    color: $neutral-bg3;
}

.color-gray{
    color: $neutral-asset2;
}

@media screen and (max-width: 576px){

    .invoice-container{
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .invoice-container .invoice-container-inner{
        width: 100%;
        padding: 12px;
        .invoice-container-inner-info{
            flex-wrap: wrap;
            flex-direction: column-reverse;
            .invoice-container-inner-info-left{
                margin-top: 32px;
                width: 100%;
                padding-right: 0;
                .invoice-container-inner-info-left-input{
                    width: 100%;
                }
            }
            .invoice-container-inner-info-right{
                width: 100%;
                .order-info-row-left{
                    text-align: left !important;
                }
            }
        }
        .invoice-container-inner-top{
            flex-wrap: wrap;
            .invoice-container-inner-top-company-container{
                width: 100%;
            }
            .invoice-container-inner-top-entity-info{
                margin-left: unset;
            }
        }
        .invoice-container-inner-bottom{
            .download-button{
                width: 100%;
            }
            .invoice-container-inner-bottom-description{
                width: 100%;
                text-align: center;
            }
        }
    }

}

</style>
