<template>
    <div class="content-reels-container">
        <template v-for="(item,index) in reels">
            <template v-if="type === ''">
                <MegaSolutionReelCellComponent :key="index" :reel="item"></MegaSolutionReelCellComponent>
            </template>
            <template v-else-if="type === 'display'">
                <MegaSolutionEcoReelCellComponent :key="index" :reel="item"></MegaSolutionEcoReelCellComponent>
            </template>
            <template v-else-if="type === 'wishlist'">
                <MegaSolutionWishlistReelCellComponent :key="index" :reel="item"></MegaSolutionWishlistReelCellComponent>
            </template>
        </template>
    </div>
</template>

<script>
import MegaSolutionReelCellComponent from "../MegaSolutionReelCellComponent/MegaSolutionReelCellComponent";
import MegaSolutionWishlistReelCellComponent from "../MegaSolutionWishlistReelCellComponent/MegaSolutionWishlistReelCellComponent";
import MegaSolutionEcoReelCellComponent from '../MegaSolutionEcoReelCellComponent/MegaSolutionEcoReelCellComponent';

export default {
    name: "MegaSolutionReelsGridComponent.vue",
    components:{
        MegaSolutionReelCellComponent,
        MegaSolutionWishlistReelCellComponent,
        MegaSolutionEcoReelCellComponent
    },
    props:{
        reels:{
            type:Array,
            default:[],
        },
        type:{
            type:String,
            default:""
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.content-reels-container{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
</style>
