<template>
    <div class="saved-payment-methods-container">
        {{paymentMethods}}

        <div class="saved-payment-method" v-for="(item,index) in paymentMethods" :key="index">
            {{item}}
        </div>
    </div>
</template>

<script>
import {loadStripe} from "@stripe/stripe-js";
export default {
    name: "MegaSolutionSavedPaymentMethodsComponent.vue",
    data(){
        return{
            stripe:{},
            options:{},
            stripeKey:process.env.MIX_STRIPE_KEY,
            paymentElement:{},
            amexImage:"",
            dinersImage:"",
            discoverImage:"",
            jcbImage:"",
            mastercardImage:"",
            unionpayImage:"",
            visaImage:"",
            unknownImage:"",
        }
    },
    props:{
        clientSecret:{
            type:String,
            default:""
        },
        paymentMethods:{
            type:Array,
            default:function () {
                return []
            }
        }
    },
    mounted(){
        this.amexImage = require("../../../icons/20211102/bankbrand/Amex.png").default
        this.dinersImage = require("../../../icons/20211102/bankbrand/dinersclub.png").default
        this.discoverImage = require("../../../icons/20211102/bankbrand/discover.png").default
        this.jcbImage = require("../../../icons/20211102/bankbrand/jcb.png").default
        this.mastercardImage = require("../../../icons/20211102/bankbrand/MasterCard.png").default
        this.unionpayImage = require("../../../icons/20211102/bankbrand/unionpay.png").default
        this.visaImage = require("../../../icons/20211102/bankbrand/VISA.png").default
        this.unknownImage = require("../../../icons/20211102/bankbrand/unknown.png").default
    },
    methods:{

    }

}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.saved-payment-methods-container{

}
</style>
