<template>
    <div class="pay-with-other-container container-fluid mega-solution-horizontal-center">
        <div class="add-card-section">
            <div class="add-card-section-inner">
                <div class="add-card-section-top-section mega-solution-horizontal-start pointer" @click="backtoSelect" >
                    <img :src="backImage" alt="back" class="add-card-section-top-section-img">
                    <div class="mega-solution-body-light add-card-section-top-section-title">Back to payment methods</div>
                </div>
                <add-payment-method :user-email="userEmail"
                                    :cart-items="cartItems"
                                    :client-secret="clientSecret"
                                    @changeProcessStatus="changeProcessStatus"
                />


            </div>

        </div>
    </div>
</template>

<script>
import AddPaymentMethod from "../MegaSolutionCheckOutViewComponent/AddPaymentMethod";
export default {
    name: "MegaSolutionPayWithOtherCardComponent.vue",
    components:{
        AddPaymentMethod
    },
    data(){
        return{
            backImage:""
        }
    },
    props:{
        userEmail: {},
        cartItems:[],
        clientSecret:{
            type:String,
            default:"",
        }
    },
    mounted() {
        this.backImage = require("../../../icons/sign_up/icons/32px/chevron_left.png").default;

    },
    methods:{
        changeProcessStatus(e){
            this.$emit("changeProcessStatus",e)
        },
        backtoSelect(){
            this.$emit("backtoSelect")
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.pay-with-other-container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $black-blur ;
    z-index: 50;
    .add-card-section{
        max-width: 650px;
        min-height: 400px;
        background: $neutral-bg2;
        width: 650px;
        //height: 620px;
        border-radius: 8px;
        position: relative;
        padding: 32px;

        .add-card-section-inner{
            max-width: 424px;
            margin-left: auto;
            margin-right: auto;
            .add-card-section-top-section{

                .add-card-section-top-section-img{
                    width: 24px;
                    height: 24px;
                    margin-right: 4px;
                }
                .add-card-section-top-section-title{

                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    .pay-with-other-container .add-card-section{
        padding: 32px 16px;
    }
}

</style>
