<template>
    <div class="mega-input-container">
        <div v-if="label !==''" class="mega-solution-cap mega-input-container-label mega-solution-horizontal-start">{{label}}</div>
        <template v-if="inputType === 'text'">
            <div class="mega-solution-text-container mega-solution-horizontal-center" :class="[isFocused?'focused':'',errorMessage !== ''?'onerror':'']">
                <input class="mega-input" :type="inputType" :style="{'color':textColor}" @focusin= "onFocus" :disabled="input_disable" @focusout="onBlur"  :maxlength="maxlength" v-model="inputValue" @input = "onInput" @keyup.enter="onEnter"  :placeholder="placeholder"/>
               <template v-if="icon !== ''">
                   <img :src="icon" :alt="iconName" class="mega-input-image">
               </template>
            </div>
        </template>
        <template v-else-if="inputType === 'password'">
            <div class="mega-solution-text-container mega-solution-horizontal-center" :class="[isFocused?'focused':'',errorMessage !== ''?'onerror':'']">
                <template v-if="showPassword">
                    <input class="mega-input" type="text"  :maxlength="maxlength" @focusin="onFocus" :disabled="input_disable" @focusout="onBlur" v-model="inputValue" @input = "onInput" @keyup.enter="onEnter"  :placeholder="placeholder"/>
                    <img :src="hidePasswordImage" :alt="iconName" class="mega-input-image pointer" @click="onPasswordimageClicked">
                </template>
                <template v-else>
                    <input class="mega-input" :type="inputType"  :maxlength="maxlength" :disabled="input_disable" @focusin = "onFocus" @focusout="onBlur" v-model="inputValue" @input = "onInput" @keyup.enter="onEnter"  :placeholder="placeholder"/>
                    <img :src="showPasswordImage" :alt="iconName" class="mega-input-image pointer" @click="onPasswordimageClicked">
                </template>
            </div>
            <template v-if="showPasswordHints || isFocused">
                <div class="password-hint-container mega-solution-vertical-start">
                    <div class="password-hint-container-title mega-solution-body-light">
                        Password must contain：
                    </div>
                    <div v-for="(item, index) in passwordHints" :key="index"  class="password-hint-container-message mega-solution-horizontal-start">
                        <template v-if="item.status">
                            <img :src="passedImageName" alt="passed image" class="password-hint-image">
                        </template>
                        <template v-else>
                            <img :src="notPassedImageName" alt="notpassed image" class="password-hint-image">
                        </template>
                        <div class="mega-solution-body-light password-hint-message" >
                            {{item.message}}
                        </div>
                    </div>
                </div>
            </template>
            <template v-else>
                <template v-if="isFocused||!isPasswordValid">
                    <div class="password-hint-container mega-solution-vertical-start">
                        <div class="password-hint-container-title mega-solution-body-light">
                            Password must contains：
                        </div>
                        <div v-for="(item, index) in passwordHints" :key="index"  class="password-hint-container-message mega-solution-horizontal-start">
                            <template v-if="item.status">
                                <img :src="passedImageName" alt="passed image" class="password-hint-image">
                            </template>
                            <template v-else>
                                <img :src="notPassedImageName" alt="notpassed image" class="password-hint-image">
                            </template>
                            <div class="mega-solution-body-light password-hint-message" >
                                {{item.message}}
                            </div>
                        </div>
                    </div>
                </template>
            </template>

        </template>
        <template v-else-if="inputType === 'current-password'">
            <div class="mega-solution-text-container mega-solution-horizontal-center" :class="[isFocused?'focused':'',errorMessage !== ''?'onerror':'']">
                <template v-if="showPassword">
                    <input class="mega-input" type="text"  :maxlength="maxlength" @focusin="onFocus" :disabled="input_disable" @focusout="onBlur" v-model="inputValue" @input = "onInput" @keyup.enter="onEnter"  :placeholder="placeholder"/>
                    <img :src="hidePasswordImage" :alt="iconName" class="mega-input-image pointer" @click="onPasswordimageClicked">
                </template>
                <template v-else>
                    <input class="mega-input" type="password"  :maxlength="maxlength" @focusin = "onFocus" :disabled="input_disable" @focusout="onBlur" v-model="inputValue" @input = "onInput" @keyup.enter="onEnter"  :placeholder="placeholder"/>
                    <img :src="showPasswordImage" :alt="iconName" class="mega-input-image pointer" @click="onPasswordimageClicked">
                </template>
            </div>

        </template>
        <template v-else-if="inputType === 'email'">
            <div class="mega-solution-text-container mega-solution-horizontal-center" :class="[isFocused?'focused':'',errorMessage !== ''?'onerror':'']">
                <input class="mega-input" :type="inputType" @focusin= "onFocus" @focusout="onBlur" :disabled="input_disable"  :maxlength="maxlength" v-model="inputValue" @input = "onInput" @keyup.enter="onEnter"  :placeholder="placeholder"/>
                <template v-if="isvalidEmail">
                    <img :src="passedImageName" :alt="iconName" class="mega-input-image">
                </template>
                <template v-else>
                    <img :src="notPassedImageName" :alt="iconName" class="mega-input-image">
                </template>
            </div>

        </template>



        <template v-else-if="inputType === 'newsletter'">
            <div class=" mega-solution-horizontal-center mega-solution-letter-container" :class="[isFocused?'focused':'',errorMessage !== ''?'onerror':'']">
                <input class="mega-input news-letter" type="email" @focusin= "onFocus" :disabled="input_disable" @focusout="onBlur" :maxlength="maxlength" v-model="inputValue" @input = "onInput" @keyup.enter="onEnter"  :placeholder="placeholder"/>
                <template v-if="isvalidEmail">
                    <img :src="passedImageName" :alt="iconName" class="mega-input-image">
                </template>
                <template v-else>
                    <img :src="notPassedImageName" :alt="iconName" class="mega-input-image">
                </template>
            </div>


        </template>

        <template v-else-if="inputType === 'left-name'">
            <div class="mega-solution-text-container mega-solution-horizontal-center " :class="[isFocused?'focused':'',errorMessage !== ''?'onerror':'']">
                <div v-if="leftIcon !== ''" class="mega-solution-text-container-icon-container mega-solution-horizontal-center">
                    <img :src="leftIcon" alt="left"  class="mega-solution-text-container-icon"/>
                </div>

                <input class="mega-input left-radius-unset" type="text" @focusin= "onFocus" :disabled="input_disable" @focusout="onBlur" @keyup.enter="onEnter"  :maxlength="maxlength" v-model="inputValue" @input = "onInput" :placeholder="placeholder"/>
                <template v-if="icon !== ''">
                    <img :src="icon" :alt="iconName" class="mega-input-image">
                </template>
            </div>

        </template>

        <template v-else-if="inputType === 'price'">
            <div class="mega-solution-text-container mega-solution-horizontal-center price-input" :class="[isFocused?'focused':'',errorMessage !== ''?'onerror':'']">
                <input class="mega-input " type="number" min="1" @focusin= "onFocus" @focusout="onBlur" @keyup.enter="onEnter" :disabled="input_disable"  :maxlength="maxlength" v-model="inputValue" @input = "onInput" :placeholder="placeholder"/>
            </div>
        </template>

        <template v-else-if="inputType === 'phoneNumber'">
            <div class="mega-solution-text-container mega-solution-horizontal-center phone-number-input" :class="[isFocused?'focused':'',errorMessage !== ''?'onerror':'']">
                <input class="mega-input " type="text" min="0" @focusin= "onFocus" @focusout="onBlur" @keyup.enter="onEnter" :disabled="input_disable"  :maxlength="maxlength" :value="inputValue" @input = "onInput" :placeholder="placeholder"/>
            </div>
        </template>

        <template v-else-if="inputType === 'numberText'">
            <div class="mega-solution-text-container mega-solution-horizontal-center " :class="[isFocused?'focused':'',errorMessage !== ''?'onerror':'']">
                <input class="mega-input " type="text" min="0" @focusin= "onFocus" @focusout="onBlur" @keyup.enter="onEnter" :disabled="input_disable"  :maxlength="maxlength" :value="inputValue" @input = "onInput" :placeholder="placeholder"/>
            </div>
        </template>

        <template v-else-if="inputType === 'ssnNumber'">
            <div class="mega-solution-text-container mega-solution-horizontal-center " :class="[isFocused?'focused':'',errorMessage !== ''?'onerror':'']">
                <input class="mega-input " type="text" min="0" @focusin= "onFocus" @focusout="onBlur" @keyup.enter="onEnter" :disabled="input_disable"  :maxlength="maxlength" :value="inputValue" @input = "onInput" :placeholder="placeholder"/>
            </div>
        </template>

        <template v-if="errorMessage !== ''">
            <div class="error-message-section mega-solution-horizontal-start">
                <img :src="errorImage" alt="error image" class="error-image"/>
                <div class="error-message mega-solution-body-light">{{errorMessage}}</div>
            </div>
        </template>


    </div>

</template>

<script>
import checker from "../../checker"
export default {
    computed:{
        isvalidEmail(){
            if(this.inputType === 'email' || this.inputType === 'newsletter'){
                return checker.isEmail(this.value)
            }
        },
        isPasswordValid(){
            let pass= true
            this.passwordHints.forEach(item=>{
                if(item.status == false){
                    pass = false
                }
            })
            if(this.value === ""){
                return true
            }
            return pass
        }
    },
    data() {
        return {
            /**
             * 显示密码明文
             */
            showPassword: false,
            /**
             * 输入框的值
             */
            inputValue: this.value,
            showPasswordImage:"",
            hidePasswordImage:"",
            notPassedImageName:"",
            passedImageName:"",
            isFocused:false,
            errorImage:"",

            //email
            // isvalidEmail:false,

            passwordHints:[
                {
                    message:"at least 8 characters",
                    status:false,
                },{
                    message:"at least one lowercase",
                    status:false
                },{
                    message:"at least one uppercase",
                    status:false
                },{
                    message:"at least one number",
                    status:false
                },{
                    message:"at least one special character($@$!%*#?&._)",
                    status:false
                }
            ]

        }
    },

    mounted() {
        this.notPassedImageName = require('../../../icons/sign_up/icons/16px/check_circled/default.png').default;
        this.passedImageName = require("../../../icons/sign_up/icons/16px/check_circled/active.png").default;
        this.showPasswordImage = require("../../../icons/sign_up/icons/24px/eye_closed.png").default;
        this.hidePasswordImage = require("../../../icons/sign_up/icons/24px/eye_open.png").default;
        this.errorImage = require('../../../icons/sign_up/icons/16px/alert.png').default;
        this.inputValue = this.value;
    },

    /**
     * 监听输入值
     */
    watch: {
        value(v) {
            this.inputValue = v;
            if(this.inputType === 'password'){
                this.validPassword(v)
            }

        },
    },
    props:{
        inputType:{
            type:String,
            default:"text"
        },
        /**
         * 占位符
         */
        placeholder: {
            type: String,
            default: ''
        },
        /**
         * 最大输入长度
         */
        maxlength: {
            type: [String, Number],
            default: 20,
        },
        /**
         * 默认初始内容
         */
        value: {
            type: [String, Number],
            default: ''
        },
        /**
         * 是否显示密码可见按钮
         */
        displayable: {
            type: Boolean,
            default: false
        },
        /**
         *
         */
        errorMessage:{
            type: String,
            default: ""
        },
        errorStatus:{
            type:Boolean,
            default:false
        },

        leftIcon:{
            type:String,
            default:""
        },
        icon:{
            type:String,
            default:""
        },
        iconName:{
            type:String,
            default:""
        },
        label:{
            type:String,
            default:""
        },
        showPasswordHints:{
            type:Boolean,
            default:false,
        },
        input_disable:{
            type:Boolean,
            default:false,
        },
        textColor:{
            type:String,
            default:"#FAFAFA",
        }
    },
    methods:{
        onInput(e) {
            // this.inputValue = e.detail.value


            if(this.inputType === "phoneNumber" ){
                let value = e.target.value.replace(/[^0-9]/g,'')
                this.$emit('input', value)
            }else if(this.inputType === "price"){
                let value = Math.abs(parseFloat(e.target.value));
                this.$emit('input', value)
            }else if(this.inputType === 'numberText'){
                let value = e.target.value.replace(/\D/g,'')
                this.$emit('input', value)
            }else if(this.inputType === 'ssnNumber'){
                let value = e.target.value.replace(/[^0-9.-]/g,'')
                this.$emit('input', value)
            }else {
                this.$emit('input', e.target.value)
            }
            //console.log(this.inputValue)

        },
        onFocus(){
            this.isFocused = true
        },
        onBlur(){
            this.isFocused = false
        },
        onEnter(){
            this.$emit('onEnter',{})
        },
        onPasswordimageClicked(){
          this.showPassword = !this.showPassword
        },
        validPassword(password){
            if(password ==  null){
                //console.log("password is null")
                return
            }
            let passwordHints = this.passwordHints;

            for(let index = 0; index< passwordHints.length; index ++){
                switch (index) {
                    case 0:
                        passwordHints[index].status = (password.length >=8)
                        break;
                    case 1:
                        passwordHints[index].status = new RegExp("[a-z]").test(password)
                       break;
                    case 2:
                        passwordHints[index].status = new RegExp("[A-Z]").test(password)
                        break;
                    case 3:
                        passwordHints[index].status = new RegExp("[0-9]").test(password)
                        break;
                    case 4:
                        passwordHints[index].status = new RegExp("[$@$!%*#?&._]").test(password)
                        break;
                    default:
                        break
                }
            }
            this.passwordHints = passwordHints;
        }
    }
}
</script>

<style scoped lang="scss">

@import "resources/sass/app.scss";

.mega-input-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .mega-input-container-label{
        width: 100%;
        color: $neutral-tagline;
        margin-bottom: 12px;
    }
    .mega-solution-text-container{
        width: 100%;
        position: relative;
        border-radius: 4px;
        border: 1px solid transparent;
        &.focused{
            border: 1px solid $neutral-tagline;
        }
        &.onerror{
            border: 1px solid $error-2;
        }
        .mega-solution-text-container-icon-container{
            height: 48px;
            padding: 10px 8px;
            background-color: $icon-background;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            .mega-solution-text-container-icon{
                width: 24px;
                height: 24px;
            }
        }


        .mega-input-image{
            position: absolute;
            width: 24px;
            height: 24px;
            right: 12px;
        }
        input{
            width: 100%;
            &:disabled{
                color: $neutral-disabled;
            }
        }
        &.price-input{
            background-color: $neutral-input;
            &::before{
                margin-left: 16px;
                content: "$";
                color: $neutral-text;
                font-size: 12px;
                font-family: $font-family;
                line-height: 14px;
            }
            input{
                background-color: transparent;
                padding-left: 4px;
            }
        }
        &.phone-number-input{
            background-color: $neutral-input;
            &::before{
                margin-left: 16px;
                content: "+1";
                color: $neutral-text;
                font-size: 12px;
                font-family: $font-family;
                line-height: 14px;
            }
            input{
                background-color: transparent;
                padding-left: 4px;
            }
        }
    }

    .mega-solution-letter-container{
        width: 100%;
        position: relative;
        border-radius:  4px 0px 0px 4px;
        border: 1px solid white;
        &.focused{
            border: 1px solid $neutral-tagline;
        }
        &.onerror{
            border: 1px solid $error-2;
        }
        .mega-input-image{
            position: absolute;
            width: 24px;
            height: 24px;
            right: 12px;
        }
        input{
            width: 100%;
        }
    }

    .password-hint-container{
        margin-top: 16px;
        width: 100%;
        &.focused{
            display: flex;
        }

        &.not-focused{
            display: none;
        }

        .password-hint-container-title{

        }

        .password-hint-container-message{
            margin-top: 12px;
            .password-hint-image{
                width: 16px;
                height: 16px;
            }
            .password-hint-message{
                margin-left: 12px;
            }
        }

    }

    .error-message-section{
        width: 100%;
        margin-top: 8px;
        .error-image{
            width: 16px;
            height: 16px;
            margin-right: 4px;

        }
        .error-message{
            color: $error-2;
        }

    }
}
.input-container{

}

.left-radius-unset{
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
}

.mega-input.news-letter{

    &::placeholder{
        color: $neutral-tagline;
    }

}

</style>
