<template>
    <div class="comments-section">
        <div class="mega-solution-cap-light " v-if="comments.length > 0">
            <div class="comments-section-count">{{comments.length}} comments</div>

            <div v-for="(item, index) in format_comments" :key="index">
                <MegaSolutionCommentComponent :type="type" :author="item.author" :comment="item.comment" :to-user="item.toUser" :current-user="currentUser" @loadComments = "loadComments"></MegaSolutionCommentComponent>
                <div v-if="item.children.length > 0" class="comments-section-children">
                    <div v-for="(child,index) in item.children" :key="index">
                        <MegaSolutionCommentComponent :type="type" :author="child.author" :comment="child.comment" :to-user="child.toUser" :current-user="currentUser" @loadComments = "loadComments"></MegaSolutionCommentComponent>
                    </div>
                </div>
            </div>

        </div>
        <div class="comments-section-empty mega-solution-vertical-center" v-else>
            <img :src="commentEmptyImage" alt="No comments" class="comments-section-empty-image">
            <div class="comments-section-empty-description mega-solution-p2-light">Feedback is a great motiviation for creators! <br/> Be the first one to let them know your thoughts!</div>
        </div>
    </div>
</template>

<script>
import MegaSolutionCommentComponent from "../MegaSolutionCommentComponent/MegaSolutionCommentComponent";

export default {
    name: "MegaSolutionCommentsComponent.vue",
    data(){
      return{
          commentEmptyImage:'',
          format_comments:[],
          baseUrl:process.env.MIX_PUSHER_APP_URL,
      }
    },
    components:{
        MegaSolutionCommentComponent
    },
    watch:{
        comments(newVal){
            this.getFormatComments()
        }
    },
    mounted() {
        this.commentEmptyImage = require("../../../icons/20210604/icons/illustrations/message.png").default
        this.getFormatComments()
    },
    methods:{
      getFormatComments(){
          let format_comments = this.comments.filter(comment=>{return comment.parent == null})
          format_comments.forEach(parentComment=>{
              parentComment['children'] = this.comments.filter(comment => {
                  return comment.comment.parent === parentComment.comment.id
              })
          })
          this.format_comments = format_comments
      },
        loadComments(){
          this.$emit('loadComments');
        }
    },
    props:{
        comments:{
            type:Array,
            default:[],
        },
        currentUser:{
            type:Object,
            default:null,
        },
        type:{
            type:String,
            default:"reel"
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.comments-section{
    margin-top: 48px;
    .comments-section-count{
        color: $neutral-tagline;
        margin-bottom: 24px;
    }
    .comments-section-children{
        padding-left: 44px;
    }
    .comments-section-empty{
        margin-top: 104px;
        margin-bottom: 48px;
        .comments-section-empty-image{
            width: 226px;
            height: 226px;
        }
        .comments-section-empty-description{
            margin-top: 24px;
            max-width: 350px;
            text-align: center;
        }
    }
}
</style>
