<template>
    <div class="container pt-10">
        <div class="mega-solution-h3 row title">
            Upload Your Reel
        </div>
        <div class="row creatr-reel-section">
            <div class="col-xl-6 col-lg-7 create-reel-video-section"  id ='video-container'>
                <!-- upload mode -->
                <template v-if="video_id === 0">
                    <MegeDropZone @uploadSuccess="uploadSuccess" @thumbnailGenerated="getThumbnail"></MegeDropZone>
                </template>
                <template v-else>
                    <template v-if="status==='Pending'">


                        <div class="loading-container mega-solution-vertical-center">
<!--                            <RingLoader :color="'#1BE4CF'" :size="160"/>-->
                            <h4 class="mega-solution-h4 loading-container-title">Processing...</h4>
                            <div class="mega-solution-p2-heavy loading-container-subtitle">Almost there! Please don’t close the page.</div>
                            <div class="loading-container-loader">
                                <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
                            </div>

                        </div>

                    </template>

                    <MegaSolutionViemoPlayer :video_id="this.video_id" :width="getContainerWidth()" @loadVideoCompleted="loadVideoCompleted"></MegaSolutionViemoPlayer>
                </template>
                <div class="create-reel-video-content-thumbnail-section">
                    <div class = "create-reel-video-content-thumbnail-title mega-solution-sub-heavy required">
                        Thumbnail
                    </div>
                    <div class = "create-reel-video-content-thumbnail-description mega-solution-cap-light">
                        Select or upload a picture that shows what’s in your video. A good thumbnail makes your video stand out and draws viewers attention.
                    </div>
                    <div class="create-reel-video-content-thumbnail-section-hints">
                        <div class="mega-solution-footer-light create-reel-video-content-thumbnail-section-hint">Supported file types: JPEG, PNG</div>
                        <div class="mega-solution-footer-light create-reel-video-content-thumbnail-section-hint">Max size: 2MB</div>
                    </div>
                    <div class = "create-reel-video-content-thumbnail-images mega-solution-horizontal-start">

                        <div class="create-reel-video-content-thumbnail-holder upload-image-section mega-solution-vertical-center pointer" @click="status==='complete'?(uploadThumbNail = !uploadThumbNail):''">
                            <img :src="upload_image_image" alt="upload image" class="upload-image-section-image">
                            <div class="upload-image-section-title mega-solution-cap-light" v-if="!uploadThumbNail">Upload</div>
                            <div class="upload-image-section-title mega-solution-cap-light" v-else>Cancel</div>
                        </div>

                        <template v-if="videoThumbnails.length > 0">
                            <div class="create-reel-video-content-thumbnail-holder pointer" v-for="(thumbnail, index) in videoThumbnails" :key="index" :class="index === selectedIndex?'selected':''" @click="selectedIndex=index">
                                <img :src="getImageFromShortPath(thumbnail)" alt="video thumbnail" class="create-reel-video-content-thumbnail-holder-image">
                                <img :src="deleteImage" alt="delete" class="create-reel-video-content-thumbnail-holder-delete-image pointer" @click="deleteThumbnail(index)">
                            </div>
                        </template>
                        <template v-else>
                            <div class="create-reel-video-content-thumbnail-holder"></div>
                            <div class="create-reel-video-content-thumbnail-holder"></div>
                            <div class="create-reel-video-content-thumbnail-holder"></div>
                        </template>

                    </div>
                    <template v-if="uploadThumbNail && status ==='complete'">
<!--                    <template v-if="uploadThumbNail">-->
                        <div class="upload-thumbnail-section">
                            <uploadImage path="uploadThumbNailImage" @uploadSuccess="thumbnailUploadSuccess" ></uploadImage>
                        </div>

                    </template>



                </div>
                <!-- Gavin new add phase 2 -->
                <div class="create-reel-video-content-title-logo-section">
                    <div class="create-reel-video-content-title-logo-section-title mega-solution-sub-heavy">
                        Title logo
                    </div>
                    <div class = "create-reel-video-content-title-logo-description mega-solution-cap-light">
                        A title logo will be placed alongside the title to help viewers understand your video ideas.
                    </div>
                    <div class="create-reel-video-content-title-logo-section-hints">
                        <div class="mega-solution-footer-light create-reel-video-content-title-logo-section-hint">Supported file types: PNG</div>
                        <div class="mega-solution-footer-light create-reel-video-content-title-logo-section-hint">Max size: 2MB</div>
                        <div class="mega-solution-footer-light create-reel-video-content-title-logo-section-hint">Dimension: 475 x 60px</div>
                    </div>

                    <div class="create-reel-video-section-title-logo-image-section pointer"  >
                        <template v-if="titleLogo == ''">
                            <div class="create-reel-video-section-title-logo-image-section-placeholder mega-solution-horizontal-center" @click="uploadTitleLogo = !uploadTitleLogo">
                                <img :src="upload_image_image" alt="upload image" class="upload-image-section-image">
                                <div class="upload-image-section-title mega-solution-cap-light" v-if="!uploadTitleLogo">Upload</div>
                                <div class="upload-image-section-title mega-solution-cap-light" v-else>Cancel</div>
                            </div>

                        </template>
                        <template v-else>
                            <img :src="getImageFromShortPath(titleLogo )" alt="video title Logo" class="create-reel-video-content-title-logo-holder-image">
                            <img :src="deleteImage" alt="delete" class="create-reel-video-content-title-logo-holder-delete-image pointer" @click="deleteTitleLogo()">
                        </template>

                        <template v-if="uploadTitleLogo">
                            <div class="upload-title-logo-section" @click.stop="">
                                <uploadImage path="uploadTitleLogoImage" @uploadSuccess="titleLogoUploadSuccess" ></uploadImage>
                            </div>
                        </template>

                    </div>
                </div>
                <!--      Gavin add new end phase 2         -->
            </div>
            <div class="col-xl-1 col-lg-1"></div>

            <div class="col-xl-5 col-lg-4 creatr-reel-detail-section">
                <div class="creatr-reel-detail-section-container">
                    <div class = "creatr-reel-detail-section-title mega-solution-sub-heavy required">Title</div>
                    <MegaTextArea v-model="title" maxRow="1" :max-length="titleMax" @onOverMaxLength="onTitleOverMaxLength"  :error-message="titleErrorMessage" ></MegaTextArea>
                </div>
                <div class="creatr-reel-detail-section-container">
                    <div class = "creatr-reel-detail-section-title mega-solution-sub-heavy ">Description</div>
                    <MegaTextArea v-model="description" maxRow="1" :max-length="descriptionMax" @onOverMaxLength="onTitleDescriptionMaxLength" type="long" :error-message="descriptionErrorMessage" ></MegaTextArea>
                </div>

                <!--  Gavin phase two -->
                <div class="creatr-reel-detail-section-container">
                    <div class = "creatr-reel-detail-section-title mega-solution-sub-heavy required">Set Pricing</div>
                    <MegaSolutionLicencesSectionComponent :licences="licenses" :licences-status="licencesStatus" @updateLicences="updateLicences"></MegaSolutionLicencesSectionComponent>
                </div>


                <div class="creatr-reel-detail-section-container">
                    <div  class = "creatr-reel-detail-section-title mega-solution-sub-heavy required">Rating</div>
                    <select name="categories" id="rates" class="creatr-select mega-solution-body-light creatr-reel-detail-section-container-select" v-model="selectedRate">
                        <template v-for="rate in rates">
                            <option :value="rate.id" :key="rate.id" class="creatr-select-option mega-solution-body-light">{{rate.type}} - {{rate.description}}</option>
                        </template>
                    </select>
                </div>


                <div class="creatr-reel-detail-section-container">
                    <div  class = "creatr-reel-detail-section-title mega-solution-sub-heavy">Platforms</div>

                    <multiselect
                        v-model="selectedPlatforms"
                        placeholder=""
                        label="title" track-by="id"
                        class="multiple-select"
                        :height="50"
                        :options="platforms"
                        :max="3"
                        :multiple="true"
                    ></multiselect>



                </div>


                <!--  Gavin phase two end-->
                <div class="creatr-reel-detail-section-container">
                    <div  class = "creatr-reel-detail-section-title mega-solution-sub-heavy required">Category</div>
                    <select name="categories" id="categories" class="creatr-select mega-solution-body-light creatr-reel-detail-section-container-select" v-model="selectedCategory">
                        <template v-for="category in categories">
                            <option :value="category.id" :key="category.id" class="creatr-select-option mega-solution-body-light">{{category.name}}</option>
                        </template>

                    </select>
                </div>
                <div class="creatr-reel-detail-section-container">
                    <div class = "creatr-reel-detail-section-title mega-solution-sub-heavy">Tags</div>
                    <div class = "creatr-reel-detail-section-sub-title mega-solution-cap-light">Up to {{maximumTags}} tags; hit space to complete</div>
                    <MegaTags :selected-tags="selectedTags" :tags-array="tags" @addTag="addTag" @deleteTag="deleteTag" @addTags = "addTags" :maximum-tags="maximumTags"></MegaTags>
                </div>


                <div class="creatr-reel-detail-section-container">
                    <div class = "creatr-reel-detail-section-title mega-solution-sub-heavy">Collection(s)</div>
                    <div class = "creatr-reel-detail-section-sub-title mega-solution-cap-light">Add your video to one or more collections. It might help viewers discover your work faster.</div>
                    <div class = "collection-select-button mega-solution-body-light">
                        <selectCollections :selected-collections="selectedCollections" @addToCollection = "addCollections" :disable="disableSelect"></selectCollections>
                    </div>
                </div>

            </div>
        </div>
        <div class="row creatr-button-section">

            <div class="col-xl-6 col-lg-6 col-md-3 col-12">
                <button type="reset" class="creatr-secondary-button-type-1 mr-auto" @click="discard" :disabled="disableButtons">Cancel</button>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1">
<!--                <button class="creatr-regular-button-type-2 mega-solution-body-heavy mega-solution-horizontal-center creatr-button-section-preview" @click="preview" :disabled="disableButtons">Preview</button>-->
            </div>
            <div class="col-xl-5 col-lg-5 col-md-8 col-12 creatr-button-section-buttons">
                <button type="submit" class="creatr-button-section-button creatr-secondary-button-regular mr-auto" @click="saveAsDraft" :disabled="disableButtons">Save as draft</button>
                <button type="submit" class="creatr-button-section-button creatr-primary-button-regular ml-auto" @click="publish" :disabled="disableButtons">Publish</button>
            </div>
        </div>
        <template v-if="deleteLastThumbnailModal">
            <MegaSolutionModalMessageComponent
                left-message="Delete"
                right-message="Cancel"
                title="Delete?"
                @dismiss="dismissModal"
                @leftClicked="modalLeftClicked"
                @rightClicked="modalRightClicked"
                subtitle="Are you sure you want to delete the last thumbnail?">
            </MegaSolutionModalMessageComponent>
        </template>
    </div>
</template>

<script>
import MegaInput from "../MegaSolutionInputComponent/MegaSolutionInputComponent";
import Multiselect from 'vue-multiselect'
import MegaTextArea from "../MegaSolutionTextAreaComponent/MegaSolutionTextAreaComponent";
import MegaTags from "../MegaSolutionTagsInput/MegaSolutionTagsInput";
import MegeDropZone from "../MegaSolutionDropZone/MegaSolutionDropZone";
import MegaSolutionViemoPlayer from "../MegaSolutionViemoPlayer/MegaSolutionViemoPlayer";
import uploadImage from "../MegaSolutionUploadImageComponent/MegaSolutionUploadImageComponent";
import selectCollections
    from "../MegaSolutionSelectCollectionComponent/MegaSolutionSelectCollectionComponent";
import checker from "../../checker";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";
import MegaSolutionModalMessageComponent from "../MegaSolutionModalMessageComponent/MegaSolutionModalMessageComponent"
import MegaSolutionLicencesSectionComponent
    from "../MegaSolutionLicencesSectionComponent/MegaSolutionLicencesSectionComponent";
export default {
    name: "MegaSolutionCreateReelComponent.vue",
    components:{
        MegaInput,
        MegaTextArea,
        MegaTags,
        MegeDropZone,
        MegaSolutionViemoPlayer,
        uploadImage,
        selectCollections,
        MegaSolutionLoaddingComponent,
        MegaSolutionModalMessageComponent,
        MegaSolutionLicencesSectionComponent,
        Multiselect,
    },
    data(){
      return{
          baseUrl:process.env.MIX_PUSHER_APP_URL,
          video_id:0,
          upload_image:"",
          upload_image_image:"",

          title:"",
          titleErrorMessage:"",
          selectedCategory:0,
          description:'',
          descriptionErrorMessage:"",

          status:"Pending",
          maximumTags:20,

          selectedTags:[],
          videoThumbnails:[],
          uploadThumbNail:false,
          selectedIndex : 0,
          disableButtons:false,
          disableSelect:false,

          selectedCollections:[],
          onlyInCollection:false,
          titleMax:100,
          descriptionMax:200,
          deleteImage:"",
          deleteLastThumbnailModal: false,

          // gavin new phase two
          rates:[],
          licenses:[],
          titleLogo:"",
          uploadTitleLogo:false,
          selectedRate:0,
          selectedPlatforms:[],
          platforms:[],
          platformsOnlyNames:[],
          licencesStatus:[],
      }
    },
    props:{
        categories:{
            type:Array,
            default:[],
        },
        tags:{
            type:Array,
            default:[],
        },
        collections:{
            type:Array,
            default:function () {
                return []
            }
        }
    },
    watch:{
        title(newVal){
            if(this.titleErrorMessage !== ""){
                if(newVal.length < this.titleMax && newVal.trim() !== ""){
                    this.titleErrorMessage =""
                }
            }
        },
        description(newVal){
            if(this.descriptionErrorMessage !== ""){
                if(newVal.length < this.descriptionMax){
                    this.descriptionErrorMessage =""
                }
            }
        }
    },
    mounted() {
        this.upload_image = require('../../../icons/20210604/icons/illustrations/upload.png').default;
        this.upload_image_image = require('../../../icons/20210604/icons/24px/image.png').default;
        this.deleteImage = require('../../../icons/20210604/icons/16px/cancel_heavy.png').default;
        if(this.categories.length > 0){
            this.selectedCategory = this.categories[0].id;
        }
        if(this.collections != null && this.collections.length > 0){
            this.selectedCollections = this.collections;
            this.disableSelect = true
            this.onlyInCollection = true
        }
        this.getLicences()
        this.getRates()
        this.getPlatforms()
        // console.log(this.collections.length, this.disableSelect)
    },
    methods:{

        showDismissModal () {
            this.deleteLastThumbnailModal = true
        },
        dismissModal(){
            this.deleteLastThumbnailModal = false
        },
        modalLeftClicked(){
            this.deleteThumbnail(0,true)
            this.modalRightClicked()
        },
        modalRightClicked(){
            this.dismissModal()
        },

        getContainerWidth(){
            let videoContainer = document.getElementById('video-container')
            // console.log("videoContainer",videoContainer)
            let style = getComputedStyle(videoContainer);
            let paddingLeft =  parseInt(style.paddingLeft);
            let paddingRight =  parseInt(style.paddingRight);
            return videoContainer.clientWidth - 4*paddingLeft;
        },
        getThumbnail(e){
            // console.log('getThumbnail',e)
            this.videoThumbnails = [e.path]
        },
        deleteThumbnail(index ,deleteLastOne = false){

            if (deleteLastOne == true){
                this.videoThumbnails.splice(index,1)
            }else{
                if(this.videoThumbnails.length > 1){
                    this.videoThumbnails.splice(index,1)
                }else{
                    this.showDismissModal()
                }
            }
        },

        deleteTitleLogo(){
            this.titleLogo = ""
        },

        onTitleOverMaxLength(){
            this.titleErrorMessage = `The text has exceeded ${this.titleMax} characters!`
        },
        onTitleDescriptionMaxLength(){
            this.descriptionErrorMessage = `The text has exceeded ${this.descriptionMax} characters!`
        },
        getImageFromShortPath(imagePath){
            return `/storage/${imagePath}`
        },
        addTag(e){
            let tag = e.tag
            let selectedTags = this.selectedTags;
            if( !selectedTags.includes(tag) && selectedTags.length < this.maximumTags){
                selectedTags.push(tag)
                this.selectedTags = selectedTags
            }
        },
        deleteTag(e){
            let index = e.index;
            this.selectedTags.splice(index,1)
        },
        addTags(e){
            let tags = e.tags;
            tags.forEach(tag=>{
                this.addTag({'tag':tag})
            })
        },
        uploadSuccess(e){
            // console.log('uploadSuccess',e)
            this.video_id = parseInt(e.videoId);
            // Vue.$toast.open({
            //     message: 'Upload success! Processing the video...',
            //     position:"bottom",
            //     type: 'success',
            // });
        },
        discard(){
            // window.location.reload();
            history.back();
        },
        validateInput(){
            let pass = true
            if(this.video_id === 0){
                pass = false;
                Vue.$toast.open({
                    message: 'Please upload a video',
                    position:"bottom",
                    type: 'error',
                });
                return pass;
            }

            if(this.status !== "complete"){
                pass = false;
                Vue.$toast.open({
                    message: 'Still processing, please wait',
                    position:"bottom",
                    type: 'error',
                });
                return pass;
            }

            if(this.videoThumbnails.length === 0){
                pass = false;
                Vue.$toast.open({
                    message: 'There is no available thumbnails',
                    position:"bottom",
                    type: 'error',
                });
                return pass;
            }
            if(this.title.trim() === ""){
                pass = false;
                Vue.$toast.open({
                    message: 'Please give your video a title',
                    position:"bottom",
                    type: 'error',
                });
                this.titleErrorMessage = "Title could not be empty"
                return pass;
            }else{
                this.titleErrorMessage = ""
            }

            if(this.title.length > this.titleMax){
                pass = false
                this.onTitleOverMaxLength()
                return pass;
            }else{
                this.titleErrorMessage = ""
            }

            if(this.description.length > this.descriptionMax){
                pass = false
                this.onTitleDescriptionMaxLength()
                return pass;
            }else{
                this.descriptionErrorMessage = ""
            }

            if(this.validateLicences()){

            }else{
                pass = false
                return pass;
            }




            return pass;
        },
        preview(){
            Vue.$toast.info('Please wait, this feature will come later')
        },
        saveAsDraft(){
            if(this.validateInput()){
                let that = this;
                let data ={
                    'video_id' :this.video_id,
                    'title':this.title.trim(),
                    'description':this.description,
                    'status':'draft',
                    'thumbnail':this.videoThumbnails[this.selectedIndex],
                    'tags':this.selectedTags,
                    'collection':this.getSelectedCollectionIds(),
                    'category_id':this.selectedCategory ,
                    'licences':this.getLicenceGroup(),
                    'rate_id':this.selectedRate,
                    'platforms':this.getSelectedPlatformsIds(),
                    'title_logo':this.titleLogo,
                }


                if(this.onlyInCollection){
                    data['only_in_collection'] = true
                }
                that.disableButtons = true
                axios.post('/reels/store',data).then(function(res){
                    if(res.status === 200){
                        // Vue.$toast.open({
                        //     message: 'Upload success! Processing the video...',
                        //     position:"bottom",
                        //     type: 'success',
                        // });
                    }

                    let reelID = res.data.response.reelID
                    setTimeout(function () {
                        window.location.assign('/reels/'+reelID);

                        that.disableButtons = false
                    },2000)

                }).catch(function (err) {
                    that.disableButtons = false
                    if(err.response.status === 409){
                        Vue.$toast.open({
                            message: err.response.data.response.errormsg,
                            position:"bottom",
                            type: 'error',
                        });
                    }
                })
            }
        },
        publish(){
          if(this.validateInput()){
              let that = this;
              let data ={
                  'video_id' :this.video_id,
                  'title':this.title.trim(),
                  'description':this.description,
                  'status':'published',
                  'thumbnail':this.videoThumbnails[this.selectedIndex],
                  'tags':this.selectedTags,
                  'collection':this.getSelectedCollectionIds(),
                  'category_id':this.selectedCategory,
                  'licences':this.getLicenceGroup(),
                  'rate_id':this.selectedRate,
                  'platforms':this.getSelectedPlatformsIds(),
                  'title_logo':this.titleLogo,
              }
              if(this.onlyInCollection){
                  data['only_in_collection'] = true
              }
              that.disableButtons = true
              axios.post('/reels/store',data).then(function(res){
                  if(res.status === 200){
                      Vue.$toast.open({
                          message: 'Upload success! Processing the video...',
                          position:"bottom",
                          type: 'success',
                      });
                  }

                  let reelID = res.data.response.reelID
                  window.location.assign('/reels/'+reelID);
              }).catch(function (err) {
                  that.disableButtons = false
                  if(err.response.status === 409) {
                      Vue.$toast.open({
                          message: err.response.data.response.errormsg,
                          position: "bottom",
                          type: 'error',
                      });
                  }
              })
          }
        },
        getSelectedCollectionIds(){
            if(this.selectedCollections <= 0){
                return null
            }else{
                let collectionIDs = [];
                this.selectedCollections.forEach(collection=>{
                    collectionIDs.push(collection.id)
                })
                return collectionIDs
            }

        },
        loadVideoCompleted(e){
            let that = this;
            that.status = e.status;
            Vue.$toast.open({
                message: 'Video loaded! ',
                position:"bottom",
                type: 'success',
            });
        },
        thumbnailUploadSuccess(e){
            let response = e.res.data
            this.uploadThumbNail = false
            let thumbnails = this.videoThumbnails
            thumbnails.unshift(response.filePath);
            this.videoThumbnails = thumbnails
        },
        titleLogoUploadSuccess(e){
            let response = e.res.data
            this.uploadTitleLogo = false
            this.titleLogo = response.filePath
        },
        addCollections(e){
            this.selectedCollections = e.selectedCollections
        },
        getRates(){
            let that = this;
            axios.get('/rate/getAllRates',{
                headers: { 'Accept':'application/json' }
            }).then(function(res){
                if(res.status === 200){
                    that.rates = res.data.response.rates
                    if(that.selectedRate == 0){
                        that.selectedRate =  that.rates[0].id
                    }
                }
            }).catch(function (err) {
                console.log(err)
            })
        },
        getLicences(){
            let that = this;
            axios.get('/licence/getAllLicences',{
                headers: { 'Accept':'application/json' }
            }).then(function(res){
                if(res.status === 200){
                    that.licenses = res.data.response.licences
                }
            }).catch(function (err) {
                console.log(err.response)
            })
        },
        getPlatforms(){
            let that = this;
            axios.get('/platform/getAllPlatforms',{
                headers: { 'Accept':'application/json' }
            }).then(function(res){
                if(res.status === 200){
                    that.platforms = res.data.response.platforms

                }
            }).catch(function (err) {
                console.log(err.response)
            })
        },
        updateLicences(e){
            this.licencesStatus = e.licencesStatus

        },
        getLicenceGroup(){
            let licencesStatus = this.licencesStatus
            let licencesGroup = []

            licencesStatus.forEach(item=>{
                if(item.isChecked){
                    let temp = {
                        licence_id :item.id,
                        price:item.price===""?0:parseFloat(item.price).toFixed(2),
                    }
                    licencesGroup.push(temp)
                }
            })
            return licencesGroup;
        },
        getSelectedPlatformsIds(){

            let ids = []
            this.selectedPlatforms.forEach(platform=>{
                ids.push(platform.id)
            })
            return ids;
        },
        validateLicences(){
            let licencesStatus = this.licencesStatus
            let pass = true

            let checkedLicences = licencesStatus.filter(item=>{
                return item.isChecked;
            })

            if(checkedLicences.length > 0){
                for(let index = 0; index < checkedLicences.length;index ++ ){
                    let status = checkedLicences[index]

                    if(status.is_free){

                    }else{

                        let price = status.price

                        if(price !== "" ){
                            price = parseFloat(price).toFixed(2)
                            if(price <= 1){
                                pass = false
                                Vue.$toast.open({
                                    message: 'Price should be greater than 1!',
                                    position:"bottom",
                                    type: 'error',
                                });
                                return pass;
                            }
                        }else{
                            pass = false
                            Vue.$toast.open({
                                message: 'Price could not be empty!',
                                position:"bottom",
                                type: 'error',
                            });
                            return pass;
                        }
                    }
                }
            }else{
                pass = false
                Vue.$toast.open({
                    message: 'You havn\'t checked any licence!',
                    position:"bottom",
                    type: 'error',
                });
                return pass;
            }


            return pass;
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.creatr-reel-section{
    margin-top: 48px;
    .create-reel-video-section{
        padding-left: unset;
        padding-right: unset;
        .loading-container{
            padding-top: 102px;
            padding-bottom: 64px;
            width: 100%;
            background: $neutral-bg2;
            border-radius: 8px;
            .loading-container-title{
                color: $neutral-tagline;
            }
            .loading-container-subtitle{
                color: $neutral-tagline;
                margin-top: 8px;
            }
            .loading-container-loader{
                margin-top: 16px;
                width: 120px;
                height: 120px;
            }
        }


        .create-reel-video-content-thumbnail-section{
            margin-top: 62px;

            .create-reel-video-content-thumbnail-title{

            }
            .create-reel-video-content-thumbnail-description{
                margin-top: 8px;
                color:$neutral-tagline;
            }
            .create-reel-video-content-thumbnail-section-hints{
                margin-top: 16px;
                .create-reel-video-content-thumbnail-section-hint{
                    color: $neutral-disabled;
                    margin-top: 8px;
                }
            }
            .create-reel-video-content-thumbnail-images{
                margin-top: 8px;
                flex-wrap: wrap;
                gap: 2.66%;
                row-gap: 10px;
                .create-reel-video-content-thumbnail-holder{
                    width: 23%;
                    background-color: $neutral-input;
                    height: 88px;
                    position: relative;
                    &.upload-image-section{
                        border:1px dashed $neutral-tagline;
                        .upload-image-section-image{
                            width: 24px;
                            height: 24px;
                        }
                        .upload-image-section-title{
                            margin-top: 4px;
                        }
                    }
                    &.selected{
                        border: 1px solid $primary-5;
                    }

                    .create-reel-video-content-thumbnail-holder-image{
                        height: 100%;
                        width: 100%;
                    }
                    .create-reel-video-content-thumbnail-holder-delete-image{
                        width: 24px;
                        height: 24px;
                        padding: 4px;
                        background-color: $neutral-asset2;
                        border-radius: 12px;
                        position: absolute;
                        right: -8px;
                        top: -8px;

                    }
                }
            }
        }

        // phase 2 gavin add
        .create-reel-video-content-title-logo-section{
            margin-top: 64px;
            .create-reel-video-content-title-logo-title{

            }
            .create-reel-video-content-title-logo-description{
                margin-top: 8px;
                color:$neutral-tagline;
            }
            .create-reel-video-content-title-logo-section-hints{
                margin-top: 16px;
                .create-reel-video-content-title-logo-section-hint{
                    color: $neutral-disabled;
                    margin-top: 8px;
                }
            }

            .create-reel-video-section-title-logo-image-section{
                width: 475px;
                height: auto;
                margin-top: 24px;
                position: relative;
                .create-reel-video-section-title-logo-image-section-placeholder{
                    width: 100%;

                    background-color: $neutral-input;
                    position: relative;
                    border:1px dashed $neutral-tagline;
                    min-height: 60px;
                    .upload-image-section-image{
                        width: 24px;
                        height: 24px;
                    }
                    .upload-image-section-title{
                        margin-left: 8px;
                    }
                }

                .create-reel-video-content-title-logo-holder-image{
                    height: 100%;
                    width: 100%;

                }
                .create-reel-video-content-title-logo-holder-delete-image{
                    width: 24px;
                    height: 24px;
                    padding: 4px;
                    background-color: $neutral-asset2;
                    border-radius: 12px;
                    position: absolute;
                    right: -8px;
                    top: -8px;
                }
            }
        }
        .upload-thumbnail-section{
            margin-top: 24px;
            width: 50%;
        }

        .upload-title-logo-section{
            margin-top: 24px;
            width: 50%;
        }
    }
    .creatr-reel-detail-section{
        padding-left: unset;
        padding-right: unset;
        .creatr-reel-detail-section-container{
            margin-top: 48px;
            &:first-child{
                margin-top: unset;
            }
            .creatr-reel-detail-section-sub-title{
                color: $neutral-tagline;
                margin-top: 4px;
            }
            .creatr-reel-detail-section-container-select{
                width: 100%;
                margin-top: 12px;
            }
            .collection-select-button{
                margin-top:12px;
                border-radius: 8px;
                background-color: $neutral-input;
                padding: 14px 12px;
            }
        }
    }
}

.creatr-button-section{
    margin-top: 76px;
    margin-bottom: 116px;
    .creatr-button-section-preview{
        height: 100%;
    }
    .creatr-button-section-buttons{
        display: flex;
        flex-direction: row;
        .creatr-button-section-button{
            width: 45%;
        }
    }
}

@media screen and (max-width: 975px){
    .creatr-reel-detail-section{
        margin-top: 40px;
    }
}

@media screen and( max-width: 576px){
    .container{
        .title{
            padding-left: 16px;
        }
        .create-reel-video-content-thumbnail-section{
            width: calc(100% - 32px);
            margin-left: auto;
            margin-right: auto;
        }
        .creatr-reel-detail-section{
            width: calc(100% - 32px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    .creatr-button-section{
        gap: 10px;
        flex-direction: column-reverse;
        .col-xl-6.col-lg-6.col-md-3.col-12{
            .creatr-secondary-button-type-1{
                width: 100%;
            }
        }
    }
    .creatr-reel-section .create-reel-video-section .create-reel-video-content-thumbnail-section .create-reel-video-content-thumbnail-images{
        justify-content: space-evenly;
        .create-reel-video-content-thumbnail-holder{
            width: 45%;
        }
    }
    .create-reel-video-section-title-logo-image-section{
        width: 100% !important;
    }

}

@media screen and (max-width: 576px) {
    .container {
        > .row {
            margin-right: 0;
            margin-left: 0;
        }

        .creatr-button-section{
            flex-direction: column-reverse;
            gap: 10px;

            button {
                width: 100%;
            }

            .creatr-button-section-buttons{
                flex-direction: column-reverse;
                gap: 20px;
                .creatr-button-section-button{
                    width: 100%;
                }
            }
        }
    }


}
</style>


