<template>
    <div class="payment-item-container mega-solution-horizontal-start">
        <template v-if="paymentMethod !== null">
            <div class="payment-item-container-image-container">
                <img :src="getImageByCardType(paymentMethod.card.brand)" :alt="paymentMethod.card.brand">
            </div>
            <div class="payment-item-container-number mega-solution-body-heavy">{{paymentMethod.card.last4}}</div>
            <div class="payment-item-preferred mega-solution-tiny-cap" v-if="isDefault">Preferred</div>
        </template>
    </div>
</template>

<script>
export default {
    name: "MegaSolutionPaymentItemComponent.vue",
    data(){
        return {
            amexImage:"",
            dinersImage:"",
            discoverImage:"",
            jcbImage:"",
            mastercardImage:"",
            unionpayImage:"",
            visaImage:"",
            unknownImage:"",
        }
    },
    mounted() {
        this.amexImage = require("../../../icons/20211102/bankbrand/Amex.png").default
        this.dinersImage = require("../../../icons/20211102/bankbrand/dinersclub.png").default
        this.discoverImage = require("../../../icons/20211102/bankbrand/discover.png").default
        this.jcbImage = require("../../../icons/20211102/bankbrand/jcb.png").default
        this.mastercardImage = require("../../../icons/20211102/bankbrand/MasterCard.png").default
        this.unionpayImage = require("../../../icons/20211102/bankbrand/unionpay.png").default
        this.visaImage = require("../../../icons/20211102/bankbrand/VISA.png").default
        this.unknownImage = require("../../../icons/20211102/bankbrand/unknown.png").default
    },
    props:{
        paymentMethod:{
            type:Object,
            default:function () {
                return null
            }
        },
        isDefault:{
            type:Boolean,
            default:false
        }
    },

    // amex, diners, discover, jcb, mastercard, unionpay, visa, or unknown.
    methods:{
        getImageByCardType(type){
            switch (type) {
                case "amex":
                    return this.amexImage
                case "diners":
                    return this.dinersImage
                case "discover":
                    return this.discoverImage
                case "jcb":
                    return this.jcbImage
                case "mastercard":
                    return this.mastercardImage
                case "unionpay":
                    return this.unionpayImage
                case "visa":
                    return this.visaImage
                case "unknown":
                    return this.unknownImage
                default:
                    return this.unknownImage
            }
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.payment-item-container{
    margin-top: 24px;
    .payment-item-container-image-container{
        width: 42px;
        height: 24px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .payment-item-container-number{
        margin-left: 8px;
        &::before{
           content: "···· ···· ····";
            margin-right: 8px;
        }
    }
    .payment-item-preferred{
        background-color: $secondary-5;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 4px 8px;
        border-radius: 16px;
        color: $neutral-bg2;
        margin-left: 8px;
    }
}
</style>
