<template>
  <div class="content-view-empty-reels-status mega-solution-vertical-center">
    <img :src="emptyStatusImage" alt="empty status" class="content-view-empty-reels-status-image">
    <div class="content-view-empty-reels-status-detail mega-solution-horizontal-center mega-solution-p2-light">
      {{message}} <br/> {{message2}}
    </div>
    <template v-if="showButton">
      <template v-if="pageType === 'wishlist'">
        <a href="/reels">
          <button type="submit" class="creatr-primary-button-regular content-view-empty-reels-status-empty-button">
            Browse all reels
          </button>
        </a>
      </template>

      <template v-else>
        <a href="/reels/create">
          <button type="submit" class="creatr-primary-button-regular content-view-empty-reels-status-empty-button">
            Upload my first reel
          </button>
        </a>
      </template>
    </template>

      <div class="container-fluid">
        <template v-if="pageType === 'wishlist'">
          <MegaSolutionWishlistPopularReelsComponent></MegaSolutionWishlistPopularReelsComponent>
        </template>
        <template v-else>
          <MegaSolutionPopularReelsComponent></MegaSolutionPopularReelsComponent>
        </template>
      </div>

  </div>
</template>
<script>
import MegaSolutionPopularReelsComponent from "../MegaSolutionPopularReelsComponent/MegaSolutionPopularReelsComponent";
import MegaSolutionWishlistPopularReelsComponent from "../MegaSolutionWishlistPopularReelsComponent/MegaSolutionWishlistPopularReelsComponent";
export default {
  name: 'content-reel-container-empty-status',
  props: {
    creatorInfo: {},
      showButton:false,
      message:{
        type:String,
          default:"The creator hasn’t uploaded any reel yet."
      },
      message2:{
          type:String,
          default:"Come back to check later :)"
      },
      pageType: {
        type: String,
        default: ""
      }
  },
    components:{
        MegaSolutionPopularReelsComponent,
        MegaSolutionWishlistPopularReelsComponent
    },
    data(){
      return{
          emptyStatusImage:""
      }
    },
    mounted() {
        this.emptyStatusImage = require('../../../icons/20210604/icons/illustrations/player1.png').default
    }
}
</script>
<style lang="scss" scoped>
@import "resources/sass/app.scss";
.content-view-empty-reels-status{
    padding-top: 48px;
    padding-bottom: 48px;
    .content-view-empty-reels-status-image{
        width: 226px;
    }
    .content-view-empty-reels-status-detail{
        margin-top: 24px;
        text-align: center;
        color:$neutral-tagline;
    }
    .content-view-empty-reels-status-empty-button{
        margin-top: 48px;
    }
}

</style>
