<template>
  <div class="content-view-empty-reels-status mega-solution-vertical-center">
    <img :src="collectionEmptyStatusImage" alt="empty status" class="content-view-empty-reels-status-image">
    <div class="content-view-empty-reels-status-detail mega-solution-horizontal-center mega-solution-p2-light">
      {{message}} <br/> {{message2}}
    </div>

    <template v-if="showAddButton">
      <template v-if="pageType==='wishlist'">
        <a href="/reels">
          <button
            type="submit"
            class="creatr-primary-button-regular content-view-empty-reels-status-empty-button"
          >
              Browse all reels
          </button>
        </a>
      </template>
        
      <template v-else>
        <button type="submit" class="creatr-primary-button-regular content-view-empty-reels-status-empty-button"
              @click="addCollection = true">Create my first collection
        </button>
      </template>
    </template>

      <template v-if="addCollection">
          <MegaSolutionAddCollectionComponent @dismiss = "dismiss"></MegaSolutionAddCollectionComponent>
      </template>
      <div class="container-fluid" v-if="pageType === 'wishlist' && showOthers">

         <MegaSolutionWishlistPopularReelsComponent></MegaSolutionWishlistPopularReelsComponent>
      </div>
      <div class="container-fluid" v-else-if="showOthers">

         <MegaSolutionPopularReelsComponent></MegaSolutionPopularReelsComponent>
      </div>
  </div>
</template>
<script>
import MegaSolutionAddCollectionComponent
    from "../MegaSolutionAddCollectionComponent/MegaSolutionAddCollectionComponent";

import MegaSolutionPopularReelsComponent from "../MegaSolutionPopularReelsComponent/MegaSolutionPopularReelsComponent";
import MegaSolutionWishlistPopularReelsComponent from "../MegaSolutionWishlistPopularReelsComponent/MegaSolutionWishlistPopularReelsComponent";
export default {
  name: 'content-collection-comtainer-empty-status',
  props: {
    //addCollection: false,

    showAddButton:false,
      message:{
        type:String,
          default:"You haven’t created any collection yet."
      },
      message2:{
          type:String,
          default:"Show the world what you got!"
      },
      showOthers:{
        type:Boolean,
          default:true,
      },
      pageType: {
        type: String,
        default: ""
      }
  },
    components:{
        MegaSolutionAddCollectionComponent,
        MegaSolutionPopularReelsComponent,
        MegaSolutionWishlistPopularReelsComponent
    },
    data(){
      return{
          collectionEmptyStatusImage: "",
          addCollection: false,
      }
    },
    mounted() {
        this.collectionEmptyStatusImage = require('../../../icons/20210604/icons/illustrations/collection_empty.png').default
    },
    methods:{
        dismiss(){
            this.addCollection = false;
        },
    }

}
</script>
<style lang="scss" scoped>
@import "resources/sass/app.scss";
.content-view-empty-reels-status{
    padding-top: 48px;
    padding-bottom: 48px;
    .content-view-empty-reels-status-image{
        width: 226px;
    }
    .content-view-empty-reels-status-detail{
        margin-top: 24px;
        text-align: center;
        color:$neutral-tagline;
    }
    .content-view-empty-reels-status-empty-button{
        margin-top: 48px;
    }
}

</style>
