<template>
    <div class="content-view">
        <div class="content-view-title-section mega-solution-horizontal-center">
            <div class="content-view-title-cell mega-solution-horizontal-center pointer" :class="[selectedIndex===0?'selected':'']" @click="selectContent(0)">
                <div class="content-view-title mega-solution-sub-heavy">Reels</div>
                <div class="content-view-title-count mega-solution-body-light">{{reelsCount}}</div>

            </div>
            <div class="content-view-title-cell mega-solution-horizontal-center pointer" :class="[selectedIndex===1?'selected':'']"  @click="selectContent(1)">

                <div class="content-view-title mega-solution-sub-heavy">Collections</div>
                <div class="content-view-title-count mega-solution-body-light">{{collectionsCount}}</div>
            </div>
        </div>
        <template v-if="selectedIndex === 0">
            <template v-if="reels.length > 0">
                <MegaSolutionReelsGridComponent :reels="reels"></MegaSolutionReelsGridComponent>
            </template>
            <template v-else>

                <template v-if="creatorInfo.isUser">
                    <content-reel-container-empty-status :show-button="creatorInfo.isUser"  message="You haven’t uploaded any reel yet." message2="Show the world what you got!"/>
                </template>
                <template v-else>
                    <content-reel-container-empty-status :show-button="creatorInfo.isUser"/>
                </template>

            </template>


        </template>
        <template v-else>
            <div class="content-collections-container">

                <template v-if="collections.length > 0">
                    <MegaSolutionCollectionsGridComponent type="profile" :collections="collections"></MegaSolutionCollectionsGridComponent>
                </template>
                <template v-else>
                    <template v-if="creatorInfo.isUser">
                        <content-collection-comtainer-empty-status  :show-add-button="creatorInfo.isUser"/>
                    </template>
                    <template v-else>
                        <content-collection-comtainer-empty-status message="The Creator has not uploaded any collections!" message2="Come and check later" :show-add-button="creatorInfo.isUser"/>
                    </template>

                </template>
            </div>
        </template>

        <div class="container-fluid mega-solution-horizontal-center" v-if="loading">
            <div class="ring-container ">
                <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
            </div>
        </div>

        <template v-if="selectedIndex === 0">
            <template v-if="reelLoadFinish && reels.length > 0">
                <MegaSolutionLoadedComponent :show-other-reels="false"></MegaSolutionLoadedComponent>
            </template>
        </template>
        <template v-else>
            <template v-if="collectionLoadFinish && collections.length > 0">
                <MegaSolutionLoadedComponent :show-other-reels="false"></MegaSolutionLoadedComponent>
            </template>
        </template>
    </div>
</template>

<script>
import MegaSolutionReelsGridComponent from "../MegaSolutionReelsGridComponent/MegaSolutionReelsGridComponent";
import MegaSolutionCollectionsGridComponent
    from "../MegaSolutionCollectionsGridComponent/MegaSolutionCollectionsGridComponent";

import ContentCollectionComtainerEmptyStatus from "./ContentCollectionComtainerEmptyStatus";
import ContentReelContainerEmptyStatus from "./ContentReelContainerEmptyStatus";
import MegaSolutionLoadedComponent from "../MegaSolutionLoadedComponent/MegaSolutionLoadedComponent";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";

export default {
components:{
    ContentReelContainerEmptyStatus,
    ContentCollectionComtainerEmptyStatus,
    MegaSolutionReelsGridComponent,
    MegaSolutionCollectionsGridComponent,
    MegaSolutionLoadedComponent,
    MegaSolutionLoaddingComponent

},
name: "MegaSolutionProfileVideosComponent.vue",
    props:{
        collectionsCount:{
            type:Number,
            default:0,
        },
        reelsCount:{
            type:Number,
            default:0,
        },
        creatorInfo:{
            type:Object,
            default:null,
        }
    },
    computed:{

    },
    watch:{

    },
    methods:{
        selectContent(index){
            if(this.selectedIndex !== index){
                this.selectedIndex = index
            }
        },

        scroll(){
            window.onscroll = () => {
                let left = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight;
                let right = document.documentElement.offsetHeight - 350;
                let bottomOfWindow = (left >= right);
                let top = document.scrollingElement.scrollTop;
                if(this.oldTop <= top && bottomOfWindow){
                    // console.log('down')
                    this.loadMoreData()
                }
                this.oldTop = JSON.parse(JSON.stringify(top));
            }
        },

        loadMoreData(){
            //console.log('load more data')
            if(this.selectedIndex === 0){
                this.loadMoreReels()
            }
            if(this.selectedIndex === 1){
                this.loadMoreCollections()
            }
        },


        loadMoreReels(loadFinish){
            let that = this;
            if(that.reelLoadFinish){

            }else{

                if(this.loading === false){
                    this.loading = true
                    //console.log(that.creatorInfo)
                    let data = {
                        "creatorID":this.creatorInfo.userDetail.id,
                        "pageIndex":this.reelPageIndex,
                        "pageSize":this.reelPageSize,
                    }
                    axios.get("/creator/getReelsByCreator",{
                        params: data,
                        headers: {
                            'Accept': 'application/json'
                        }
                    }).then(function (res) {
                        if(res.status === 200){
                            let temp = res.data.response.reels;
                            if(temp.length < that.reelPageSize){
                                that.reelLoadFinish = true
                            }else{
                                that.reelPageIndex++;
                            }
                            that.reels = that.reels.concat(temp)
                            that.loading = false
                            if (loadFinish){
                                loadFinish()
                            }
                        }
                    })
                }

            }
        },
        loadMoreCollections(){
            let that = this;
            if(that.collectionLoadFinish){

            }else{
                if(this.loading === false){
                    this.loading = true
                    //console.log(that.creatorInfo)
                    let data = {
                        "creatorID":this.creatorInfo.userDetail.id,
                        "pageIndex":this.collectionPageIndex,
                        "pageSize":this.collectionPageSize,
                    }
                    axios.get("/creator/getCollectionsByCreator",{
                        params: data,
                        headers: {
                            'Accept': 'application/json'
                        }
                    }).then(function (res) {
                        if(res.status === 200){
                            let temp = res.data.response.collections;
                            if(temp.length < that.collectionPageSize){
                                that.collectionLoadFinish = true
                            }else{
                                that.collectionPageIndex++;
                            }
                            that.collections = that.collections.concat(temp)
                            that.loading = false
                        }

                    })
                }
            }
        }



    },
    data(){
        return{
            selectedIndex: 0,
            locations:[],
            scrolledToBottom:false,
            oldTop:0,
            loading:false,
            reels:[],
            collections:[],
        //    reel
            reelPageIndex:1,
            reelPageSize:9,
            reelLoadFinish:false,


        //     collection
            collectionPageIndex:1,
            collectionPageSize:9,
            collectionLoadFinish:false,
            addCollection: false

        }
    },

    mounted() {

        this.scroll()
        this.loadMoreReels(this.loadMoreCollections)

        //console.log(this.locations)
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.content-view{
    margin-top: 64px;
    padding-bottom: 96px;
    .content-view-title-section{
        gap: 64px;
        .content-view-title-cell{
            padding-bottom: 8px;
            .content-view-title{
                color: $neutral-tagline;
            }
            .content-view-title-count{
                margin-left: 8px;
                color: $neutral-tagline;
            }
            &.selected{
                .content-view-title{
                    color: $neutral-text;
                }
                border-bottom: 1px solid $neutral-text;
            }
        }

    }

    .content-reels-container{
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
    }



    .content-collections-container{

    }
    .ring-container{
        margin-top: 40px;
        margin-bottom: 40px;
        width: 240px;
        height: 240px;
    }
}
@media only screen and (max-width: 576px) {
    .content-view {
        .content-reels-container{
            grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        }
    }
}


</style>
