<template>

    <div class="reel-player" id= 'video-container'>
        <template v-if="loaded">
            <div class="reel-player-vimeo-player mega-solution-vertical-center">
                <template v-if="!loadCompleted">
                    <div class="ring-container mega-solution-horizontal-center">
                        <MegaSolutionLoaddingComponent></MegaSolutionLoaddingComponent>
                    </div>
                </template>
                <template v-if="elementLoaded">

                    <MegaSolutionViemoPlayer :video_id="selectedReel.video_id" @loadVideoCompleted="loadVideoCompleted" :width="getContainerWidth()"></MegaSolutionViemoPlayer>
                </template>
            </div>

            <!-- swiper2 Thumbs -->
            <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" id="collection-slider"  @slideChange="swipeThumbnails">
                <swiper-slide class="reel-slide mega-solution-body-light pointer"  v-for="(reel,index) in reels" :key="index">
                    <template v-if="index === displayReelIndex">
                        <img :src="getImageFromShortPath(reel.thumbnail)" alt="Reel Thumbnail" class="reel-slide-thumbnail">
                    </template>
                    <template v-else>
                        <div class="reel-slide-not-selected">
                            <img :src="getImageFromShortPath(reel.thumbnail)" alt="Reel Thumbnail" class="reel-slide-thumbnail">
                            <div class="reel-slide-not-selected-detail mega-solution-p2-light ">
                                 <div class="reel-slide-not-selected-detail-title clamp-2">
                                     {{reel.title}}
                                 </div>
                            </div>
                        </div>
                    </template>
                </swiper-slide>

                    <div class="swiper-button-next swiper-button-white pointer" slot="button-next" @click="slideNext"></div>
                    <div class="swiper-button-prev swiper-button-white pointer" slot="button-prev" @click="slidePrevious"></div>
            </swiper>
        </template>

    </div>
</template>

<script>
import  "swiper/swiper.scss"
import MegaSolutionViemoPlayer from "../MegaSolutionViemoPlayer/MegaSolutionViemoPlayer";
import MegaSolutionLoaddingComponent from "../MegaSolutionLoaddingComponent/MegaSolutionLoaddingComponent";
export default {
    name: "MegaSolutionCollectionDetailBannerTop.vue",
    data() {
        return {
            loadCompleted: false,
            elementLoaded:false,
            swiperOptionThumbs: null,
            baseUrl:process.env.MIX_PUSHER_APP_URL,
            loaded: false,
            displayReelIndex:0,
            selectedReel:null,
        }
    },
    components:{
        MegaSolutionViemoPlayer,
        MegaSolutionLoaddingComponent
    },
    mounted() {
        //console.log(this.reels)
        if(this.reels.length >= 3){
            this.swiperOptionThumbs = {
                loop: true,
                spaceBetween: 10,
                loopedSlides: this.reels.length, // looped slides should be the same
                centeredSlides: false,
                slidesPerView: 'auto',
                touchRatio: 0.2,
                slideToClickedSlide: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                },
                breakpoints: {
                    1024:{
                        slidesPerView: 3,
                        spaceBetween: 20
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 20
                    },
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20
                    },
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    180:{
                        slidesPerView: 1,
                        spaceBetween: 10
                    }
                }
            }

        }else{
            this.swiperOptionThumbs = {
                // loop: true,
                spaceBetween: 10,
                // loopedSlides: this.reels.length, // looped slides should be the same
                centeredSlides: true,
                slidesPerView: 'auto',
                touchRatio: 0.2,
                slideToClickedSlide: true,
                breakpoints: {
                    1024:{
                        slidesPerView: 4,
                        spaceBetween: 20
                    },
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    },
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20
                    },
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    180:{
                        slidesPerView: 1,
                        spaceBetween: 10
                    }
                }

            }
        }
        this.selectedReel = this.reels[this.displayReelIndex]
        this.elementLoaded = true
        this.loaded = true

    },
    props:{
      reels:{
          type:Array,
          default: []
      }
    },
    methods:{

        swipeThumbnails(e){
            //console.log(e.activeIndex)
            this.displayReelIndex = (e.activeIndex)%(this.reels.length)
            this.selectedReel = this.reels[this.displayReelIndex]
            //console.log(this.selectedReel)
        },
        getImageFromShortPath(imagePath){
            return `/storage/${imagePath}`
        },
        getContainerWidth(){
            let videoContainer = document.getElementById('video-container')
            let style = getComputedStyle(videoContainer);
            let paddingLeft =  parseInt(style.paddingLeft);
            let paddingRight =  parseInt(style.paddingRight);
            return videoContainer.clientWidth - 4*paddingLeft;
        },
        loadVideoCompleted(){
            // Vue.$toast.open({
            //     message: 'Load success!',
            //     position:"bottom",
            //     type: 'success',
            // });
            this.loadCompleted = true
        },
        slidePrevious(){
            let swiper = document.getElementById('collection-slider').swiper
            swiper.slidePrev()
        },
        slideNext(){
            let swiper = document.getElementById('collection-slider').swiper
            swiper.slideNext()
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";
.reel-player {
    min-height: 900px;
    //background-color: $black;

    .reel-player-vimeo-player {
        height: 725px;
        width: 100%;
        margin-bottom: 20px;
        .ring-container{
            width: 320px;
            height: 320px;
        }
    }
}

.swiper {

    .reel-slide{

        .reel-slide-thumbnail{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .reel-slide-not-selected{
            width: 100%;
            height: 100%;
            position: relative;
            .reel-slide-thumbnail{
                width: 100%;
                height: 100%;
            }
            .reel-slide-not-selected-detail{
                z-index: 5;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: $overlay-solid2;
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                padding: 16px;
                .reel-slide-not-selected-detail-title{
                    height: 40px;
                    display: none;
                }
                &:hover{
                    .reel-slide-not-selected-detail-title{
                        display: block;
                    }
                }
            }
        }
    }




    .swiper-slide {
        background-size: cover;
        background-position: center;

    }


    &.gallery-thumbs {

        height: 175px;
        box-sizing: border-box;
        padding: 10px 0;
    }
    &.gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
    }
    &.gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
}

@media screen and (max-width: 576px){
    .reel-player{
        height: 450px
    }
}
</style>
