<template>
    <div class="profile-menu-holder">
        <template v-for="item in menuList1">
            <a class = "dropdown-item mega-solution-horizontal-start" :href="item.link" >
                <img :src="item.image" :alt="item.title" class="dropdown-item-image">
                <div class="mega-solution-body-light dropdown-item-text">{{item.title}}</div>
            </a>
        </template>
        <hr class = "profile-menu-divider"/>
        <template v-for="item in menuList2">
            <a class = "dropdown-item mega-solution-horizontal-start" :href="item.link" >
                <img :src="item.image" :alt="item.title" class="dropdown-item-image">
                <div class="mega-solution-body-light dropdown-item-text">{{item.title}}</div>
            </a>
        </template>
        <hr class = "profile-menu-divider"/>
        <template v-for="item in menuList3">
            <a class = "dropdown-item mega-solution-horizontal-start" :href="item.link" >
                <img :src="item.image" :alt="item.title" class="dropdown-item-image">
                <div class="mega-solution-body-light dropdown-item-text">{{item.title}}</div>
            </a>
        </template>
        <hr class = "profile-menu-divider"/>

        <div class="dropdown-item mega-solution-horizontal-start" >
            <img :src="logoutImage" alt="logout icon" class="dropdown-item-image">
            <div class="mega-solution-body-light dropdown-item-text pointer" @click="logout()">Logout</div>
        </div>

    </div>
</template>

<script>
export default {
    name: "MegaSolutionProfileDropDownMenu.vue",
    data(){
        return{
            menuList1:[],
            menuList2:[],
            menuList3:[],
            logoutImage:"",
        }
    },
    props:{
        userInfo:{
            type:Object,
            default:null,
        }
    },
    mounted() {
        this.menuList1 = [
            {
                id:"my-wishlist",
                title:"Wishlist",
                link:'/wishlist',
                image:require('../../../icons/20210604/icons/24px/star_outlined_white.png').default,
            },
            {
                id:"purchase-history",
                title:"Purchase History",
                link:'/order',
                image:require('../../../icons/20211023/icons/24px/download_white.png').default,
            },
        ]

        this.menuList2 = [

            {
                id:"upload-list",
                title:"Upload List",
                link:'/uploads',
                image:require('../../../icons/20210604/icons/24px/camera.png').default,
            },
            {
                id:"transaction-list",
                title:"Seller History",
                link:'/transaction',
                image:require('../../../icons/20211023/icons/24px/earnings_white.png').default,
            },
        ]

        this.menuList3 = [
            {
                id:"my-profile",
                title:"My Profile",
                link:`/hq/${this.userInfo.name}`,
                image:require('../../../icons/20210604/icons/24px/user.png').default,
            },
            {
                id:"edit-profile",
                title:"Settings",
                link:`/hq/${this.userInfo.name}/edit`,
                image:require('../../../icons/20210604/icons/24px/settings.png').default,
            },
        ];
        this.logoutImage = require('../../../icons/20210604/icons/24px/log_out.png').default
        // console.log('user Info :',this.userInfo)
    },
    methods:{
        logout(){
            axios.post('/logout',{}).then(res=>{
                window.location.reload();
            }).catch(err=>console.log(err))
        },
    },


}
</script>

<style scoped lang="scss">
@import "resources/sass/app.scss";

.profile-menu-holder{
    .dropdown-item{
        opacity: 0.4;
        &:hover{
            opacity: unset;
            background-color: $neutral-input;
        }

        &:active{
            opacity: unset;
            background-color: $neutral-disabled;
             .dropdown-item-text{
                 font-weight: 600;
             }
        }
        .dropdown-item-image{
            width: 24px;
            height: 24px;
        }
        .dropdown-item-text{
            color: $neutral-tagline;
        }
    }
    .profile-menu-divider{
        background-color: rgba(#ffffff,0.1);
    }
}
</style>
